azs:
- cloud_properties:
    datacenters:
    - clusters:
      - vcpi-cluster-1: {}
      - vcpi-cluster-2: {}
  name: z1
compilation:
  az: z1
  network: default
  reuse_compilation_vms: true
  vm_type: large
  workers: 3
disk_types:
- cloud_properties:
    datastores: [nfs0-1]
  disk_size: 3000
  name: default
- cloud_properties:
    datastores: [nfs0-1]
  disk_size: 50000
  name: large
networks:
- name: default
  subnets:
  - azs:
    - z1
    cloud_properties:
      name: VM Network
    dns:
    - 192.168.111.1
    gateway: 192.168.111.1
    range: 192.168.111.0/24
    reserved: [192.168.111.0-192.168.111.152]
  type: manual
vm_types:
- cloud_properties:
    cpu: 2
    datastores: [isc-cl1-ds-0, isc-cl2-ds-0]
    disk: 8192
    ram: 512
  name: default
- cloud_properties:
    cpu: 2
    datastores: [isc-cl1-ds-0, isc-cl2-ds-0]
    disk: 30240
    ram: 2048
  name: large
