=begin
#${NODE TITLE} API

#VMware ${NODE TITLE} REST API

OpenAPI spec version: (unknown version)

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.4

=end

require 'uri'

module SwaggerClient
  class PolicyPortmirroringApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or Replace Port Mirroring Profile.
    # Create or Replace port mirroring profile. Packets will be mirrored from source group, segment, port to destination group. 
    # @param port_mirroring_profile_id Port Mirroring Profiles Id
    # @param port_mirroring_profile 
    # @param [Hash] opts the optional parameters
    # @return [PortMirroringProfile]
    def create_or_replace_port_mirroring_profile(port_mirroring_profile_id, port_mirroring_profile, opts = {})
      data, _status_code, _headers = create_or_replace_port_mirroring_profile_with_http_info(port_mirroring_profile_id, port_mirroring_profile, opts)
      data
    end

    # Create or Replace Port Mirroring Profile.
    # Create or Replace port mirroring profile. Packets will be mirrored from source group, segment, port to destination group. 
    # @param port_mirroring_profile_id Port Mirroring Profiles Id
    # @param port_mirroring_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortMirroringProfile, Fixnum, Hash)>] PortMirroringProfile data, response status code and response headers
    def create_or_replace_port_mirroring_profile_with_http_info(port_mirroring_profile_id, port_mirroring_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPortmirroringApi.create_or_replace_port_mirroring_profile ...'
      end
      # verify the required parameter 'port_mirroring_profile_id' is set
      if @api_client.config.client_side_validation && port_mirroring_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile_id' when calling PolicyPortmirroringApi.create_or_replace_port_mirroring_profile"
      end
      # verify the required parameter 'port_mirroring_profile' is set
      if @api_client.config.client_side_validation && port_mirroring_profile.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile' when calling PolicyPortmirroringApi.create_or_replace_port_mirroring_profile"
      end
      # resource path
      local_var_path = '/infra/port-mirroring-profiles/{port-mirroring-profile-id}'.sub('{' + 'port-mirroring-profile-id' + '}', port_mirroring_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(port_mirroring_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortMirroringProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPortmirroringApi#create_or_replace_port_mirroring_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port Mirroring Profile
    # API will delete port mirroring profile. Mirroring from source to destination ports will be stopped. 
    # @param port_mirroring_profile_id Port Mirroring Profile Id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_port_mirroring_profile(port_mirroring_profile_id, opts = {})
      delete_port_mirroring_profile_with_http_info(port_mirroring_profile_id, opts)
      nil
    end

    # Delete Port Mirroring Profile
    # API will delete port mirroring profile. Mirroring from source to destination ports will be stopped. 
    # @param port_mirroring_profile_id Port Mirroring Profile Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_port_mirroring_profile_with_http_info(port_mirroring_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPortmirroringApi.delete_port_mirroring_profile ...'
      end
      # verify the required parameter 'port_mirroring_profile_id' is set
      if @api_client.config.client_side_validation && port_mirroring_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile_id' when calling PolicyPortmirroringApi.delete_port_mirroring_profile"
      end
      # resource path
      local_var_path = '/infra/port-mirroring-profiles/{port-mirroring-profile-id}'.sub('{' + 'port-mirroring-profile-id' + '}', port_mirroring_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPortmirroringApi#delete_port_mirroring_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Port Mirroring Profiles
    # API will list all port mirroring profiles group. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PortMirroringProfileListResult]
    def list_port_mirroring_profiles(opts = {})
      data, _status_code, _headers = list_port_mirroring_profiles_with_http_info(opts)
      data
    end

    # List Port Mirroring Profiles
    # API will list all port mirroring profiles group. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PortMirroringProfileListResult, Fixnum, Hash)>] PortMirroringProfileListResult data, response status code and response headers
    def list_port_mirroring_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPortmirroringApi.list_port_mirroring_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PolicyPortmirroringApi.list_port_mirroring_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PolicyPortmirroringApi.list_port_mirroring_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/port-mirroring-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortMirroringProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPortmirroringApi#list_port_mirroring_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Patch Port Mirroring Profile.
    # Create a new Port Mirroring Profile if the Port Mirroring Profile with given id does not already exist. If the Port Mirroring Profile with the given id already exists, patch with the existing Port Mirroring Profile. 
    # @param port_mirroring_profile_id Port Mirroring Profile Id
    # @param port_mirroring_profile 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_port_mirroring_profile(port_mirroring_profile_id, port_mirroring_profile, opts = {})
      patch_port_mirroring_profile_with_http_info(port_mirroring_profile_id, port_mirroring_profile, opts)
      nil
    end

    # Patch Port Mirroring Profile.
    # Create a new Port Mirroring Profile if the Port Mirroring Profile with given id does not already exist. If the Port Mirroring Profile with the given id already exists, patch with the existing Port Mirroring Profile. 
    # @param port_mirroring_profile_id Port Mirroring Profile Id
    # @param port_mirroring_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_port_mirroring_profile_with_http_info(port_mirroring_profile_id, port_mirroring_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPortmirroringApi.patch_port_mirroring_profile ...'
      end
      # verify the required parameter 'port_mirroring_profile_id' is set
      if @api_client.config.client_side_validation && port_mirroring_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile_id' when calling PolicyPortmirroringApi.patch_port_mirroring_profile"
      end
      # verify the required parameter 'port_mirroring_profile' is set
      if @api_client.config.client_side_validation && port_mirroring_profile.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile' when calling PolicyPortmirroringApi.patch_port_mirroring_profile"
      end
      # resource path
      local_var_path = '/infra/port-mirroring-profiles/{port-mirroring-profile-id}'.sub('{' + 'port-mirroring-profile-id' + '}', port_mirroring_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(port_mirroring_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPortmirroringApi#patch_port_mirroring_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Details of Port Mirroring Profile 
    # API will return details of port mirroring profile. 
    # @param port_mirroring_profile_id Port Mirroring Profile Id
    # @param [Hash] opts the optional parameters
    # @return [PortMirroringProfile]
    def read_port_mirroring_profile(port_mirroring_profile_id, opts = {})
      data, _status_code, _headers = read_port_mirroring_profile_with_http_info(port_mirroring_profile_id, opts)
      data
    end

    # Details of Port Mirroring Profile 
    # API will return details of port mirroring profile. 
    # @param port_mirroring_profile_id Port Mirroring Profile Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortMirroringProfile, Fixnum, Hash)>] PortMirroringProfile data, response status code and response headers
    def read_port_mirroring_profile_with_http_info(port_mirroring_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyPortmirroringApi.read_port_mirroring_profile ...'
      end
      # verify the required parameter 'port_mirroring_profile_id' is set
      if @api_client.config.client_side_validation && port_mirroring_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile_id' when calling PolicyPortmirroringApi.read_port_mirroring_profile"
      end
      # resource path
      local_var_path = '/infra/port-mirroring-profiles/{port-mirroring-profile-id}'.sub('{' + 'port-mirroring-profile-id' + '}', port_mirroring_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortMirroringProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyPortmirroringApi#read_port_mirroring_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
