=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class AlbOnboardingWorkflowApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Avi EnforcementPoint and the Infra Admin credentials contained by this workflow.
    # Delete Avi EnforcementPoint along with Infra Admin credentials. 
    # @param managed_by On Boarding flow managed by LCM/VCF.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_alb_on_boarding_workflow(managed_by, opts = {})
      delete_alb_on_boarding_workflow_with_http_info(managed_by, opts)
      nil
    end

    # Delete Avi EnforcementPoint and the Infra Admin credentials contained by this workflow.
    # Delete Avi EnforcementPoint along with Infra Admin credentials. 
    # @param managed_by On Boarding flow managed by LCM/VCF.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_alb_on_boarding_workflow_with_http_info(managed_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlbOnboardingWorkflowApi.delete_alb_on_boarding_workflow ...'
      end
      # verify the required parameter 'managed_by' is set
      if @api_client.config.client_side_validation && managed_by.nil?
        fail ArgumentError, "Missing the required parameter 'managed_by' when calling AlbOnboardingWorkflowApi.delete_alb_on_boarding_workflow"
      end
      # resource path
      local_var_path = '/infra/alb-onboarding-workflow/{managed-by}'.sub('{' + 'managed-by' + '}', managed_by.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlbOnboardingWorkflowApi#delete_alb_on_boarding_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This is Post Avi Controller Deployment Workflow. It will create role if not exist Create Service User Set System Configuration Create Enforcement Point Save Infra-Admin Creds to DB.
    # Set the post deployment cluster configuration for Avi Load Balancer Controller cluster. 
    # @param alb_controller_configuration 
    # @param [Hash] opts the optional parameters
    # @return [EnforcementPoint]
    def initiate_alb_on_boarding_workflow(alb_controller_configuration, opts = {})
      data, _status_code, _headers = initiate_alb_on_boarding_workflow_with_http_info(alb_controller_configuration, opts)
      data
    end

    # This is Post Avi Controller Deployment Workflow. It will create role if not exist Create Service User Set System Configuration Create Enforcement Point Save Infra-Admin Creds to DB.
    # Set the post deployment cluster configuration for Avi Load Balancer Controller cluster. 
    # @param alb_controller_configuration 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnforcementPoint, Fixnum, Hash)>] EnforcementPoint data, response status code and response headers
    def initiate_alb_on_boarding_workflow_with_http_info(alb_controller_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlbOnboardingWorkflowApi.initiate_alb_on_boarding_workflow ...'
      end
      # verify the required parameter 'alb_controller_configuration' is set
      if @api_client.config.client_side_validation && alb_controller_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_configuration' when calling AlbOnboardingWorkflowApi.initiate_alb_on_boarding_workflow"
      end
      # resource path
      local_var_path = '/infra/alb-onboarding-workflow'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_configuration)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EnforcementPoint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlbOnboardingWorkflowApi#initiate_alb_on_boarding_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
