=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class AlbSystemConfigApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update DNS, NTP and Backup server config in Avi Load Balancer Controller.
    # Use this API to update DNS, NTP and Backup server config in Avi Load Balancer Controller. This API is for VCF deployments only. 
    # @param alb_controller_system_configuration 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :running_config Update Avi Load Balancer Controller runtime config as well
    # @return [ALBControllerSystemConfigurationResponse]
    def update_alb_system_configuration(alb_controller_system_configuration, opts = {})
      data, _status_code, _headers = update_alb_system_configuration_with_http_info(alb_controller_system_configuration, opts)
      data
    end

    # Update DNS, NTP and Backup server config in Avi Load Balancer Controller.
    # Use this API to update DNS, NTP and Backup server config in Avi Load Balancer Controller. This API is for VCF deployments only. 
    # @param alb_controller_system_configuration 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :running_config Update Avi Load Balancer Controller runtime config as well
    # @return [Array<(ALBControllerSystemConfigurationResponse, Fixnum, Hash)>] ALBControllerSystemConfigurationResponse data, response status code and response headers
    def update_alb_system_configuration_with_http_info(alb_controller_system_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlbSystemConfigApi.update_alb_system_configuration ...'
      end
      # verify the required parameter 'alb_controller_system_configuration' is set
      if @api_client.config.client_side_validation && alb_controller_system_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_system_configuration' when calling AlbSystemConfigApi.update_alb_system_configuration"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/system-configuration'

      # query parameters
      query_params = {}
      query_params[:'running_config'] = opts[:'running_config'] if !opts[:'running_config'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_system_configuration)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerSystemConfigurationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlbSystemConfigApi#update_alb_system_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
