=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class AlbUserCredentialApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create service user object credential in Avi Load Balancer Controller cluster.
    # Use this API to create service user object credential in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param alb_controller_user_credential 
    # @param [Hash] opts the optional parameters
    # @return [ALBControllerUserCredentialResponse]
    def create_alb_user_credential_object(alb_controller_user_credential, opts = {})
      data, _status_code, _headers = create_alb_user_credential_object_with_http_info(alb_controller_user_credential, opts)
      data
    end

    # Create service user object credential in Avi Load Balancer Controller cluster.
    # Use this API to create service user object credential in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param alb_controller_user_credential 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ALBControllerUserCredentialResponse, Fixnum, Hash)>] ALBControllerUserCredentialResponse data, response status code and response headers
    def create_alb_user_credential_object_with_http_info(alb_controller_user_credential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlbUserCredentialApi.create_alb_user_credential_object ...'
      end
      # verify the required parameter 'alb_controller_user_credential' is set
      if @api_client.config.client_side_validation && alb_controller_user_credential.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_user_credential' when calling AlbUserCredentialApi.create_alb_user_credential_object"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/user-credential'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_user_credential)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerUserCredentialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlbUserCredentialApi#create_alb_user_credential_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete user credential from Avi Load Balancer Controller cluster.
    # Use this API to delete user credentials in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param username Credentials to be deleted.
    # @param user_credential_type Type of user credential
    # @param [Hash] opts the optional parameters
    # @option opts [String] :clustering_id Unique Id for Avi Load Balancer Controller Cluster used in VCF managed NSX
    # @return [nil]
    def delete_alb_user_credential_object(username, user_credential_type, opts = {})
      delete_alb_user_credential_object_with_http_info(username, user_credential_type, opts)
      nil
    end

    # Delete user credential from Avi Load Balancer Controller cluster.
    # Use this API to delete user credentials in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param username Credentials to be deleted.
    # @param user_credential_type Type of user credential
    # @param [Hash] opts the optional parameters
    # @option opts [String] :clustering_id Unique Id for Avi Load Balancer Controller Cluster used in VCF managed NSX
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_alb_user_credential_object_with_http_info(username, user_credential_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlbUserCredentialApi.delete_alb_user_credential_object ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling AlbUserCredentialApi.delete_alb_user_credential_object"
      end
      # verify the required parameter 'user_credential_type' is set
      if @api_client.config.client_side_validation && user_credential_type.nil?
        fail ArgumentError, "Missing the required parameter 'user_credential_type' when calling AlbUserCredentialApi.delete_alb_user_credential_object"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['VCENTER_SERVICE_USER_CREDENTIAL', 'NSX_SERVICE_USER_CREDENTIAL'].include?(user_credential_type)
        fail ArgumentError, "invalid value for 'user_credential_type', must be one of VCENTER_SERVICE_USER_CREDENTIAL, NSX_SERVICE_USER_CREDENTIAL"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/user-credential/{username}'.sub('{' + 'username' + '}', username.to_s)

      # query parameters
      query_params = {}
      query_params[:'user_credential_type'] = user_credential_type
      query_params[:'clustering_id'] = opts[:'clustering_id'] if !opts[:'clustering_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlbUserCredentialApi#delete_alb_user_credential_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update admin user or service user object password in Avi Load Balancer Controller.
    # Use this API to update admin user password or service user object password in Avi Load Balancer Controller. This API is for VCF deployments only. 
    # @param alb_controller_user_credential 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :running_config Update Avi Load Balancer Controller runtime config as well
    # @return [ALBControllerUserCredentialResponse]
    def update_alb_user_credential_object(alb_controller_user_credential, opts = {})
      data, _status_code, _headers = update_alb_user_credential_object_with_http_info(alb_controller_user_credential, opts)
      data
    end

    # Update admin user or service user object password in Avi Load Balancer Controller.
    # Use this API to update admin user password or service user object password in Avi Load Balancer Controller. This API is for VCF deployments only. 
    # @param alb_controller_user_credential 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :running_config Update Avi Load Balancer Controller runtime config as well
    # @return [Array<(ALBControllerUserCredentialResponse, Fixnum, Hash)>] ALBControllerUserCredentialResponse data, response status code and response headers
    def update_alb_user_credential_object_with_http_info(alb_controller_user_credential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlbUserCredentialApi.update_alb_user_credential_object ...'
      end
      # verify the required parameter 'alb_controller_user_credential' is set
      if @api_client.config.client_side_validation && alb_controller_user_credential.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_user_credential' when calling AlbUserCredentialApi.update_alb_user_credential_object"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/user-credential'

      # query parameters
      query_params = {}
      query_params[:'running_config'] = opts[:'running_config'] if !opts[:'running_config'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_user_credential)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerUserCredentialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlbUserCredentialApi#update_alb_user_credential_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
