=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class AutoEnableGatewayFirewallApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch the auto enable gateway firewall configuration value.
    # Read Configuration values for auto-enable-gateway-firewall. 
    # @param [Hash] opts the optional parameters
    # @return [AutoEnableGatewayFirewallConfig]
    def get_auto_enable_gateway_firewall_config(opts = {})
      data, _status_code, _headers = get_auto_enable_gateway_firewall_config_with_http_info(opts)
      data
    end

    # Fetch the auto enable gateway firewall configuration value.
    # Read Configuration values for auto-enable-gateway-firewall. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoEnableGatewayFirewallConfig, Fixnum, Hash)>] AutoEnableGatewayFirewallConfig data, response status code and response headers
    def get_auto_enable_gateway_firewall_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutoEnableGatewayFirewallApi.get_auto_enable_gateway_firewall_config ...'
      end
      # resource path
      local_var_path = '/system-config/auto-enable-gateway-firewall'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AutoEnableGatewayFirewallConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutoEnableGatewayFirewallApi#get_auto_enable_gateway_firewall_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Saves the configuration for auto enable gateway firewall config
    # Update auto enable gateway firewall configuration value 
    # @param auto_enable_gateway_firewall_config 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_auto_enable_gateway_firewall_config(auto_enable_gateway_firewall_config, opts = {})
      update_auto_enable_gateway_firewall_config_with_http_info(auto_enable_gateway_firewall_config, opts)
      nil
    end

    # Saves the configuration for auto enable gateway firewall config
    # Update auto enable gateway firewall configuration value 
    # @param auto_enable_gateway_firewall_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def update_auto_enable_gateway_firewall_config_with_http_info(auto_enable_gateway_firewall_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutoEnableGatewayFirewallApi.update_auto_enable_gateway_firewall_config ...'
      end
      # verify the required parameter 'auto_enable_gateway_firewall_config' is set
      if @api_client.config.client_side_validation && auto_enable_gateway_firewall_config.nil?
        fail ArgumentError, "Missing the required parameter 'auto_enable_gateway_firewall_config' when calling AutoEnableGatewayFirewallApi.update_auto_enable_gateway_firewall_config"
      end
      # resource path
      local_var_path = '/system-config/auto-enable-gateway-firewall'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(auto_enable_gateway_firewall_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutoEnableGatewayFirewallApi#update_auto_enable_gateway_firewall_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
