=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class ClusterControlPlanesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or Update Cluster Control Plane to NSX-T
    # Joins a Cluster Control Plane to NSX-T 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param cluster_control_plane 
    # @param [Hash] opts the optional parameters
    # @return [ClusterControlPlane]
    def create_or_update_cluster_control_plane(site_id, enforcementpoint_id, cluster_control_plane_id, cluster_control_plane, opts = {})
      data, _status_code, _headers = create_or_update_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, cluster_control_plane, opts)
      data
    end

    # Create or Update Cluster Control Plane to NSX-T
    # Joins a Cluster Control Plane to NSX-T 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param cluster_control_plane 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClusterControlPlane, Fixnum, Hash)>] ClusterControlPlane data, response status code and response headers
    def create_or_update_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, cluster_control_plane, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClusterControlPlanesApi.create_or_update_cluster_control_plane ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ClusterControlPlanesApi.create_or_update_cluster_control_plane"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ClusterControlPlanesApi.create_or_update_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane_id' is set
      if @api_client.config.client_side_validation && cluster_control_plane_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane_id' when calling ClusterControlPlanesApi.create_or_update_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane' is set
      if @api_client.config.client_side_validation && cluster_control_plane.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane' when calling ClusterControlPlanesApi.create_or_update_cluster_control_plane"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/cluster-control-planes/{cluster-control-plane-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'cluster-control-plane-id' + '}', cluster_control_plane_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(cluster_control_plane)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterControlPlane')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClusterControlPlanesApi#create_or_update_cluster_control_plane\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Cluster Control Plane Node
    # Delete a Cluster Control Plane Node
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to indicate if force delete cluster references from the firewall security policies. (default to false)
    # @return [nil]
    def delete_cluster_control_plane(site_id, enforcementpoint_id, cluster_control_plane_id, opts = {})
      delete_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, opts)
      nil
    end

    # Delete a Cluster Control Plane Node
    # Delete a Cluster Control Plane Node
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to indicate if force delete cluster references from the firewall security policies.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClusterControlPlanesApi.delete_cluster_control_plane ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ClusterControlPlanesApi.delete_cluster_control_plane"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ClusterControlPlanesApi.delete_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane_id' is set
      if @api_client.config.client_side_validation && cluster_control_plane_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane_id' when calling ClusterControlPlanesApi.delete_cluster_control_plane"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/cluster-control-planes/{cluster-control-plane-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'cluster-control-plane-id' + '}', cluster_control_plane_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClusterControlPlanesApi#delete_cluster_control_plane\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a Cluster Control Plane
    # Returns information about a specified Cluster Control Plane .
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param [Hash] opts the optional parameters
    # @return [ClusterControlPlane]
    def get_cluster_control_plane(site_id, enforcementpoint_id, cluster_control_plane_id, opts = {})
      data, _status_code, _headers = get_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, opts)
      data
    end

    # Get a Cluster Control Plane
    # Returns information about a specified Cluster Control Plane .
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClusterControlPlane, Fixnum, Hash)>] ClusterControlPlane data, response status code and response headers
    def get_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClusterControlPlanesApi.get_cluster_control_plane ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ClusterControlPlanesApi.get_cluster_control_plane"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ClusterControlPlanesApi.get_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane_id' is set
      if @api_client.config.client_side_validation && cluster_control_plane_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane_id' when calling ClusterControlPlanesApi.get_cluster_control_plane"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/cluster-control-planes/{cluster-control-plane-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'cluster-control-plane-id' + '}', cluster_control_plane_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterControlPlane')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClusterControlPlanesApi#get_cluster_control_plane\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Cluster Control Plane
    # list all Cluster Control Planes 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [ClusterControlPlaneListResult]
    def list_cluster_control_plane(site_id, enforcementpoint_id, opts = {})
      data, _status_code, _headers = list_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, opts)
      data
    end

    # List Cluster Control Plane
    # list all Cluster Control Planes 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(ClusterControlPlaneListResult, Fixnum, Hash)>] ClusterControlPlaneListResult data, response status code and response headers
    def list_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClusterControlPlanesApi.list_cluster_control_plane ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ClusterControlPlanesApi.list_cluster_control_plane"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ClusterControlPlanesApi.list_cluster_control_plane"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ClusterControlPlanesApi.list_cluster_control_plane, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ClusterControlPlanesApi.list_cluster_control_plane, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/cluster-control-planes'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterControlPlaneListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClusterControlPlanesApi#list_cluster_control_plane\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
