=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class ConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Set the cluster configuration for the Avi Load Balancer Controller node. The VIP can be set once. Attempting to change the VIP once set will return an error in case Avi Controllers are deployed.
    # Set the cluster configuration for Avi Load Balancer Controller cluster. 
    # @param alb_controller_node_vm_cluster_config 
    # @param [Hash] opts the optional parameters
    # @return [ALBControllerNodeVMClusterConfig]
    def add_alb_controller_node_cluster_config(alb_controller_node_vm_cluster_config, opts = {})
      data, _status_code, _headers = add_alb_controller_node_cluster_config_with_http_info(alb_controller_node_vm_cluster_config, opts)
      data
    end

    # Set the cluster configuration for the Avi Load Balancer Controller node. The VIP can be set once. Attempting to change the VIP once set will return an error in case Avi Controllers are deployed.
    # Set the cluster configuration for Avi Load Balancer Controller cluster. 
    # @param alb_controller_node_vm_cluster_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ALBControllerNodeVMClusterConfig, Fixnum, Hash)>] ALBControllerNodeVMClusterConfig data, response status code and response headers
    def add_alb_controller_node_cluster_config_with_http_info(alb_controller_node_vm_cluster_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.add_alb_controller_node_cluster_config ...'
      end
      # verify the required parameter 'alb_controller_node_vm_cluster_config' is set
      if @api_client.config.client_side_validation && alb_controller_node_vm_cluster_config.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_node_vm_cluster_config' when calling ConfigurationApi.add_alb_controller_node_cluster_config"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/clusterconfig'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_node_vm_cluster_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerNodeVMClusterConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#add_alb_controller_node_cluster_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deploy and register a Avi Load Balancer Controller node
    # Deploys a Avi Load Balancer Controller node as specified by the deployment config. 
    # @param add_alb_controller_node_vm_info 
    # @param [Hash] opts the optional parameters
    # @return [ALBControllerNodeVMDeploymentRequestList]
    def add_alb_controller_node_vm(add_alb_controller_node_vm_info, opts = {})
      data, _status_code, _headers = add_alb_controller_node_vm_with_http_info(add_alb_controller_node_vm_info, opts)
      data
    end

    # Deploy and register a Avi Load Balancer Controller node
    # Deploys a Avi Load Balancer Controller node as specified by the deployment config. 
    # @param add_alb_controller_node_vm_info 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ALBControllerNodeVMDeploymentRequestList, Fixnum, Hash)>] ALBControllerNodeVMDeploymentRequestList data, response status code and response headers
    def add_alb_controller_node_vm_with_http_info(add_alb_controller_node_vm_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.add_alb_controller_node_vm ...'
      end
      # verify the required parameter 'add_alb_controller_node_vm_info' is set
      if @api_client.config.client_side_validation && add_alb_controller_node_vm_info.nil?
        fail ArgumentError, "Missing the required parameter 'add_alb_controller_node_vm_info' when calling ConfigurationApi.add_alb_controller_node_vm"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/deployments'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(add_alb_controller_node_vm_info)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerNodeVMDeploymentRequestList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#add_alb_controller_node_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate admin password for Avi Load Balancer Controller.
    # Use this API to validate admin password in Avi Load Balancer Controller. This API is for VCF deployments only. 
    # @param alb_controller_admin_credential 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_check_password(alb_controller_admin_credential, opts = {})
      admin_check_password_with_http_info(alb_controller_admin_credential, opts)
      nil
    end

    # Validate admin password for Avi Load Balancer Controller.
    # Use this API to validate admin password in Avi Load Balancer Controller. This API is for VCF deployments only. 
    # @param alb_controller_admin_credential 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def admin_check_password_with_http_info(alb_controller_admin_credential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.admin_check_password ...'
      end
      # verify the required parameter 'alb_controller_admin_credential' is set
      if @api_client.config.client_side_validation && alb_controller_admin_credential.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_admin_credential' when calling ConfigurationApi.admin_check_password"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/check-password'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_admin_credential)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#admin_check_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Configure the cluster for security
    # This API configures a compute collection for security. In the request body, specify a Transport Node Collection with only the ID of the target compute collection meant for security. Specifically, a Transport Node Profile ID should not be specified. This API will define a system-generated security Transport Node Profile and apply it on the compute collection to create the Transport Node Collection.
    # @param site_id 
    # @param enforcementpoint_id 
    # @param transport_node_collection_id 
    # @param host_transport_node_collection 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def configure_transport_node_collection_for_security(site_id, enforcementpoint_id, transport_node_collection_id, host_transport_node_collection, opts = {})
      configure_transport_node_collection_for_security_with_http_info(site_id, enforcementpoint_id, transport_node_collection_id, host_transport_node_collection, opts)
      nil
    end

    # Configure the cluster for security
    # This API configures a compute collection for security. In the request body, specify a Transport Node Collection with only the ID of the target compute collection meant for security. Specifically, a Transport Node Profile ID should not be specified. This API will define a system-generated security Transport Node Profile and apply it on the compute collection to create the Transport Node Collection.
    # @param site_id 
    # @param enforcementpoint_id 
    # @param transport_node_collection_id 
    # @param host_transport_node_collection 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def configure_transport_node_collection_for_security_with_http_info(site_id, enforcementpoint_id, transport_node_collection_id, host_transport_node_collection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.configure_transport_node_collection_for_security ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.configure_transport_node_collection_for_security"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.configure_transport_node_collection_for_security"
      end
      # verify the required parameter 'transport_node_collection_id' is set
      if @api_client.config.client_side_validation && transport_node_collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_collection_id' when calling ConfigurationApi.configure_transport_node_collection_for_security"
      end
      # verify the required parameter 'host_transport_node_collection' is set
      if @api_client.config.client_side_validation && host_transport_node_collection.nil?
        fail ArgumentError, "Missing the required parameter 'host_transport_node_collection' when calling ConfigurationApi.configure_transport_node_collection_for_security"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/transport-node-collections/{transport-node-collection-id}?action=install_for_microseg'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'transport-node-collection-id' + '}', transport_node_collection_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(host_transport_node_collection)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#configure_transport_node_collection_for_security\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create portal certificate CSR for Avi Load Balancer Controller.
    # Use this API to create portal certificate CSR for Avi Load Balancer Controller. 
    # @param alb_controller_certificate_csr 
    # @param [Hash] opts the optional parameters
    # @return [ALBControllerCertificate]
    def create_alb_portal_certificate_csr(alb_controller_certificate_csr, opts = {})
      data, _status_code, _headers = create_alb_portal_certificate_csr_with_http_info(alb_controller_certificate_csr, opts)
      data
    end

    # Create portal certificate CSR for Avi Load Balancer Controller.
    # Use this API to create portal certificate CSR for Avi Load Balancer Controller. 
    # @param alb_controller_certificate_csr 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ALBControllerCertificate, Fixnum, Hash)>] ALBControllerCertificate data, response status code and response headers
    def create_alb_portal_certificate_csr_with_http_info(alb_controller_certificate_csr, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_alb_portal_certificate_csr ...'
      end
      # verify the required parameter 'alb_controller_certificate_csr' is set
      if @api_client.config.client_side_validation && alb_controller_certificate_csr.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_certificate_csr' when calling ConfigurationApi.create_alb_portal_certificate_csr"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/certificate/csr'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_certificate_csr)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerCertificate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_alb_portal_certificate_csr\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create service user object credential in Avi Load Balancer Controller cluster.
    # Use this API to create service user object credential in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param alb_controller_user_credential 
    # @param [Hash] opts the optional parameters
    # @return [ALBControllerUserCredentialResponse]
    def create_alb_user_credential_object(alb_controller_user_credential, opts = {})
      data, _status_code, _headers = create_alb_user_credential_object_with_http_info(alb_controller_user_credential, opts)
      data
    end

    # Create service user object credential in Avi Load Balancer Controller cluster.
    # Use this API to create service user object credential in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param alb_controller_user_credential 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ALBControllerUserCredentialResponse, Fixnum, Hash)>] ALBControllerUserCredentialResponse data, response status code and response headers
    def create_alb_user_credential_object_with_http_info(alb_controller_user_credential, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_alb_user_credential_object ...'
      end
      # verify the required parameter 'alb_controller_user_credential' is set
      if @api_client.config.client_side_validation && alb_controller_user_credential.nil?
        fail ArgumentError, "Missing the required parameter 'alb_controller_user_credential' when calling ConfigurationApi.create_alb_user_credential_object"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/user-credential'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(alb_controller_user_credential)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerUserCredentialResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_alb_user_credential_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update deployment information.
    # This is an API called by VCF to store or update deployment information. 
    # @param nsx_manager_deployment_info 
    # @param [Hash] opts the optional parameters
    # @return [NSXManagerDeploymentInfo]
    def create_deployment_info(nsx_manager_deployment_info, opts = {})
      data, _status_code, _headers = create_deployment_info_with_http_info(nsx_manager_deployment_info, opts)
      data
    end

    # Create or update deployment information.
    # This is an API called by VCF to store or update deployment information. 
    # @param nsx_manager_deployment_info 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NSXManagerDeploymentInfo, Fixnum, Hash)>] NSXManagerDeploymentInfo data, response status code and response headers
    def create_deployment_info_with_http_info(nsx_manager_deployment_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_deployment_info ...'
      end
      # verify the required parameter 'nsx_manager_deployment_info' is set
      if @api_client.config.client_side_validation && nsx_manager_deployment_info.nil?
        fail ArgumentError, "Missing the required parameter 'nsx_manager_deployment_info' when calling ConfigurationApi.create_deployment_info"
      end
      # resource path
      local_var_path = '/watermark'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(nsx_manager_deployment_info)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NSXManagerDeploymentInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_deployment_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Event Log server for Firewall Identity store
    # More than one Event Log server can be created and only one event log server is used to synchronize directory objects. If more than one Event Log server is configured, NSX will try all the servers until it is able to successfully connect to one.  <br> <br> Use the following Policy API - <br> PATCH /infra/identity-firewall-stores/&lt;identity-firewall-store-id&gt;/event-log-servers/&lt;event-log-server-id&gt;
    # @param firewall_identity_store_id Firewall Identity store identifier
    # @param event_log_server_id Event Log server identifier
    # @param directory_event_log_server 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path String Path of the enforcement point
    # @return [nil]
    def create_or_patch_firewall_identity_store_event_log_server(firewall_identity_store_id, event_log_server_id, directory_event_log_server, opts = {})
      create_or_patch_firewall_identity_store_event_log_server_with_http_info(firewall_identity_store_id, event_log_server_id, directory_event_log_server, opts)
      nil
    end

    # Create a Event Log server for Firewall Identity store
    # More than one Event Log server can be created and only one event log server is used to synchronize directory objects. If more than one Event Log server is configured, NSX will try all the servers until it is able to successfully connect to one.  &lt;br&gt; &lt;br&gt; Use the following Policy API - &lt;br&gt; PATCH /infra/identity-firewall-stores/&amp;lt;identity-firewall-store-id&amp;gt;/event-log-servers/&amp;lt;event-log-server-id&amp;gt;
    # @param firewall_identity_store_id Firewall Identity store identifier
    # @param event_log_server_id Event Log server identifier
    # @param directory_event_log_server 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path String Path of the enforcement point
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_or_patch_firewall_identity_store_event_log_server_with_http_info(firewall_identity_store_id, event_log_server_id, directory_event_log_server, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_patch_firewall_identity_store_event_log_server ...'
      end
      # verify the required parameter 'firewall_identity_store_id' is set
      if @api_client.config.client_side_validation && firewall_identity_store_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_identity_store_id' when calling ConfigurationApi.create_or_patch_firewall_identity_store_event_log_server"
      end
      # verify the required parameter 'event_log_server_id' is set
      if @api_client.config.client_side_validation && event_log_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_log_server_id' when calling ConfigurationApi.create_or_patch_firewall_identity_store_event_log_server"
      end
      # verify the required parameter 'directory_event_log_server' is set
      if @api_client.config.client_side_validation && directory_event_log_server.nil?
        fail ArgumentError, "Missing the required parameter 'directory_event_log_server' when calling ConfigurationApi.create_or_patch_firewall_identity_store_event_log_server"
      end
      # resource path
      local_var_path = '/infra/firewall-identity-stores/{firewall-identity-store-id}/event-log-servers/{event-log-server-id}'.sub('{' + 'firewall-identity-store-id' + '}', firewall_identity_store_id.to_s).sub('{' + 'event-log-server-id' + '}', event_log_server_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(directory_event_log_server)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_patch_firewall_identity_store_event_log_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update Cluster Control Plane to NSX-T
    # Joins a Cluster Control Plane to NSX-T 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param cluster_control_plane 
    # @param [Hash] opts the optional parameters
    # @return [ClusterControlPlane]
    def create_or_update_cluster_control_plane(site_id, enforcementpoint_id, cluster_control_plane_id, cluster_control_plane, opts = {})
      data, _status_code, _headers = create_or_update_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, cluster_control_plane, opts)
      data
    end

    # Create or Update Cluster Control Plane to NSX-T
    # Joins a Cluster Control Plane to NSX-T 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param cluster_control_plane 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClusterControlPlane, Fixnum, Hash)>] ClusterControlPlane data, response status code and response headers
    def create_or_update_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, cluster_control_plane, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_cluster_control_plane ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.create_or_update_cluster_control_plane"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.create_or_update_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane_id' is set
      if @api_client.config.client_side_validation && cluster_control_plane_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane_id' when calling ConfigurationApi.create_or_update_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane' is set
      if @api_client.config.client_side_validation && cluster_control_plane.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane' when calling ConfigurationApi.create_or_update_cluster_control_plane"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/cluster-control-planes/{cluster-control-plane-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'cluster-control-plane-id' + '}', cluster_control_plane_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(cluster_control_plane)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterControlPlane')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_cluster_control_plane\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update deployment information.
    # This is an API called by VCF to update stored deployment information. 
    # @param nsx_manager_deployment_info 
    # @param [Hash] opts the optional parameters
    # @return [NSXManagerDeploymentInfo]
    def create_or_update_deployment_info(nsx_manager_deployment_info, opts = {})
      data, _status_code, _headers = create_or_update_deployment_info_with_http_info(nsx_manager_deployment_info, opts)
      data
    end

    # Create or update deployment information.
    # This is an API called by VCF to update stored deployment information. 
    # @param nsx_manager_deployment_info 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NSXManagerDeploymentInfo, Fixnum, Hash)>] NSXManagerDeploymentInfo data, response status code and response headers
    def create_or_update_deployment_info_with_http_info(nsx_manager_deployment_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_deployment_info ...'
      end
      # verify the required parameter 'nsx_manager_deployment_info' is set
      if @api_client.config.client_side_validation && nsx_manager_deployment_info.nil?
        fail ArgumentError, "Missing the required parameter 'nsx_manager_deployment_info' when calling ConfigurationApi.create_or_update_deployment_info"
      end
      # resource path
      local_var_path = '/watermark'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(nsx_manager_deployment_info)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NSXManagerDeploymentInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_deployment_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Host Transport Node
    # Transport nodes are hypervisor hosts that will participate in an NSX-T overlay. For a hypervisor host, this means that it hosts VMs that will communicate over NSX-T logical switches.  This API creates transport node for a host node (hypervisor) in the transport network.  When you run this command for a host, NSX Manager attempts to install the NSX kernel modules, which are packaged as VIB, RPM, or DEB files. For the installation to succeed, you must provide the host login credentials and the host thumbprint.  To get the ESXi host thumbprint, SSH to the host and run the <b>openssl x509 -in /etc/vmware/ssl/rui.crt -fingerprint -sha256 -noout</b> command.  To generate host key thumbprint using SHA-256 algorithm please follow the steps below.  Log into the host, making sure that the connection is not vulnerable to a man in the middle attack. Check whether a public key already exists. Host public key is generally located at '/etc/ssh/ssh_host_rsa_key.pub'. If the key is not present then generate a new key by running the following command and follow the instructions.  <b>ssh-keygen -t rsa</b>  Now generate a SHA256 hash of the key using the following command. Please make sure to pass the appropriate file name if the public key is stored with a different file name other than the default 'id_rsa.pub'.  <b>awk '{print $2}' id_rsa.pub | base64 -d | sha256sum -b | sed 's/ .*$//' | xxd -r -p | base64</b>  Additional documentation on creating a transport node can be found in the NSX-T Installation Guide.  In order for the transport node to forward packets, the host_switch_spec property must be specified.  Host switches (called bridges in OVS on KVM hypervisors) are the individual switches within the host virtual switch. Virtual machines are connected to the host switches.  When creating a transport node, you need to specify if the host switches are already manually preconfigured on the node, or if NSX should create and manage the host switches. You specify this choice by the type of host switches you pass in the host_switch_spec property of the TransportNode request payload.  For a KVM host, you can preconfigure the host switch, or you can have NSX Manager perform the configuration. For an ESXi host NSX Manager always configures the host switch.  To preconfigure the host switches on a KVM host, pass an array of PreconfiguredHostSwitchSpec objects that describes those host switches. In the current NSX-T release, only one prefonfigured host switch can be specified.  See the PreconfiguredHostSwitchSpec schema definition for documentation on the properties that must be provided. Preconfigured host switches are only supported on KVM hosts, not on ESXi hosts.  To allow NSX to manage the host switch configuration on KVM hosts, ESXi hosts, pass an array of StandardHostSwitchSpec objects in the host_switch_spec property, and NSX will automatically create host switches with the properties you provide. In the current NSX-T release, up to 16 host switches can be automatically managed. See the StandardHostSwitchSpec schema definition for documentation on the properties that must be provided.  The request should provide node_deployement_info. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param host_transport_node_id 
    # @param host_transport_node 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :esx_mgmt_if_migration_dest The network ids to which the ESX vmk interfaces will be migrated
    # @option opts [String] :if_id The ESX vmk interfaces to migrate
    # @option opts [BOOLEAN] :override_nsx_ownership Override NSX Ownership (default to false)
    # @option opts [String] :ping_ip IP Addresses to ping right after ESX vmk interfaces were migrated.
    # @option opts [BOOLEAN] :skip_validation Whether to skip front-end validation for vmk/vnic/pnic migration (default to false)
    # @option opts [String] :vnic The ESX vmk interfaces and/or VM NIC to migrate
    # @option opts [String] :vnic_migration_dest The migration destinations of ESX vmk interfaces and/or VM NIC
    # @return [HostTransportNode]
    def create_or_update_host_transport_node(site_id, enforcementpoint_id, host_transport_node_id, host_transport_node, opts = {})
      data, _status_code, _headers = create_or_update_host_transport_node_with_http_info(site_id, enforcementpoint_id, host_transport_node_id, host_transport_node, opts)
      data
    end

    # Create or update a Host Transport Node
    # Transport nodes are hypervisor hosts that will participate in an NSX-T overlay. For a hypervisor host, this means that it hosts VMs that will communicate over NSX-T logical switches.  This API creates transport node for a host node (hypervisor) in the transport network.  When you run this command for a host, NSX Manager attempts to install the NSX kernel modules, which are packaged as VIB, RPM, or DEB files. For the installation to succeed, you must provide the host login credentials and the host thumbprint.  To get the ESXi host thumbprint, SSH to the host and run the &lt;b&gt;openssl x509 -in /etc/vmware/ssl/rui.crt -fingerprint -sha256 -noout&lt;/b&gt; command.  To generate host key thumbprint using SHA-256 algorithm please follow the steps below.  Log into the host, making sure that the connection is not vulnerable to a man in the middle attack. Check whether a public key already exists. Host public key is generally located at &#39;/etc/ssh/ssh_host_rsa_key.pub&#39;. If the key is not present then generate a new key by running the following command and follow the instructions.  &lt;b&gt;ssh-keygen -t rsa&lt;/b&gt;  Now generate a SHA256 hash of the key using the following command. Please make sure to pass the appropriate file name if the public key is stored with a different file name other than the default &#39;id_rsa.pub&#39;.  &lt;b&gt;awk &#39;{print $2}&#39; id_rsa.pub | base64 -d | sha256sum -b | sed &#39;s/ .*$//&#39; | xxd -r -p | base64&lt;/b&gt;  Additional documentation on creating a transport node can be found in the NSX-T Installation Guide.  In order for the transport node to forward packets, the host_switch_spec property must be specified.  Host switches (called bridges in OVS on KVM hypervisors) are the individual switches within the host virtual switch. Virtual machines are connected to the host switches.  When creating a transport node, you need to specify if the host switches are already manually preconfigured on the node, or if NSX should create and manage the host switches. You specify this choice by the type of host switches you pass in the host_switch_spec property of the TransportNode request payload.  For a KVM host, you can preconfigure the host switch, or you can have NSX Manager perform the configuration. For an ESXi host NSX Manager always configures the host switch.  To preconfigure the host switches on a KVM host, pass an array of PreconfiguredHostSwitchSpec objects that describes those host switches. In the current NSX-T release, only one prefonfigured host switch can be specified.  See the PreconfiguredHostSwitchSpec schema definition for documentation on the properties that must be provided. Preconfigured host switches are only supported on KVM hosts, not on ESXi hosts.  To allow NSX to manage the host switch configuration on KVM hosts, ESXi hosts, pass an array of StandardHostSwitchSpec objects in the host_switch_spec property, and NSX will automatically create host switches with the properties you provide. In the current NSX-T release, up to 16 host switches can be automatically managed. See the StandardHostSwitchSpec schema definition for documentation on the properties that must be provided.  The request should provide node_deployement_info. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param host_transport_node_id 
    # @param host_transport_node 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :esx_mgmt_if_migration_dest The network ids to which the ESX vmk interfaces will be migrated
    # @option opts [String] :if_id The ESX vmk interfaces to migrate
    # @option opts [BOOLEAN] :override_nsx_ownership Override NSX Ownership
    # @option opts [String] :ping_ip IP Addresses to ping right after ESX vmk interfaces were migrated.
    # @option opts [BOOLEAN] :skip_validation Whether to skip front-end validation for vmk/vnic/pnic migration
    # @option opts [String] :vnic The ESX vmk interfaces and/or VM NIC to migrate
    # @option opts [String] :vnic_migration_dest The migration destinations of ESX vmk interfaces and/or VM NIC
    # @return [Array<(HostTransportNode, Fixnum, Hash)>] HostTransportNode data, response status code and response headers
    def create_or_update_host_transport_node_with_http_info(site_id, enforcementpoint_id, host_transport_node_id, host_transport_node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_host_transport_node ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.create_or_update_host_transport_node"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.create_or_update_host_transport_node"
      end
      # verify the required parameter 'host_transport_node_id' is set
      if @api_client.config.client_side_validation && host_transport_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'host_transport_node_id' when calling ConfigurationApi.create_or_update_host_transport_node"
      end
      # verify the required parameter 'host_transport_node' is set
      if @api_client.config.client_side_validation && host_transport_node.nil?
        fail ArgumentError, "Missing the required parameter 'host_transport_node' when calling ConfigurationApi.create_or_update_host_transport_node"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/host-transport-nodes/{host-transport-node-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'host-transport-node-id' + '}', host_transport_node_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'esx_mgmt_if_migration_dest'] = opts[:'esx_mgmt_if_migration_dest'] if !opts[:'esx_mgmt_if_migration_dest'].nil?
      query_params[:'if_id'] = opts[:'if_id'] if !opts[:'if_id'].nil?
      query_params[:'override_nsx_ownership'] = opts[:'override_nsx_ownership'] if !opts[:'override_nsx_ownership'].nil?
      query_params[:'ping_ip'] = opts[:'ping_ip'] if !opts[:'ping_ip'].nil?
      query_params[:'skip_validation'] = opts[:'skip_validation'] if !opts[:'skip_validation'].nil?
      query_params[:'vnic'] = opts[:'vnic'] if !opts[:'vnic'].nil?
      query_params[:'vnic_migration_dest'] = opts[:'vnic_migration_dest'] if !opts[:'vnic_migration_dest'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(host_transport_node)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'HostTransportNode')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_host_transport_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create transport node collection by attaching Transport Node Profile to cluster.
    # When transport node collection is created the hosts which are part of compute collection will be prepared automatically i.e. NSX Manager attempts to install the NSX components on hosts. Transport nodes for these hosts are created using the configuration specified in transport node profile. Pass apply_profile to false, if you do not want to apply transport node profile on the existing transport node with overridden host flag set and ignore overridden hosts flag is set to true on the transport node profile. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param transport_node_collections_id 
    # @param host_transport_node_collection 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :apply_profile Indicates if the Transport Node Profile (TNP) configuration should be applied during creation (default to true)
    # @option opts [BOOLEAN] :override_nsx_ownership Override NSX Ownership (default to false)
    # @return [HostTransportNodeCollection]
    def create_or_update_host_transport_node_collection(site_id, enforcementpoint_id, transport_node_collections_id, host_transport_node_collection, opts = {})
      data, _status_code, _headers = create_or_update_host_transport_node_collection_with_http_info(site_id, enforcementpoint_id, transport_node_collections_id, host_transport_node_collection, opts)
      data
    end

    # Create transport node collection by attaching Transport Node Profile to cluster.
    # When transport node collection is created the hosts which are part of compute collection will be prepared automatically i.e. NSX Manager attempts to install the NSX components on hosts. Transport nodes for these hosts are created using the configuration specified in transport node profile. Pass apply_profile to false, if you do not want to apply transport node profile on the existing transport node with overridden host flag set and ignore overridden hosts flag is set to true on the transport node profile. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param transport_node_collections_id 
    # @param host_transport_node_collection 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :apply_profile Indicates if the Transport Node Profile (TNP) configuration should be applied during creation
    # @option opts [BOOLEAN] :override_nsx_ownership Override NSX Ownership
    # @return [Array<(HostTransportNodeCollection, Fixnum, Hash)>] HostTransportNodeCollection data, response status code and response headers
    def create_or_update_host_transport_node_collection_with_http_info(site_id, enforcementpoint_id, transport_node_collections_id, host_transport_node_collection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_host_transport_node_collection ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.create_or_update_host_transport_node_collection"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.create_or_update_host_transport_node_collection"
      end
      # verify the required parameter 'transport_node_collections_id' is set
      if @api_client.config.client_side_validation && transport_node_collections_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_collections_id' when calling ConfigurationApi.create_or_update_host_transport_node_collection"
      end
      # verify the required parameter 'host_transport_node_collection' is set
      if @api_client.config.client_side_validation && host_transport_node_collection.nil?
        fail ArgumentError, "Missing the required parameter 'host_transport_node_collection' when calling ConfigurationApi.create_or_update_host_transport_node_collection"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/transport-node-collections/{transport-node-collections-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'transport-node-collections-id' + '}', transport_node_collections_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'apply_profile'] = opts[:'apply_profile'] if !opts[:'apply_profile'].nil?
      query_params[:'override_nsx_ownership'] = opts[:'override_nsx_ownership'] if !opts[:'override_nsx_ownership'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(host_transport_node_collection)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'HostTransportNodeCollection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_host_transport_node_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Hostswitch Profile
    # Create or update a hostswitch profile. The resource_type is required and needs to be one of the following, UplinkHostSwitchProfile, LldpHostSwitchProfile, NiocProfile & ExtraConfigHostSwitchProfile. Uplink profile - For uplink profiles, the teaming and policy parameters are required. By default, the mtu is 1600 and the transport_vlan is 0. The supported MTU range is 1280 through (uplink_mtu_threshold). uplink_mtu_threshold is 9000 by default. Range can be extended by modifying (uplink_mtu_threshold) in SwitchingGlobalConfig to the required upper threshold. Teaming defined in this profile allows NSX to load balance traffic across different physical NICs (PNICs) on the hypervisor hosts. Multiple teaming policies are supported, including LACP active, LACP passive, load balancing based on source ID, and failover order. Lldp profile - Activate or deactivate sending LLDP packets NiocProfile - Network I/O Control settings: defines limits, shares and reservations for various host traffic types. ExtraConfig - Vendor specific configuration on HostSwitch, logical switch or logical port 
    # @param host_switch_profile_id 
    # @param policy_base_host_switch_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyBaseHostSwitchProfile]
    def create_or_update_policy_host_switch_profile(host_switch_profile_id, policy_base_host_switch_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_host_switch_profile_with_http_info(host_switch_profile_id, policy_base_host_switch_profile, opts)
      data
    end

    # Create or update a Hostswitch Profile
    # Create or update a hostswitch profile. The resource_type is required and needs to be one of the following, UplinkHostSwitchProfile, LldpHostSwitchProfile, NiocProfile &amp; ExtraConfigHostSwitchProfile. Uplink profile - For uplink profiles, the teaming and policy parameters are required. By default, the mtu is 1600 and the transport_vlan is 0. The supported MTU range is 1280 through (uplink_mtu_threshold). uplink_mtu_threshold is 9000 by default. Range can be extended by modifying (uplink_mtu_threshold) in SwitchingGlobalConfig to the required upper threshold. Teaming defined in this profile allows NSX to load balance traffic across different physical NICs (PNICs) on the hypervisor hosts. Multiple teaming policies are supported, including LACP active, LACP passive, load balancing based on source ID, and failover order. Lldp profile - Activate or deactivate sending LLDP packets NiocProfile - Network I/O Control settings: defines limits, shares and reservations for various host traffic types. ExtraConfig - Vendor specific configuration on HostSwitch, logical switch or logical port 
    # @param host_switch_profile_id 
    # @param policy_base_host_switch_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyBaseHostSwitchProfile, Fixnum, Hash)>] PolicyBaseHostSwitchProfile data, response status code and response headers
    def create_or_update_policy_host_switch_profile_with_http_info(host_switch_profile_id, policy_base_host_switch_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_policy_host_switch_profile ...'
      end
      # verify the required parameter 'host_switch_profile_id' is set
      if @api_client.config.client_side_validation && host_switch_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'host_switch_profile_id' when calling ConfigurationApi.create_or_update_policy_host_switch_profile"
      end
      # verify the required parameter 'policy_base_host_switch_profile' is set
      if @api_client.config.client_side_validation && policy_base_host_switch_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_base_host_switch_profile' when calling ConfigurationApi.create_or_update_policy_host_switch_profile"
      end
      # resource path
      local_var_path = '/infra/host-switch-profiles/{host-switch-profile-id}'.sub('{' + 'host-switch-profile-id' + '}', host_switch_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_base_host_switch_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyBaseHostSwitchProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_policy_host_switch_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Host Transport Node Profile
    # Host transport node profile captures the configuration needed to create a host transport node. A host transport node profile can be attached to compute collections for automatic host transport node creation of member hosts.  When configurations of a host transport node profile(TNP) are updated, all the host transport nodes in all the compute collections to which this TNP is attached are updated to reflect the updated configuration. 
    # @param transport_node_profile_id 
    # @param policy_host_transport_node_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override_nsx_ownership Override NSX Ownership (default to false)
    # @return [PolicyHostTransportNodeProfile]
    def create_or_update_policy_host_transport_node_profile(transport_node_profile_id, policy_host_transport_node_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_host_transport_node_profile_with_http_info(transport_node_profile_id, policy_host_transport_node_profile, opts)
      data
    end

    # Update a Host Transport Node Profile
    # Host transport node profile captures the configuration needed to create a host transport node. A host transport node profile can be attached to compute collections for automatic host transport node creation of member hosts.  When configurations of a host transport node profile(TNP) are updated, all the host transport nodes in all the compute collections to which this TNP is attached are updated to reflect the updated configuration. 
    # @param transport_node_profile_id 
    # @param policy_host_transport_node_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override_nsx_ownership Override NSX Ownership
    # @return [Array<(PolicyHostTransportNodeProfile, Fixnum, Hash)>] PolicyHostTransportNodeProfile data, response status code and response headers
    def create_or_update_policy_host_transport_node_profile_with_http_info(transport_node_profile_id, policy_host_transport_node_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_policy_host_transport_node_profile ...'
      end
      # verify the required parameter 'transport_node_profile_id' is set
      if @api_client.config.client_side_validation && transport_node_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_profile_id' when calling ConfigurationApi.create_or_update_policy_host_transport_node_profile"
      end
      # verify the required parameter 'policy_host_transport_node_profile' is set
      if @api_client.config.client_side_validation && policy_host_transport_node_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_host_transport_node_profile' when calling ConfigurationApi.create_or_update_policy_host_transport_node_profile"
      end
      # resource path
      local_var_path = '/infra/host-transport-node-profiles/{transport-node-profile-id}'.sub('{' + 'transport-node-profile-id' + '}', transport_node_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override_nsx_ownership'] = opts[:'override_nsx_ownership'] if !opts[:'override_nsx_ownership'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_host_transport_node_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyHostTransportNodeProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_policy_host_transport_node_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update a sub-cluster
    # Create or update a sub-cluster under a compute collection. Maximum number of sub-clusters that can be created under a compute collection is 16. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param subcluster_id 
    # @param sub_cluster 
    # @param [Hash] opts the optional parameters
    # @return [SubCluster]
    def create_or_update_sub_cluster(site_id, enforcementpoint_id, subcluster_id, sub_cluster, opts = {})
      data, _status_code, _headers = create_or_update_sub_cluster_with_http_info(site_id, enforcementpoint_id, subcluster_id, sub_cluster, opts)
      data
    end

    # Create or Update a sub-cluster
    # Create or update a sub-cluster under a compute collection. Maximum number of sub-clusters that can be created under a compute collection is 16. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param subcluster_id 
    # @param sub_cluster 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubCluster, Fixnum, Hash)>] SubCluster data, response status code and response headers
    def create_or_update_sub_cluster_with_http_info(site_id, enforcementpoint_id, subcluster_id, sub_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.create_or_update_sub_cluster ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.create_or_update_sub_cluster"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.create_or_update_sub_cluster"
      end
      # verify the required parameter 'subcluster_id' is set
      if @api_client.config.client_side_validation && subcluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'subcluster_id' when calling ConfigurationApi.create_or_update_sub_cluster"
      end
      # verify the required parameter 'sub_cluster' is set
      if @api_client.config.client_side_validation && sub_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'sub_cluster' when calling ConfigurationApi.create_or_update_sub_cluster"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/sub-clusters/{subcluster-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'subcluster-id' + '}', subcluster_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(sub_cluster)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SubCluster')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#create_or_update_sub_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the cluster configuration for the Avi Load Balancer Controller cluster configuration. If Avi Load Balancer Controllers are present delete will fail.
    # Delete the cluster configuration for Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :clustering_id Unique Id for Avi Load Balancer Controller Cluster used in VCF managed NSX
    # @return [nil]
    def delete_alb_controller_node_cluster_config(opts = {})
      delete_alb_controller_node_cluster_config_with_http_info(opts)
      nil
    end

    # Delete the cluster configuration for the Avi Load Balancer Controller cluster configuration. If Avi Load Balancer Controllers are present delete will fail.
    # Delete the cluster configuration for Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :clustering_id Unique Id for Avi Load Balancer Controller Cluster used in VCF managed NSX
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_alb_controller_node_cluster_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_alb_controller_node_cluster_config ...'
      end
      # resource path
      local_var_path = '/alb/controller-nodes/clusterconfig'

      # query parameters
      query_params = {}
      query_params[:'clustering_id'] = opts[:'clustering_id'] if !opts[:'clustering_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_alb_controller_node_cluster_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Avi EnforcementPoint and the Infra Admin credentials contained by this workflow.
    # Delete Avi EnforcementPoint along with Infra Admin credentials. 
    # @param managed_by On Boarding flow managed by LCM/VCF.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_alb_on_boarding_workflow(managed_by, opts = {})
      delete_alb_on_boarding_workflow_with_http_info(managed_by, opts)
      nil
    end

    # Delete Avi EnforcementPoint and the Infra Admin credentials contained by this workflow.
    # Delete Avi EnforcementPoint along with Infra Admin credentials. 
    # @param managed_by On Boarding flow managed by LCM/VCF.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_alb_on_boarding_workflow_with_http_info(managed_by, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_alb_on_boarding_workflow ...'
      end
      # verify the required parameter 'managed_by' is set
      if @api_client.config.client_side_validation && managed_by.nil?
        fail ArgumentError, "Missing the required parameter 'managed_by' when calling ConfigurationApi.delete_alb_on_boarding_workflow"
      end
      # resource path
      local_var_path = '/infra/alb-onboarding-workflow/{managed-by}'.sub('{' + 'managed-by' + '}', managed_by.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_alb_on_boarding_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete user credential from Avi Load Balancer Controller cluster.
    # Use this API to delete user credentials in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param username Credentials to be deleted.
    # @param user_credential_type Type of user credential
    # @param [Hash] opts the optional parameters
    # @option opts [String] :clustering_id Unique Id for Avi Load Balancer Controller Cluster used in VCF managed NSX
    # @return [nil]
    def delete_alb_user_credential_object(username, user_credential_type, opts = {})
      delete_alb_user_credential_object_with_http_info(username, user_credential_type, opts)
      nil
    end

    # Delete user credential from Avi Load Balancer Controller cluster.
    # Use this API to delete user credentials in Avi Load Balancer Controller cluster. This API is for VCF deployments only. 
    # @param username Credentials to be deleted.
    # @param user_credential_type Type of user credential
    # @param [Hash] opts the optional parameters
    # @option opts [String] :clustering_id Unique Id for Avi Load Balancer Controller Cluster used in VCF managed NSX
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_alb_user_credential_object_with_http_info(username, user_credential_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_alb_user_credential_object ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling ConfigurationApi.delete_alb_user_credential_object"
      end
      # verify the required parameter 'user_credential_type' is set
      if @api_client.config.client_side_validation && user_credential_type.nil?
        fail ArgumentError, "Missing the required parameter 'user_credential_type' when calling ConfigurationApi.delete_alb_user_credential_object"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['VCENTER_SERVICE_USER_CREDENTIAL', 'NSX_SERVICE_USER_CREDENTIAL'].include?(user_credential_type)
        fail ArgumentError, "invalid value for 'user_credential_type', must be one of VCENTER_SERVICE_USER_CREDENTIAL, NSX_SERVICE_USER_CREDENTIAL"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/user-credential/{username}'.sub('{' + 'username' + '}', username.to_s)

      # query parameters
      query_params = {}
      query_params[:'user_credential_type'] = user_credential_type
      query_params[:'clustering_id'] = opts[:'clustering_id'] if !opts[:'clustering_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_alb_user_credential_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Attempt to delete an auto-deployed Avi Load Balancer Controller node
    # Attempts to unregister and undeploy a specified auto-deployed cluster node. If it is a member of a cluster, then the node will be automatically detached from the cluster before being unregistered and undeployed. Alternatively, if the original deployment attempt failed or the node is not found, cleans up the deployment information associated with the deployment attempt. Note: If a node has been successfully auto-deployed, then the associated deployment information will not be deleted unless and until the node is successfully deleted. 
    # @param node_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force_delete Delete by force
    # @option opts [String] :inaccessible Delete when controller is inaccessible
    # @return [nil]
    def delete_auto_deployed_alb_controller_node_vm(node_id, opts = {})
      delete_auto_deployed_alb_controller_node_vm_with_http_info(node_id, opts)
      nil
    end

    # Attempt to delete an auto-deployed Avi Load Balancer Controller node
    # Attempts to unregister and undeploy a specified auto-deployed cluster node. If it is a member of a cluster, then the node will be automatically detached from the cluster before being unregistered and undeployed. Alternatively, if the original deployment attempt failed or the node is not found, cleans up the deployment information associated with the deployment attempt. Note: If a node has been successfully auto-deployed, then the associated deployment information will not be deleted unless and until the node is successfully deleted. 
    # @param node_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force_delete Delete by force
    # @option opts [String] :inaccessible Delete when controller is inaccessible
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_auto_deployed_alb_controller_node_vm_with_http_info(node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_auto_deployed_alb_controller_node_vm ...'
      end
      # verify the required parameter 'node_id' is set
      if @api_client.config.client_side_validation && node_id.nil?
        fail ArgumentError, "Missing the required parameter 'node_id' when calling ConfigurationApi.delete_auto_deployed_alb_controller_node_vm"
      end
      # resource path
      local_var_path = '/alb/controller-nodes/deployments/{node-id}?action=delete'.sub('{' + 'node-id' + '}', node_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force_delete'] = opts[:'force_delete'] if !opts[:'force_delete'].nil?
      query_params[:'inaccessible'] = opts[:'inaccessible'] if !opts[:'inaccessible'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_auto_deployed_alb_controller_node_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Cluster Control Plane Node
    # Delete a Cluster Control Plane Node
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to indicate if force delete cluster references from the firewall security policies. (default to false)
    # @return [nil]
    def delete_cluster_control_plane(site_id, enforcementpoint_id, cluster_control_plane_id, opts = {})
      delete_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, opts)
      nil
    end

    # Delete a Cluster Control Plane Node
    # Delete a Cluster Control Plane Node
    # @param site_id 
    # @param enforcementpoint_id 
    # @param cluster_control_plane_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to indicate if force delete cluster references from the firewall security policies.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_cluster_control_plane_with_http_info(site_id, enforcementpoint_id, cluster_control_plane_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_cluster_control_plane ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.delete_cluster_control_plane"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.delete_cluster_control_plane"
      end
      # verify the required parameter 'cluster_control_plane_id' is set
      if @api_client.config.client_side_validation && cluster_control_plane_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_control_plane_id' when calling ConfigurationApi.delete_cluster_control_plane"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/cluster-control-planes/{cluster-control-plane-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'cluster-control-plane-id' + '}', cluster_control_plane_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_cluster_control_plane\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete deployment information.
    # This is an API called by VCF to delete deployment information. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_deployment_info(opts = {})
      delete_deployment_info_with_http_info(opts)
      nil
    end

    # Delete deployment information.
    # This is an API called by VCF to delete deployment information. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_deployment_info_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_deployment_info ...'
      end
      # resource path
      local_var_path = '/watermark'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_deployment_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Transport Node
    # Deletes the specified transport node. Query param force can be used to force delete the host nodes. Force delete is not supported if transport node is part of a cluster on which Transport node profile is applied.  It also removes the specified host node from system. If unprepare_host option is set to false, then host will be deleted without uninstalling the NSX components from the host. If transport node delete is called with query param force not being set or set to false and uninstall of NSX components in the host fails, TransportNodeState object will be retained. If transport node delete is called with query param force set to true and uninstall of NSX components in the host fails, TransportNodeState object will be deleted. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param host_transport_node_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @option opts [BOOLEAN] :unprepare_host Uninstall NSX components from host while deleting (default to true)
    # @return [nil]
    def delete_host_transport_node(site_id, enforcementpoint_id, host_transport_node_id, opts = {})
      delete_host_transport_node_with_http_info(site_id, enforcementpoint_id, host_transport_node_id, opts)
      nil
    end

    # Delete a Transport Node
    # Deletes the specified transport node. Query param force can be used to force delete the host nodes. Force delete is not supported if transport node is part of a cluster on which Transport node profile is applied.  It also removes the specified host node from system. If unprepare_host option is set to false, then host will be deleted without uninstalling the NSX components from the host. If transport node delete is called with query param force not being set or set to false and uninstall of NSX components in the host fails, TransportNodeState object will be retained. If transport node delete is called with query param force set to true and uninstall of NSX components in the host fails, TransportNodeState object will be deleted. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param host_transport_node_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @option opts [BOOLEAN] :unprepare_host Uninstall NSX components from host while deleting
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_host_transport_node_with_http_info(site_id, enforcementpoint_id, host_transport_node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_host_transport_node ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.delete_host_transport_node"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.delete_host_transport_node"
      end
      # verify the required parameter 'host_transport_node_id' is set
      if @api_client.config.client_side_validation && host_transport_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'host_transport_node_id' when calling ConfigurationApi.delete_host_transport_node"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/host-transport-nodes/{host-transport-node-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'host-transport-node-id' + '}', host_transport_node_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?
      query_params[:'unprepare_host'] = opts[:'unprepare_host'] if !opts[:'unprepare_host'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_host_transport_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detach transport node profile from compute collection.
    # By deleting transport node collection, we are detaching the transport node profile(TNP) from the compute collection. It has no effect on existing transport nodes. However, new hosts added to the compute collection will no longer be automatically converted to NSX transport node. Detaching TNP from compute collection does not delete TNP. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param transport_node_collection_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_host_transport_node_collection(site_id, enforcementpoint_id, transport_node_collection_id, opts = {})
      delete_host_transport_node_collection_with_http_info(site_id, enforcementpoint_id, transport_node_collection_id, opts)
      nil
    end

    # Detach transport node profile from compute collection.
    # By deleting transport node collection, we are detaching the transport node profile(TNP) from the compute collection. It has no effect on existing transport nodes. However, new hosts added to the compute collection will no longer be automatically converted to NSX transport node. Detaching TNP from compute collection does not delete TNP. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param transport_node_collection_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_host_transport_node_collection_with_http_info(site_id, enforcementpoint_id, transport_node_collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_host_transport_node_collection ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.delete_host_transport_node_collection"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.delete_host_transport_node_collection"
      end
      # verify the required parameter 'transport_node_collection_id' is set
      if @api_client.config.client_side_validation && transport_node_collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_collection_id' when calling ConfigurationApi.delete_host_transport_node_collection"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/transport-node-collections/{transport-node-collection-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'transport-node-collection-id' + '}', transport_node_collection_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_host_transport_node_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Hostswitch Profile
    # Deletes a specified hostswitch profile.
    # @param host_switch_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_host_switch_profile(host_switch_profile_id, opts = {})
      delete_policy_host_switch_profile_with_http_info(host_switch_profile_id, opts)
      nil
    end

    # Delete a Hostswitch Profile
    # Deletes a specified hostswitch profile.
    # @param host_switch_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_host_switch_profile_with_http_info(host_switch_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_policy_host_switch_profile ...'
      end
      # verify the required parameter 'host_switch_profile_id' is set
      if @api_client.config.client_side_validation && host_switch_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'host_switch_profile_id' when calling ConfigurationApi.delete_policy_host_switch_profile"
      end
      # resource path
      local_var_path = '/infra/host-switch-profiles/{host-switch-profile-id}'.sub('{' + 'host-switch-profile-id' + '}', host_switch_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_policy_host_switch_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Host Transport Node Profile
    # Deletes the specified host transport node profile. A host transport node profile can be deleted only when it is not attached to any compute collection. 
    # @param transport_node_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_host_transport_node_profile(transport_node_profile_id, opts = {})
      delete_policy_host_transport_node_profile_with_http_info(transport_node_profile_id, opts)
      nil
    end

    # Delete a Host Transport Node Profile
    # Deletes the specified host transport node profile. A host transport node profile can be deleted only when it is not attached to any compute collection. 
    # @param transport_node_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_host_transport_node_profile_with_http_info(transport_node_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_policy_host_transport_node_profile ...'
      end
      # verify the required parameter 'transport_node_profile_id' is set
      if @api_client.config.client_side_validation && transport_node_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_profile_id' when calling ConfigurationApi.delete_policy_host_transport_node_profile"
      end
      # resource path
      local_var_path = '/infra/host-transport-node-profiles/{transport-node-profile-id}'.sub('{' + 'transport-node-profile-id' + '}', transport_node_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigurationApi#delete_policy_host_transport_node_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Sub-Cluster
    # Delete a Sub-Cluster. Deletion will not be allowed if sub-cluster contains discovered nodes. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param subcluster_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sub_cluster(site_id, enforcementpoint_id, subcluster_id, opts = {})
      delete_sub_cluster_with_http_info(site_id, enforcementpoint_id, subcluster_id, opts)
      nil
    end

    # Delete a Sub-Cluster
    # Delete a Sub-Cluster. Deletion will not be allowed if sub-cluster contains discovered nodes. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param subcluster_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_sub_cluster_with_http_info(site_id, enforcementpoint_id, subcluster_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigurationApi.delete_sub_cluster ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling ConfigurationApi.delete_sub_cluster"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling ConfigurationApi.delete_sub_cluster"
      end
      # verify the required parameter 'subcluster_id' is set
      if @api_client.config.client_side_validation && subcluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'subcluster_id' when calling ConfigurationApi.delete_sub_cluster"
      end
      # resource path
[...]
