=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class DistributedIDSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get IDS signature version
    # Intrusion detection system signature version. 
    # @param version_id 
    # @param [Hash] opts the optional parameters
    # @return [IdsSignatureVersion]
    def get_ids_signature_version(version_id, opts = {})
      data, _status_code, _headers = get_ids_signature_version_with_http_info(version_id, opts)
      data
    end

    # Get IDS signature version
    # Intrusion detection system signature version. 
    # @param version_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdsSignatureVersion, Fixnum, Hash)>] IdsSignatureVersion data, response status code and response headers
    def get_ids_signature_version_with_http_info(version_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DistributedIDSApi.get_ids_signature_version ...'
      end
      # verify the required parameter 'version_id' is set
      if @api_client.config.client_side_validation && version_id.nil?
        fail ArgumentError, "Missing the required parameter 'version_id' when calling DistributedIDSApi.get_ids_signature_version"
      end
      # resource path
      local_var_path = '/infra/settings/firewall/security/intrusion-services/signature-versions/{version-id}'.sub('{' + 'version-id' + '}', version_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IdsSignatureVersion')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DistributedIDSApi#get_ids_signature_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
