=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class EVPNTenantConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or Update Evpn Tenant Configuration
    # Create or update Evpn Tenant configuration. 
    # @param config_id Evpn Tenant config id
    # @param evpn_tenant_config 
    # @param [Hash] opts the optional parameters
    # @return [EvpnTenantConfig]
    def create_or_update_evpn_tenant_config(config_id, evpn_tenant_config, opts = {})
      data, _status_code, _headers = create_or_update_evpn_tenant_config_with_http_info(config_id, evpn_tenant_config, opts)
      data
    end

    # Create or Update Evpn Tenant Configuration
    # Create or update Evpn Tenant configuration. 
    # @param config_id Evpn Tenant config id
    # @param evpn_tenant_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvpnTenantConfig, Fixnum, Hash)>] EvpnTenantConfig data, response status code and response headers
    def create_or_update_evpn_tenant_config_with_http_info(config_id, evpn_tenant_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EVPNTenantConfigurationApi.create_or_update_evpn_tenant_config ...'
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling EVPNTenantConfigurationApi.create_or_update_evpn_tenant_config"
      end
      # verify the required parameter 'evpn_tenant_config' is set
      if @api_client.config.client_side_validation && evpn_tenant_config.nil?
        fail ArgumentError, "Missing the required parameter 'evpn_tenant_config' when calling EVPNTenantConfigurationApi.create_or_update_evpn_tenant_config"
      end
      # resource path
      local_var_path = '/infra/evpn-tenant-configs/{config-id}'.sub('{' + 'config-id' + '}', config_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(evpn_tenant_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvpnTenantConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EVPNTenantConfigurationApi#create_or_update_evpn_tenant_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Evpn Tenant Configuration
    # List all evpn tunnel endpoint configuration. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [EvpnTenantConfigListResult]
    def list_evpn_tenant_config(opts = {})
      data, _status_code, _headers = list_evpn_tenant_config_with_http_info(opts)
      data
    end

    # List Evpn Tenant Configuration
    # List all evpn tunnel endpoint configuration. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(EvpnTenantConfigListResult, Fixnum, Hash)>] EvpnTenantConfigListResult data, response status code and response headers
    def list_evpn_tenant_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EVPNTenantConfigurationApi.list_evpn_tenant_config ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EVPNTenantConfigurationApi.list_evpn_tenant_config, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EVPNTenantConfigurationApi.list_evpn_tenant_config, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/evpn-tenant-configs'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvpnTenantConfigListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EVPNTenantConfigurationApi#list_evpn_tenant_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update Evpn Tenant Configuration
    # Create a global evpn tenant configuration if it is not already present, otherwise update the evpn tenant configuration. 
    # @param config_id Evpn Tenant config id
    # @param evpn_tenant_config 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_evpn_tenant_config(config_id, evpn_tenant_config, opts = {})
      patch_evpn_tenant_config_with_http_info(config_id, evpn_tenant_config, opts)
      nil
    end

    # Create or Update Evpn Tenant Configuration
    # Create a global evpn tenant configuration if it is not already present, otherwise update the evpn tenant configuration. 
    # @param config_id Evpn Tenant config id
    # @param evpn_tenant_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_evpn_tenant_config_with_http_info(config_id, evpn_tenant_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EVPNTenantConfigurationApi.patch_evpn_tenant_config ...'
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling EVPNTenantConfigurationApi.patch_evpn_tenant_config"
      end
      # verify the required parameter 'evpn_tenant_config' is set
      if @api_client.config.client_side_validation && evpn_tenant_config.nil?
        fail ArgumentError, "Missing the required parameter 'evpn_tenant_config' when calling EVPNTenantConfigurationApi.patch_evpn_tenant_config"
      end
      # resource path
      local_var_path = '/infra/evpn-tenant-configs/{config-id}'.sub('{' + 'config-id' + '}', config_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(evpn_tenant_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EVPNTenantConfigurationApi#patch_evpn_tenant_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Evpn Tenant Configuration
    # Read Evpn Tenant Configuration. 
    # @param config_id config id
    # @param [Hash] opts the optional parameters
    # @return [EvpnTenantConfig]
    def read_evpn_tenant_config(config_id, opts = {})
      data, _status_code, _headers = read_evpn_tenant_config_with_http_info(config_id, opts)
      data
    end

    # Read Evpn Tenant Configuration
    # Read Evpn Tenant Configuration. 
    # @param config_id config id
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvpnTenantConfig, Fixnum, Hash)>] EvpnTenantConfig data, response status code and response headers
    def read_evpn_tenant_config_with_http_info(config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EVPNTenantConfigurationApi.read_evpn_tenant_config ...'
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling EVPNTenantConfigurationApi.read_evpn_tenant_config"
      end
      # resource path
      local_var_path = '/infra/evpn-tenant-configs/{config-id}'.sub('{' + 'config-id' + '}', config_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvpnTenantConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EVPNTenantConfigurationApi#read_evpn_tenant_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
