=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class FailureDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update a Failure Domain
    # Create or Update a failure domain. Modifiable parameters are display_name, preferred_active_edge_services flag. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param policy_failure_domain 
    # @param [Hash] opts the optional parameters
    # @return [PolicyFailureDomain]
    def create_and_update_policy_failure_domain(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts = {})
      data, _status_code, _headers = create_and_update_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts)
      data
    end

    # Update a Failure Domain
    # Create or Update a failure domain. Modifiable parameters are display_name, preferred_active_edge_services flag. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param policy_failure_domain 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFailureDomain, Fixnum, Hash)>] PolicyFailureDomain data, response status code and response headers
    def create_and_update_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FailureDomainsApi.create_and_update_policy_failure_domain ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling FailureDomainsApi.create_and_update_policy_failure_domain"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling FailureDomainsApi.create_and_update_policy_failure_domain"
      end
      # verify the required parameter 'failure_domain_id' is set
      if @api_client.config.client_side_validation && failure_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'failure_domain_id' when calling FailureDomainsApi.create_and_update_policy_failure_domain"
      end
      # verify the required parameter 'policy_failure_domain' is set
      if @api_client.config.client_side_validation && policy_failure_domain.nil?
        fail ArgumentError, "Missing the required parameter 'policy_failure_domain' when calling FailureDomainsApi.create_and_update_policy_failure_domain"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/failure-domains/{failure-domain-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'failure-domain-id' + '}', failure_domain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_failure_domain)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFailureDomain')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FailureDomainsApi#create_and_update_policy_failure_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Failure Domain
    # Deletes an existing failure domain. You can not delete system generated default failure domain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_failure_domain(site_id, enforcementpoint_id, failure_domain_id, opts = {})
      delete_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, opts)
      nil
    end

    # Delete a Failure Domain
    # Deletes an existing failure domain. You can not delete system generated default failure domain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FailureDomainsApi.delete_policy_failure_domain ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling FailureDomainsApi.delete_policy_failure_domain"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling FailureDomainsApi.delete_policy_failure_domain"
      end
      # verify the required parameter 'failure_domain_id' is set
      if @api_client.config.client_side_validation && failure_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'failure_domain_id' when calling FailureDomainsApi.delete_policy_failure_domain"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/failure-domains/{failure-domain-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'failure-domain-id' + '}', failure_domain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FailureDomainsApi#delete_policy_failure_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a Failure Domain
    # Creates a new Policy failure domain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyFailureDomain]
    def get_policy_failure_domain(site_id, enforcementpoint_id, failure_domain_id, opts = {})
      data, _status_code, _headers = get_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, opts)
      data
    end

    # Get a Failure Domain
    # Creates a new Policy failure domain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFailureDomain, Fixnum, Hash)>] PolicyFailureDomain data, response status code and response headers
    def get_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FailureDomainsApi.get_policy_failure_domain ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling FailureDomainsApi.get_policy_failure_domain"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling FailureDomainsApi.get_policy_failure_domain"
      end
      # verify the required parameter 'failure_domain_id' is set
      if @api_client.config.client_side_validation && failure_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'failure_domain_id' when calling FailureDomainsApi.get_policy_failure_domain"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/failure-domains/{failure-domain-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'failure-domain-id' + '}', failure_domain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFailureDomain')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FailureDomainsApi#get_policy_failure_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Policy Failure Domains
    # Creates a new Policy failure domain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFailureDomainListResult]
    def list_policy_failure_domain(site_id, enforcementpoint_id, opts = {})
      data, _status_code, _headers = list_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, opts)
      data
    end

    # List Policy Failure Domains
    # Creates a new Policy failure domain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFailureDomainListResult, Fixnum, Hash)>] PolicyFailureDomainListResult data, response status code and response headers
    def list_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FailureDomainsApi.list_policy_failure_domain ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling FailureDomainsApi.list_policy_failure_domain"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling FailureDomainsApi.list_policy_failure_domain"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FailureDomainsApi.list_policy_failure_domain, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FailureDomainsApi.list_policy_failure_domain, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/failure-domains'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFailureDomainListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FailureDomainsApi#list_policy_failure_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Patch a Policy FailureDomain
    # Patch a Policy FailureDomain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param policy_failure_domain 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_policy_failure_domain(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts = {})
      patch_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts)
      nil
    end

    # Patch a Policy FailureDomain
    # Patch a Policy FailureDomain. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param policy_failure_domain 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FailureDomainsApi.patch_policy_failure_domain ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling FailureDomainsApi.patch_policy_failure_domain"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling FailureDomainsApi.patch_policy_failure_domain"
      end
      # verify the required parameter 'failure_domain_id' is set
      if @api_client.config.client_side_validation && failure_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'failure_domain_id' when calling FailureDomainsApi.patch_policy_failure_domain"
      end
      # verify the required parameter 'policy_failure_domain' is set
      if @api_client.config.client_side_validation && policy_failure_domain.nil?
        fail ArgumentError, "Missing the required parameter 'policy_failure_domain' when calling FailureDomainsApi.patch_policy_failure_domain"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/failure-domains/{failure-domain-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'failure-domain-id' + '}', failure_domain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_failure_domain)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FailureDomainsApi#patch_policy_failure_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
