=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class FormFactorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get available deployment form factors for NSX Application Platform
    # Get available deployment form factors for NSX Application Platform.
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [PlatformFormFactors]
    def get_available_form_factors(site_id, opts = {})
      data, _status_code, _headers = get_available_form_factors_with_http_info(site_id, opts)
      data
    end

    # Get available deployment form factors for NSX Application Platform
    # Get available deployment form factors for NSX Application Platform.
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlatformFormFactors, Fixnum, Hash)>] PlatformFormFactors data, response status code and response headers
    def get_available_form_factors_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FormFactorsApi.get_available_form_factors ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling FormFactorsApi.get_available_form_factors"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/napp/deployment/platform/form-factors'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PlatformFormFactors')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FormFactorsApi#get_available_form_factors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List available Avi Load Balancer Controller form factors
    # Returns information about all form factors available for Avi Load Balancer Controller nodes. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :alb_major_version Major release version of Avi Load Balancer Controller for which form factor details will be returned.
    # @return [ALBControllerNodeFormFactors]
    def list_alb_controller_form_factors(opts = {})
      data, _status_code, _headers = list_alb_controller_form_factors_with_http_info(opts)
      data
    end

    # List available Avi Load Balancer Controller form factors
    # Returns information about all form factors available for Avi Load Balancer Controller nodes. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :alb_major_version Major release version of Avi Load Balancer Controller for which form factor details will be returned.
    # @return [Array<(ALBControllerNodeFormFactors, Fixnum, Hash)>] ALBControllerNodeFormFactors data, response status code and response headers
    def list_alb_controller_form_factors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FormFactorsApi.list_alb_controller_form_factors ...'
      end
      # resource path
      local_var_path = '/alb/controller-nodes/form-factors'

      # query parameters
      query_params = {}
      query_params[:'alb_major_version'] = opts[:'alb_major_version'] if !opts[:'alb_major_version'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ALBControllerNodeFormFactors')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FormFactorsApi#list_alb_controller_form_factors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
