=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class InfraApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds or updates a CA bundle
    # Adds or updates a new bundle of trusted CA certificates. The bundle must be a concatenation of one or more PEM-encoded certificates. The PEM-encoded bundle is replaced with the one provided in the request. 
    # @param cabundle_id ID of the CA bundle being updated
    # @param ca_bundle 
    # @param [Hash] opts the optional parameters
    # @return [CaBundle]
    def add_or_patch_ca_bundle(cabundle_id, ca_bundle, opts = {})
      data, _status_code, _headers = add_or_patch_ca_bundle_with_http_info(cabundle_id, ca_bundle, opts)
      data
    end

    # Adds or updates a CA bundle
    # Adds or updates a new bundle of trusted CA certificates. The bundle must be a concatenation of one or more PEM-encoded certificates. The PEM-encoded bundle is replaced with the one provided in the request. 
    # @param cabundle_id ID of the CA bundle being updated
    # @param ca_bundle 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaBundle, Fixnum, Hash)>] CaBundle data, response status code and response headers
    def add_or_patch_ca_bundle_with_http_info(cabundle_id, ca_bundle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.add_or_patch_ca_bundle ...'
      end
      # verify the required parameter 'cabundle_id' is set
      if @api_client.config.client_side_validation && cabundle_id.nil?
        fail ArgumentError, "Missing the required parameter 'cabundle_id' when calling InfraApi.add_or_patch_ca_bundle"
      end
      # verify the required parameter 'ca_bundle' is set
      if @api_client.config.client_side_validation && ca_bundle.nil?
        fail ArgumentError, "Missing the required parameter 'ca_bundle' when calling InfraApi.add_or_patch_ca_bundle"
      end
      # resource path
      local_var_path = '/infra/cabundles/{cabundle-id}'.sub('{' + 'cabundle-id' + '}', cabundle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ca_bundle)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CaBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#add_or_patch_ca_bundle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds or replaces a CA bundle
    # Adds or replaces a new bundle of trusted CA certificates. The bundle must be a concatenation of one or more PEM-encoded certificates. 
    # @param cabundle_id ID of the CA bundle being uploaded
    # @param ca_bundle 
    # @param [Hash] opts the optional parameters
    # @return [CaBundle]
    def add_or_replace_ca_bundle(cabundle_id, ca_bundle, opts = {})
      data, _status_code, _headers = add_or_replace_ca_bundle_with_http_info(cabundle_id, ca_bundle, opts)
      data
    end

    # Adds or replaces a CA bundle
    # Adds or replaces a new bundle of trusted CA certificates. The bundle must be a concatenation of one or more PEM-encoded certificates. 
    # @param cabundle_id ID of the CA bundle being uploaded
    # @param ca_bundle 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CaBundle, Fixnum, Hash)>] CaBundle data, response status code and response headers
    def add_or_replace_ca_bundle_with_http_info(cabundle_id, ca_bundle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.add_or_replace_ca_bundle ...'
      end
      # verify the required parameter 'cabundle_id' is set
      if @api_client.config.client_side_validation && cabundle_id.nil?
        fail ArgumentError, "Missing the required parameter 'cabundle_id' when calling InfraApi.add_or_replace_ca_bundle"
      end
      # verify the required parameter 'ca_bundle' is set
      if @api_client.config.client_side_validation && ca_bundle.nil?
        fail ArgumentError, "Missing the required parameter 'ca_bundle' when calling InfraApi.add_or_replace_ca_bundle"
      end
      # resource path
      local_var_path = '/infra/cabundles/{cabundle-id}'.sub('{' + 'cabundle-id' + '}', cabundle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ca_bundle)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CaBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#add_or_replace_ca_bundle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds or replaces a CA bundle
    # Adds or replaces a new bundle of trusted CA certificates. The multipart-uploaded file must be a concatenation of one or more PEM-encoded certificates. 
    # @param cabundle_id ID of the CA bundle being uploaded
    # @param file File to be uploaded
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description Description of this resource
    # @option opts [String] :display_name Identifier to use when displaying entity in logs or GUI
    # @return [CaBundle]
    def add_or_replace_ca_bundle_upload(cabundle_id, file, opts = {})
      data, _status_code, _headers = add_or_replace_ca_bundle_upload_with_http_info(cabundle_id, file, opts)
      data
    end

    # Adds or replaces a CA bundle
    # Adds or replaces a new bundle of trusted CA certificates. The multipart-uploaded file must be a concatenation of one or more PEM-encoded certificates. 
    # @param cabundle_id ID of the CA bundle being uploaded
    # @param file File to be uploaded
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description Description of this resource
    # @option opts [String] :display_name Identifier to use when displaying entity in logs or GUI
    # @return [Array<(CaBundle, Fixnum, Hash)>] CaBundle data, response status code and response headers
    def add_or_replace_ca_bundle_upload_with_http_info(cabundle_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.add_or_replace_ca_bundle_upload ...'
      end
      # verify the required parameter 'cabundle_id' is set
      if @api_client.config.client_side_validation && cabundle_id.nil?
        fail ArgumentError, "Missing the required parameter 'cabundle_id' when calling InfraApi.add_or_replace_ca_bundle_upload"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling InfraApi.add_or_replace_ca_bundle_upload"
      end
      if @api_client.config.client_side_validation && !opts[:'description'].nil? && opts[:'description'].to_s.length > 1024
        fail ArgumentError, 'invalid value for "opts[:"description"]" when calling InfraApi.add_or_replace_ca_bundle_upload, the character length must be smaller than or equal to 1024.'
      end

      if @api_client.config.client_side_validation && !opts[:'display_name'].nil? && opts[:'display_name'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"display_name"]" when calling InfraApi.add_or_replace_ca_bundle_upload, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/infra/cabundles/{cabundle-id}'.sub('{' + 'cabundle-id' + '}', cabundle_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'display_name'] = opts[:'display_name'] if !opts[:'display_name'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = file

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CaBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#add_or_replace_ca_bundle_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a New Certificate
    # Adds a new private-public certificate and, optionally, a private key that can be applied to one of the user-facing components (appliance management or edge). The certificate and the key should be stored in PEM format. If no private key is provided, the certificate is used as a client certificate in the trust store. A private key can be uploaded for a CA certificate only if the \"purpose\" parameter is set to \"signing-ca\". A certificate chain will not be expanded into separate certificate instances for reference, but would be pushed to the enforcement point as a single certificate. This PUT method does not modify an existing certificate. 
    # @param certificate_id 
    # @param tls_trust_data 
    # @param [Hash] opts the optional parameters
    # @return [TlsCertificate]
    def add_tls_certificate(certificate_id, tls_trust_data, opts = {})
      data, _status_code, _headers = add_tls_certificate_with_http_info(certificate_id, tls_trust_data, opts)
      data
    end

    # Add a New Certificate
    # Adds a new private-public certificate and, optionally, a private key that can be applied to one of the user-facing components (appliance management or edge). The certificate and the key should be stored in PEM format. If no private key is provided, the certificate is used as a client certificate in the trust store. A private key can be uploaded for a CA certificate only if the \&quot;purpose\&quot; parameter is set to \&quot;signing-ca\&quot;. A certificate chain will not be expanded into separate certificate instances for reference, but would be pushed to the enforcement point as a single certificate. This PUT method does not modify an existing certificate. 
    # @param certificate_id 
    # @param tls_trust_data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TlsCertificate, Fixnum, Hash)>] TlsCertificate data, response status code and response headers
    def add_tls_certificate_with_http_info(certificate_id, tls_trust_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.add_tls_certificate ...'
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling InfraApi.add_tls_certificate"
      end
      # verify the required parameter 'tls_trust_data' is set
      if @api_client.config.client_side_validation && tls_trust_data.nil?
        fail ArgumentError, "Missing the required parameter 'tls_trust_data' when calling InfraApi.add_tls_certificate"
      end
      # resource path
      local_var_path = '/infra/certificates/{certificate-id}'.sub('{' + 'certificate-id' + '}', certificate_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tls_trust_data)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsCertificate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#add_tls_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart the packet capture session
    # Restart the packet capture session 
    # @param session_id Packet capture session id
    # @param action Indicates which action will be taken by session conduction.
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSession]
    def control_pkt_capture_session(session_id, action, opts = {})
      data, _status_code, _headers = control_pkt_capture_session_with_http_info(session_id, action, opts)
      data
    end

    # Restart the packet capture session
    # Restart the packet capture session 
    # @param session_id Packet capture session id
    # @param action Indicates which action will be taken by session conduction.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSession, Fixnum, Hash)>] PktCaptureSession data, response status code and response headers
    def control_pkt_capture_session_with_http_info(session_id, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.control_pkt_capture_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling InfraApi.control_pkt_capture_session"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InfraApi.control_pkt_capture_session"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['restart', 'terminate'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of restart, terminate"
      end
      # resource path
      local_var_path = '/infra/pktcap/session/{session-id}'.sub('{' + 'session-id' + '}', session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#control_pkt_capture_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Failure Domain
    # Create or Update a failure domain. Modifiable parameters are display_name, preferred_active_edge_services flag. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param policy_failure_domain 
    # @param [Hash] opts the optional parameters
    # @return [PolicyFailureDomain]
    def create_and_update_policy_failure_domain(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts = {})
      data, _status_code, _headers = create_and_update_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts)
      data
    end

    # Update a Failure Domain
    # Create or Update a failure domain. Modifiable parameters are display_name, preferred_active_edge_services flag. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param failure_domain_id 
    # @param policy_failure_domain 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFailureDomain, Fixnum, Hash)>] PolicyFailureDomain data, response status code and response headers
    def create_and_update_policy_failure_domain_with_http_info(site_id, enforcementpoint_id, failure_domain_id, policy_failure_domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_and_update_policy_failure_domain ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.create_and_update_policy_failure_domain"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.create_and_update_policy_failure_domain"
      end
      # verify the required parameter 'failure_domain_id' is set
      if @api_client.config.client_side_validation && failure_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'failure_domain_id' when calling InfraApi.create_and_update_policy_failure_domain"
      end
      # verify the required parameter 'policy_failure_domain' is set
      if @api_client.config.client_side_validation && policy_failure_domain.nil?
        fail ArgumentError, "Missing the required parameter 'policy_failure_domain' when calling InfraApi.create_and_update_policy_failure_domain"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/failure-domains/{failure-domain-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'failure-domain-id' + '}', failure_domain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_failure_domain)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFailureDomain')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_and_update_policy_failure_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or patch a Reaction
    # Create or patch a Reaction under Infra. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_or_patch_infra_reaction(reaction_id, reaction, opts = {})
      create_or_patch_infra_reaction_with_http_info(reaction_id, reaction, opts)
      nil
    end

    # Create or patch a Reaction
    # Create or patch a Reaction under Infra. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_or_patch_infra_reaction_with_http_info(reaction_id, reaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_patch_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling InfraApi.create_or_patch_infra_reaction"
      end
      # verify the required parameter 'reaction' is set
      if @api_client.config.client_side_validation && reaction.nil?
        fail ArgumentError, "Missing the required parameter 'reaction' when calling InfraApi.create_or_patch_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(reaction)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_patch_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or patch a Certificate Revocation List
    # Create or patch a Certificate Revocation List for the given id. The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. The CRL must contain PEM data for a single CRL. A CRL can be in the PEM X.509 format (crl_type=X509) or JSON OneCRL (crl_type=OneCRL). If crl_type is not specified, it is auto-detected based on the presence of fields pem_encoded or one_crl. 
    # @param crl_id 
    # @param tls_crl 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_or_patch_tls_crl(crl_id, tls_crl, opts = {})
      create_or_patch_tls_crl_with_http_info(crl_id, tls_crl, opts)
      nil
    end

    # Create or patch a Certificate Revocation List
    # Create or patch a Certificate Revocation List for the given id. The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. The CRL must contain PEM data for a single CRL. A CRL can be in the PEM X.509 format (crl_type&#x3D;X509) or JSON OneCRL (crl_type&#x3D;OneCRL). If crl_type is not specified, it is auto-detected based on the presence of fields pem_encoded or one_crl. 
    # @param crl_id 
    # @param tls_crl 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_or_patch_tls_crl_with_http_info(crl_id, tls_crl, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_patch_tls_crl ...'
      end
      # verify the required parameter 'crl_id' is set
      if @api_client.config.client_side_validation && crl_id.nil?
        fail ArgumentError, "Missing the required parameter 'crl_id' when calling InfraApi.create_or_patch_tls_crl"
      end
      # verify the required parameter 'tls_crl' is set
      if @api_client.config.client_side_validation && tls_crl.nil?
        fail ArgumentError, "Missing the required parameter 'tls_crl' when calling InfraApi.create_or_patch_tls_crl"
      end
      # resource path
      local_var_path = '/infra/crls/{crl-id}'.sub('{' + 'crl-id' + '}', crl_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tls_crl)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_patch_tls_crl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace label
    # Create label if not exists, otherwise replaces the existing label. If label already exists then type attribute cannot be changed. 
    # @param label_id 
    # @param policy_label 
    # @param [Hash] opts the optional parameters
    # @return [PolicyLabel]
    def create_or_replace_policy_label_for_infra(label_id, policy_label, opts = {})
      data, _status_code, _headers = create_or_replace_policy_label_for_infra_with_http_info(label_id, policy_label, opts)
      data
    end

    # Create or replace label
    # Create label if not exists, otherwise replaces the existing label. If label already exists then type attribute cannot be changed. 
    # @param label_id 
    # @param policy_label 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyLabel, Fixnum, Hash)>] PolicyLabel data, response status code and response headers
    def create_or_replace_policy_label_for_infra_with_http_info(label_id, policy_label, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_replace_policy_label_for_infra ...'
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling InfraApi.create_or_replace_policy_label_for_infra"
      end
      # verify the required parameter 'policy_label' is set
      if @api_client.config.client_side_validation && policy_label.nil?
        fail ArgumentError, "Missing the required parameter 'policy_label' when calling InfraApi.create_or_replace_policy_label_for_infra"
      end
      # resource path
      local_var_path = '/infra/labels/{label-id}'.sub('{' + 'label-id' + '}', label_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_label)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyLabel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_replace_policy_label_for_infra\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update tenant Constraint
    # Create tenant constraint if it does not exist, otherwise replace the existing constraint. 
    # @param constraint_id 
    # @param constraint 
    # @param [Hash] opts the optional parameters
    # @return [Constraint]
    def create_or_replace_tenant_constraint(constraint_id, constraint, opts = {})
      data, _status_code, _headers = create_or_replace_tenant_constraint_with_http_info(constraint_id, constraint, opts)
      data
    end

    # Create or update tenant Constraint
    # Create tenant constraint if it does not exist, otherwise replace the existing constraint. 
    # @param constraint_id 
    # @param constraint 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Constraint, Fixnum, Hash)>] Constraint data, response status code and response headers
    def create_or_replace_tenant_constraint_with_http_info(constraint_id, constraint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_replace_tenant_constraint ...'
      end
      # verify the required parameter 'constraint_id' is set
      if @api_client.config.client_side_validation && constraint_id.nil?
        fail ArgumentError, "Missing the required parameter 'constraint_id' when calling InfraApi.create_or_replace_tenant_constraint"
      end
      # verify the required parameter 'constraint' is set
      if @api_client.config.client_side_validation && constraint.nil?
        fail ArgumentError, "Missing the required parameter 'constraint' when calling InfraApi.create_or_replace_tenant_constraint"
      end
      # resource path
      local_var_path = '/infra/constraints/{constraint-id}'.sub('{' + 'constraint-id' + '}', constraint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(constraint)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Constraint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_replace_tenant_constraint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Domain Deployment Map under infra
    # If the passed Domain Deployment Map does not already exist, create a new Domain Deployment Map. If it already exist, replace it. 
    # @param domain_id 
    # @param domain_deployment_map_id 
    # @param domain_deployment_map 
    # @param [Hash] opts the optional parameters
    # @return [DomainDeploymentMap]
    def create_or_update_domain_deployment_map_for_infra(domain_id, domain_deployment_map_id, domain_deployment_map, opts = {})
      data, _status_code, _headers = create_or_update_domain_deployment_map_for_infra_with_http_info(domain_id, domain_deployment_map_id, domain_deployment_map, opts)
      data
    end

    # Create a new Domain Deployment Map under infra
    # If the passed Domain Deployment Map does not already exist, create a new Domain Deployment Map. If it already exist, replace it. 
    # @param domain_id 
    # @param domain_deployment_map_id 
    # @param domain_deployment_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainDeploymentMap, Fixnum, Hash)>] DomainDeploymentMap data, response status code and response headers
    def create_or_update_domain_deployment_map_for_infra_with_http_info(domain_id, domain_deployment_map_id, domain_deployment_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_domain_deployment_map_for_infra ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InfraApi.create_or_update_domain_deployment_map_for_infra"
      end
      # verify the required parameter 'domain_deployment_map_id' is set
      if @api_client.config.client_side_validation && domain_deployment_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_deployment_map_id' when calling InfraApi.create_or_update_domain_deployment_map_for_infra"
      end
      # verify the required parameter 'domain_deployment_map' is set
      if @api_client.config.client_side_validation && domain_deployment_map.nil?
        fail ArgumentError, "Missing the required parameter 'domain_deployment_map' when calling InfraApi.create_or_update_domain_deployment_map_for_infra"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/domain-deployment-maps/{domain-deployment-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'domain-deployment-map-id' + '}', domain_deployment_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(domain_deployment_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DomainDeploymentMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_domain_deployment_map_for_infra\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create/update a new Enforcement Point under infra
    # If the passed Enforcement Point does not already exist, create a new Enforcement Point. If it already exists, replace it.  <br> This is a deprecated API. DeploymentZone has been renamed to Site. Use PUT /infra/sites/site-id/enforcement-points/enforcementpoint-id. 
    # @param deployment_zone_id 
    # @param enforcementpoint_id 
    # @param enforcement_point 
    # @param [Hash] opts the optional parameters
    # @return [EnforcementPoint]
    def create_or_update_enforcement_point_for_infra(deployment_zone_id, enforcementpoint_id, enforcement_point, opts = {})
      data, _status_code, _headers = create_or_update_enforcement_point_for_infra_with_http_info(deployment_zone_id, enforcementpoint_id, enforcement_point, opts)
      data
    end

    # Create/update a new Enforcement Point under infra
    # If the passed Enforcement Point does not already exist, create a new Enforcement Point. If it already exists, replace it.  &lt;br&gt; This is a deprecated API. DeploymentZone has been renamed to Site. Use PUT /infra/sites/site-id/enforcement-points/enforcementpoint-id. 
    # @param deployment_zone_id 
    # @param enforcementpoint_id 
    # @param enforcement_point 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnforcementPoint, Fixnum, Hash)>] EnforcementPoint data, response status code and response headers
    def create_or_update_enforcement_point_for_infra_with_http_info(deployment_zone_id, enforcementpoint_id, enforcement_point, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_enforcement_point_for_infra ...'
      end
      # verify the required parameter 'deployment_zone_id' is set
      if @api_client.config.client_side_validation && deployment_zone_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_zone_id' when calling InfraApi.create_or_update_enforcement_point_for_infra"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.create_or_update_enforcement_point_for_infra"
      end
      # verify the required parameter 'enforcement_point' is set
      if @api_client.config.client_side_validation && enforcement_point.nil?
        fail ArgumentError, "Missing the required parameter 'enforcement_point' when calling InfraApi.create_or_update_enforcement_point_for_infra"
      end
      # resource path
      local_var_path = '/infra/deployment-zones/{deployment-zone-id}/enforcement-points/{enforcementpoint-id}'.sub('{' + 'deployment-zone-id' + '}', deployment_zone_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(enforcement_point)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EnforcementPoint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_enforcement_point_for_infra\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create/update a new Enforcement Point under Site
    # If the passed Enforcement Point does not already exist, create a new Enforcement Point. If it already exists, replace it. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param enforcement_point 
    # @param [Hash] opts the optional parameters
    # @return [EnforcementPoint]
    def create_or_update_enforcement_point_for_site(site_id, enforcementpoint_id, enforcement_point, opts = {})
      data, _status_code, _headers = create_or_update_enforcement_point_for_site_with_http_info(site_id, enforcementpoint_id, enforcement_point, opts)
      data
    end

    # Create/update a new Enforcement Point under Site
    # If the passed Enforcement Point does not already exist, create a new Enforcement Point. If it already exists, replace it. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param enforcement_point 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnforcementPoint, Fixnum, Hash)>] EnforcementPoint data, response status code and response headers
    def create_or_update_enforcement_point_for_site_with_http_info(site_id, enforcementpoint_id, enforcement_point, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_enforcement_point_for_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.create_or_update_enforcement_point_for_site"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.create_or_update_enforcement_point_for_site"
      end
      # verify the required parameter 'enforcement_point' is set
      if @api_client.config.client_side_validation && enforcement_point.nil?
        fail ArgumentError, "Missing the required parameter 'enforcement_point' when calling InfraApi.create_or_update_enforcement_point_for_site"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(enforcement_point)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EnforcementPoint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_enforcement_point_for_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or fully replace a Reaction
    # Create or fully replace a Reaction under Infra. Revision is optional for creation and required for update. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [Reaction]
    def create_or_update_infra_reaction(reaction_id, reaction, opts = {})
      data, _status_code, _headers = create_or_update_infra_reaction_with_http_info(reaction_id, reaction, opts)
      data
    end

    # Create or fully replace a Reaction
    # Create or fully replace a Reaction under Infra. Revision is optional for creation and required for update. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reaction, Fixnum, Hash)>] Reaction data, response status code and response headers
    def create_or_update_infra_reaction_with_http_info(reaction_id, reaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling InfraApi.create_or_update_infra_reaction"
      end
      # verify the required parameter 'reaction' is set
      if @api_client.config.client_side_validation && reaction.nil?
        fail ArgumentError, "Missing the required parameter 'reaction' when calling InfraApi.create_or_update_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(reaction)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Reaction')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Or Update a Policy Edge Cluster
    # Edge Cluster only supports homogeneous members. The Edge Transport Nodes are only allowed in cluster members. DeploymentType of these edge nodes can be VIRTUAL_MACHINE or PHYSICAL_MACHINE. Any update operation on members of edge cluster is not permitted, To replace the edge transport node for an existing member, refer <b>/policy/api/v1/infra/sites/default/enforcement-points/default/edge-clusters/<edge-cluster-id> /action/replace-policy-edge-node</b> API. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param policy_edge_cluster 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEdgeCluster]
    def create_or_update_policy_edge_cluster(site_id, enforcementpoint_id, edge_cluster_id, policy_edge_cluster, opts = {})
      data, _status_code, _headers = create_or_update_policy_edge_cluster_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, policy_edge_cluster, opts)
      data
    end

    # Create Or Update a Policy Edge Cluster
    # Edge Cluster only supports homogeneous members. The Edge Transport Nodes are only allowed in cluster members. DeploymentType of these edge nodes can be VIRTUAL_MACHINE or PHYSICAL_MACHINE. Any update operation on members of edge cluster is not permitted, To replace the edge transport node for an existing member, refer &lt;b&gt;/policy/api/v1/infra/sites/default/enforcement-points/default/edge-clusters/&lt;edge-cluster-id&gt; /action/replace-policy-edge-node&lt;/b&gt; API. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param policy_edge_cluster 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEdgeCluster, Fixnum, Hash)>] PolicyEdgeCluster data, response status code and response headers
    def create_or_update_policy_edge_cluster_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, policy_edge_cluster, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_policy_edge_cluster ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.create_or_update_policy_edge_cluster"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.create_or_update_policy_edge_cluster"
      end
      # verify the required parameter 'edge_cluster_id' is set
      if @api_client.config.client_side_validation && edge_cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_cluster_id' when calling InfraApi.create_or_update_policy_edge_cluster"
      end
      # verify the required parameter 'policy_edge_cluster' is set
      if @api_client.config.client_side_validation && policy_edge_cluster.nil?
        fail ArgumentError, "Missing the required parameter 'policy_edge_cluster' when calling InfraApi.create_or_update_policy_edge_cluster"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-clusters/{edge-cluster-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-cluster-id' + '}', edge_cluster_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_edge_cluster)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyEdgeCluster')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_policy_edge_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update a Policy Edge Cluster High Availability Profile
    # Create or Update a policy edge cluster high availability profile. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_high_availability_profile_id 
    # @param policy_edge_high_availability_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEdgeHighAvailabilityProfile]
    def create_or_update_policy_edge_cluster_high_availability_profile(site_id, enforcementpoint_id, edge_cluster_high_availability_profile_id, policy_edge_high_availability_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_edge_cluster_high_availability_profile_with_http_info(site_id, enforcementpoint_id, edge_cluster_high_availability_profile_id, policy_edge_high_availability_profile, opts)
      data
    end

    # Create or Update a Policy Edge Cluster High Availability Profile
    # Create or Update a policy edge cluster high availability profile. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_high_availability_profile_id 
    # @param policy_edge_high_availability_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEdgeHighAvailabilityProfile, Fixnum, Hash)>] PolicyEdgeHighAvailabilityProfile data, response status code and response headers
    def create_or_update_policy_edge_cluster_high_availability_profile_with_http_info(site_id, enforcementpoint_id, edge_cluster_high_availability_profile_id, policy_edge_high_availability_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_policy_edge_cluster_high_availability_profile ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.create_or_update_policy_edge_cluster_high_availability_profile"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.create_or_update_policy_edge_cluster_high_availability_profile"
      end
      # verify the required parameter 'edge_cluster_high_availability_profile_id' is set
      if @api_client.config.client_side_validation && edge_cluster_high_availability_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_cluster_high_availability_profile_id' when calling InfraApi.create_or_update_policy_edge_cluster_high_availability_profile"
      end
      # verify the required parameter 'policy_edge_high_availability_profile' is set
      if @api_client.config.client_side_validation && policy_edge_high_availability_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_edge_high_availability_profile' when calling InfraApi.create_or_update_policy_edge_cluster_high_availability_profile"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-cluster-high-availability-profiles/{edge-cluster-high-availability-profile-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-cluster-high-availability-profile-id' + '}', edge_cluster_high_availability_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_edge_high_availability_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyEdgeHighAvailabilityProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_policy_edge_cluster_high_availability_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a LCM Edge Transport Node under Enforcement Point
    # If the passed Edge Transport Node does not already exist, create a new Edge Transport Node. If it already exists, update it. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_transport_node_id 
    # @param policy_edge_transport_node 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEdgeTransportNode]
    def create_or_update_policy_edge_transport_node(site_id, enforcementpoint_id, edge_transport_node_id, policy_edge_transport_node, opts = {})
      data, _status_code, _headers = create_or_update_policy_edge_transport_node_with_http_info(site_id, enforcementpoint_id, edge_transport_node_id, policy_edge_transport_node, opts)
      data
    end

    # Create or update a LCM Edge Transport Node under Enforcement Point
    # If the passed Edge Transport Node does not already exist, create a new Edge Transport Node. If it already exists, update it. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_transport_node_id 
    # @param policy_edge_transport_node 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEdgeTransportNode, Fixnum, Hash)>] PolicyEdgeTransportNode data, response status code and response headers
    def create_or_update_policy_edge_transport_node_with_http_info(site_id, enforcementpoint_id, edge_transport_node_id, policy_edge_transport_node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_policy_edge_transport_node ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.create_or_update_policy_edge_transport_node"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.create_or_update_policy_edge_transport_node"
      end
      # verify the required parameter 'edge_transport_node_id' is set
      if @api_client.config.client_side_validation && edge_transport_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_transport_node_id' when calling InfraApi.create_or_update_policy_edge_transport_node"
      end
      # verify the required parameter 'policy_edge_transport_node' is set
      if @api_client.config.client_side_validation && policy_edge_transport_node.nil?
        fail ArgumentError, "Missing the required parameter 'policy_edge_transport_node' when calling InfraApi.create_or_update_policy_edge_transport_node"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-transport-nodes/{edge-transport-node-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-transport-node-id' + '}', edge_transport_node_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_edge_transport_node)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyEdgeTransportNode')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_policy_edge_transport_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or fully replace a Certificate Revocation List
    # Create or replace a Certificate Revocation List for the given id. The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. The CRL must contain PEM data for a single CRL. Revision is required. A CRL can be in the PEM X.509 format (crl_type=X509) or JSON OneCRL (crl_type=OneCRL). If crl_type is not specified, it is auto-detected based on the presence of fields pem_encoded or one_crl. 
    # @param crl_id 
    # @param tls_crl 
    # @param [Hash] opts the optional parameters
    # @return [TlsCrl]
    def create_or_update_tls_crl(crl_id, tls_crl, opts = {})
      data, _status_code, _headers = create_or_update_tls_crl_with_http_info(crl_id, tls_crl, opts)
      data
    end

    # Create or fully replace a Certificate Revocation List
    # Create or replace a Certificate Revocation List for the given id. The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. The CRL must contain PEM data for a single CRL. Revision is required. A CRL can be in the PEM X.509 format (crl_type&#x3D;X509) or JSON OneCRL (crl_type&#x3D;OneCRL). If crl_type is not specified, it is auto-detected based on the presence of fields pem_encoded or one_crl. 
    # @param crl_id 
    # @param tls_crl 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TlsCrl, Fixnum, Hash)>] TlsCrl data, response status code and response headers
    def create_or_update_tls_crl_with_http_info(crl_id, tls_crl, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_or_update_tls_crl ...'
      end
      # verify the required parameter 'crl_id' is set
      if @api_client.config.client_side_validation && crl_id.nil?
        fail ArgumentError, "Missing the required parameter 'crl_id' when calling InfraApi.create_or_update_tls_crl"
      end
      # verify the required parameter 'tls_crl' is set
      if @api_client.config.client_side_validation && tls_crl.nil?
        fail ArgumentError, "Missing the required parameter 'tls_crl' when calling InfraApi.create_or_update_tls_crl"
      end
      # resource path
      local_var_path = '/infra/crls/{crl-id}'.sub('{' + 'crl-id' + '}', crl_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tls_crl)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsCrl')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_or_update_tls_crl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an new packet capture session
    # Create an new packet capture session on given node with specified options 
    # @param pkt_capture_request 
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSession]
    def create_pkt_capture_session(pkt_capture_request, opts = {})
      data, _status_code, _headers = create_pkt_capture_session_with_http_info(pkt_capture_request, opts)
      data
    end

    # Create an new packet capture session
    # Create an new packet capture session on given node with specified options 
    # @param pkt_capture_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSession, Fixnum, Hash)>] PktCaptureSession data, response status code and response headers
    def create_pkt_capture_session_with_http_info(pkt_capture_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_pkt_capture_session ...'
      end
      # verify the required parameter 'pkt_capture_request' is set
      if @api_client.config.client_side_validation && pkt_capture_request.nil?
        fail ArgumentError, "Missing the required parameter 'pkt_capture_request' when calling InfraApi.create_pkt_capture_session"
      end
      # resource path
      local_var_path = '/infra/pktcap/session'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(pkt_capture_request)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_pkt_capture_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Certificate Revocation List
    # Adds a new certificate revocation list (CRLs). The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. A CRL can be in the PEM X.509 format (crl_type=X509) or JSON OneCRL (crl_type=OneCRL). If crl_type is not specified, it is auto-detected based on the presence of fields pem_encoded or one_crl. An X.509 CRL can contain a single CRL or multiple CRLs depending on the PEM data. - Single CRL: a single CRL is created with the given id. - Composite CRL: multiple CRLs are generated. Each of the CRL is created with an id generated based on the given id. First CRL is created with crl-id, second with crl-id-1, third with crl-id-2, etc. 
    # @param crl_id 
    # @param tls_crl 
    # @param [Hash] opts the optional parameters
    # @return [TlsCrlListResult]
    def create_tls_crl(crl_id, tls_crl, opts = {})
      data, _status_code, _headers = create_tls_crl_with_http_info(crl_id, tls_crl, opts)
      data
    end

    # Create a new Certificate Revocation List
    # Adds a new certificate revocation list (CRLs). The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. A CRL can be in the PEM X.509 format (crl_type&#x3D;X509) or JSON OneCRL (crl_type&#x3D;OneCRL). If crl_type is not specified, it is auto-detected based on the presence of fields pem_encoded or one_crl. An X.509 CRL can contain a single CRL or multiple CRLs depending on the PEM data. - Single CRL: a single CRL is created with the given id. - Composite CRL: multiple CRLs are generated. Each of the CRL is created with an id generated based on the given id. First CRL is created with crl-id, second with crl-id-1, third with crl-id-2, etc. 
    # @param crl_id 
    # @param tls_crl 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TlsCrlListResult, Fixnum, Hash)>] TlsCrlListResult data, response status code and response headers
    def create_tls_crl_with_http_info(crl_id, tls_crl, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.create_tls_crl ...'
      end
      # verify the required parameter 'crl_id' is set
      if @api_client.config.client_side_validation && crl_id.nil?
        fail ArgumentError, "Missing the required parameter 'crl_id' when calling InfraApi.create_tls_crl"
      end
      # verify the required parameter 'tls_crl' is set
      if @api_client.config.client_side_validation && tls_crl.nil?
        fail ArgumentError, "Missing the required parameter 'tls_crl' when calling InfraApi.create_tls_crl"
      end
      # resource path
      local_var_path = '/infra/crls/{crl-id}?action=import'.sub('{' + 'crl-id' + '}', crl_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tls_crl)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsCrlListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#create_tls_crl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete all the packet capture sessions
    # Delete all the packet capture sessions. 
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSessionList]
    def delete_all_pkt_capture_sessions(opts = {})
      data, _status_code, _headers = delete_all_pkt_capture_sessions_with_http_info(opts)
      data
    end

    # Delete all the packet capture sessions
    # Delete all the packet capture sessions. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSessionList, Fixnum, Hash)>] PktCaptureSessionList data, response status code and response headers
    def delete_all_pkt_capture_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_all_pkt_capture_sessions ...'
      end
      # resource path
      local_var_path = '/infra/pktcap/sessions'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSessionList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_all_pkt_capture_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes CA bundle
    # Deletes the specified bundle of trusted CA certificates. 
    # @param cabundle_id ID of the CA bundle to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ca_bundle(cabundle_id, opts = {})
      delete_ca_bundle_with_http_info(cabundle_id, opts)
      nil
    end

    # Deletes CA bundle
    # Deletes the specified bundle of trusted CA certificates. 
    # @param cabundle_id ID of the CA bundle to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ca_bundle_with_http_info(cabundle_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_ca_bundle ...'
      end
      # verify the required parameter 'cabundle_id' is set
      if @api_client.config.client_side_validation && cabundle_id.nil?
        fail ArgumentError, "Missing the required parameter 'cabundle_id' when calling InfraApi.delete_ca_bundle"
      end
      # resource path
      local_var_path = '/infra/cabundles/{cabundle-id}'.sub('{' + 'cabundle-id' + '}', cabundle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_ca_bundle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Domain and all the entities contained by this domain
    # Delete the domain along with all the entities contained by this domain. The groups that are a part of this domain are also deleted along with the domain. 
    # @param domain_id Domain ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_domain(domain_id, opts = {})
      delete_domain_with_http_info(domain_id, opts)
      nil
    end

    # Delete Domain and all the entities contained by this domain
    # Delete the domain along with all the entities contained by this domain. The groups that are a part of this domain are also deleted along with the domain. 
    # @param domain_id Domain ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_domain_with_http_info(domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_domain ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InfraApi.delete_domain"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Domain Deployment Map
    # Delete Domain Deployment Map
    # @param domain_id 
    # @param domain_deployment_map_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_domain_deployment_map(domain_id, domain_deployment_map_id, opts = {})
      delete_domain_deployment_map_with_http_info(domain_id, domain_deployment_map_id, opts)
      nil
    end

    # Delete Domain Deployment Map
    # Delete Domain Deployment Map
    # @param domain_id 
    # @param domain_deployment_map_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_domain_deployment_map_with_http_info(domain_id, domain_deployment_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_domain_deployment_map ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InfraApi.delete_domain_deployment_map"
      end
      # verify the required parameter 'domain_deployment_map_id' is set
      if @api_client.config.client_side_validation && domain_deployment_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_deployment_map_id' when calling InfraApi.delete_domain_deployment_map"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/domain-deployment-maps/{domain-deployment-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'domain-deployment-map-id' + '}', domain_deployment_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_domain_deployment_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete EnforcementPoint
    # Delete EnforcementPoint.  <br> This is a deprecated API. DeploymentZone has been renamed to Site. Use DELETE /infra/sites/site-id/enforcement-points/enforcementpoint-id. 
    # @param deployment_zone_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_enforcement_point(deployment_zone_id, enforcementpoint_id, opts = {})
      delete_enforcement_point_with_http_info(deployment_zone_id, enforcementpoint_id, opts)
      nil
    end

    # Delete EnforcementPoint
    # Delete EnforcementPoint.  &lt;br&gt; This is a deprecated API. DeploymentZone has been renamed to Site. Use DELETE /infra/sites/site-id/enforcement-points/enforcementpoint-id. 
    # @param deployment_zone_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_enforcement_point_with_http_info(deployment_zone_id, enforcementpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_enforcement_point ...'
      end
      # verify the required parameter 'deployment_zone_id' is set
      if @api_client.config.client_side_validation && deployment_zone_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_zone_id' when calling InfraApi.delete_enforcement_point"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.delete_enforcement_point"
      end
      # resource path
      local_var_path = '/infra/deployment-zones/{deployment-zone-id}/enforcement-points/{enforcementpoint-id}'.sub('{' + 'deployment-zone-id' + '}', deployment_zone_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_enforcement_point\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete EnforcementPoint from Site
    # Delete EnforcementPoint from Site
    # @param site_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_enforcement_point_for_site(site_id, enforcementpoint_id, opts = {})
      delete_enforcement_point_for_site_with_http_info(site_id, enforcementpoint_id, opts)
      nil
    end

    # Delete EnforcementPoint from Site
    # Delete EnforcementPoint from Site
    # @param site_id 
    # @param enforcementpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_enforcement_point_for_site_with_http_info(site_id, enforcementpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_enforcement_point_for_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.delete_enforcement_point_for_site"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.delete_enforcement_point_for_site"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_enforcement_point_for_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Reaction
    # Delete a Reaction under Infra. 
    # @param reaction_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_reaction(reaction_id, opts = {})
      delete_infra_reaction_with_http_info(reaction_id, opts)
      nil
    end

    # Delete Reaction
    # Delete a Reaction under Infra. 
    # @param reaction_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_reaction_with_http_info(reaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling InfraApi.delete_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the packet capture session by session id.
    # Before calling this method, terminate any running capture session. 
    # @param session_id Packet capture session id
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSession]
    def delete_pkt_capture_session(session_id, opts = {})
      data, _status_code, _headers = delete_pkt_capture_session_with_http_info(session_id, opts)
      data
    end

    # Delete the packet capture session by session id.
    # Before calling this method, terminate any running capture session. 
    # @param session_id Packet capture session id
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSession, Fixnum, Hash)>] PktCaptureSession data, response status code and response headers
    def delete_pkt_capture_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_pkt_capture_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling InfraApi.delete_pkt_capture_session"
      end
      # resource path
      local_var_path = '/infra/pktcap/session/{session-id}'.sub('{' + 'session-id' + '}', session_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_pkt_capture_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the specified edge cluster.
    # Delete the specified edge cluster. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :delete_member_edge_nodes Flag to specify whether to delete edge transport nodes within edge cluster.  (default to false)
    # @return [nil]
    def delete_policy_edge_cluster(site_id, enforcementpoint_id, edge_cluster_id, opts = {})
      delete_policy_edge_cluster_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, opts)
      nil
    end

    # Delete the specified edge cluster.
    # Delete the specified edge cluster. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :delete_member_edge_nodes Flag to specify whether to delete edge transport nodes within edge cluster. 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_edge_cluster_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_policy_edge_cluster ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.delete_policy_edge_cluster"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.delete_policy_edge_cluster"
      end
      # verify the required parameter 'edge_cluster_id' is set
      if @api_client.config.client_side_validation && edge_cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_cluster_id' when calling InfraApi.delete_policy_edge_cluster"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-clusters/{edge-cluster-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-cluster-id' + '}', edge_cluster_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'delete_member_edge_nodes'] = opts[:'delete_member_edge_nodes'] if !opts[:'delete_member_edge_nodes'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_policy_edge_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Policy Edge Cluster High Availability Profile
    # Delete a policy edge cluster high availability profile. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_high_availability_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_edge_cluster_high_availability_profile(site_id, enforcementpoint_id, edge_cluster_high_availability_profile_id, opts = {})
      delete_policy_edge_cluster_high_availability_profile_with_http_info(site_id, enforcementpoint_id, edge_cluster_high_availability_profile_id, opts)
      nil
    end

    # Delete a Policy Edge Cluster High Availability Profile
    # Delete a policy edge cluster high availability profile. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_high_availability_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_edge_cluster_high_availability_profile_with_http_info(site_id, enforcementpoint_id, edge_cluster_high_availability_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_policy_edge_cluster_high_availability_profile ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.delete_policy_edge_cluster_high_availability_profile"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.delete_policy_edge_cluster_high_availability_profile"
      end
      # verify the required parameter 'edge_cluster_high_availability_profile_id' is set
      if @api_client.config.client_side_validation && edge_cluster_high_availability_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_cluster_high_availability_profile_id' when calling InfraApi.delete_policy_edge_cluster_high_availability_profile"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-cluster-high-availability-profiles/{edge-cluster-high-availability-profile-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-cluster-high-availability-profile-id' + '}', edge_cluster_high_availability_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfraApi#delete_policy_edge_cluster_high_availability_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Edge Transport Node
    # Delete Edge Transport Node. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_transport_node_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_edge_transport_node(site_id, enforcementpoint_id, edge_transport_node_id, opts = {})
      delete_policy_edge_transport_node_with_http_info(site_id, enforcementpoint_id, edge_transport_node_id, opts)
      nil
    end

    # Delete Edge Transport Node
    # Delete Edge Transport Node. 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_transport_node_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_edge_transport_node_with_http_info(site_id, enforcementpoint_id, edge_transport_node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfraApi.delete_policy_edge_transport_node ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling InfraApi.delete_policy_edge_transport_node"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling InfraApi.delete_policy_edge_transport_node"
      end
      # verify the required parameter 'edge_transport_node_id' is set
      if @api_client.config.client_side_validation && edge_transport_node_id.nil?
[...]
