=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class InterfaceGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Tier-0 Interface group
    # Delete Tier-0 Interface group
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_interface_group(tier_0_id, locale_service_id, label_id, opts = {})
      delete_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, opts)
      nil
    end

    # Delete Tier-0 Interface group
    # Delete Tier-0 Interface group
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.delete_tier0_interface_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterfaceGroupsApi.delete_tier0_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.delete_tier0_interface_group"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling InterfaceGroupsApi.delete_tier0_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/interface-groups/{label-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'label-id' + '}', label_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#delete_tier0_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Tier-1 Interface group
    # Delete Tier-1 Interface group
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier1_interface_group(tier_1_id, locale_service_id, group_id, opts = {})
      delete_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, opts)
      nil
    end

    # Delete Tier-1 Interface group
    # Delete Tier-1 Interface group
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.delete_tier1_interface_group ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.delete_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.delete_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.delete_tier1_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#delete_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Tier-0 Interface groups
    # Paginated list of all Tier-0 Interface groups under locale service. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Tier0InterfaceGroupListResult]
    def list_tier0_interface_group(tier_0_id, locale_service_id, opts = {})
      data, _status_code, _headers = list_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, opts)
      data
    end

    # List Tier-0 Interface groups
    # Paginated list of all Tier-0 Interface groups under locale service. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(Tier0InterfaceGroupListResult, Fixnum, Hash)>] Tier0InterfaceGroupListResult data, response status code and response headers
    def list_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.list_tier0_interface_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterfaceGroupsApi.list_tier0_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.list_tier0_interface_group"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterfaceGroupsApi.list_tier0_interface_group, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterfaceGroupsApi.list_tier0_interface_group, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/interface-groups'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0InterfaceGroupListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#list_tier0_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Tier-1 Interface groups
    # Paginated list of all Tier-1 Interface groups under locale service. 
    # @param tier_1_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Tier1InterfaceGroupListResult]
    def list_tier1_interface_group(tier_1_id, locale_service_id, opts = {})
      data, _status_code, _headers = list_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, opts)
      data
    end

    # List Tier-1 Interface groups
    # Paginated list of all Tier-1 Interface groups under locale service. 
    # @param tier_1_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(Tier1InterfaceGroupListResult, Fixnum, Hash)>] Tier1InterfaceGroupListResult data, response status code and response headers
    def list_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.list_tier1_interface_group ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.list_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.list_tier1_interface_group"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterfaceGroupsApi.list_tier1_interface_group, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterfaceGroupsApi.list_tier1_interface_group, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier1InterfaceGroupListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#list_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Tier-1 Interface group
    # Delete Tier-1 Interface group
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def orgs_org_id_projects_project_id_infra_delete_tier1_interface_group(org_id, project_id, tier_1_id, locale_service_id, group_id, opts = {})
      orgs_org_id_projects_project_id_infra_delete_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, opts)
      nil
    end

    # Delete Tier-1 Interface group
    # Delete Tier-1 Interface group
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def orgs_org_id_projects_project_id_infra_delete_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_delete_tier1_interface_group ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_delete_tier1_interface_group"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_delete_tier1_interface_group"
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_delete_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_delete_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_delete_tier1_interface_group"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#orgs_org_id_projects_project_id_infra_delete_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Tier-1 Interface groups
    # Paginated list of all Tier-1 Interface groups under locale service. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Tier1InterfaceGroupListResult]
    def orgs_org_id_projects_project_id_infra_list_tier1_interface_group(org_id, project_id, tier_1_id, locale_service_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_list_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, opts)
      data
    end

    # List Tier-1 Interface groups
    # Paginated list of all Tier-1 Interface groups under locale service. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(Tier1InterfaceGroupListResult, Fixnum, Hash)>] Tier1InterfaceGroupListResult data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_list_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group"
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_list_tier1_interface_group, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier1InterfaceGroupListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#orgs_org_id_projects_project_id_infra_list_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-1 Interface group.
    # If an Interface group with the label-id is not already present, create a new Interface group. If it already exists, update the Interface group for specified attributes. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def orgs_org_id_projects_project_id_infra_patch_tier1_interface_group(org_id, project_id, tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      orgs_org_id_projects_project_id_infra_patch_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, tier1_interface_group, opts)
      nil
    end

    # Create or update a Tier-1 Interface group.
    # If an Interface group with the label-id is not already present, create a new Interface group. If it already exists, update the Interface group for specified attributes. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def orgs_org_id_projects_project_id_infra_patch_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group"
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group"
      end
      # verify the required parameter 'tier1_interface_group' is set
      if @api_client.config.client_side_validation && tier1_interface_group.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_interface_group' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_patch_tier1_interface_group"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier1_interface_group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#orgs_org_id_projects_project_id_infra_patch_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Tier-1 Interface group
    # Read Tier-1 Interface group
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Tier1InterfaceGroup]
    def orgs_org_id_projects_project_id_infra_read_tier1_interface_group(org_id, project_id, tier_1_id, locale_service_id, group_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_read_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, opts)
      data
    end

    # Read Tier-1 Interface group
    # Read Tier-1 Interface group
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier1InterfaceGroup, Fixnum, Hash)>] Tier1InterfaceGroup data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_read_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_read_tier1_interface_group ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_read_tier1_interface_group"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_read_tier1_interface_group"
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_read_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_read_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_read_tier1_interface_group"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier1InterfaceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#orgs_org_id_projects_project_id_infra_read_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Tier-1 Interface group.
    # Update the Interface group for specified attributes. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Tier1InterfaceGroup]
    def orgs_org_id_projects_project_id_infra_update_tier1_interface_group(org_id, project_id, tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_update_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, tier1_interface_group, opts)
      data
    end

    # Update a Tier-1 Interface group.
    # Update the Interface group for specified attributes. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier1InterfaceGroup, Fixnum, Hash)>] Tier1InterfaceGroup data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_update_tier1_interface_group_with_http_info(org_id, project_id, tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group"
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group"
      end
      # verify the required parameter 'tier1_interface_group' is set
      if @api_client.config.client_side_validation && tier1_interface_group.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_interface_group' when calling InterfaceGroupsApi.orgs_org_id_projects_project_id_infra_update_tier1_interface_group"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier1_interface_group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier1InterfaceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#orgs_org_id_projects_project_id_infra_update_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0 Interface group.
    # If an Interface group with the label-id is not already present, create a new Interface group. If it already exists, update the Interface group for specified attributes. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param tier0_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_tier0_interface_group(tier_0_id, locale_service_id, label_id, tier0_interface_group, opts = {})
      patch_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, tier0_interface_group, opts)
      nil
    end

    # Create or update a Tier-0 Interface group.
    # If an Interface group with the label-id is not already present, create a new Interface group. If it already exists, update the Interface group for specified attributes. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param tier0_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, tier0_interface_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.patch_tier0_interface_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterfaceGroupsApi.patch_tier0_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.patch_tier0_interface_group"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling InterfaceGroupsApi.patch_tier0_interface_group"
      end
      # verify the required parameter 'tier0_interface_group' is set
      if @api_client.config.client_side_validation && tier0_interface_group.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_interface_group' when calling InterfaceGroupsApi.patch_tier0_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/interface-groups/{label-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'label-id' + '}', label_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0_interface_group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#patch_tier0_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-1 Interface group.
    # If an Interface group with the label-id is not already present, create a new Interface group. If it already exists, update the Interface group for specified attributes. 
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_tier1_interface_group(tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      patch_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, tier1_interface_group, opts)
      nil
    end

    # Create or update a Tier-1 Interface group.
    # If an Interface group with the label-id is not already present, create a new Interface group. If it already exists, update the Interface group for specified attributes. 
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.patch_tier1_interface_group ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.patch_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.patch_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.patch_tier1_interface_group"
      end
      # verify the required parameter 'tier1_interface_group' is set
      if @api_client.config.client_side_validation && tier1_interface_group.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_interface_group' when calling InterfaceGroupsApi.patch_tier1_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier1_interface_group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#patch_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Tier-0 Interface group
    # Read Tier-0 Interface group
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param [Hash] opts the optional parameters
    # @return [Tier0InterfaceGroup]
    def read_tier0_interface_group(tier_0_id, locale_service_id, label_id, opts = {})
      data, _status_code, _headers = read_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, opts)
      data
    end

    # Read Tier-0 Interface group
    # Read Tier-0 Interface group
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0InterfaceGroup, Fixnum, Hash)>] Tier0InterfaceGroup data, response status code and response headers
    def read_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.read_tier0_interface_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterfaceGroupsApi.read_tier0_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.read_tier0_interface_group"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling InterfaceGroupsApi.read_tier0_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/interface-groups/{label-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'label-id' + '}', label_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0InterfaceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#read_tier0_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Tier-1 Interface group
    # Read Tier-1 Interface group
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Tier1InterfaceGroup]
    def read_tier1_interface_group(tier_1_id, locale_service_id, group_id, opts = {})
      data, _status_code, _headers = read_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, opts)
      data
    end

    # Read Tier-1 Interface group
    # Read Tier-1 Interface group
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier1InterfaceGroup, Fixnum, Hash)>] Tier1InterfaceGroup data, response status code and response headers
    def read_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.read_tier1_interface_group ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.read_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.read_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.read_tier1_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier1InterfaceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#read_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Tier-0 Interface group.
    # Update the Interface group for specified attributes. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param tier0_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Tier0InterfaceGroup]
    def update_tier0_interface_group(tier_0_id, locale_service_id, label_id, tier0_interface_group, opts = {})
      data, _status_code, _headers = update_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, tier0_interface_group, opts)
      data
    end

    # Update a Tier-0 Interface group.
    # Update the Interface group for specified attributes. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param label_id 
    # @param tier0_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0InterfaceGroup, Fixnum, Hash)>] Tier0InterfaceGroup data, response status code and response headers
    def update_tier0_interface_group_with_http_info(tier_0_id, locale_service_id, label_id, tier0_interface_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.update_tier0_interface_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterfaceGroupsApi.update_tier0_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.update_tier0_interface_group"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling InterfaceGroupsApi.update_tier0_interface_group"
      end
      # verify the required parameter 'tier0_interface_group' is set
      if @api_client.config.client_side_validation && tier0_interface_group.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_interface_group' when calling InterfaceGroupsApi.update_tier0_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/interface-groups/{label-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'label-id' + '}', label_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0_interface_group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0InterfaceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#update_tier0_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Tier-1 Interface group.
    # Update the Interface group for specified attributes. 
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Tier1InterfaceGroup]
    def update_tier1_interface_group(tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      data, _status_code, _headers = update_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, tier1_interface_group, opts)
      data
    end

    # Update a Tier-1 Interface group.
    # Update the Interface group for specified attributes. 
    # @param tier_1_id 
    # @param locale_service_id 
    # @param group_id 
    # @param tier1_interface_group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier1InterfaceGroup, Fixnum, Hash)>] Tier1InterfaceGroup data, response status code and response headers
    def update_tier1_interface_group_with_http_info(tier_1_id, locale_service_id, group_id, tier1_interface_group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterfaceGroupsApi.update_tier1_interface_group ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling InterfaceGroupsApi.update_tier1_interface_group"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling InterfaceGroupsApi.update_tier1_interface_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InterfaceGroupsApi.update_tier1_interface_group"
      end
      # verify the required parameter 'tier1_interface_group' is set
      if @api_client.config.client_side_validation && tier1_interface_group.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_interface_group' when calling InterfaceGroupsApi.update_tier1_interface_group"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/locale-services/{locale-service-id}/interface-groups/{group-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier1_interface_group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier1InterfaceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterfaceGroupsApi#update_tier1_interface_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
