=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class InterVrfRoutingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete inter-vrf routing config
    # Delete inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_inter_vrf_routing_config(tier_0_id, inter_vrf_routing_id, opts = {})
      delete_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, opts)
      nil
    end

    # Delete inter-vrf routing config
    # Delete inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterVrfRoutingApi.delete_policy_inter_vrf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterVrfRoutingApi.delete_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling InterVrfRoutingApi.delete_policy_inter_vrf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterVrfRoutingApi#delete_policy_inter_vrf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List inter-vrf routing configurations
    # List all inter-vrf routing configurations.
    # @param tier_0_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyInterVrfRoutingConfigListResult]
    def list_policy_inter_vrf_routing_config(tier_0_id, opts = {})
      data, _status_code, _headers = list_policy_inter_vrf_routing_config_with_http_info(tier_0_id, opts)
      data
    end

    # List inter-vrf routing configurations
    # List all inter-vrf routing configurations.
    # @param tier_0_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyInterVrfRoutingConfigListResult, Fixnum, Hash)>] PolicyInterVrfRoutingConfigListResult data, response status code and response headers
    def list_policy_inter_vrf_routing_config_with_http_info(tier_0_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterVrfRoutingApi.list_policy_inter_vrf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterVrfRoutingApi.list_policy_inter_vrf_routing_config"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterVrfRoutingApi.list_policy_inter_vrf_routing_config, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InterVrfRoutingApi.list_policy_inter_vrf_routing_config, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyInterVrfRoutingConfigListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterVrfRoutingApi#list_policy_inter_vrf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update inter-vrf routing config
    # Create or update inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param policy_inter_vrf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_policy_inter_vrf_routing_config(tier_0_id, inter_vrf_routing_id, policy_inter_vrf_routing_config, opts = {})
      patch_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, policy_inter_vrf_routing_config, opts)
      nil
    end

    # Create or update inter-vrf routing config
    # Create or update inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param policy_inter_vrf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, policy_inter_vrf_routing_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterVrfRoutingApi.patch_policy_inter_vrf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterVrfRoutingApi.patch_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling InterVrfRoutingApi.patch_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'policy_inter_vrf_routing_config' is set
      if @api_client.config.client_side_validation && policy_inter_vrf_routing_config.nil?
        fail ArgumentError, "Missing the required parameter 'policy_inter_vrf_routing_config' when calling InterVrfRoutingApi.patch_policy_inter_vrf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_inter_vrf_routing_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterVrfRoutingApi#patch_policy_inter_vrf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read inter-vrf routing config
    # Read inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyInterVrfRoutingConfig]
    def read_policy_inter_vrf_routing_config(tier_0_id, inter_vrf_routing_id, opts = {})
      data, _status_code, _headers = read_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, opts)
      data
    end

    # Read inter-vrf routing config
    # Read inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyInterVrfRoutingConfig, Fixnum, Hash)>] PolicyInterVrfRoutingConfig data, response status code and response headers
    def read_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterVrfRoutingApi.read_policy_inter_vrf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterVrfRoutingApi.read_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling InterVrfRoutingApi.read_policy_inter_vrf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyInterVrfRoutingConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterVrfRoutingApi#read_policy_inter_vrf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update inter-vrf routing config
    # Create or update inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param policy_inter_vrf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [PolicyInterVrfRoutingConfig]
    def update_policy_inter_vrf_routing_config(tier_0_id, inter_vrf_routing_id, policy_inter_vrf_routing_config, opts = {})
      data, _status_code, _headers = update_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, policy_inter_vrf_routing_config, opts)
      data
    end

    # Create or update inter-vrf routing config
    # Create or update inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param policy_inter_vrf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyInterVrfRoutingConfig, Fixnum, Hash)>] PolicyInterVrfRoutingConfig data, response status code and response headers
    def update_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, policy_inter_vrf_routing_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InterVrfRoutingApi.update_policy_inter_vrf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InterVrfRoutingApi.update_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling InterVrfRoutingApi.update_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'policy_inter_vrf_routing_config' is set
      if @api_client.config.client_side_validation && policy_inter_vrf_routing_config.nil?
        fail ArgumentError, "Missing the required parameter 'policy_inter_vrf_routing_config' when calling InterVrfRoutingApi.update_policy_inter_vrf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_inter_vrf_routing_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyInterVrfRoutingConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InterVrfRoutingApi#update_policy_inter_vrf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
