=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class InventoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds/Removes custom attribute values from list
    # This API adds/removes custom attribute values from list for a given attribute key. The values in the  request will be added or removed from the existing list. 
    # @param policy_custom_attributes 
    # @param action Add or Remove Custom Context Profile Attribute values.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_remove_custom_attribute(policy_custom_attributes, action, opts = {})
      add_remove_custom_attribute_with_http_info(policy_custom_attributes, action, opts)
      nil
    end

    # Adds/Removes custom attribute values from list
    # This API adds/removes custom attribute values from list for a given attribute key. The values in the  request will be added or removed from the existing list. 
    # @param policy_custom_attributes 
    # @param action Add or Remove Custom Context Profile Attribute values.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_remove_custom_attribute_with_http_info(policy_custom_attributes, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.add_remove_custom_attribute ...'
      end
      # verify the required parameter 'policy_custom_attributes' is set
      if @api_client.config.client_side_validation && policy_custom_attributes.nil?
        fail ArgumentError, "Missing the required parameter 'policy_custom_attributes' when calling InventoryApi.add_remove_custom_attribute"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InventoryApi.add_remove_custom_attribute"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add', 'remove'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add, remove"
      end
      # resource path
      local_var_path = '/infra/context-profiles/custom-attributes/default'

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_custom_attributes)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#add_remove_custom_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds/Removes custom attribute values from list
    # This API adds/removes custom attribute values from list for a given attribute key.  <br> This rest routine is deprecated. Use /infra/context-profiles/custom-attributes/default to Adds/Removes custom attribute values from list 
    # @param policy_attributes 
    # @param action Add or Remove Custom Context Profile Attribute values.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_remove_custom_attribute_values(policy_attributes, action, opts = {})
      add_remove_custom_attribute_values_with_http_info(policy_attributes, action, opts)
      nil
    end

    # Adds/Removes custom attribute values from list
    # This API adds/removes custom attribute values from list for a given attribute key.  &lt;br&gt; This rest routine is deprecated. Use /infra/context-profiles/custom-attributes/default to Adds/Removes custom attribute values from list 
    # @param policy_attributes 
    # @param action Add or Remove Custom Context Profile Attribute values.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_remove_custom_attribute_values_with_http_info(policy_attributes, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.add_remove_custom_attribute_values ...'
      end
      # verify the required parameter 'policy_attributes' is set
      if @api_client.config.client_side_validation && policy_attributes.nil?
        fail ArgumentError, "Missing the required parameter 'policy_attributes' when calling InventoryApi.add_remove_custom_attribute_values"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InventoryApi.add_remove_custom_attribute_values"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add', 'remove'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add, remove"
      end
      # resource path
      local_var_path = '/infra/context-profiles/custom-attributes'

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_attributes)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#add_remove_custom_attribute_values\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add or Remove external id based members from/to a Group 
    # It will add or remove the specified members having external ID for a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param group_member_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def addor_remove_group_external_id_members(domain_id, group_id, expression_id, group_member_list, action, opts = {})
      addor_remove_group_external_id_members_with_http_info(domain_id, group_id, expression_id, group_member_list, action, opts)
      nil
    end

    # Add or Remove external id based members from/to a Group 
    # It will add or remove the specified members having external ID for a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param group_member_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def addor_remove_group_external_id_members_with_http_info(domain_id, group_id, expression_id, group_member_list, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.addor_remove_group_external_id_members ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.addor_remove_group_external_id_members"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.addor_remove_group_external_id_members"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.addor_remove_group_external_id_members"
      end
      # verify the required parameter 'group_member_list' is set
      if @api_client.config.client_side_validation && group_member_list.nil?
        fail ArgumentError, "Missing the required parameter 'group_member_list' when calling InventoryApi.addor_remove_group_external_id_members"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InventoryApi.addor_remove_group_external_id_members"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add', 'remove'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add, remove"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/external-id-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(group_member_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#addor_remove_group_external_id_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add or Remove IP Addresses from/to a Group 
    # It will add or remove the specified IP Addresses from a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param ip_address_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def addor_remove_group_ip_addresses(domain_id, group_id, expression_id, ip_address_list, action, opts = {})
      addor_remove_group_ip_addresses_with_http_info(domain_id, group_id, expression_id, ip_address_list, action, opts)
      nil
    end

    # Add or Remove IP Addresses from/to a Group 
    # It will add or remove the specified IP Addresses from a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param ip_address_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def addor_remove_group_ip_addresses_with_http_info(domain_id, group_id, expression_id, ip_address_list, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.addor_remove_group_ip_addresses ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.addor_remove_group_ip_addresses"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.addor_remove_group_ip_addresses"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.addor_remove_group_ip_addresses"
      end
      # verify the required parameter 'ip_address_list' is set
      if @api_client.config.client_side_validation && ip_address_list.nil?
        fail ArgumentError, "Missing the required parameter 'ip_address_list' when calling InventoryApi.addor_remove_group_ip_addresses"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InventoryApi.addor_remove_group_ip_addresses"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add', 'remove'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add, remove"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/ip-address-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ip_address_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#addor_remove_group_ip_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add or Remove MAC Addresses from/to a Group 
    # It will add or remove the specified MAC Addresses from a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param mac_address_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def addor_remove_group_mac_addresses(domain_id, group_id, expression_id, mac_address_list, action, opts = {})
      addor_remove_group_mac_addresses_with_http_info(domain_id, group_id, expression_id, mac_address_list, action, opts)
      nil
    end

    # Add or Remove MAC Addresses from/to a Group 
    # It will add or remove the specified MAC Addresses from a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param mac_address_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def addor_remove_group_mac_addresses_with_http_info(domain_id, group_id, expression_id, mac_address_list, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.addor_remove_group_mac_addresses ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.addor_remove_group_mac_addresses"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.addor_remove_group_mac_addresses"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.addor_remove_group_mac_addresses"
      end
      # verify the required parameter 'mac_address_list' is set
      if @api_client.config.client_side_validation && mac_address_list.nil?
        fail ArgumentError, "Missing the required parameter 'mac_address_list' when calling InventoryApi.addor_remove_group_mac_addresses"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InventoryApi.addor_remove_group_mac_addresses"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add', 'remove'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add, remove"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/mac-address-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(mac_address_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#addor_remove_group_mac_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add or Remove path based members from/to a Group 
    # It will add or remove the specified members having path for a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param group_member_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def addor_remove_group_path_members(domain_id, group_id, expression_id, group_member_list, action, opts = {})
      addor_remove_group_path_members_with_http_info(domain_id, group_id, expression_id, group_member_list, action, opts)
      nil
    end

    # Add or Remove path based members from/to a Group 
    # It will add or remove the specified members having path for a given expression of a group. 
    # @param domain_id 
    # @param group_id 
    # @param expression_id 
    # @param group_member_list 
    # @param action Add or Remove group members.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def addor_remove_group_path_members_with_http_info(domain_id, group_id, expression_id, group_member_list, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.addor_remove_group_path_members ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.addor_remove_group_path_members"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.addor_remove_group_path_members"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.addor_remove_group_path_members"
      end
      # verify the required parameter 'group_member_list' is set
      if @api_client.config.client_side_validation && group_member_list.nil?
        fail ArgumentError, "Missing the required parameter 'group_member_list' when calling InventoryApi.addor_remove_group_path_members"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling InventoryApi.addor_remove_group_path_members"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add', 'remove'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add, remove"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/path-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(group_member_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#addor_remove_group_path_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Apply tags on bare metal server
    # Allows an admin to apply multiple tags to a bare metal server. This operation does not store the intent on the policy side. This operation will replace the existing tags on the bare metal server with the ones that have been passed. If the application of tag fails, then an error is reported. The admin will have to retry the operation again. Policy framework does not perform a retry. Failure could occur due to multiple reasons. For e.g constraints like max tags limit exceeded, etc. 
    # @param bare_metal_server_tag_list 
    # @param [Hash] opts the optional parameters
    # @return [BareMetalServerTagList]
    def apply_tag_on_bare_metal_server(bare_metal_server_tag_list, opts = {})
      data, _status_code, _headers = apply_tag_on_bare_metal_server_with_http_info(bare_metal_server_tag_list, opts)
      data
    end

    # Apply tags on bare metal server
    # Allows an admin to apply multiple tags to a bare metal server. This operation does not store the intent on the policy side. This operation will replace the existing tags on the bare metal server with the ones that have been passed. If the application of tag fails, then an error is reported. The admin will have to retry the operation again. Policy framework does not perform a retry. Failure could occur due to multiple reasons. For e.g constraints like max tags limit exceeded, etc. 
    # @param bare_metal_server_tag_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BareMetalServerTagList, Fixnum, Hash)>] BareMetalServerTagList data, response status code and response headers
    def apply_tag_on_bare_metal_server_with_http_info(bare_metal_server_tag_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.apply_tag_on_bare_metal_server ...'
      end
      # verify the required parameter 'bare_metal_server_tag_list' is set
      if @api_client.config.client_side_validation && bare_metal_server_tag_list.nil?
        fail ArgumentError, "Missing the required parameter 'bare_metal_server_tag_list' when calling InventoryApi.apply_tag_on_bare_metal_server"
      end
      # resource path
      local_var_path = '/infra/baremetal-servers/tags'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bare_metal_server_tag_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BareMetalServerTagList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#apply_tag_on_bare_metal_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Apply tags on bare metal server interface
    # Allows an admin to apply multiple tags to a bare metal server interface. This operation does not store the intent on the policy side. This operation will replace the existing tags on the bare metal server interface with the ones that have been passed. If the application of tag fails, then an error is reported. The admin will have to retry the operation again. Policy framework does not perform a retry. Failure could occur due to multiple reasons. For e.g constraints like max tags limit exceeded, etc. 
    # @param bare_metal_server_interface_tag_list 
    # @param [Hash] opts the optional parameters
    # @return [BareMetalServerInterfaceTagList]
    def apply_tag_on_bare_metal_server_interface(bare_metal_server_interface_tag_list, opts = {})
      data, _status_code, _headers = apply_tag_on_bare_metal_server_interface_with_http_info(bare_metal_server_interface_tag_list, opts)
      data
    end

    # Apply tags on bare metal server interface
    # Allows an admin to apply multiple tags to a bare metal server interface. This operation does not store the intent on the policy side. This operation will replace the existing tags on the bare metal server interface with the ones that have been passed. If the application of tag fails, then an error is reported. The admin will have to retry the operation again. Policy framework does not perform a retry. Failure could occur due to multiple reasons. For e.g constraints like max tags limit exceeded, etc. 
    # @param bare_metal_server_interface_tag_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BareMetalServerInterfaceTagList, Fixnum, Hash)>] BareMetalServerInterfaceTagList data, response status code and response headers
    def apply_tag_on_bare_metal_server_interface_with_http_info(bare_metal_server_interface_tag_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.apply_tag_on_bare_metal_server_interface ...'
      end
      # verify the required parameter 'bare_metal_server_interface_tag_list' is set
      if @api_client.config.client_side_validation && bare_metal_server_interface_tag_list.nil?
        fail ArgumentError, "Missing the required parameter 'bare_metal_server_interface_tag_list' when calling InventoryApi.apply_tag_on_bare_metal_server_interface"
      end
      # resource path
      local_var_path = '/infra/baremetal-server-interfaces/tags'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bare_metal_server_interface_tag_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BareMetalServerInterfaceTagList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#apply_tag_on_bare_metal_server_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Apply tags on virtual machine
    # Allows an admin to apply multiple tags to a virtual machine. This operation does not store the intent on the policy side. It applies the tag directly on the specified enforcement point. This operation will replace the existing tags on the virtual machine with the ones that have been passed. If the application of tag fails on the enforcement point, then an error is reported. The admin will have to retry the operation again. Policy framework does not perform a retry. Failure could occur due to multiple reasons. For e.g enforcement point is down, Enforcement point could not apply the tag due to constraints like max tags limit exceeded, etc. NOTE: The \"virtual_machine_id\" field in the payload will be ignored and the virtual machine ID provided in the URL will be honored. 
    # @param virtual_machine_id 
    # @param virtual_machine_tags_update 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :enforcement_point_path String Path of the enforcement point
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [nil]
    def apply_tag_on_virtual_machine(virtual_machine_id, virtual_machine_tags_update, opts = {})
      apply_tag_on_virtual_machine_with_http_info(virtual_machine_id, virtual_machine_tags_update, opts)
      nil
    end

    # Apply tags on virtual machine
    # Allows an admin to apply multiple tags to a virtual machine. This operation does not store the intent on the policy side. It applies the tag directly on the specified enforcement point. This operation will replace the existing tags on the virtual machine with the ones that have been passed. If the application of tag fails on the enforcement point, then an error is reported. The admin will have to retry the operation again. Policy framework does not perform a retry. Failure could occur due to multiple reasons. For e.g enforcement point is down, Enforcement point could not apply the tag due to constraints like max tags limit exceeded, etc. NOTE: The \&quot;virtual_machine_id\&quot; field in the payload will be ignored and the virtual machine ID provided in the URL will be honored. 
    # @param virtual_machine_id 
    # @param virtual_machine_tags_update 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :enforcement_point_path String Path of the enforcement point
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def apply_tag_on_virtual_machine_with_http_info(virtual_machine_id, virtual_machine_tags_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.apply_tag_on_virtual_machine ...'
      end
      # verify the required parameter 'virtual_machine_id' is set
      if @api_client.config.client_side_validation && virtual_machine_id.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_machine_id' when calling InventoryApi.apply_tag_on_virtual_machine"
      end
      # verify the required parameter 'virtual_machine_tags_update' is set
      if @api_client.config.client_side_validation && virtual_machine_tags_update.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_machine_tags_update' when calling InventoryApi.apply_tag_on_virtual_machine"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.apply_tag_on_virtual_machine, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.apply_tag_on_virtual_machine, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/realized-state/virtual-machines/{virtual-machine-id}/tags'.sub('{' + 'virtual-machine-id' + '}', virtual_machine_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(virtual_machine_tags_update)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#apply_tag_on_virtual_machine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update Group under specified Tier-0
    # If a Group with the group-id is not already present, create a new Group under the tier-0-id. Update if exists. The API valiates that Tier-0 is present before creating the Group. 
    # @param tier_0_id 
    # @param group_id 
    # @param group 
    # @param [Hash] opts the optional parameters
    # @return [Group]
    def create_or_replace_tier0_group(tier_0_id, group_id, group, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_group_with_http_info(tier_0_id, group_id, group, opts)
      data
    end

    # Create or update Group under specified Tier-0
    # If a Group with the group-id is not already present, create a new Group under the tier-0-id. Update if exists. The API valiates that Tier-0 is present before creating the Group. 
    # @param tier_0_id 
    # @param group_id 
    # @param group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Group, Fixnum, Hash)>] Group data, response status code and response headers
    def create_or_replace_tier0_group_with_http_info(tier_0_id, group_id, group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_or_replace_tier0_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InventoryApi.create_or_replace_tier0_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.create_or_replace_tier0_group"
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling InventoryApi.create_or_replace_tier0_group"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/groups/{group-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(group)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Group')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_or_replace_tier0_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create L7 Access Profile entry
    # API will create L7 Access Profile entry
    # @param l7_access_profile_id 
    # @param l7_access_entry_id 
    # @param l7_access_entry 
    # @param [Hash] opts the optional parameters
    # @return [L7AccessEntry]
    def create_or_update_l7_access_entry(l7_access_profile_id, l7_access_entry_id, l7_access_entry, opts = {})
      data, _status_code, _headers = create_or_update_l7_access_entry_with_http_info(l7_access_profile_id, l7_access_entry_id, l7_access_entry, opts)
      data
    end

    # Create L7 Access Profile entry
    # API will create L7 Access Profile entry
    # @param l7_access_profile_id 
    # @param l7_access_entry_id 
    # @param l7_access_entry 
    # @param [Hash] opts the optional parameters
    # @return [Array<(L7AccessEntry, Fixnum, Hash)>] L7AccessEntry data, response status code and response headers
    def create_or_update_l7_access_entry_with_http_info(l7_access_profile_id, l7_access_entry_id, l7_access_entry, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_or_update_l7_access_entry ...'
      end
      # verify the required parameter 'l7_access_profile_id' is set
      if @api_client.config.client_side_validation && l7_access_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_profile_id' when calling InventoryApi.create_or_update_l7_access_entry"
      end
      # verify the required parameter 'l7_access_entry_id' is set
      if @api_client.config.client_side_validation && l7_access_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_entry_id' when calling InventoryApi.create_or_update_l7_access_entry"
      end
      # verify the required parameter 'l7_access_entry' is set
      if @api_client.config.client_side_validation && l7_access_entry.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_entry' when calling InventoryApi.create_or_update_l7_access_entry"
      end
      # resource path
      local_var_path = '/infra/l7-access-profiles/{l7-access-profile-id}/entries/{l7-access-entry-id}'.sub('{' + 'l7-access-profile-id' + '}', l7_access_profile_id.to_s).sub('{' + 'l7-access-entry-id' + '}', l7_access_entry_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(l7_access_entry)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'L7AccessEntry')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_or_update_l7_access_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update L7 Access Profile
    # API will update L7 Access Profile
    # @param l7_access_profile_id 
    # @param l7_access_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [L7AccessProfile]
    def create_or_update_l7_access_profile(l7_access_profile_id, l7_access_profile, opts = {})
      data, _status_code, _headers = create_or_update_l7_access_profile_with_http_info(l7_access_profile_id, l7_access_profile, opts)
      data
    end

    # Update L7 Access Profile
    # API will update L7 Access Profile
    # @param l7_access_profile_id 
    # @param l7_access_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(L7AccessProfile, Fixnum, Hash)>] L7AccessProfile data, response status code and response headers
    def create_or_update_l7_access_profile_with_http_info(l7_access_profile_id, l7_access_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_or_update_l7_access_profile ...'
      end
      # verify the required parameter 'l7_access_profile_id' is set
      if @api_client.config.client_side_validation && l7_access_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_profile_id' when calling InventoryApi.create_or_update_l7_access_profile"
      end
      # verify the required parameter 'l7_access_profile' is set
      if @api_client.config.client_side_validation && l7_access_profile.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_profile' when calling InventoryApi.create_or_update_l7_access_profile"
      end
      # resource path
      local_var_path = '/infra/l7-access-profiles/{l7-access-profile-id}'.sub('{' + 'l7-access-profile-id' + '}', l7_access_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(l7_access_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'L7AccessProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_or_update_l7_access_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update static mime content id
    # API will create/update static mime content id
    # @param static_mime_content_id static mime content id
    # @param static_mime_content 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [StaticMimeContent]
    def create_or_update_policy_static_mime_content(static_mime_content_id, static_mime_content, opts = {})
      data, _status_code, _headers = create_or_update_policy_static_mime_content_with_http_info(static_mime_content_id, static_mime_content, opts)
      data
    end

    # Update static mime content id
    # API will create/update static mime content id
    # @param static_mime_content_id static mime content id
    # @param static_mime_content 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(StaticMimeContent, Fixnum, Hash)>] StaticMimeContent data, response status code and response headers
    def create_or_update_policy_static_mime_content_with_http_info(static_mime_content_id, static_mime_content, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.create_or_update_policy_static_mime_content ...'
      end
      # verify the required parameter 'static_mime_content_id' is set
      if @api_client.config.client_side_validation && static_mime_content_id.nil?
        fail ArgumentError, "Missing the required parameter 'static_mime_content_id' when calling InventoryApi.create_or_update_policy_static_mime_content"
      end
      # verify the required parameter 'static_mime_content' is set
      if @api_client.config.client_side_validation && static_mime_content.nil?
        fail ArgumentError, "Missing the required parameter 'static_mime_content' when calling InventoryApi.create_or_update_policy_static_mime_content"
      end
      # resource path
      local_var_path = '/infra/static-mime-contents/{static-mime-content-id}'.sub('{' + 'static-mime-content-id' + '}', static_mime_content_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_mime_content)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticMimeContent')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#create_or_update_policy_static_mime_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group
    # Delete the group with group_id under domain domain_id. The force query parameter supported on the API is deprecated. Usage of the force query parameter does not alter the behaviour of the API. The API just ignores the force parameter. 
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :fail_if_subtree_exists Do not delete if the group subtree has any entities (default to false)
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @return [nil]
    def delete_group(domain_id, group_id, opts = {})
      delete_group_with_http_info(domain_id, group_id, opts)
      nil
    end

    # Delete Group
    # Delete the group with group_id under domain domain_id. The force query parameter supported on the API is deprecated. Usage of the force query parameter does not alter the behaviour of the API. The API just ignores the force parameter. 
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :fail_if_subtree_exists Do not delete if the group subtree has any entities
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_with_http_info(domain_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_group ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.delete_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.delete_group"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fail_if_subtree_exists'] = opts[:'fail_if_subtree_exists'] if !opts[:'fail_if_subtree_exists'].nil?
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group External ID Expression
    # Delete Group External ID Expression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id ExternalIDExpression ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_external_id_expression(domain_id, group_id, expression_id, opts = {})
      delete_group_external_id_expression_with_http_info(domain_id, group_id, expression_id, opts)
      nil
    end

    # Delete Group External ID Expression
    # Delete Group External ID Expression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id ExternalIDExpression ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_external_id_expression_with_http_info(domain_id, group_id, expression_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_group_external_id_expression ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.delete_group_external_id_expression"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.delete_group_external_id_expression"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.delete_group_external_id_expression"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/external-id-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_group_external_id_expression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group IPAddressExpression
    # Delete Group IPAddressExpression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id IPAddressExpression ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_ip_address_expression(domain_id, group_id, expression_id, opts = {})
      delete_group_ip_address_expression_with_http_info(domain_id, group_id, expression_id, opts)
      nil
    end

    # Delete Group IPAddressExpression
    # Delete Group IPAddressExpression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id IPAddressExpression ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_ip_address_expression_with_http_info(domain_id, group_id, expression_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_group_ip_address_expression ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.delete_group_ip_address_expression"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.delete_group_ip_address_expression"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.delete_group_ip_address_expression"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/ip-address-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_group_ip_address_expression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group MACAddressExpression
    # Delete Group MACAddressExpression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id MACAddressExpression ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_mac_address_expression(domain_id, group_id, expression_id, opts = {})
      delete_group_mac_address_expression_with_http_info(domain_id, group_id, expression_id, opts)
      nil
    end

    # Delete Group MACAddressExpression
    # Delete Group MACAddressExpression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id MACAddressExpression ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_mac_address_expression_with_http_info(domain_id, group_id, expression_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_group_mac_address_expression ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.delete_group_mac_address_expression"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.delete_group_mac_address_expression"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.delete_group_mac_address_expression"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/mac-address-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_group_mac_address_expression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group Path Expression
    # Delete Group Path Expression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id PathExpression ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_path_expression(domain_id, group_id, expression_id, opts = {})
      delete_group_path_expression_with_http_info(domain_id, group_id, expression_id, opts)
      nil
    end

    # Delete Group Path Expression
    # Delete Group Path Expression
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param expression_id PathExpression ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_path_expression_with_http_info(domain_id, group_id, expression_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_group_path_expression ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.delete_group_path_expression"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.delete_group_path_expression"
      end
      # verify the required parameter 'expression_id' is set
      if @api_client.config.client_side_validation && expression_id.nil?
        fail ArgumentError, "Missing the required parameter 'expression_id' when calling InventoryApi.delete_group_path_expression"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/path-expressions/{expression-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'expression-id' + '}', expression_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_group_path_expression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete L7 Access Profile entry
    # API will delete L7 Access Profile entry
    # @param l7_access_profile_id 
    # @param l7_access_entry_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_l7_access_entry(l7_access_profile_id, l7_access_entry_id, opts = {})
      delete_l7_access_entry_with_http_info(l7_access_profile_id, l7_access_entry_id, opts)
      nil
    end

    # Delete L7 Access Profile entry
    # API will delete L7 Access Profile entry
    # @param l7_access_profile_id 
    # @param l7_access_entry_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_l7_access_entry_with_http_info(l7_access_profile_id, l7_access_entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_l7_access_entry ...'
      end
      # verify the required parameter 'l7_access_profile_id' is set
      if @api_client.config.client_side_validation && l7_access_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_profile_id' when calling InventoryApi.delete_l7_access_entry"
      end
      # verify the required parameter 'l7_access_entry_id' is set
      if @api_client.config.client_side_validation && l7_access_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_entry_id' when calling InventoryApi.delete_l7_access_entry"
      end
      # resource path
      local_var_path = '/infra/l7-access-profiles/{l7-access-profile-id}/entries/{l7-access-entry-id}'.sub('{' + 'l7-access-profile-id' + '}', l7_access_profile_id.to_s).sub('{' + 'l7-access-entry-id' + '}', l7_access_entry_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_l7_access_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete L7 Access Profile
    # API will delete L7 Access Profile
    # @param l7_access_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_l7_access_profile(l7_access_profile_id, opts = {})
      delete_l7_access_profile_with_http_info(l7_access_profile_id, opts)
      nil
    end

    # Delete L7 Access Profile
    # API will delete L7 Access Profile
    # @param l7_access_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_l7_access_profile_with_http_info(l7_access_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_l7_access_profile ...'
      end
      # verify the required parameter 'l7_access_profile_id' is set
      if @api_client.config.client_side_validation && l7_access_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'l7_access_profile_id' when calling InventoryApi.delete_l7_access_profile"
      end
      # resource path
      local_var_path = '/infra/l7-access-profiles/{l7-access-profile-id}'.sub('{' + 'l7-access-profile-id' + '}', l7_access_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_l7_access_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Policy Context Profile
    # Deletes the specified Policy Context Profile. If the Policy Context Profile is consumed in a firewall rule, it won't get deleted. 
    # @param context_profile_id Policy Context Profile Id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @option opts [BOOLEAN] :override Delete the locally overridden global object (default to false)
    # @return [nil]
    def delete_policy_context_profile(context_profile_id, opts = {})
      delete_policy_context_profile_with_http_info(context_profile_id, opts)
      nil
    end

    # Delete Policy Context Profile
    # Deletes the specified Policy Context Profile. If the Policy Context Profile is consumed in a firewall rule, it won&#39;t get deleted. 
    # @param context_profile_id Policy Context Profile Id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @option opts [BOOLEAN] :override Delete the locally overridden global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_context_profile_with_http_info(context_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_policy_context_profile ...'
      end
      # verify the required parameter 'context_profile_id' is set
      if @api_client.config.client_side_validation && context_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'context_profile_id' when calling InventoryApi.delete_policy_context_profile"
      end
      # resource path
      local_var_path = '/infra/context-profiles/{context-profile-id}'.sub('{' + 'context-profile-id' + '}', context_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_policy_context_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete static Mime content
    # API will delete static mime content
    # @param static_mime_content_id Static mime content id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_policy_static_mime_content(static_mime_content_id, opts = {})
      delete_policy_static_mime_content_with_http_info(static_mime_content_id, opts)
      nil
    end

    # Delete static Mime content
    # API will delete static mime content
    # @param static_mime_content_id Static mime content id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_static_mime_content_with_http_info(static_mime_content_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_policy_static_mime_content ...'
      end
      # verify the required parameter 'static_mime_content_id' is set
      if @api_client.config.client_side_validation && static_mime_content_id.nil?
        fail ArgumentError, "Missing the required parameter 'static_mime_content_id' when calling InventoryApi.delete_policy_static_mime_content"
      end
      # resource path
      local_var_path = '/infra/static-mime-contents/{static-mime-content-id}'.sub('{' + 'static-mime-content-id' + '}', static_mime_content_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_policy_static_mime_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Service entry
    # Delete Service entry
    # @param service_id Service ID
    # @param service_entry_id Service entry ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_entry(service_id, service_entry_id, opts = {})
      delete_service_entry_with_http_info(service_id, service_entry_id, opts)
      nil
    end

    # Delete Service entry
    # Delete Service entry
    # @param service_id Service ID
    # @param service_entry_id Service entry ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_entry_with_http_info(service_id, service_entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_service_entry ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling InventoryApi.delete_service_entry"
      end
      # verify the required parameter 'service_entry_id' is set
      if @api_client.config.client_side_validation && service_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_entry_id' when calling InventoryApi.delete_service_entry"
      end
      # resource path
      local_var_path = '/infra/services/{service-id}/service-entries/{service-entry-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-entry-id' + '}', service_entry_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_service_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Service
    # Delete Service
    # @param service_id Service ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_for_tenant(service_id, opts = {})
      delete_service_for_tenant_with_http_info(service_id, opts)
      nil
    end

    # Delete Service
    # Delete Service
    # @param service_id Service ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_for_tenant_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_service_for_tenant ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling InventoryApi.delete_service_for_tenant"
      end
      # resource path
      local_var_path = '/infra/services/{service-id}'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_service_for_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes Group under Tier-0
    # Delete the Group under Tier-0. 
    # @param tier_0_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_group(tier_0_id, group_id, opts = {})
      delete_tier0_group_with_http_info(tier_0_id, group_id, opts)
      nil
    end

    # Deletes Group under Tier-0
    # Delete the Group under Tier-0. 
    # @param tier_0_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_group_with_http_info(tier_0_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.delete_tier0_group ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling InventoryApi.delete_tier0_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.delete_tier0_group"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/groups/{group-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#delete_tier0_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves custom attribute values for given attribute key
    # This API lists all the custom attribute values defined in the system for the attribute_key mentioned as part of the url. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :attribute_key Fetch attributes and sub-attributes for the given attribute key
    # @option opts [String] :attribute_source Source of the attribute, System Defined or custom (default to SYSTEM)
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyContextProfileListResult]
    def get_custom_attribute(opts = {})
      data, _status_code, _headers = get_custom_attribute_with_http_info(opts)
      data
    end

    # Retrieves custom attribute values for given attribute key
    # This API lists all the custom attribute values defined in the system for the attribute_key mentioned as part of the url. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :attribute_key Fetch attributes and sub-attributes for the given attribute key
    # @option opts [String] :attribute_source Source of the attribute, System Defined or custom
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyContextProfileListResult, Fixnum, Hash)>] PolicyContextProfileListResult data, response status code and response headers
    def get_custom_attribute_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_custom_attribute ...'
      end
      if @api_client.config.client_side_validation && opts[:'attribute_source'] && !['ALL', 'CUSTOM', 'SYSTEM'].include?(opts[:'attribute_source'])
        fail ArgumentError, 'invalid value for "attribute_source", must be one of ALL, CUSTOM, SYSTEM'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.get_custom_attribute, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.get_custom_attribute, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/context-profiles/custom-attributes/default'

      # query parameters
      query_params = {}
      query_params[:'attribute_key'] = opts[:'attribute_key'] if !opts[:'attribute_key'].nil?
      query_params[:'attribute_source'] = opts[:'attribute_source'] if !opts[:'attribute_source'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyContextProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_custom_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get antrea egresses that belong to this Group
    # Get antrea egresses that belong to this Group. This API is applicable for Groups containing AntreaEgress member type. For Groups containing other member types an empty list is returned 
    # @param domain_id Domain id
    # @param group_id Group Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cluster_id Cluster ID
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyGroupAntreaEgressListResult]
    def get_group_antrea_egress_members(domain_id, group_id, opts = {})
      data, _status_code, _headers = get_group_antrea_egress_members_with_http_info(domain_id, group_id, opts)
      data
    end

    # Get antrea egresses that belong to this Group
    # Get antrea egresses that belong to this Group. This API is applicable for Groups containing AntreaEgress member type. For Groups containing other member types an empty list is returned 
    # @param domain_id Domain id
    # @param group_id Group Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cluster_id Cluster ID
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyGroupAntreaEgressListResult, Fixnum, Hash)>] PolicyGroupAntreaEgressListResult data, response status code and response headers
    def get_group_antrea_egress_members_with_http_info(domain_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_group_antrea_egress_members ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling InventoryApi.get_group_antrea_egress_members"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling InventoryApi.get_group_antrea_egress_members"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.get_group_antrea_egress_members, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling InventoryApi.get_group_antrea_egress_members, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/members/antrea-egresses'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cluster_id'] = opts[:'cluster_id'] if !opts[:'cluster_id'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyGroupAntreaEgressListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_group_antrea_egress_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get antrea ippools that belong to this Group
    # Get antrea ippools that belong to this Group. This API is applicable for Groups containing AntreaIPPool member type. For Groups containing other member types an empty list is returned 
    # @param domain_id Domain id
    # @param group_id Group Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cluster_id Cluster ID
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyGroupAntreaIPPoolListResult]
    def get_group_antrea_ip_pool_members(domain_id, group_id, opts = {})
      data, _status_code, _headers = get_group_antrea_ip_pool_members_with_http_info(domain_id, group_id, opts)
      data
    end

    # Get antrea ippools that belong to this Group
    # Get antrea ippools that belong to this Group. This API is applicable for Groups containing AntreaIPPool member type. For Groups containing other member types an empty list is returned 
    # @param domain_id Domain id
    # @param group_id Group Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cluster_id Cluster ID
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyGroupAntreaIPPoolListResult, Fixnum, Hash)>] PolicyGroupAntreaIPPoolListResult data, response status code and response headers
[...]
