=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class KubeconfigApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get information about kubeconfig file
    # To get more information about kubeconfig file like user, cluster, context, namespace etc. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [KubeconfigInfo]
    def get_kubeconfig_info(site_id, opts = {})
      data, _status_code, _headers = get_kubeconfig_info_with_http_info(site_id, opts)
      data
    end

    # Get information about kubeconfig file
    # To get more information about kubeconfig file like user, cluster, context, namespace etc. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KubeconfigInfo, Fixnum, Hash)>] KubeconfigInfo data, response status code and response headers
    def get_kubeconfig_info_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KubeconfigApi.get_kubeconfig_info ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling KubeconfigApi.get_kubeconfig_info"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/napp/deployment/kubeconfig'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KubeconfigInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KubeconfigApi#get_kubeconfig_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Upload kubeconfig file
    # Synchronous call to upload kubeconfig file on orchestrator node. This will be used to connect with Kubernetes cluster. 
    # @param site_id 
    # @param file File to upload
    # @param [Hash] opts the optional parameters
    # @return [UploadBundleId]
    def upload_kubeconfig(site_id, file, opts = {})
      data, _status_code, _headers = upload_kubeconfig_with_http_info(site_id, file, opts)
      data
    end

    # Upload kubeconfig file
    # Synchronous call to upload kubeconfig file on orchestrator node. This will be used to connect with Kubernetes cluster. 
    # @param site_id 
    # @param file File to upload
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadBundleId, Fixnum, Hash)>] UploadBundleId data, response status code and response headers
    def upload_kubeconfig_with_http_info(site_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KubeconfigApi.upload_kubeconfig ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling KubeconfigApi.upload_kubeconfig"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling KubeconfigApi.upload_kubeconfig"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/napp/deployment/kubeconfig'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = file

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'UploadBundleId')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KubeconfigApi#upload_kubeconfig\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
