=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class MonitoringApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create container cluster status
    # Create container cluster status
    # @param site_id site ID
    # @param enforcement_point_id enforcement point ID
    # @param container_cluster_status 
    # @param [Hash] opts the optional parameters
    # @return [ContainerClusterStatus]
    def add_container_cluster_status(site_id, enforcement_point_id, container_cluster_status, opts = {})
      data, _status_code, _headers = add_container_cluster_status_with_http_info(site_id, enforcement_point_id, container_cluster_status, opts)
      data
    end

    # Create container cluster status
    # Create container cluster status
    # @param site_id site ID
    # @param enforcement_point_id enforcement point ID
    # @param container_cluster_status 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContainerClusterStatus, Fixnum, Hash)>] ContainerClusterStatus data, response status code and response headers
    def add_container_cluster_status_with_http_info(site_id, enforcement_point_id, container_cluster_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.add_container_cluster_status ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling MonitoringApi.add_container_cluster_status"
      end
      # verify the required parameter 'enforcement_point_id' is set
      if @api_client.config.client_side_validation && enforcement_point_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcement_point_id' when calling MonitoringApi.add_container_cluster_status"
      end
      # verify the required parameter 'container_cluster_status' is set
      if @api_client.config.client_side_validation && container_cluster_status.nil?
        fail ArgumentError, "Missing the required parameter 'container_cluster_status' when calling MonitoringApi.add_container_cluster_status"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcement-point-id}/container-cluster-ncpstatus'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcement-point-id' + '}', enforcement_point_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(container_cluster_status)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContainerClusterStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#add_container_cluster_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart the packet capture session
    # Restart the packet capture session 
    # @param session_id Packet capture session id
    # @param action Indicates which action will be taken by session conduction.
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSession]
    def control_pkt_capture_session(session_id, action, opts = {})
      data, _status_code, _headers = control_pkt_capture_session_with_http_info(session_id, action, opts)
      data
    end

    # Restart the packet capture session
    # Restart the packet capture session 
    # @param session_id Packet capture session id
    # @param action Indicates which action will be taken by session conduction.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSession, Fixnum, Hash)>] PktCaptureSession data, response status code and response headers
    def control_pkt_capture_session_with_http_info(session_id, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.control_pkt_capture_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling MonitoringApi.control_pkt_capture_session"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling MonitoringApi.control_pkt_capture_session"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['restart', 'terminate'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of restart, terminate"
      end
      # resource path
      local_var_path = '/infra/pktcap/session/{session-id}'.sub('{' + 'session-id' + '}', session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#control_pkt_capture_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new manual health check config
    # Create a new manual health check config with essential properties. It's disallowed to create new one until the count of in-progress manual health check is less than 50. A manual health check will be deleted automatically after finished for 24 hours. 
    # @param manual_health_check_id 
    # @param policy_manual_health_check 
    # @param [Hash] opts the optional parameters
    # @return [PolicyManualHealthCheck]
    def create_manual_health_check_config(manual_health_check_id, policy_manual_health_check, opts = {})
      data, _status_code, _headers = create_manual_health_check_config_with_http_info(manual_health_check_id, policy_manual_health_check, opts)
      data
    end

    # Create a new manual health check config
    # Create a new manual health check config with essential properties. It&#39;s disallowed to create new one until the count of in-progress manual health check is less than 50. A manual health check will be deleted automatically after finished for 24 hours. 
    # @param manual_health_check_id 
    # @param policy_manual_health_check 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyManualHealthCheck, Fixnum, Hash)>] PolicyManualHealthCheck data, response status code and response headers
    def create_manual_health_check_config_with_http_info(manual_health_check_id, policy_manual_health_check, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_manual_health_check_config ...'
      end
      # verify the required parameter 'manual_health_check_id' is set
      if @api_client.config.client_side_validation && manual_health_check_id.nil?
        fail ArgumentError, "Missing the required parameter 'manual_health_check_id' when calling MonitoringApi.create_manual_health_check_config"
      end
      # verify the required parameter 'policy_manual_health_check' is set
      if @api_client.config.client_side_validation && policy_manual_health_check.nil?
        fail ArgumentError, "Missing the required parameter 'policy_manual_health_check' when calling MonitoringApi.create_manual_health_check_config"
      end
      # resource path
      local_var_path = '/infra/manual-health-checks/{manual-health-check-id}'.sub('{' + 'manual-health-check-id' + '}', manual_health_check_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_manual_health_check)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyManualHealthCheck')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_manual_health_check_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create request to collect artifacts generated by an Online Diagnostic System runbook invocations
    # Create request to collect the artifacts generated by Online Diagnostic System runbook invocations in a batch. 
    # @param request_id 
    # @param ods_runbook_invocation_artifact_batch_request 
    # @param [Hash] opts the optional parameters
    # @return [OdsRunbookInvocationArtifactBatchResult]
    def create_ods_invocation_artifact_in_batch_request(request_id, ods_runbook_invocation_artifact_batch_request, opts = {})
      data, _status_code, _headers = create_ods_invocation_artifact_in_batch_request_with_http_info(request_id, ods_runbook_invocation_artifact_batch_request, opts)
      data
    end

    # Create request to collect artifacts generated by an Online Diagnostic System runbook invocations
    # Create request to collect the artifacts generated by Online Diagnostic System runbook invocations in a batch. 
    # @param request_id 
    # @param ods_runbook_invocation_artifact_batch_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OdsRunbookInvocationArtifactBatchResult, Fixnum, Hash)>] OdsRunbookInvocationArtifactBatchResult data, response status code and response headers
    def create_ods_invocation_artifact_in_batch_request_with_http_info(request_id, ods_runbook_invocation_artifact_batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_ods_invocation_artifact_in_batch_request ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling MonitoringApi.create_ods_invocation_artifact_in_batch_request"
      end
      # verify the required parameter 'ods_runbook_invocation_artifact_batch_request' is set
      if @api_client.config.client_side_validation && ods_runbook_invocation_artifact_batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'ods_runbook_invocation_artifact_batch_request' when calling MonitoringApi.create_ods_invocation_artifact_in_batch_request"
      end
      # resource path
      local_var_path = '/infra/sha/runbook-artifacts/{request-id}'.sub('{' + 'request-id' + '}', request_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ods_runbook_invocation_artifact_batch_request)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OdsRunbookInvocationArtifactBatchResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_ods_invocation_artifact_in_batch_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a runbook invocation
    # Create an Online Diagnostic System Runbook invocation. If an invocation with <invocation-id> already exists, throw an exception. Otherwise, create a new runbook invocation. A runbook invocation along with its report and status will be deleted automatically after 2 hours, if it is not deleted by delete API. 
    # @param invocation_id 
    # @param ods_runbook_invocation 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_ods_runbook_invocation(invocation_id, ods_runbook_invocation, opts = {})
      create_ods_runbook_invocation_with_http_info(invocation_id, ods_runbook_invocation, opts)
      nil
    end

    # Create a runbook invocation
    # Create an Online Diagnostic System Runbook invocation. If an invocation with &lt;invocation-id&gt; already exists, throw an exception. Otherwise, create a new runbook invocation. A runbook invocation along with its report and status will be deleted automatically after 2 hours, if it is not deleted by delete API. 
    # @param invocation_id 
    # @param ods_runbook_invocation 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_ods_runbook_invocation_with_http_info(invocation_id, ods_runbook_invocation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_ods_runbook_invocation ...'
      end
      # verify the required parameter 'invocation_id' is set
      if @api_client.config.client_side_validation && invocation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invocation_id' when calling MonitoringApi.create_ods_runbook_invocation"
      end
      # verify the required parameter 'ods_runbook_invocation' is set
      if @api_client.config.client_side_validation && ods_runbook_invocation.nil?
        fail ArgumentError, "Missing the required parameter 'ods_runbook_invocation' when calling MonitoringApi.create_ods_runbook_invocation"
      end
      # resource path
      local_var_path = '/infra/sha/runbook-invocations/{invocation-id}'.sub('{' + 'invocation-id' + '}', invocation_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ods_runbook_invocation)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_ods_runbook_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace IPFIX dfw collector profile
    # Create or Replace IPFIX dfw collector profile. IPFIX data will be sent to IPFIX collector port. 
    # @param ipfix_dfw_collector_profile_id IPFIX dfw collector profile id
    # @param ipfixdfw_collector_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [IPFIXDFWCollectorProfile]
    def create_or_replace_ipfixdfw_collector_profile(ipfix_dfw_collector_profile_id, ipfixdfw_collector_profile, opts = {})
      data, _status_code, _headers = create_or_replace_ipfixdfw_collector_profile_with_http_info(ipfix_dfw_collector_profile_id, ipfixdfw_collector_profile, opts)
      data
    end

    # Create or Replace IPFIX dfw collector profile
    # Create or Replace IPFIX dfw collector profile. IPFIX data will be sent to IPFIX collector port. 
    # @param ipfix_dfw_collector_profile_id IPFIX dfw collector profile id
    # @param ipfixdfw_collector_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(IPFIXDFWCollectorProfile, Fixnum, Hash)>] IPFIXDFWCollectorProfile data, response status code and response headers
    def create_or_replace_ipfixdfw_collector_profile_with_http_info(ipfix_dfw_collector_profile_id, ipfixdfw_collector_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_ipfixdfw_collector_profile ...'
      end
      # verify the required parameter 'ipfix_dfw_collector_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_dfw_collector_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_dfw_collector_profile_id' when calling MonitoringApi.create_or_replace_ipfixdfw_collector_profile"
      end
      # verify the required parameter 'ipfixdfw_collector_profile' is set
      if @api_client.config.client_side_validation && ipfixdfw_collector_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipfixdfw_collector_profile' when calling MonitoringApi.create_or_replace_ipfixdfw_collector_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-dfw-collector-profiles/{ipfix-dfw-collector-profile-id}'.sub('{' + 'ipfix-dfw-collector-profile-id' + '}', ipfix_dfw_collector_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipfixdfw_collector_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IPFIXDFWCollectorProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_ipfixdfw_collector_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace IPFIX DFW collection Config.
    # Create or replace IPFIX DFW profile. Config will start forwarding data to provided IPFIX DFW collector. 
    # @param ipfix_dfw_profile_id IPFIX DFW Profile ID
    # @param ipfixdfw_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [IPFIXDFWProfile]
    def create_or_replace_ipfixdfw_profile(ipfix_dfw_profile_id, ipfixdfw_profile, opts = {})
      data, _status_code, _headers = create_or_replace_ipfixdfw_profile_with_http_info(ipfix_dfw_profile_id, ipfixdfw_profile, opts)
      data
    end

    # Create or Replace IPFIX DFW collection Config.
    # Create or replace IPFIX DFW profile. Config will start forwarding data to provided IPFIX DFW collector. 
    # @param ipfix_dfw_profile_id IPFIX DFW Profile ID
    # @param ipfixdfw_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(IPFIXDFWProfile, Fixnum, Hash)>] IPFIXDFWProfile data, response status code and response headers
    def create_or_replace_ipfixdfw_profile_with_http_info(ipfix_dfw_profile_id, ipfixdfw_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_ipfixdfw_profile ...'
      end
      # verify the required parameter 'ipfix_dfw_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_dfw_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_dfw_profile_id' when calling MonitoringApi.create_or_replace_ipfixdfw_profile"
      end
      # verify the required parameter 'ipfixdfw_profile' is set
      if @api_client.config.client_side_validation && ipfixdfw_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipfixdfw_profile' when calling MonitoringApi.create_or_replace_ipfixdfw_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-dfw-profiles/{ipfix-dfw-profile-id}'.sub('{' + 'ipfix-dfw-profile-id' + '}', ipfix_dfw_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipfixdfw_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IPFIXDFWProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_ipfixdfw_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace IPFIX collector profile
    # Create or Replace IPFIX collector profile. IPFIX data will be sent to IPFIX collector. 
    # @param ipfix_l2_collector_profile_id IPFIX collector profile id
    # @param ipfixl2_collector_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [IPFIXL2CollectorProfile]
    def create_or_replace_ipfixl2_collector_profile(ipfix_l2_collector_profile_id, ipfixl2_collector_profile, opts = {})
      data, _status_code, _headers = create_or_replace_ipfixl2_collector_profile_with_http_info(ipfix_l2_collector_profile_id, ipfixl2_collector_profile, opts)
      data
    end

    # Create or Replace IPFIX collector profile
    # Create or Replace IPFIX collector profile. IPFIX data will be sent to IPFIX collector. 
    # @param ipfix_l2_collector_profile_id IPFIX collector profile id
    # @param ipfixl2_collector_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(IPFIXL2CollectorProfile, Fixnum, Hash)>] IPFIXL2CollectorProfile data, response status code and response headers
    def create_or_replace_ipfixl2_collector_profile_with_http_info(ipfix_l2_collector_profile_id, ipfixl2_collector_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_ipfixl2_collector_profile ...'
      end
      # verify the required parameter 'ipfix_l2_collector_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_l2_collector_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_l2_collector_profile_id' when calling MonitoringApi.create_or_replace_ipfixl2_collector_profile"
      end
      # verify the required parameter 'ipfixl2_collector_profile' is set
      if @api_client.config.client_side_validation && ipfixl2_collector_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipfixl2_collector_profile' when calling MonitoringApi.create_or_replace_ipfixl2_collector_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-l2-collector-profiles/{ipfix-l2-collector-profile-id}'.sub('{' + 'ipfix-l2-collector-profile-id' + '}', ipfix_l2_collector_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipfixl2_collector_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IPFIXL2CollectorProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_ipfixl2_collector_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace IPFIX L2 profile
    # Create or replace IPFIX L2 Profile. Profile is reusable entity. Single profile can attached multiple bindings e.g group, segment and port. 
    # @param ipfix_l2_profile_id IPFIX L2 Profile ID
    # @param ipfixl2_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [IPFIXL2Profile]
    def create_or_replace_ipfixl2_profile(ipfix_l2_profile_id, ipfixl2_profile, opts = {})
      data, _status_code, _headers = create_or_replace_ipfixl2_profile_with_http_info(ipfix_l2_profile_id, ipfixl2_profile, opts)
      data
    end

    # Create or Replace IPFIX L2 profile
    # Create or replace IPFIX L2 Profile. Profile is reusable entity. Single profile can attached multiple bindings e.g group, segment and port. 
    # @param ipfix_l2_profile_id IPFIX L2 Profile ID
    # @param ipfixl2_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(IPFIXL2Profile, Fixnum, Hash)>] IPFIXL2Profile data, response status code and response headers
    def create_or_replace_ipfixl2_profile_with_http_info(ipfix_l2_profile_id, ipfixl2_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_ipfixl2_profile ...'
      end
      # verify the required parameter 'ipfix_l2_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_l2_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_l2_profile_id' when calling MonitoringApi.create_or_replace_ipfixl2_profile"
      end
      # verify the required parameter 'ipfixl2_profile' is set
      if @api_client.config.client_side_validation && ipfixl2_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipfixl2_profile' when calling MonitoringApi.create_or_replace_ipfixl2_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-l2-profiles/{ipfix-l2-profile-id}'.sub('{' + 'ipfix-l2-profile-id' + '}', ipfix_l2_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipfixl2_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IPFIXL2Profile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_ipfixl2_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace latency profile
    # Create or Replace latency profile. 
    # @param profile_id Latency profile id
    # @param policy_latency_stat_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyLatencyStatProfile]
    def create_or_replace_policy_latency_stat_profile(profile_id, policy_latency_stat_profile, opts = {})
      data, _status_code, _headers = create_or_replace_policy_latency_stat_profile_with_http_info(profile_id, policy_latency_stat_profile, opts)
      data
    end

    # Create or Replace latency profile
    # Create or Replace latency profile. 
    # @param profile_id Latency profile id
    # @param policy_latency_stat_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyLatencyStatProfile, Fixnum, Hash)>] PolicyLatencyStatProfile data, response status code and response headers
    def create_or_replace_policy_latency_stat_profile_with_http_info(profile_id, policy_latency_stat_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_policy_latency_stat_profile ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling MonitoringApi.create_or_replace_policy_latency_stat_profile"
      end
      # verify the required parameter 'policy_latency_stat_profile' is set
      if @api_client.config.client_side_validation && policy_latency_stat_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_latency_stat_profile' when calling MonitoringApi.create_or_replace_policy_latency_stat_profile"
      end
      # resource path
      local_var_path = '/infra/latency-profiles/{profile-id}'.sub('{' + 'profile-id' + '}', profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_latency_stat_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyLatencyStatProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_policy_latency_stat_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace Port Mirroring Instance.
    # Create or Replace port mirroring instance. Packets will be mirrored from source group to destination group. This API is deprecated. Please use the following API: https://&lt;policy-mgr&gt;/policy/api/v1/infra/port-mirroring-profiles 
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param port_mirroring_instance_id Port Mirroring Instance Id
    # @param port_mirroring_instance 
    # @param [Hash] opts the optional parameters
    # @return [PortMirroringInstance]
    def create_or_replace_port_mirroring_instance(domain_id, group_id, port_mirroring_instance_id, port_mirroring_instance, opts = {})
      data, _status_code, _headers = create_or_replace_port_mirroring_instance_with_http_info(domain_id, group_id, port_mirroring_instance_id, port_mirroring_instance, opts)
      data
    end

    # Create or Replace Port Mirroring Instance.
    # Create or Replace port mirroring instance. Packets will be mirrored from source group to destination group. This API is deprecated. Please use the following API: https://&amp;lt;policy-mgr&amp;gt;/policy/api/v1/infra/port-mirroring-profiles 
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param port_mirroring_instance_id Port Mirroring Instance Id
    # @param port_mirroring_instance 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortMirroringInstance, Fixnum, Hash)>] PortMirroringInstance data, response status code and response headers
    def create_or_replace_port_mirroring_instance_with_http_info(domain_id, group_id, port_mirroring_instance_id, port_mirroring_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_port_mirroring_instance ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling MonitoringApi.create_or_replace_port_mirroring_instance"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling MonitoringApi.create_or_replace_port_mirroring_instance"
      end
      # verify the required parameter 'port_mirroring_instance_id' is set
      if @api_client.config.client_side_validation && port_mirroring_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_instance_id' when calling MonitoringApi.create_or_replace_port_mirroring_instance"
      end
      # verify the required parameter 'port_mirroring_instance' is set
      if @api_client.config.client_side_validation && port_mirroring_instance.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_instance' when calling MonitoringApi.create_or_replace_port_mirroring_instance"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/port-mirroring-instances/{port-mirroring-instance-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'port-mirroring-instance-id' + '}', port_mirroring_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(port_mirroring_instance)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortMirroringInstance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_port_mirroring_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace Port Mirroring Profile.
    # Create or Replace port mirroring profile. Packets will be mirrored from source group, segment, port to destination group. Realized entities of this API can be found using the path of monitoring profile binding map that is used to apply this profile. 
    # @param port_mirroring_profile_id Port Mirroring Profiles Id
    # @param port_mirroring_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [PortMirroringProfile]
    def create_or_replace_port_mirroring_profile(port_mirroring_profile_id, port_mirroring_profile, opts = {})
      data, _status_code, _headers = create_or_replace_port_mirroring_profile_with_http_info(port_mirroring_profile_id, port_mirroring_profile, opts)
      data
    end

    # Create or Replace Port Mirroring Profile.
    # Create or Replace port mirroring profile. Packets will be mirrored from source group, segment, port to destination group. Realized entities of this API can be found using the path of monitoring profile binding map that is used to apply this profile. 
    # @param port_mirroring_profile_id Port Mirroring Profiles Id
    # @param port_mirroring_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(PortMirroringProfile, Fixnum, Hash)>] PortMirroringProfile data, response status code and response headers
    def create_or_replace_port_mirroring_profile_with_http_info(port_mirroring_profile_id, port_mirroring_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_port_mirroring_profile ...'
      end
      # verify the required parameter 'port_mirroring_profile_id' is set
      if @api_client.config.client_side_validation && port_mirroring_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile_id' when calling MonitoringApi.create_or_replace_port_mirroring_profile"
      end
      # verify the required parameter 'port_mirroring_profile' is set
      if @api_client.config.client_side_validation && port_mirroring_profile.nil?
        fail ArgumentError, "Missing the required parameter 'port_mirroring_profile' when calling MonitoringApi.create_or_replace_port_mirroring_profile"
      end
      # resource path
      local_var_path = '/infra/port-mirroring-profiles/{port-mirroring-profile-id}'.sub('{' + 'port-mirroring-profile-id' + '}', port_mirroring_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(port_mirroring_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortMirroringProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_port_mirroring_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Sha dynamic plugin
    # Create Sha dynamic plugin. 
    # @param plugin_id Sha plugin id
    # @param sha_dynamic_plugin 
    # @param [Hash] opts the optional parameters
    # @return [ShaDynamicPlugin]
    def create_or_replace_sha_dynamic_plugin(plugin_id, sha_dynamic_plugin, opts = {})
      data, _status_code, _headers = create_or_replace_sha_dynamic_plugin_with_http_info(plugin_id, sha_dynamic_plugin, opts)
      data
    end

    # Create Sha dynamic plugin
    # Create Sha dynamic plugin. 
    # @param plugin_id Sha plugin id
    # @param sha_dynamic_plugin 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShaDynamicPlugin, Fixnum, Hash)>] ShaDynamicPlugin data, response status code and response headers
    def create_or_replace_sha_dynamic_plugin_with_http_info(plugin_id, sha_dynamic_plugin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_sha_dynamic_plugin ...'
      end
      # verify the required parameter 'plugin_id' is set
      if @api_client.config.client_side_validation && plugin_id.nil?
        fail ArgumentError, "Missing the required parameter 'plugin_id' when calling MonitoringApi.create_or_replace_sha_dynamic_plugin"
      end
      # verify the required parameter 'sha_dynamic_plugin' is set
      if @api_client.config.client_side_validation && sha_dynamic_plugin.nil?
        fail ArgumentError, "Missing the required parameter 'sha_dynamic_plugin' when calling MonitoringApi.create_or_replace_sha_dynamic_plugin"
      end
      # resource path
      local_var_path = '/infra/sha/dynamic-plugins/{plugin-id}'.sub('{' + 'plugin-id' + '}', plugin_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(sha_dynamic_plugin)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShaDynamicPlugin')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_sha_dynamic_plugin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace Sha profile
    # Create or Replace Sha profile. 
    # @param sha_profile_id Sha profile id
    # @param sha_plugin_profile 
    # @param [Hash] opts the optional parameters
    # @return [ShaPluginProfile]
    def create_or_replace_sha_plugin_profile(sha_profile_id, sha_plugin_profile, opts = {})
      data, _status_code, _headers = create_or_replace_sha_plugin_profile_with_http_info(sha_profile_id, sha_plugin_profile, opts)
      data
    end

    # Create or Replace Sha profile
    # Create or Replace Sha profile. 
    # @param sha_profile_id Sha profile id
    # @param sha_plugin_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShaPluginProfile, Fixnum, Hash)>] ShaPluginProfile data, response status code and response headers
    def create_or_replace_sha_plugin_profile_with_http_info(sha_profile_id, sha_plugin_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_or_replace_sha_plugin_profile ...'
      end
      # verify the required parameter 'sha_profile_id' is set
      if @api_client.config.client_side_validation && sha_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'sha_profile_id' when calling MonitoringApi.create_or_replace_sha_plugin_profile"
      end
      # verify the required parameter 'sha_plugin_profile' is set
      if @api_client.config.client_side_validation && sha_plugin_profile.nil?
        fail ArgumentError, "Missing the required parameter 'sha_plugin_profile' when calling MonitoringApi.create_or_replace_sha_plugin_profile"
      end
      # resource path
      local_var_path = '/infra/sha/plugin-profiles/{sha-profile-id}'.sub('{' + 'sha-profile-id' + '}', sha_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(sha_plugin_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ShaPluginProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_or_replace_sha_plugin_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an new packet capture session
    # Create an new packet capture session on given node with specified options 
    # @param pkt_capture_request 
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSession]
    def create_pkt_capture_session(pkt_capture_request, opts = {})
      data, _status_code, _headers = create_pkt_capture_session_with_http_info(pkt_capture_request, opts)
      data
    end

    # Create an new packet capture session
    # Create an new packet capture session on given node with specified options 
    # @param pkt_capture_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSession, Fixnum, Hash)>] PktCaptureSession data, response status code and response headers
    def create_pkt_capture_session_with_http_info(pkt_capture_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_pkt_capture_session ...'
      end
      # verify the required parameter 'pkt_capture_request' is set
      if @api_client.config.client_side_validation && pkt_capture_request.nil?
        fail ArgumentError, "Missing the required parameter 'pkt_capture_request' when calling MonitoringApi.create_pkt_capture_session"
      end
      # resource path
      local_var_path = '/infra/pktcap/session'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(pkt_capture_request)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_pkt_capture_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new View.
    # Creates a new View. <br> This API is deprecated and will be unavailable in later releases.
    # @param view 
    # @param [Hash] opts the optional parameters
    # @return [View]
    def create_view(view, opts = {})
      data, _status_code, _headers = create_view_with_http_info(view, opts)
      data
    end

    # Creates a new View.
    # Creates a new View. &lt;br&gt; This API is deprecated and will be unavailable in later releases.
    # @param view 
    # @param [Hash] opts the optional parameters
    # @return [Array<(View, Fixnum, Hash)>] View data, response status code and response headers
    def create_view_with_http_info(view, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_view ...'
      end
      # verify the required parameter 'view' is set
      if @api_client.config.client_side_validation && view.nil?
        fail ArgumentError, "Missing the required parameter 'view' when calling MonitoringApi.create_view"
      end
      # resource path
      local_var_path = '/ui-views'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(view)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'View')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new Widget Configuration.
    # Creates a new Widget Configuration and adds it to the specified view. Supported resource_types are LabelValueConfiguration, DonutConfiguration, GridConfiguration, StatsConfiguration, MultiWidgetConfiguration, GraphConfiguration and ContainerConfiguration.  Note: Expressions should be given in a single line. If an expression spans   multiple lines, then form the expression in a single line. For label-value pairs, expressions are evaluated as follows:   a. First, render configurations are evaluated in their order of      appearance in the widget config. The 'field' is evaluated at the end.   b. Second, when render configuration is provided then the order of      evaluation is      1. If expressions provided in 'condition' and 'display value' are         well-formed and free of runtime-errors such as 'null pointers' and         evaluates to 'true'; Then remaining render configurations are not         evaluated, and the current render configuration's 'display value'         is taken as the final value.      2. If expression provided in 'condition' of render configuration is         false, then next render configuration is evaluated.      3. Finally, 'field' is evaluated only when every render configuration         evaluates to false and no error occurs during steps 1 and 2 above.  If an error occurs during evaluation of render configuration, then an   error message is shown. The display value corresponding to that label is   not shown and evaluation of the remaining render configurations continues   to collect and show all the error messages (marked with the 'Label' for   identification) as 'Error_Messages: {}'.  If during evaluation of expressions for any label-value pair an error   occurs, then it is marked with error. The errors are shown in the report,   along with the label value pairs that are error-free.  Important: For elements that take expressions, strings should be provided   by escaping them with a back-slash. These elements are - condition, field,   tooltip text and render_configuration's display_value.  <br> This API is deprecated and will be unavailable in later releases.
    # @param view_id 
    # @param widget_configuration 
    # @param [Hash] opts the optional parameters
    # @return [WidgetConfiguration]
    def create_widget_configuration(view_id, widget_configuration, opts = {})
      data, _status_code, _headers = create_widget_configuration_with_http_info(view_id, widget_configuration, opts)
      data
    end

    # Creates a new Widget Configuration.
    # Creates a new Widget Configuration and adds it to the specified view. Supported resource_types are LabelValueConfiguration, DonutConfiguration, GridConfiguration, StatsConfiguration, MultiWidgetConfiguration, GraphConfiguration and ContainerConfiguration.  Note: Expressions should be given in a single line. If an expression spans   multiple lines, then form the expression in a single line. For label-value pairs, expressions are evaluated as follows:   a. First, render configurations are evaluated in their order of      appearance in the widget config. The &#39;field&#39; is evaluated at the end.   b. Second, when render configuration is provided then the order of      evaluation is      1. If expressions provided in &#39;condition&#39; and &#39;display value&#39; are         well-formed and free of runtime-errors such as &#39;null pointers&#39; and         evaluates to &#39;true&#39;; Then remaining render configurations are not         evaluated, and the current render configuration&#39;s &#39;display value&#39;         is taken as the final value.      2. If expression provided in &#39;condition&#39; of render configuration is         false, then next render configuration is evaluated.      3. Finally, &#39;field&#39; is evaluated only when every render configuration         evaluates to false and no error occurs during steps 1 and 2 above.  If an error occurs during evaluation of render configuration, then an   error message is shown. The display value corresponding to that label is   not shown and evaluation of the remaining render configurations continues   to collect and show all the error messages (marked with the &#39;Label&#39; for   identification) as &#39;Error_Messages: {}&#39;.  If during evaluation of expressions for any label-value pair an error   occurs, then it is marked with error. The errors are shown in the report,   along with the label value pairs that are error-free.  Important: For elements that take expressions, strings should be provided   by escaping them with a back-slash. These elements are - condition, field,   tooltip text and render_configuration&#39;s display_value.  &lt;br&gt; This API is deprecated and will be unavailable in later releases.
    # @param view_id 
    # @param widget_configuration 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WidgetConfiguration, Fixnum, Hash)>] WidgetConfiguration data, response status code and response headers
    def create_widget_configuration_with_http_info(view_id, widget_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_widget_configuration ...'
      end
      # verify the required parameter 'view_id' is set
      if @api_client.config.client_side_validation && view_id.nil?
        fail ArgumentError, "Missing the required parameter 'view_id' when calling MonitoringApi.create_widget_configuration"
      end
      # verify the required parameter 'widget_configuration' is set
      if @api_client.config.client_side_validation && widget_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'widget_configuration' when calling MonitoringApi.create_widget_configuration"
      end
      # resource path
      local_var_path = '/ui-views/{view-id}/widgetconfigurations'.sub('{' + 'view-id' + '}', view_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(widget_configuration)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'WidgetConfiguration')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_widget_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete View
    # Delete View <br> This API is deprecated and will be unavailable in later releases.
    # @param view_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delet_view(view_id, opts = {})
      delet_view_with_http_info(view_id, opts)
      nil
    end

    # Delete View
    # Delete View &lt;br&gt; This API is deprecated and will be unavailable in later releases.
    # @param view_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delet_view_with_http_info(view_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delet_view ...'
      end
      # verify the required parameter 'view_id' is set
      if @api_client.config.client_side_validation && view_id.nil?
        fail ArgumentError, "Missing the required parameter 'view_id' when calling MonitoringApi.delet_view"
      end
      # resource path
      local_var_path = '/ui-views/{view-id}'.sub('{' + 'view-id' + '}', view_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delet_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete all the packet capture sessions
    # Delete all the packet capture sessions. 
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSessionList]
    def delete_all_pkt_capture_sessions(opts = {})
      data, _status_code, _headers = delete_all_pkt_capture_sessions_with_http_info(opts)
      data
    end

    # Delete all the packet capture sessions
    # Delete all the packet capture sessions. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSessionList, Fixnum, Hash)>] PktCaptureSessionList data, response status code and response headers
    def delete_all_pkt_capture_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_all_pkt_capture_sessions ...'
      end
      # resource path
      local_var_path = '/infra/pktcap/sessions'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSessionList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_all_pkt_capture_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Antrea traceflow config
    # Delete Antrea traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_antrea_traceflow_config(traceflow_id, opts = {})
      delete_antrea_traceflow_config_with_http_info(traceflow_id, opts)
      nil
    end

    # Delete Antrea traceflow config
    # Delete Antrea traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_antrea_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_antrea_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling MonitoringApi.delete_antrea_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_antrea_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete container cluster status
    # Delete container cluster status
    # @param site_id site ID
    # @param enforcement_point_id enforcement point ID
    # @param cluster_id ID of container cluster
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_container_cluster_status(site_id, enforcement_point_id, cluster_id, opts = {})
      delete_container_cluster_status_with_http_info(site_id, enforcement_point_id, cluster_id, opts)
      nil
    end

    # Delete container cluster status
    # Delete container cluster status
    # @param site_id site ID
    # @param enforcement_point_id enforcement point ID
    # @param cluster_id ID of container cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_container_cluster_status_with_http_info(site_id, enforcement_point_id, cluster_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_container_cluster_status ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling MonitoringApi.delete_container_cluster_status"
      end
      # verify the required parameter 'enforcement_point_id' is set
      if @api_client.config.client_side_validation && enforcement_point_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcement_point_id' when calling MonitoringApi.delete_container_cluster_status"
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling MonitoringApi.delete_container_cluster_status"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcement-point-id}/container-cluster/{cluster-id}/ncpstatus'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcement-point-id' + '}', enforcement_point_id.to_s).sub('{' + 'cluster-id' + '}', cluster_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_container_cluster_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPFIX dfw Collector profile
    # API deletes IPFIX dfw collector profile. Flow forwarding to collector will be stopped. 
    # @param ipfix_dfw_collector_profile_id IPFIX dfw collector Profile id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ipfixdfw_collector_profile(ipfix_dfw_collector_profile_id, opts = {})
      delete_ipfixdfw_collector_profile_with_http_info(ipfix_dfw_collector_profile_id, opts)
      nil
    end

    # Delete IPFIX dfw Collector profile
    # API deletes IPFIX dfw collector profile. Flow forwarding to collector will be stopped. 
    # @param ipfix_dfw_collector_profile_id IPFIX dfw collector Profile id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ipfixdfw_collector_profile_with_http_info(ipfix_dfw_collector_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ipfixdfw_collector_profile ...'
      end
      # verify the required parameter 'ipfix_dfw_collector_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_dfw_collector_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_dfw_collector_profile_id' when calling MonitoringApi.delete_ipfixdfw_collector_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-dfw-collector-profiles/{ipfix-dfw-collector-profile-id}'.sub('{' + 'ipfix-dfw-collector-profile-id' + '}', ipfix_dfw_collector_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ipfixdfw_collector_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPFIX DFW Profile
    # API deletes IPFIX DFW Profile. Selected IPFIX Collectors will stop receiving flows. 
    # @param ipfix_dfw_profile_id IPFIX DFW Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ipfixdfw_profile(ipfix_dfw_profile_id, opts = {})
      delete_ipfixdfw_profile_with_http_info(ipfix_dfw_profile_id, opts)
      nil
    end

    # Delete IPFIX DFW Profile
    # API deletes IPFIX DFW Profile. Selected IPFIX Collectors will stop receiving flows. 
    # @param ipfix_dfw_profile_id IPFIX DFW Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ipfixdfw_profile_with_http_info(ipfix_dfw_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ipfixdfw_profile ...'
      end
      # verify the required parameter 'ipfix_dfw_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_dfw_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_dfw_profile_id' when calling MonitoringApi.delete_ipfixdfw_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-dfw-profiles/{ipfix-dfw-profile-id}'.sub('{' + 'ipfix-dfw-profile-id' + '}', ipfix_dfw_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ipfixdfw_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPFIX Collector profile
    # API deletes IPFIX collector profile. Flow forwarding to collector will be stopped. 
    # @param ipfix_l2_collector_profile_id IPFIX collector Profile id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ipfixl2_collector_profile(ipfix_l2_collector_profile_id, opts = {})
      delete_ipfixl2_collector_profile_with_http_info(ipfix_l2_collector_profile_id, opts)
      nil
    end

    # Delete IPFIX Collector profile
    # API deletes IPFIX collector profile. Flow forwarding to collector will be stopped. 
    # @param ipfix_l2_collector_profile_id IPFIX collector Profile id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ipfixl2_collector_profile_with_http_info(ipfix_l2_collector_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ipfixl2_collector_profile ...'
      end
      # verify the required parameter 'ipfix_l2_collector_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_l2_collector_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_l2_collector_profile_id' when calling MonitoringApi.delete_ipfixl2_collector_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-l2-collector-profiles/{ipfix-l2-collector-profile-id}'.sub('{' + 'ipfix-l2-collector-profile-id' + '}', ipfix_l2_collector_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ipfixl2_collector_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPFIX L2 Profile
    # API deletes IPFIX L2 Profile. Flow forwarding to selected collector will be stopped. 
    # @param ipfix_l2_profile_id IPFIX L2 Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ipfixl2_profile(ipfix_l2_profile_id, opts = {})
      delete_ipfixl2_profile_with_http_info(ipfix_l2_profile_id, opts)
      nil
    end

    # Delete IPFIX L2 Profile
    # API deletes IPFIX L2 Profile. Flow forwarding to selected collector will be stopped. 
    # @param ipfix_l2_profile_id IPFIX L2 Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ipfixl2_profile_with_http_info(ipfix_l2_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ipfixl2_profile ...'
      end
      # verify the required parameter 'ipfix_l2_profile_id' is set
      if @api_client.config.client_side_validation && ipfix_l2_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ipfix_l2_profile_id' when calling MonitoringApi.delete_ipfixl2_profile"
      end
      # resource path
      local_var_path = '/infra/ipfix-l2-profiles/{ipfix-l2-profile-id}'.sub('{' + 'ipfix-l2-profile-id' + '}', ipfix_l2_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ipfixl2_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a livetrace config
    # Delete livetrace config with the specified identifier. 
    # @param livetrace_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_live_trace_config(livetrace_id, opts = {})
      delete_live_trace_config_with_http_info(livetrace_id, opts)
      nil
    end

    # Delete a livetrace config
    # Delete livetrace config with the specified identifier. 
    # @param livetrace_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_live_trace_config_with_http_info(livetrace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_live_trace_config ...'
      end
      # verify the required parameter 'livetrace_id' is set
      if @api_client.config.client_side_validation && livetrace_id.nil?
        fail ArgumentError, "Missing the required parameter 'livetrace_id' when calling MonitoringApi.delete_live_trace_config"
      end
      # resource path
      local_var_path = '/infra/livetraces/{livetrace-id}'.sub('{' + 'livetrace-id' + '}', livetrace_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_live_trace_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an existing manual health check
    # Delete an existing manual health check by ID.
    # @param manual_health_check_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_manual_health_check_config(manual_health_check_id, opts = {})
      delete_manual_health_check_config_with_http_info(manual_health_check_id, opts)
      nil
    end

    # Delete an existing manual health check
    # Delete an existing manual health check by ID.
    # @param manual_health_check_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_manual_health_check_config_with_http_info(manual_health_check_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_manual_health_check_config ...'
      end
      # verify the required parameter 'manual_health_check_id' is set
      if @api_client.config.client_side_validation && manual_health_check_id.nil?
        fail ArgumentError, "Missing the required parameter 'manual_health_check_id' when calling MonitoringApi.delete_manual_health_check_config"
      end
      # resource path
      local_var_path = '/infra/manual-health-checks/{manual-health-check-id}'.sub('{' + 'manual-health-check-id' + '}', manual_health_check_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_manual_health_check_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the Dynamic Runbook Instance
    # Delete the Dynamic Runbook Instance
    # @param instance_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ods_dynamic_runbook_instance(instance_id, opts = {})
      delete_ods_dynamic_runbook_instance_with_http_info(instance_id, opts)
      nil
    end

    # Delete the Dynamic Runbook Instance
    # Delete the Dynamic Runbook Instance
    # @param instance_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ods_dynamic_runbook_instance_with_http_info(instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ods_dynamic_runbook_instance ...'
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling MonitoringApi.delete_ods_dynamic_runbook_instance"
      end
      # resource path
      local_var_path = '/infra/sha/dynamic-runbook-instances/{instance-id}'.sub('{' + 'instance-id' + '}', instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ods_dynamic_runbook_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a runbook invocation artifact batch request
    # Delete an Online Diagnostic System Runbook invocation batch request. 
    # @param request_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ods_invocation_artifact_in_batch_status(request_id, opts = {})
      delete_ods_invocation_artifact_in_batch_status_with_http_info(request_id, opts)
      nil
    end

    # Delete a runbook invocation artifact batch request
    # Delete an Online Diagnostic System Runbook invocation batch request. 
    # @param request_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ods_invocation_artifact_in_batch_status_with_http_info(request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ods_invocation_artifact_in_batch_status ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling MonitoringApi.delete_ods_invocation_artifact_in_batch_status"
      end
      # resource path
      local_var_path = '/infra/sha/runbook-artifacts/{request-id}'.sub('{' + 'request-id' + '}', request_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ods_invocation_artifact_in_batch_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a runbook invocation
    # Delete an Online Diagnostic System Runbook invocation with the specified identifier. 
    # @param invocation_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ods_runbook_invocation(invocation_id, opts = {})
      delete_ods_runbook_invocation_with_http_info(invocation_id, opts)
      nil
    end

    # Delete a runbook invocation
    # Delete an Online Diagnostic System Runbook invocation with the specified identifier. 
    # @param invocation_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ods_runbook_invocation_with_http_info(invocation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ods_runbook_invocation ...'
      end
      # verify the required parameter 'invocation_id' is set
      if @api_client.config.client_side_validation && invocation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invocation_id' when calling MonitoringApi.delete_ods_runbook_invocation"
      end
      # resource path
      local_var_path = '/infra/sha/runbook-invocations/{invocation-id}'.sub('{' + 'invocation-id' + '}', invocation_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ods_runbook_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a runbook setting
    # Delete an Online Diagnostic System Runbook setting with the specified identifier. 
    # @param runbook_setting_id Identifier of a runbook setting
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ods_runbook_setting(runbook_setting_id, opts = {})
      delete_ods_runbook_setting_with_http_info(runbook_setting_id, opts)
      nil
    end

    # Delete a runbook setting
    # Delete an Online Diagnostic System Runbook setting with the specified identifier. 
    # @param runbook_setting_id Identifier of a runbook setting
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ods_runbook_setting_with_http_info(runbook_setting_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_ods_runbook_setting ...'
      end
      # verify the required parameter 'runbook_setting_id' is set
      if @api_client.config.client_side_validation && runbook_setting_id.nil?
        fail ArgumentError, "Missing the required parameter 'runbook_setting_id' when calling MonitoringApi.delete_ods_runbook_setting"
      end
      # resource path
      local_var_path = '/infra/sha/runbook-settings/{runbook-setting-id}'.sub('{' + 'runbook-setting-id' + '}', runbook_setting_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_ods_runbook_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the packet capture session by session id.
    # Before calling this method, terminate any running capture session. 
    # @param session_id Packet capture session id
    # @param [Hash] opts the optional parameters
    # @return [PktCaptureSession]
    def delete_pkt_capture_session(session_id, opts = {})
      data, _status_code, _headers = delete_pkt_capture_session_with_http_info(session_id, opts)
      data
    end

    # Delete the packet capture session by session id.
    # Before calling this method, terminate any running capture session. 
    # @param session_id Packet capture session id
    # @param [Hash] opts the optional parameters
    # @return [Array<(PktCaptureSession, Fixnum, Hash)>] PktCaptureSession data, response status code and response headers
    def delete_pkt_capture_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_pkt_capture_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling MonitoringApi.delete_pkt_capture_session"
      end
      # resource path
      local_var_path = '/infra/pktcap/session/{session-id}'.sub('{' + 'session-id' + '}', session_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PktCaptureSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_pkt_capture_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete latency profile
    # Delete an existing latency profile
    # @param profile_id Latency profile id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_latency_stat_profile(profile_id, opts = {})
      delete_policy_latency_stat_profile_with_http_info(profile_id, opts)
      nil
    end

    # Delete latency profile
    # Delete an existing latency profile
    # @param profile_id Latency profile id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_latency_stat_profile_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.delete_policy_latency_stat_profile ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling MonitoringApi.delete_policy_latency_stat_profile"
      end
      # resource path
      local_var_path = '/infra/latency-profiles/{profile-id}'.sub('{' + 'profile-id' + '}', profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#delete_policy_latency_stat_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port Mirroring Instance
[...]
