=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class NetworkingProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update Gateway QoS profile
    # If profile with the qos-profile-id is not already present, create a new gateway QoS profile instance. If it already exists, replace the gateway QoS profile instance with this object. 
    # @param qos_profile_id 
    # @param gateway_qos_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [GatewayQosProfile]
    def create_or_replace_gateway_qos_profile(qos_profile_id, gateway_qos_profile, opts = {})
      data, _status_code, _headers = create_or_replace_gateway_qos_profile_with_http_info(qos_profile_id, gateway_qos_profile, opts)
      data
    end

    # Create or update Gateway QoS profile
    # If profile with the qos-profile-id is not already present, create a new gateway QoS profile instance. If it already exists, replace the gateway QoS profile instance with this object. 
    # @param qos_profile_id 
    # @param gateway_qos_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(GatewayQosProfile, Fixnum, Hash)>] GatewayQosProfile data, response status code and response headers
    def create_or_replace_gateway_qos_profile_with_http_info(qos_profile_id, gateway_qos_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_replace_gateway_qos_profile ...'
      end
      # verify the required parameter 'qos_profile_id' is set
      if @api_client.config.client_side_validation && qos_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'qos_profile_id' when calling NetworkingProfilesApi.create_or_replace_gateway_qos_profile"
      end
      # verify the required parameter 'gateway_qos_profile' is set
      if @api_client.config.client_side_validation && gateway_qos_profile.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_qos_profile' when calling NetworkingProfilesApi.create_or_replace_gateway_qos_profile"
      end
      # resource path
      local_var_path = '/infra/gateway-qos-profiles/{qos-profile-id}'.sub('{' + 'qos-profile-id' + '}', qos_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(gateway_qos_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GatewayQosProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_replace_gateway_qos_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update IPv6 DAD profile
    # If profile with the dad-profile-id is not already present, create a new IPv6 DAD profile instance. If it already exists, replace the IPv6 DAD profile instance with this object. 
    # @param dad_profile_id 
    # @param ipv6_dad_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [Ipv6DadProfile]
    def create_or_replace_ipv6_dad_profile(dad_profile_id, ipv6_dad_profile, opts = {})
      data, _status_code, _headers = create_or_replace_ipv6_dad_profile_with_http_info(dad_profile_id, ipv6_dad_profile, opts)
      data
    end

    # Create or update IPv6 DAD profile
    # If profile with the dad-profile-id is not already present, create a new IPv6 DAD profile instance. If it already exists, replace the IPv6 DAD profile instance with this object. 
    # @param dad_profile_id 
    # @param ipv6_dad_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(Ipv6DadProfile, Fixnum, Hash)>] Ipv6DadProfile data, response status code and response headers
    def create_or_replace_ipv6_dad_profile_with_http_info(dad_profile_id, ipv6_dad_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_replace_ipv6_dad_profile ...'
      end
      # verify the required parameter 'dad_profile_id' is set
      if @api_client.config.client_side_validation && dad_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'dad_profile_id' when calling NetworkingProfilesApi.create_or_replace_ipv6_dad_profile"
      end
      # verify the required parameter 'ipv6_dad_profile' is set
      if @api_client.config.client_side_validation && ipv6_dad_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipv6_dad_profile' when calling NetworkingProfilesApi.create_or_replace_ipv6_dad_profile"
      end
      # resource path
      local_var_path = '/infra/ipv6-dad-profiles/{dad-profile-id}'.sub('{' + 'dad-profile-id' + '}', dad_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipv6_dad_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ipv6DadProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_replace_ipv6_dad_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update IPv6 NDRA profile
    # If profile with the ndra-profile-id is not already present, create a new IPv6 NDRA profile instance. If it already exists, replace the IPv6 NDRA profile instance with this object. 
    # @param ndra_profile_id 
    # @param ipv6_ndra_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [Ipv6NdraProfile]
    def create_or_replace_ipv6_ndra_profile(ndra_profile_id, ipv6_ndra_profile, opts = {})
      data, _status_code, _headers = create_or_replace_ipv6_ndra_profile_with_http_info(ndra_profile_id, ipv6_ndra_profile, opts)
      data
    end

    # Create or update IPv6 NDRA profile
    # If profile with the ndra-profile-id is not already present, create a new IPv6 NDRA profile instance. If it already exists, replace the IPv6 NDRA profile instance with this object. 
    # @param ndra_profile_id 
    # @param ipv6_ndra_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(Ipv6NdraProfile, Fixnum, Hash)>] Ipv6NdraProfile data, response status code and response headers
    def create_or_replace_ipv6_ndra_profile_with_http_info(ndra_profile_id, ipv6_ndra_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_replace_ipv6_ndra_profile ...'
      end
      # verify the required parameter 'ndra_profile_id' is set
      if @api_client.config.client_side_validation && ndra_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ndra_profile_id' when calling NetworkingProfilesApi.create_or_replace_ipv6_ndra_profile"
      end
      # verify the required parameter 'ipv6_ndra_profile' is set
      if @api_client.config.client_side_validation && ipv6_ndra_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipv6_ndra_profile' when calling NetworkingProfilesApi.create_or_replace_ipv6_ndra_profile"
      end
      # resource path
      local_var_path = '/infra/ipv6-ndra-profiles/{ndra-profile-id}'.sub('{' + 'ndra-profile-id' + '}', ndra_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipv6_ndra_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ipv6NdraProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_replace_ipv6_ndra_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update Evpn Tenant Configuration
    # Create or update Evpn Tenant configuration. 
    # @param config_id Evpn Tenant config id
    # @param evpn_tenant_config 
    # @param [Hash] opts the optional parameters
    # @return [EvpnTenantConfig]
    def create_or_update_evpn_tenant_config(config_id, evpn_tenant_config, opts = {})
      data, _status_code, _headers = create_or_update_evpn_tenant_config_with_http_info(config_id, evpn_tenant_config, opts)
      data
    end

    # Create or Update Evpn Tenant Configuration
    # Create or update Evpn Tenant configuration. 
    # @param config_id Evpn Tenant config id
    # @param evpn_tenant_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvpnTenantConfig, Fixnum, Hash)>] EvpnTenantConfig data, response status code and response headers
    def create_or_update_evpn_tenant_config_with_http_info(config_id, evpn_tenant_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_update_evpn_tenant_config ...'
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling NetworkingProfilesApi.create_or_update_evpn_tenant_config"
      end
      # verify the required parameter 'evpn_tenant_config' is set
      if @api_client.config.client_side_validation && evpn_tenant_config.nil?
        fail ArgumentError, "Missing the required parameter 'evpn_tenant_config' when calling NetworkingProfilesApi.create_or_update_evpn_tenant_config"
      end
      # resource path
      local_var_path = '/infra/evpn-tenant-configs/{config-id}'.sub('{' + 'config-id' + '}', config_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(evpn_tenant_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvpnTenantConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_update_evpn_tenant_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update igmp profile
    # Create or update igmp profile. 
    # @param igmp_profile_id igmp profile id
    # @param policy_igmp_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyIgmpProfile]
    def create_or_update_policy_igmp_profile(igmp_profile_id, policy_igmp_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_igmp_profile_with_http_info(igmp_profile_id, policy_igmp_profile, opts)
      data
    end

    # Update igmp profile
    # Create or update igmp profile. 
    # @param igmp_profile_id igmp profile id
    # @param policy_igmp_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyIgmpProfile, Fixnum, Hash)>] PolicyIgmpProfile data, response status code and response headers
    def create_or_update_policy_igmp_profile_with_http_info(igmp_profile_id, policy_igmp_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_update_policy_igmp_profile ...'
      end
      # verify the required parameter 'igmp_profile_id' is set
      if @api_client.config.client_side_validation && igmp_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'igmp_profile_id' when calling NetworkingProfilesApi.create_or_update_policy_igmp_profile"
      end
      # verify the required parameter 'policy_igmp_profile' is set
      if @api_client.config.client_side_validation && policy_igmp_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_igmp_profile' when calling NetworkingProfilesApi.create_or_update_policy_igmp_profile"
      end
      # resource path
      local_var_path = '/infra/igmp-profiles/{igmp-profile-id}'.sub('{' + 'igmp-profile-id' + '}', igmp_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_igmp_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyIgmpProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_update_policy_igmp_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update pim profile
    # Create or update pim profile. 
    # @param pim_profile_id pim profile id
    # @param policy_pim_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyPimProfile]
    def create_or_update_policy_pim_profile(pim_profile_id, policy_pim_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_pim_profile_with_http_info(pim_profile_id, policy_pim_profile, opts)
      data
    end

    # Update pim profile
    # Create or update pim profile. 
    # @param pim_profile_id pim profile id
    # @param policy_pim_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyPimProfile, Fixnum, Hash)>] PolicyPimProfile data, response status code and response headers
    def create_or_update_policy_pim_profile_with_http_info(pim_profile_id, policy_pim_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_update_policy_pim_profile ...'
      end
      # verify the required parameter 'pim_profile_id' is set
      if @api_client.config.client_side_validation && pim_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'pim_profile_id' when calling NetworkingProfilesApi.create_or_update_policy_pim_profile"
      end
      # verify the required parameter 'policy_pim_profile' is set
      if @api_client.config.client_side_validation && policy_pim_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_pim_profile' when calling NetworkingProfilesApi.create_or_update_policy_pim_profile"
      end
      # resource path
      local_var_path = '/infra/pim-profiles/{pim-profile-id}'.sub('{' + 'pim-profile-id' + '}', pim_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_pim_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyPimProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_update_policy_pim_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Policy Transport Zone Profile
    # API will update Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param policy_transport_zone_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def create_or_update_policy_transport_zone_profile(tz_profile_id, policy_transport_zone_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_transport_zone_profile_with_http_info(tz_profile_id, policy_transport_zone_profile, opts)
      data
    end

    # Update Policy Transport Zone Profile
    # API will update Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param policy_transport_zone_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def create_or_update_policy_transport_zone_profile_with_http_info(tz_profile_id, policy_transport_zone_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_update_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling NetworkingProfilesApi.create_or_update_policy_transport_zone_profile"
      end
      # verify the required parameter 'policy_transport_zone_profile' is set
      if @api_client.config.client_side_validation && policy_transport_zone_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_transport_zone_profile' when calling NetworkingProfilesApi.create_or_update_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_transport_zone_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_update_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update Vni Pool Configuration
    # Create or update VniPool configuration. 
    # @param vni_pool_id vni pool id
    # @param vni_pool_config 
    # @param [Hash] opts the optional parameters
    # @return [VniPoolConfig]
    def create_or_update_vni_pool_config(vni_pool_id, vni_pool_config, opts = {})
      data, _status_code, _headers = create_or_update_vni_pool_config_with_http_info(vni_pool_id, vni_pool_config, opts)
      data
    end

    # Create or Update Vni Pool Configuration
    # Create or update VniPool configuration. 
    # @param vni_pool_id vni pool id
    # @param vni_pool_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VniPoolConfig, Fixnum, Hash)>] VniPoolConfig data, response status code and response headers
    def create_or_update_vni_pool_config_with_http_info(vni_pool_id, vni_pool_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.create_or_update_vni_pool_config ...'
      end
      # verify the required parameter 'vni_pool_id' is set
      if @api_client.config.client_side_validation && vni_pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'vni_pool_id' when calling NetworkingProfilesApi.create_or_update_vni_pool_config"
      end
      # verify the required parameter 'vni_pool_config' is set
      if @api_client.config.client_side_validation && vni_pool_config.nil?
        fail ArgumentError, "Missing the required parameter 'vni_pool_config' when calling NetworkingProfilesApi.create_or_update_vni_pool_config"
      end
      # resource path
      local_var_path = '/infra/vni-pools/{vni-pool-id}'.sub('{' + 'vni-pool-id' + '}', vni_pool_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vni_pool_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VniPoolConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#create_or_update_vni_pool_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete BFD Config and all the entities contained by this BfdProfile
    # Delete BFD Config and all the entities contained by this BfdProfile.
    # @param bfd_profile_id BfdProfile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_bfd_profile(bfd_profile_id, opts = {})
      delete_bfd_profile_with_http_info(bfd_profile_id, opts)
      nil
    end

    # Delete BFD Config and all the entities contained by this BfdProfile
    # Delete BFD Config and all the entities contained by this BfdProfile.
    # @param bfd_profile_id BfdProfile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_bfd_profile_with_http_info(bfd_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_bfd_profile ...'
      end
      # verify the required parameter 'bfd_profile_id' is set
      if @api_client.config.client_side_validation && bfd_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'bfd_profile_id' when calling NetworkingProfilesApi.delete_bfd_profile"
      end
      # resource path
      local_var_path = '/infra/bfd-profiles/{bfd-profile-id}'.sub('{' + 'bfd-profile-id' + '}', bfd_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_bfd_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete gateway QoS profile
    # Delete QoS profile
    # @param qos_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_gateway_qos_profile(qos_profile_id, opts = {})
      delete_gateway_qos_profile_with_http_info(qos_profile_id, opts)
      nil
    end

    # Delete gateway QoS profile
    # Delete QoS profile
    # @param qos_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_gateway_qos_profile_with_http_info(qos_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_gateway_qos_profile ...'
      end
      # verify the required parameter 'qos_profile_id' is set
      if @api_client.config.client_side_validation && qos_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'qos_profile_id' when calling NetworkingProfilesApi.delete_gateway_qos_profile"
      end
      # resource path
      local_var_path = '/infra/gateway-qos-profiles/{qos-profile-id}'.sub('{' + 'qos-profile-id' + '}', qos_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_gateway_qos_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPv6 DAD profile
    # Delete IPv6 DAD profile
    # @param dad_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ipv6_dad_profile(dad_profile_id, opts = {})
      delete_ipv6_dad_profile_with_http_info(dad_profile_id, opts)
      nil
    end

    # Delete IPv6 DAD profile
    # Delete IPv6 DAD profile
    # @param dad_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ipv6_dad_profile_with_http_info(dad_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_ipv6_dad_profile ...'
      end
      # verify the required parameter 'dad_profile_id' is set
      if @api_client.config.client_side_validation && dad_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'dad_profile_id' when calling NetworkingProfilesApi.delete_ipv6_dad_profile"
      end
      # resource path
      local_var_path = '/infra/ipv6-dad-profiles/{dad-profile-id}'.sub('{' + 'dad-profile-id' + '}', dad_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_ipv6_dad_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPv6 NDRA profile
    # Delete IPv6 NDRA profile
    # @param ndra_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ipv6_ndra_profile(ndra_profile_id, opts = {})
      delete_ipv6_ndra_profile_with_http_info(ndra_profile_id, opts)
      nil
    end

    # Delete IPv6 NDRA profile
    # Delete IPv6 NDRA profile
    # @param ndra_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ipv6_ndra_profile_with_http_info(ndra_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_ipv6_ndra_profile ...'
      end
      # verify the required parameter 'ndra_profile_id' is set
      if @api_client.config.client_side_validation && ndra_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ndra_profile_id' when calling NetworkingProfilesApi.delete_ipv6_ndra_profile"
      end
      # resource path
      local_var_path = '/infra/ipv6-ndra-profiles/{ndra-profile-id}'.sub('{' + 'ndra-profile-id' + '}', ndra_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_ipv6_ndra_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Igmp Profile
    # Delete Igmp Profile.
    # @param igmp_profile_id igmp profile id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_igmp_profile(igmp_profile_id, opts = {})
      delete_policy_igmp_profile_with_http_info(igmp_profile_id, opts)
      nil
    end

    # Delete Igmp Profile
    # Delete Igmp Profile.
    # @param igmp_profile_id igmp profile id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_igmp_profile_with_http_info(igmp_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_policy_igmp_profile ...'
      end
      # verify the required parameter 'igmp_profile_id' is set
      if @api_client.config.client_side_validation && igmp_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'igmp_profile_id' when calling NetworkingProfilesApi.delete_policy_igmp_profile"
      end
      # resource path
      local_var_path = '/infra/igmp-profiles/{igmp-profile-id}'.sub('{' + 'igmp-profile-id' + '}', igmp_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_policy_igmp_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Pim Profile
    # Delete Pim Profile.
    # @param pim_profile_id pim profile id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_pim_profile(pim_profile_id, opts = {})
      delete_policy_pim_profile_with_http_info(pim_profile_id, opts)
      nil
    end

    # Delete Pim Profile
    # Delete Pim Profile.
    # @param pim_profile_id pim profile id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_pim_profile_with_http_info(pim_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_policy_pim_profile ...'
      end
      # verify the required parameter 'pim_profile_id' is set
      if @api_client.config.client_side_validation && pim_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'pim_profile_id' when calling NetworkingProfilesApi.delete_policy_pim_profile"
      end
      # resource path
      local_var_path = '/infra/pim-profiles/{pim-profile-id}'.sub('{' + 'pim-profile-id' + '}', pim_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_policy_pim_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Policy Transport Zone Profile
    # API will delete Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_transport_zone_profile(tz_profile_id, opts = {})
      delete_policy_transport_zone_profile_with_http_info(tz_profile_id, opts)
      nil
    end

    # Delete Policy Transport Zone Profile
    # API will delete Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_transport_zone_profile_with_http_info(tz_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling NetworkingProfilesApi.delete_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Vni Pool Configuration
    # Delete Vni Pool Configuration.
    # @param vni_pool_id vni pool id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vni_pool_config(vni_pool_id, opts = {})
      delete_vni_pool_config_with_http_info(vni_pool_id, opts)
      nil
    end

    # Delete Vni Pool Configuration
    # Delete Vni Pool Configuration.
    # @param vni_pool_id vni pool id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_vni_pool_config_with_http_info(vni_pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.delete_vni_pool_config ...'
      end
      # verify the required parameter 'vni_pool_id' is set
      if @api_client.config.client_side_validation && vni_pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'vni_pool_id' when calling NetworkingProfilesApi.delete_vni_pool_config"
      end
      # resource path
      local_var_path = '/infra/vni-pools/{vni-pool-id}'.sub('{' + 'vni-pool-id' + '}', vni_pool_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#delete_vni_pool_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def get_policy_transport_zone_profile(tz_profile_id, opts = {})
      data, _status_code, _headers = get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts)
      data
    end

    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.get_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling NetworkingProfilesApi.get_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#get_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyTransportZoneProfileListResult]
    def get_policy_transport_zone_profiles(opts = {})
      data, _status_code, _headers = get_policy_transport_zone_profiles_with_http_info(opts)
      data
    end

    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyTransportZoneProfileListResult, Fixnum, Hash)>] PolicyTransportZoneProfileListResult data, response status code and response headers
    def get_policy_transport_zone_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.get_policy_transport_zone_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.get_policy_transport_zone_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.get_policy_transport_zone_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/transport-zone-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#get_policy_transport_zone_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update Gateway QoS profile
    # If profile with the qos-profile-id is not already present, create a new gateway QoS profile instance. If it already exists, replace the gateway QoS profile instance with this object. 
    # @param qos_profile_id 
    # @param gateway_qos_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [GatewayQosProfile]
    def global_infra_create_or_replace_gateway_qos_profile(qos_profile_id, gateway_qos_profile, opts = {})
      data, _status_code, _headers = global_infra_create_or_replace_gateway_qos_profile_with_http_info(qos_profile_id, gateway_qos_profile, opts)
      data
    end

    # Create or update Gateway QoS profile
    # If profile with the qos-profile-id is not already present, create a new gateway QoS profile instance. If it already exists, replace the gateway QoS profile instance with this object. 
    # @param qos_profile_id 
    # @param gateway_qos_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(GatewayQosProfile, Fixnum, Hash)>] GatewayQosProfile data, response status code and response headers
    def global_infra_create_or_replace_gateway_qos_profile_with_http_info(qos_profile_id, gateway_qos_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_create_or_replace_gateway_qos_profile ...'
      end
      # verify the required parameter 'qos_profile_id' is set
      if @api_client.config.client_side_validation && qos_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'qos_profile_id' when calling NetworkingProfilesApi.global_infra_create_or_replace_gateway_qos_profile"
      end
      # verify the required parameter 'gateway_qos_profile' is set
      if @api_client.config.client_side_validation && gateway_qos_profile.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_qos_profile' when calling NetworkingProfilesApi.global_infra_create_or_replace_gateway_qos_profile"
      end
      # resource path
      local_var_path = '/global-infra/gateway-qos-profiles/{qos-profile-id}'.sub('{' + 'qos-profile-id' + '}', qos_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(gateway_qos_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GatewayQosProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_create_or_replace_gateway_qos_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update IPv6 DAD profile
    # If profile with the dad-profile-id is not already present, create a new IPv6 DAD profile instance. If it already exists, replace the IPv6 DAD profile instance with this object. 
    # @param dad_profile_id 
    # @param ipv6_dad_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [Ipv6DadProfile]
    def global_infra_create_or_replace_ipv6_dad_profile(dad_profile_id, ipv6_dad_profile, opts = {})
      data, _status_code, _headers = global_infra_create_or_replace_ipv6_dad_profile_with_http_info(dad_profile_id, ipv6_dad_profile, opts)
      data
    end

    # Create or update IPv6 DAD profile
    # If profile with the dad-profile-id is not already present, create a new IPv6 DAD profile instance. If it already exists, replace the IPv6 DAD profile instance with this object. 
    # @param dad_profile_id 
    # @param ipv6_dad_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(Ipv6DadProfile, Fixnum, Hash)>] Ipv6DadProfile data, response status code and response headers
    def global_infra_create_or_replace_ipv6_dad_profile_with_http_info(dad_profile_id, ipv6_dad_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_create_or_replace_ipv6_dad_profile ...'
      end
      # verify the required parameter 'dad_profile_id' is set
      if @api_client.config.client_side_validation && dad_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'dad_profile_id' when calling NetworkingProfilesApi.global_infra_create_or_replace_ipv6_dad_profile"
      end
      # verify the required parameter 'ipv6_dad_profile' is set
      if @api_client.config.client_side_validation && ipv6_dad_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipv6_dad_profile' when calling NetworkingProfilesApi.global_infra_create_or_replace_ipv6_dad_profile"
      end
      # resource path
      local_var_path = '/global-infra/ipv6-dad-profiles/{dad-profile-id}'.sub('{' + 'dad-profile-id' + '}', dad_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipv6_dad_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ipv6DadProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_create_or_replace_ipv6_dad_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update IPv6 NDRA profile
    # If profile with the ndra-profile-id is not already present, create a new IPv6 NDRA profile instance. If it already exists, replace the IPv6 NDRA profile instance with this object. 
    # @param ndra_profile_id 
    # @param ipv6_ndra_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [Ipv6NdraProfile]
    def global_infra_create_or_replace_ipv6_ndra_profile(ndra_profile_id, ipv6_ndra_profile, opts = {})
      data, _status_code, _headers = global_infra_create_or_replace_ipv6_ndra_profile_with_http_info(ndra_profile_id, ipv6_ndra_profile, opts)
      data
    end

    # Create or update IPv6 NDRA profile
    # If profile with the ndra-profile-id is not already present, create a new IPv6 NDRA profile instance. If it already exists, replace the IPv6 NDRA profile instance with this object. 
    # @param ndra_profile_id 
    # @param ipv6_ndra_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(Ipv6NdraProfile, Fixnum, Hash)>] Ipv6NdraProfile data, response status code and response headers
    def global_infra_create_or_replace_ipv6_ndra_profile_with_http_info(ndra_profile_id, ipv6_ndra_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_create_or_replace_ipv6_ndra_profile ...'
      end
      # verify the required parameter 'ndra_profile_id' is set
      if @api_client.config.client_side_validation && ndra_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ndra_profile_id' when calling NetworkingProfilesApi.global_infra_create_or_replace_ipv6_ndra_profile"
      end
      # verify the required parameter 'ipv6_ndra_profile' is set
      if @api_client.config.client_side_validation && ipv6_ndra_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ipv6_ndra_profile' when calling NetworkingProfilesApi.global_infra_create_or_replace_ipv6_ndra_profile"
      end
      # resource path
      local_var_path = '/global-infra/ipv6-ndra-profiles/{ndra-profile-id}'.sub('{' + 'ndra-profile-id' + '}', ndra_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ipv6_ndra_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ipv6NdraProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_create_or_replace_ipv6_ndra_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete BFD Config and all the entities contained by this BfdProfile
    # Delete BFD Config and all the entities contained by this BfdProfile.
    # @param bfd_profile_id BfdProfile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def global_infra_delete_bfd_profile(bfd_profile_id, opts = {})
      global_infra_delete_bfd_profile_with_http_info(bfd_profile_id, opts)
      nil
    end

    # Delete BFD Config and all the entities contained by this BfdProfile
    # Delete BFD Config and all the entities contained by this BfdProfile.
    # @param bfd_profile_id BfdProfile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def global_infra_delete_bfd_profile_with_http_info(bfd_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_delete_bfd_profile ...'
      end
      # verify the required parameter 'bfd_profile_id' is set
      if @api_client.config.client_side_validation && bfd_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'bfd_profile_id' when calling NetworkingProfilesApi.global_infra_delete_bfd_profile"
      end
      # resource path
      local_var_path = '/global-infra/bfd-profiles/{bfd-profile-id}'.sub('{' + 'bfd-profile-id' + '}', bfd_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_delete_bfd_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete gateway QoS profile
    # Delete QoS profile
    # @param qos_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def global_infra_delete_gateway_qos_profile(qos_profile_id, opts = {})
      global_infra_delete_gateway_qos_profile_with_http_info(qos_profile_id, opts)
      nil
    end

    # Delete gateway QoS profile
    # Delete QoS profile
    # @param qos_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def global_infra_delete_gateway_qos_profile_with_http_info(qos_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_delete_gateway_qos_profile ...'
      end
      # verify the required parameter 'qos_profile_id' is set
      if @api_client.config.client_side_validation && qos_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'qos_profile_id' when calling NetworkingProfilesApi.global_infra_delete_gateway_qos_profile"
      end
      # resource path
      local_var_path = '/global-infra/gateway-qos-profiles/{qos-profile-id}'.sub('{' + 'qos-profile-id' + '}', qos_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_delete_gateway_qos_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPv6 DAD profile
    # Delete IPv6 DAD profile
    # @param dad_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def global_infra_delete_ipv6_dad_profile(dad_profile_id, opts = {})
      global_infra_delete_ipv6_dad_profile_with_http_info(dad_profile_id, opts)
      nil
    end

    # Delete IPv6 DAD profile
    # Delete IPv6 DAD profile
    # @param dad_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def global_infra_delete_ipv6_dad_profile_with_http_info(dad_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_delete_ipv6_dad_profile ...'
      end
      # verify the required parameter 'dad_profile_id' is set
      if @api_client.config.client_side_validation && dad_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'dad_profile_id' when calling NetworkingProfilesApi.global_infra_delete_ipv6_dad_profile"
      end
      # resource path
      local_var_path = '/global-infra/ipv6-dad-profiles/{dad-profile-id}'.sub('{' + 'dad-profile-id' + '}', dad_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_delete_ipv6_dad_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IPv6 NDRA profile
    # Delete IPv6 NDRA profile
    # @param ndra_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def global_infra_delete_ipv6_ndra_profile(ndra_profile_id, opts = {})
      global_infra_delete_ipv6_ndra_profile_with_http_info(ndra_profile_id, opts)
      nil
    end

    # Delete IPv6 NDRA profile
    # Delete IPv6 NDRA profile
    # @param ndra_profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def global_infra_delete_ipv6_ndra_profile_with_http_info(ndra_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_delete_ipv6_ndra_profile ...'
      end
      # verify the required parameter 'ndra_profile_id' is set
      if @api_client.config.client_side_validation && ndra_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ndra_profile_id' when calling NetworkingProfilesApi.global_infra_delete_ipv6_ndra_profile"
      end
      # resource path
      local_var_path = '/global-infra/ipv6-ndra-profiles/{ndra-profile-id}'.sub('{' + 'ndra-profile-id' + '}', ndra_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_delete_ipv6_ndra_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def global_infra_get_policy_transport_zone_profile(tz_profile_id, opts = {})
      data, _status_code, _headers = global_infra_get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts)
      data
    end

    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def global_infra_get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_get_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling NetworkingProfilesApi.global_infra_get_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/global-infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_get_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyTransportZoneProfileListResult]
    def global_infra_get_policy_transport_zone_profiles(opts = {})
      data, _status_code, _headers = global_infra_get_policy_transport_zone_profiles_with_http_info(opts)
      data
    end

    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyTransportZoneProfileListResult, Fixnum, Hash)>] PolicyTransportZoneProfileListResult data, response status code and response headers
    def global_infra_get_policy_transport_zone_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_get_policy_transport_zone_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_get_policy_transport_zone_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_get_policy_transport_zone_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/transport-zone-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_get_policy_transport_zone_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List BfdProfiles
    # Paginated list of all BfdProfiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [BfdProfileListResult]
    def global_infra_list_bfd_profile(opts = {})
      data, _status_code, _headers = global_infra_list_bfd_profile_with_http_info(opts)
      data
    end

    # List BfdProfiles
    # Paginated list of all BfdProfiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(BfdProfileListResult, Fixnum, Hash)>] BfdProfileListResult data, response status code and response headers
    def global_infra_list_bfd_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_list_bfd_profile ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_bfd_profile, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_bfd_profile, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/bfd-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BfdProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_list_bfd_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all gateway QoS profiles
    # Paginated list of all gateway QoS profle instances 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [GatewayQosProfileListResult]
    def global_infra_list_gateway_qos_profiles(opts = {})
      data, _status_code, _headers = global_infra_list_gateway_qos_profiles_with_http_info(opts)
      data
    end

    # List all gateway QoS profiles
    # Paginated list of all gateway QoS profle instances 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(GatewayQosProfileListResult, Fixnum, Hash)>] GatewayQosProfileListResult data, response status code and response headers
    def global_infra_list_gateway_qos_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_list_gateway_qos_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_gateway_qos_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_gateway_qos_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/gateway-qos-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GatewayQosProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_list_gateway_qos_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all IPv6 DAD profiles
    # Paginated list of all IPv6 DAD profile instances 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Ipv6DadProfileListResult]
    def global_infra_list_ipv6_dad_profiles(opts = {})
      data, _status_code, _headers = global_infra_list_ipv6_dad_profiles_with_http_info(opts)
      data
    end

    # List all IPv6 DAD profiles
    # Paginated list of all IPv6 DAD profile instances 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(Ipv6DadProfileListResult, Fixnum, Hash)>] Ipv6DadProfileListResult data, response status code and response headers
    def global_infra_list_ipv6_dad_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_list_ipv6_dad_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_ipv6_dad_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_ipv6_dad_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/ipv6-dad-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ipv6DadProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_list_ipv6_dad_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List all IPv6 NDRA profiles
    # Paginated list of all IPv6 NDRA profile instances 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Ipv6NdraProfileListResult]
    def global_infra_list_ipv6_ndra_profiles(opts = {})
      data, _status_code, _headers = global_infra_list_ipv6_ndra_profiles_with_http_info(opts)
      data
    end

    # List all IPv6 NDRA profiles
    # Paginated list of all IPv6 NDRA profile instances 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(Ipv6NdraProfileListResult, Fixnum, Hash)>] Ipv6NdraProfileListResult data, response status code and response headers
    def global_infra_list_ipv6_ndra_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_list_ipv6_ndra_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_ipv6_ndra_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling NetworkingProfilesApi.global_infra_list_ipv6_ndra_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/ipv6-ndra-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ipv6NdraProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkingProfilesApi#global_infra_list_ipv6_ndra_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BfdProfile
    # If a BfdProfile with the bfd-profile-id is not already present, create a new BfdProfile. If it already exists, update the BfdProfile. This operation will fully replace the object. 
    # @param bfd_profile_id BfdProfile ID
    # @param bfd_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def global_infra_patch_bfd_profile(bfd_profile_id, bfd_profile, opts = {})
      global_infra_patch_bfd_profile_with_http_info(bfd_profile_id, bfd_profile, opts)
      nil
    end

    # Create or update a BfdProfile
    # If a BfdProfile with the bfd-profile-id is not already present, create a new BfdProfile. If it already exists, update the BfdProfile. This operation will fully replace the object. 
    # @param bfd_profile_id BfdProfile ID
    # @param bfd_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def global_infra_patch_bfd_profile_with_http_info(bfd_profile_id, bfd_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkingProfilesApi.global_infra_patch_bfd_profile ...'
      end
      # verify the required parameter 'bfd_profile_id' is set
      if @api_client.config.client_side_validation && bfd_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'bfd_profile_id' when calling NetworkingProfilesApi.global_infra_patch_bfd_profile"
      end
      # verify the required parameter 'bfd_profile' is set
      if @api_client.config.client_side_validation && bfd_profile.nil?
        fail ArgumentError, "Missing the required parameter 'bfd_profile' when calling NetworkingProfilesApi.global_infra_patch_bfd_profile"
      end
      # resource path
      local_var_path = '/global-infra/bfd-profiles/{bfd-profile-id}'.sub('{' + 'bfd-profile-id' + '}', bfd_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
[...]
