=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class ObservabilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get monitoring info
    # Provides federation monitoring information, which includes all config flows originating from the site where API is invoked. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy path of the Site object
    # @return [MonitoringInfo]
    def get_flow_details(opts = {})
      data, _status_code, _headers = get_flow_details_with_http_info(opts)
      data
    end

    # Get monitoring info
    # Provides federation monitoring information, which includes all config flows originating from the site where API is invoked. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy path of the Site object
    # @return [Array<(MonitoringInfo, Fixnum, Hash)>] MonitoringInfo data, response status code and response headers
    def get_flow_details_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ObservabilityApi.get_flow_details ...'
      end
      # resource path
      local_var_path = '/observability/flow-details'

      # query parameters
      query_params = {}
      query_params[:'site_path'] = opts[:'site_path'] if !opts[:'site_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MonitoringInfo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ObservabilityApi#get_flow_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
