=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class PolicyEdgeNodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Read an Edge Node under an Enforcement Point, Edge Cluster
    # Read an Edge Node under an Enforcement Point, Edge Cluster 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param edge_node_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEdgeNode]
    def global_infra_read_edge_node_under_edge_cluster_for_enforcement_point(site_id, enforcementpoint_id, edge_cluster_id, edge_node_id, opts = {})
      data, _status_code, _headers = global_infra_read_edge_node_under_edge_cluster_for_enforcement_point_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, edge_node_id, opts)
      data
    end

    # Read an Edge Node under an Enforcement Point, Edge Cluster
    # Read an Edge Node under an Enforcement Point, Edge Cluster 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param edge_node_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEdgeNode, Fixnum, Hash)>] PolicyEdgeNode data, response status code and response headers
    def global_infra_read_edge_node_under_edge_cluster_for_enforcement_point_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, edge_node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyEdgeNodeApi.global_infra_read_edge_node_under_edge_cluster_for_enforcement_point ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling PolicyEdgeNodeApi.global_infra_read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling PolicyEdgeNodeApi.global_infra_read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # verify the required parameter 'edge_cluster_id' is set
      if @api_client.config.client_side_validation && edge_cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_cluster_id' when calling PolicyEdgeNodeApi.global_infra_read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # verify the required parameter 'edge_node_id' is set
      if @api_client.config.client_side_validation && edge_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_node_id' when calling PolicyEdgeNodeApi.global_infra_read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # resource path
      local_var_path = '/global-infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-clusters/{edge-cluster-id}/edge-nodes/{edge-node-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-cluster-id' + '}', edge_cluster_id.to_s).sub('{' + 'edge-node-id' + '}', edge_node_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyEdgeNode')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyEdgeNodeApi#global_infra_read_edge_node_under_edge_cluster_for_enforcement_point\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read an Edge Node under an Enforcement Point, Edge Cluster
    # Read an Edge Node under an Enforcement Point, Edge Cluster 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param edge_node_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEdgeNode]
    def read_edge_node_under_edge_cluster_for_enforcement_point(site_id, enforcementpoint_id, edge_cluster_id, edge_node_id, opts = {})
      data, _status_code, _headers = read_edge_node_under_edge_cluster_for_enforcement_point_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, edge_node_id, opts)
      data
    end

    # Read an Edge Node under an Enforcement Point, Edge Cluster
    # Read an Edge Node under an Enforcement Point, Edge Cluster 
    # @param site_id 
    # @param enforcementpoint_id 
    # @param edge_cluster_id 
    # @param edge_node_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEdgeNode, Fixnum, Hash)>] PolicyEdgeNode data, response status code and response headers
    def read_edge_node_under_edge_cluster_for_enforcement_point_with_http_info(site_id, enforcementpoint_id, edge_cluster_id, edge_node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyEdgeNodeApi.read_edge_node_under_edge_cluster_for_enforcement_point ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling PolicyEdgeNodeApi.read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # verify the required parameter 'enforcementpoint_id' is set
      if @api_client.config.client_side_validation && enforcementpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcementpoint_id' when calling PolicyEdgeNodeApi.read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # verify the required parameter 'edge_cluster_id' is set
      if @api_client.config.client_side_validation && edge_cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_cluster_id' when calling PolicyEdgeNodeApi.read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # verify the required parameter 'edge_node_id' is set
      if @api_client.config.client_side_validation && edge_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'edge_node_id' when calling PolicyEdgeNodeApi.read_edge_node_under_edge_cluster_for_enforcement_point"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcementpoint-id}/edge-clusters/{edge-cluster-id}/edge-nodes/{edge-node-id}'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcementpoint-id' + '}', enforcementpoint_id.to_s).sub('{' + 'edge-cluster-id' + '}', edge_cluster_id.to_s).sub('{' + 'edge-node-id' + '}', edge_node_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyEdgeNode')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyEdgeNodeApi#read_edge_node_under_edge_cluster_for_enforcement_point\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
