=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class ProjectRouteFiltersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a route filter
    # Delete a route filter
    # @param route_filter_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project_route_filter(route_filter_id, opts = {})
      delete_project_route_filter_with_http_info(route_filter_id, opts)
      nil
    end

    # Delete a route filter
    # Delete a route filter
    # @param route_filter_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_project_route_filter_with_http_info(route_filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectRouteFiltersApi.delete_project_route_filter ...'
      end
      # verify the required parameter 'route_filter_id' is set
      if @api_client.config.client_side_validation && route_filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_filter_id' when calling ProjectRouteFiltersApi.delete_project_route_filter"
      end
      # resource path
      local_var_path = '/infra/routing-config/project-route-filters/{route-filter-id}'.sub('{' + 'route-filter-id' + '}', route_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectRouteFiltersApi#delete_project_route_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List project route filter lists
    # Paginated list of all route filter lists 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [ProjectRouteFilterListResult]
    def list_project_route_filters(opts = {})
      data, _status_code, _headers = list_project_route_filters_with_http_info(opts)
      data
    end

    # List project route filter lists
    # Paginated list of all route filter lists 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(ProjectRouteFilterListResult, Fixnum, Hash)>] ProjectRouteFilterListResult data, response status code and response headers
    def list_project_route_filters_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectRouteFiltersApi.list_project_route_filters ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProjectRouteFiltersApi.list_project_route_filters, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProjectRouteFiltersApi.list_project_route_filters, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/routing-config/project-route-filters'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProjectRouteFilterListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectRouteFiltersApi#list_project_route_filters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or patch a route filter
    # Create or patch a route filter. This will create a mapping of projects to prefix lists. Prefix lists will be applied to all T-1 under the specified projects. 
    # @param route_filter_id 
    # @param project_route_filter 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_project_route_filter(route_filter_id, project_route_filter, opts = {})
      patch_project_route_filter_with_http_info(route_filter_id, project_route_filter, opts)
      nil
    end

    # Create or patch a route filter
    # Create or patch a route filter. This will create a mapping of projects to prefix lists. Prefix lists will be applied to all T-1 under the specified projects. 
    # @param route_filter_id 
    # @param project_route_filter 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_project_route_filter_with_http_info(route_filter_id, project_route_filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectRouteFiltersApi.patch_project_route_filter ...'
      end
      # verify the required parameter 'route_filter_id' is set
      if @api_client.config.client_side_validation && route_filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_filter_id' when calling ProjectRouteFiltersApi.patch_project_route_filter"
      end
      # verify the required parameter 'project_route_filter' is set
      if @api_client.config.client_side_validation && project_route_filter.nil?
        fail ArgumentError, "Missing the required parameter 'project_route_filter' when calling ProjectRouteFiltersApi.patch_project_route_filter"
      end
      # resource path
      local_var_path = '/infra/routing-config/project-route-filters/{route-filter-id}'.sub('{' + 'route-filter-id' + '}', route_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(project_route_filter)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectRouteFiltersApi#patch_project_route_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update project route filter
    # Create or update a route filter 
    # @param route_filter_id 
    # @param project_route_filter 
    # @param [Hash] opts the optional parameters
    # @return [ProjectRouteFilter]
    def put_project_route_filter(route_filter_id, project_route_filter, opts = {})
      data, _status_code, _headers = put_project_route_filter_with_http_info(route_filter_id, project_route_filter, opts)
      data
    end

    # Create or update project route filter
    # Create or update a route filter 
    # @param route_filter_id 
    # @param project_route_filter 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectRouteFilter, Fixnum, Hash)>] ProjectRouteFilter data, response status code and response headers
    def put_project_route_filter_with_http_info(route_filter_id, project_route_filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectRouteFiltersApi.put_project_route_filter ...'
      end
      # verify the required parameter 'route_filter_id' is set
      if @api_client.config.client_side_validation && route_filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_filter_id' when calling ProjectRouteFiltersApi.put_project_route_filter"
      end
      # verify the required parameter 'project_route_filter' is set
      if @api_client.config.client_side_validation && project_route_filter.nil?
        fail ArgumentError, "Missing the required parameter 'project_route_filter' when calling ProjectRouteFiltersApi.put_project_route_filter"
      end
      # resource path
      local_var_path = '/infra/routing-config/project-route-filters/{route-filter-id}'.sub('{' + 'route-filter-id' + '}', route_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(project_route_filter)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProjectRouteFilter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectRouteFiltersApi#put_project_route_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read a project route filter
    # Read a project route filter
    # @param route_filter_id 
    # @param [Hash] opts the optional parameters
    # @return [ProjectRouteFilter]
    def read_project_route_filter(route_filter_id, opts = {})
      data, _status_code, _headers = read_project_route_filter_with_http_info(route_filter_id, opts)
      data
    end

    # Read a project route filter
    # Read a project route filter
    # @param route_filter_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectRouteFilter, Fixnum, Hash)>] ProjectRouteFilter data, response status code and response headers
    def read_project_route_filter_with_http_info(route_filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectRouteFiltersApi.read_project_route_filter ...'
      end
      # verify the required parameter 'route_filter_id' is set
      if @api_client.config.client_side_validation && route_filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_filter_id' when calling ProjectRouteFiltersApi.read_project_route_filter"
      end
      # resource path
      local_var_path = '/infra/routing-config/project-route-filters/{route-filter-id}'.sub('{' + 'route-filter-id' + '}', route_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProjectRouteFilter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectRouteFiltersApi#read_project_route_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
