=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class RoutingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update a BGP neighbor config
    # If BGP neighbor config with the neighbor-id is not already present, create a new neighbor config. If it already exists, replace the BGP neighbor config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param neighbor_id 
    # @param bgp_neighbor_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [BgpNeighborConfig]
    def create_or_replace_bgp_neighbor_config(tier_0_id, locale_service_id, neighbor_id, bgp_neighbor_config, opts = {})
      data, _status_code, _headers = create_or_replace_bgp_neighbor_config_with_http_info(tier_0_id, locale_service_id, neighbor_id, bgp_neighbor_config, opts)
      data
    end

    # Create or update a BGP neighbor config
    # If BGP neighbor config with the neighbor-id is not already present, create a new neighbor config. If it already exists, replace the BGP neighbor config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param neighbor_id 
    # @param bgp_neighbor_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(BgpNeighborConfig, Fixnum, Hash)>] BgpNeighborConfig data, response status code and response headers
    def create_or_replace_bgp_neighbor_config_with_http_info(tier_0_id, locale_service_id, neighbor_id, bgp_neighbor_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_bgp_neighbor_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_bgp_neighbor_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.create_or_replace_bgp_neighbor_config"
      end
      # verify the required parameter 'neighbor_id' is set
      if @api_client.config.client_side_validation && neighbor_id.nil?
        fail ArgumentError, "Missing the required parameter 'neighbor_id' when calling RoutingApi.create_or_replace_bgp_neighbor_config"
      end
      # verify the required parameter 'bgp_neighbor_config' is set
      if @api_client.config.client_side_validation && bgp_neighbor_config.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_neighbor_config' when calling RoutingApi.create_or_replace_bgp_neighbor_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp/neighbors/{neighbor-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'neighbor-id' + '}', neighbor_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_neighbor_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpNeighborConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_bgp_neighbor_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP routing config
    # If BGP routing config is not already present, create BGP routing config. If it already exists, replace the BGP routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_routing_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [BgpRoutingConfig]
    def create_or_replace_bgp_routing_config(tier_0_id, locale_service_id, bgp_routing_config, opts = {})
      data, _status_code, _headers = create_or_replace_bgp_routing_config_with_http_info(tier_0_id, locale_service_id, bgp_routing_config, opts)
      data
    end

    # Create or update a BGP routing config
    # If BGP routing config is not already present, create BGP routing config. If it already exists, replace the BGP routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_routing_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(BgpRoutingConfig, Fixnum, Hash)>] BgpRoutingConfig data, response status code and response headers
    def create_or_replace_bgp_routing_config_with_http_info(tier_0_id, locale_service_id, bgp_routing_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_bgp_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_bgp_routing_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.create_or_replace_bgp_routing_config"
      end
      # verify the required parameter 'bgp_routing_config' is set
      if @api_client.config.client_side_validation && bgp_routing_config.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_routing_config' when calling RoutingApi.create_or_replace_bgp_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_routing_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpRoutingConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_bgp_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP troubleshoot config
    # If BGP troubleshoot config is not present in BGP configuration, create a new BGP troubleshoot config with default value. If it already exists, update the BGP troubleshoot config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [BgpTroubleshootConfig]
    def create_or_replace_bgp_troubleshoot_config(tier_0_id, locale_service_id, bgp_troubleshoot_config, opts = {})
      data, _status_code, _headers = create_or_replace_bgp_troubleshoot_config_with_http_info(tier_0_id, locale_service_id, bgp_troubleshoot_config, opts)
      data
    end

    # Create or update a BGP troubleshoot config
    # If BGP troubleshoot config is not present in BGP configuration, create a new BGP troubleshoot config with default value. If it already exists, update the BGP troubleshoot config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(BgpTroubleshootConfig, Fixnum, Hash)>] BgpTroubleshootConfig data, response status code and response headers
    def create_or_replace_bgp_troubleshoot_config_with_http_info(tier_0_id, locale_service_id, bgp_troubleshoot_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_bgp_troubleshoot_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_bgp_troubleshoot_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.create_or_replace_bgp_troubleshoot_config"
      end
      # verify the required parameter 'bgp_troubleshoot_config' is set
      if @api_client.config.client_side_validation && bgp_troubleshoot_config.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_troubleshoot_config' when calling RoutingApi.create_or_replace_bgp_troubleshoot_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp/troubleshoot'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_troubleshoot_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpTroubleshootConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_bgp_troubleshoot_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP community list
    # If a community list with the community-list-id is not already present, create a new community list. If it already exists, replace the community list instance with the new object. 
    # @param tier_0_id 
    # @param community_list_id 
    # @param community_list 
    # @param [Hash] opts the optional parameters
    # @return [CommunityList]
    def create_or_replace_community_list(tier_0_id, community_list_id, community_list, opts = {})
      data, _status_code, _headers = create_or_replace_community_list_with_http_info(tier_0_id, community_list_id, community_list, opts)
      data
    end

    # Create or update a BGP community list
    # If a community list with the community-list-id is not already present, create a new community list. If it already exists, replace the community list instance with the new object. 
    # @param tier_0_id 
    # @param community_list_id 
    # @param community_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommunityList, Fixnum, Hash)>] CommunityList data, response status code and response headers
    def create_or_replace_community_list_with_http_info(tier_0_id, community_list_id, community_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_community_list ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_community_list"
      end
      # verify the required parameter 'community_list_id' is set
      if @api_client.config.client_side_validation && community_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_list_id' when calling RoutingApi.create_or_replace_community_list"
      end
      # verify the required parameter 'community_list' is set
      if @api_client.config.client_side_validation && community_list.nil?
        fail ArgumentError, "Missing the required parameter 'community_list' when calling RoutingApi.create_or_replace_community_list"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/community-lists/{community-list-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'community-list-id' + '}', community_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(community_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CommunityList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_community_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a prefix list
    # If prefix list for prefix-list-id is not already present, create a prefix list. If it already exists, replace the prefix list for prefix-list-id. Note:    Updating existing prefixes require order to be  preserved to avoid traffic impact. During PATCH operation,    reordering of existing prefixes may impact routes and eventually datapath.    Order here is crucial and it all depends upon action. If action for every prefix is PERMIT then order may    not impact but if there is DENY prefix then change in ordering could lead to traffic impact. 
    # @param prefix_list_id 
    # @param prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [PrefixList]
    def create_or_replace_infra_prefix_list(prefix_list_id, prefix_list, opts = {})
      data, _status_code, _headers = create_or_replace_infra_prefix_list_with_http_info(prefix_list_id, prefix_list, opts)
      data
    end

    # Create or update a prefix list
    # If prefix list for prefix-list-id is not already present, create a prefix list. If it already exists, replace the prefix list for prefix-list-id. Note:    Updating existing prefixes require order to be  preserved to avoid traffic impact. During PATCH operation,    reordering of existing prefixes may impact routes and eventually datapath.    Order here is crucial and it all depends upon action. If action for every prefix is PERMIT then order may    not impact but if there is DENY prefix then change in ordering could lead to traffic impact. 
    # @param prefix_list_id 
    # @param prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefixList, Fixnum, Hash)>] PrefixList data, response status code and response headers
    def create_or_replace_infra_prefix_list_with_http_info(prefix_list_id, prefix_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_infra_prefix_list ...'
      end
      # verify the required parameter 'prefix_list_id' is set
      if @api_client.config.client_side_validation && prefix_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list_id' when calling RoutingApi.create_or_replace_infra_prefix_list"
      end
      # verify the required parameter 'prefix_list' is set
      if @api_client.config.client_side_validation && prefix_list.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list' when calling RoutingApi.create_or_replace_infra_prefix_list"
      end
      # resource path
      local_var_path = '/infra/routing-config/prefix-lists/{prefix-list-id}'.sub('{' + 'prefix-list-id' + '}', prefix_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(prefix_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PrefixList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_infra_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a OSPF Area config
    # If OSPF Area config is not already present, create OSPF Area config. If it already exists, replace the OSPF Area config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param area_id 
    # @param ospf_area_config 
    # @param [Hash] opts the optional parameters
    # @return [OspfAreaConfig]
    def create_or_replace_ospf_area_config(tier_0_id, locale_service_id, area_id, ospf_area_config, opts = {})
      data, _status_code, _headers = create_or_replace_ospf_area_config_with_http_info(tier_0_id, locale_service_id, area_id, ospf_area_config, opts)
      data
    end

    # Create or update a OSPF Area config
    # If OSPF Area config is not already present, create OSPF Area config. If it already exists, replace the OSPF Area config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param area_id 
    # @param ospf_area_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OspfAreaConfig, Fixnum, Hash)>] OspfAreaConfig data, response status code and response headers
    def create_or_replace_ospf_area_config_with_http_info(tier_0_id, locale_service_id, area_id, ospf_area_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_ospf_area_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_ospf_area_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.create_or_replace_ospf_area_config"
      end
      # verify the required parameter 'area_id' is set
      if @api_client.config.client_side_validation && area_id.nil?
        fail ArgumentError, "Missing the required parameter 'area_id' when calling RoutingApi.create_or_replace_ospf_area_config"
      end
      # verify the required parameter 'ospf_area_config' is set
      if @api_client.config.client_side_validation && ospf_area_config.nil?
        fail ArgumentError, "Missing the required parameter 'ospf_area_config' when calling RoutingApi.create_or_replace_ospf_area_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf/areas/{area-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'area-id' + '}', area_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ospf_area_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OspfAreaConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_ospf_area_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a OSPF routing config
    # If OSPF routing config is not already present, create OSPF routing config. If it already exists, replace the OSPF routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param ospf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [OspfRoutingConfig]
    def create_or_replace_ospf_routing_config(tier_0_id, locale_service_id, ospf_routing_config, opts = {})
      data, _status_code, _headers = create_or_replace_ospf_routing_config_with_http_info(tier_0_id, locale_service_id, ospf_routing_config, opts)
      data
    end

    # Create or update a OSPF routing config
    # If OSPF routing config is not already present, create OSPF routing config. If it already exists, replace the OSPF routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param ospf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OspfRoutingConfig, Fixnum, Hash)>] OspfRoutingConfig data, response status code and response headers
    def create_or_replace_ospf_routing_config_with_http_info(tier_0_id, locale_service_id, ospf_routing_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_ospf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_ospf_routing_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.create_or_replace_ospf_routing_config"
      end
      # verify the required parameter 'ospf_routing_config' is set
      if @api_client.config.client_side_validation && ospf_routing_config.nil?
        fail ArgumentError, "Missing the required parameter 'ospf_routing_config' when calling RoutingApi.create_or_replace_ospf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ospf_routing_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OspfRoutingConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_ospf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a prefix list
    # If prefix list for prefix-list-id is not already present, create a prefix list. If it already exists, replace the prefix list for prefix-list-id. Note:    Updating existing prefixes require order to be  preserved to avoid traffic impact. During PATCH operation,    reordering of existing prefixes may impact routes and eventually datapath.    Order here is crucial and it all depends upon action. If action for every prefix is PERMIT then order may    not impact but if there is DENY prefix then change in ordering could lead to traffic impact. 
    # @param tier_0_id Tier-0 ID
    # @param prefix_list_id Prefix List ID
    # @param prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [PrefixList]
    def create_or_replace_prefix_list(tier_0_id, prefix_list_id, prefix_list, opts = {})
      data, _status_code, _headers = create_or_replace_prefix_list_with_http_info(tier_0_id, prefix_list_id, prefix_list, opts)
      data
    end

    # Create or update a prefix list
    # If prefix list for prefix-list-id is not already present, create a prefix list. If it already exists, replace the prefix list for prefix-list-id. Note:    Updating existing prefixes require order to be  preserved to avoid traffic impact. During PATCH operation,    reordering of existing prefixes may impact routes and eventually datapath.    Order here is crucial and it all depends upon action. If action for every prefix is PERMIT then order may    not impact but if there is DENY prefix then change in ordering could lead to traffic impact. 
    # @param tier_0_id Tier-0 ID
    # @param prefix_list_id Prefix List ID
    # @param prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefixList, Fixnum, Hash)>] PrefixList data, response status code and response headers
    def create_or_replace_prefix_list_with_http_info(tier_0_id, prefix_list_id, prefix_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_prefix_list ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_prefix_list"
      end
      # verify the required parameter 'prefix_list_id' is set
      if @api_client.config.client_side_validation && prefix_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list_id' when calling RoutingApi.create_or_replace_prefix_list"
      end
      # verify the required parameter 'prefix_list' is set
      if @api_client.config.client_side_validation && prefix_list.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list' when calling RoutingApi.create_or_replace_prefix_list"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/prefix-lists/{prefix-list-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'prefix-list-id' + '}', prefix_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(prefix_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PrefixList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a route map
    # If a route map with the route-map-id is not already present, create a new route map. If it already exists, replace the route map instance with the new object. 
    # @param tier_0_id 
    # @param route_map_id 
    # @param tier0_route_map 
    # @param [Hash] opts the optional parameters
    # @return [Tier0RouteMap]
    def create_or_replace_route_map(tier_0_id, route_map_id, tier0_route_map, opts = {})
      data, _status_code, _headers = create_or_replace_route_map_with_http_info(tier_0_id, route_map_id, tier0_route_map, opts)
      data
    end

    # Create or update a route map
    # If a route map with the route-map-id is not already present, create a new route map. If it already exists, replace the route map instance with the new object. 
    # @param tier_0_id 
    # @param route_map_id 
    # @param tier0_route_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0RouteMap, Fixnum, Hash)>] Tier0RouteMap data, response status code and response headers
    def create_or_replace_route_map_with_http_info(tier_0_id, route_map_id, tier0_route_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_route_map ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_route_map"
      end
      # verify the required parameter 'route_map_id' is set
      if @api_client.config.client_side_validation && route_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_map_id' when calling RoutingApi.create_or_replace_route_map"
      end
      # verify the required parameter 'tier0_route_map' is set
      if @api_client.config.client_side_validation && tier0_route_map.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_route_map' when calling RoutingApi.create_or_replace_route_map"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/route-maps/{route-map-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'route-map-id' + '}', route_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0_route_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0RouteMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_route_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a StaticRouteBfdTroubleshootConfig
    # If a StaticRouteBfdTroubleshootConfig is not already present, create a new StaticRouteBfdTroubleshootConfig. If it already exists, update the StaticRouteBfdTroubleshootConfig. This operation will fully replace the object. 
    # @param tier_0_id Tier-0 ID
    # @param static_route_bfd_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [StaticRouteBfdTroubleshootConfig]
    def create_or_replace_static_route_bfd_troubleshoot_config(tier_0_id, static_route_bfd_troubleshoot_config, opts = {})
      data, _status_code, _headers = create_or_replace_static_route_bfd_troubleshoot_config_with_http_info(tier_0_id, static_route_bfd_troubleshoot_config, opts)
      data
    end

    # Create or update a StaticRouteBfdTroubleshootConfig
    # If a StaticRouteBfdTroubleshootConfig is not already present, create a new StaticRouteBfdTroubleshootConfig. If it already exists, update the StaticRouteBfdTroubleshootConfig. This operation will fully replace the object. 
    # @param tier_0_id Tier-0 ID
    # @param static_route_bfd_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(StaticRouteBfdTroubleshootConfig, Fixnum, Hash)>] StaticRouteBfdTroubleshootConfig data, response status code and response headers
    def create_or_replace_static_route_bfd_troubleshoot_config_with_http_info(tier_0_id, static_route_bfd_troubleshoot_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_static_route_bfd_troubleshoot_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_static_route_bfd_troubleshoot_config"
      end
      # verify the required parameter 'static_route_bfd_troubleshoot_config' is set
      if @api_client.config.client_side_validation && static_route_bfd_troubleshoot_config.nil?
        fail ArgumentError, "Missing the required parameter 'static_route_bfd_troubleshoot_config' when calling RoutingApi.create_or_replace_static_route_bfd_troubleshoot_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/static-routes/bfd-peers/troubleshoot'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_route_bfd_troubleshoot_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticRouteBfdTroubleshootConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_static_route_bfd_troubleshoot_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0 static routes
    # If static routes for route-id are not already present, create static routes. If it already exists, replace the static routes for route-id. 
    # @param tier_0_id 
    # @param route_id 
    # @param static_routes 
    # @param [Hash] opts the optional parameters
    # @return [StaticRoutes]
    def create_or_replace_tier0_static_routes(tier_0_id, route_id, static_routes, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_static_routes_with_http_info(tier_0_id, route_id, static_routes, opts)
      data
    end

    # Create or update a Tier-0 static routes
    # If static routes for route-id are not already present, create static routes. If it already exists, replace the static routes for route-id. 
    # @param tier_0_id 
    # @param route_id 
    # @param static_routes 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticRoutes, Fixnum, Hash)>] StaticRoutes data, response status code and response headers
    def create_or_replace_tier0_static_routes_with_http_info(tier_0_id, route_id, static_routes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_tier0_static_routes ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.create_or_replace_tier0_static_routes"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RoutingApi.create_or_replace_tier0_static_routes"
      end
      # verify the required parameter 'static_routes' is set
      if @api_client.config.client_side_validation && static_routes.nil?
        fail ArgumentError, "Missing the required parameter 'static_routes' when calling RoutingApi.create_or_replace_tier0_static_routes"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/static-routes/{route-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'route-id' + '}', route_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_routes)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticRoutes')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_tier0_static_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-1 static routes
    # If static routes for route-id are not already present, create static routes. If it already exists, replace the static routes for route-id. 
    # @param tier_1_id 
    # @param route_id 
    # @param static_routes 
    # @param [Hash] opts the optional parameters
    # @return [StaticRoutes]
    def create_or_replace_tier1_static_routes(tier_1_id, route_id, static_routes, opts = {})
      data, _status_code, _headers = create_or_replace_tier1_static_routes_with_http_info(tier_1_id, route_id, static_routes, opts)
      data
    end

    # Create or update a Tier-1 static routes
    # If static routes for route-id are not already present, create static routes. If it already exists, replace the static routes for route-id. 
    # @param tier_1_id 
    # @param route_id 
    # @param static_routes 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticRoutes, Fixnum, Hash)>] StaticRoutes data, response status code and response headers
    def create_or_replace_tier1_static_routes_with_http_info(tier_1_id, route_id, static_routes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.create_or_replace_tier1_static_routes ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling RoutingApi.create_or_replace_tier1_static_routes"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RoutingApi.create_or_replace_tier1_static_routes"
      end
      # verify the required parameter 'static_routes' is set
      if @api_client.config.client_side_validation && static_routes.nil?
        fail ArgumentError, "Missing the required parameter 'static_routes' when calling RoutingApi.create_or_replace_tier1_static_routes"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/static-routes/{route-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'route-id' + '}', route_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_routes)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticRoutes')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#create_or_replace_tier1_static_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete BGP neighbor config
    # Delete BGP neighbor config
    # @param tier_0_id 
    # @param locale_service_id 
    # @param neighbor_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_bgp_neighbor_config(tier_0_id, locale_service_id, neighbor_id, opts = {})
      delete_bgp_neighbor_config_with_http_info(tier_0_id, locale_service_id, neighbor_id, opts)
      nil
    end

    # Delete BGP neighbor config
    # Delete BGP neighbor config
    # @param tier_0_id 
    # @param locale_service_id 
    # @param neighbor_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_bgp_neighbor_config_with_http_info(tier_0_id, locale_service_id, neighbor_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_bgp_neighbor_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_bgp_neighbor_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.delete_bgp_neighbor_config"
      end
      # verify the required parameter 'neighbor_id' is set
      if @api_client.config.client_side_validation && neighbor_id.nil?
        fail ArgumentError, "Missing the required parameter 'neighbor_id' when calling RoutingApi.delete_bgp_neighbor_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp/neighbors/{neighbor-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'neighbor-id' + '}', neighbor_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_bgp_neighbor_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a BGP community list
    # Delete a BGP community list
    # @param tier_0_id 
    # @param community_list_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_community_list(tier_0_id, community_list_id, opts = {})
      delete_community_list_with_http_info(tier_0_id, community_list_id, opts)
      nil
    end

    # Delete a BGP community list
    # Delete a BGP community list
    # @param tier_0_id 
    # @param community_list_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_community_list_with_http_info(tier_0_id, community_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_community_list ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_community_list"
      end
      # verify the required parameter 'community_list_id' is set
      if @api_client.config.client_side_validation && community_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_list_id' when calling RoutingApi.delete_community_list"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/community-lists/{community-list-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'community-list-id' + '}', community_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_community_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a prefix list
    # Delete a prefix list
    # @param prefix_list_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_prefix_list(prefix_list_id, opts = {})
      delete_infra_prefix_list_with_http_info(prefix_list_id, opts)
      nil
    end

    # Delete a prefix list
    # Delete a prefix list
    # @param prefix_list_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_prefix_list_with_http_info(prefix_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_infra_prefix_list ...'
      end
      # verify the required parameter 'prefix_list_id' is set
      if @api_client.config.client_side_validation && prefix_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list_id' when calling RoutingApi.delete_infra_prefix_list"
      end
      # resource path
      local_var_path = '/infra/routing-config/prefix-lists/{prefix-list-id}'.sub('{' + 'prefix-list-id' + '}', prefix_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_infra_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete OSPF Area config
    # Delete OSPF Area config 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param area_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ospf_area_config(tier_0_id, locale_service_id, area_id, opts = {})
      delete_ospf_area_config_with_http_info(tier_0_id, locale_service_id, area_id, opts)
      nil
    end

    # Delete OSPF Area config
    # Delete OSPF Area config 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param area_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ospf_area_config_with_http_info(tier_0_id, locale_service_id, area_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_ospf_area_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_ospf_area_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.delete_ospf_area_config"
      end
      # verify the required parameter 'area_id' is set
      if @api_client.config.client_side_validation && area_id.nil?
        fail ArgumentError, "Missing the required parameter 'area_id' when calling RoutingApi.delete_ospf_area_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf/areas/{area-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'area-id' + '}', area_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_ospf_area_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete overridden BGP routing config
    # Deletes the specified overridden BgpRoutingConfig. If the BgpRoutingConfig is not overridden, it won't get deleted. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_overridden_bgp_routing_config(tier_0_id, locale_service_id, opts = {})
      delete_overridden_bgp_routing_config_with_http_info(tier_0_id, locale_service_id, opts)
      nil
    end

    # Delete overridden BGP routing config
    # Deletes the specified overridden BgpRoutingConfig. If the BgpRoutingConfig is not overridden, it won&#39;t get deleted. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_overridden_bgp_routing_config_with_http_info(tier_0_id, locale_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_overridden_bgp_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_overridden_bgp_routing_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.delete_overridden_bgp_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_overridden_bgp_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete inter-vrf routing config
    # Delete inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_inter_vrf_routing_config(tier_0_id, inter_vrf_routing_id, opts = {})
      delete_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, opts)
      nil
    end

    # Delete inter-vrf routing config
    # Delete inter-vrf routing config.
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_inter_vrf_routing_config_with_http_info(tier_0_id, inter_vrf_routing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_policy_inter_vrf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_policy_inter_vrf_routing_config"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling RoutingApi.delete_policy_inter_vrf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_policy_inter_vrf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a prefix list
    # Delete a prefix list
    # @param tier_0_id 
    # @param prefix_list_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prefix_list(tier_0_id, prefix_list_id, opts = {})
      delete_prefix_list_with_http_info(tier_0_id, prefix_list_id, opts)
      nil
    end

    # Delete a prefix list
    # Delete a prefix list
    # @param tier_0_id 
    # @param prefix_list_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_prefix_list_with_http_info(tier_0_id, prefix_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_prefix_list ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_prefix_list"
      end
      # verify the required parameter 'prefix_list_id' is set
      if @api_client.config.client_side_validation && prefix_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list_id' when calling RoutingApi.delete_prefix_list"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/prefix-lists/{prefix-list-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'prefix-list-id' + '}', prefix_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a route filter
    # Delete a route filter
    # @param route_filter_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_project_route_filter(route_filter_id, opts = {})
      delete_project_route_filter_with_http_info(route_filter_id, opts)
      nil
    end

    # Delete a route filter
    # Delete a route filter
    # @param route_filter_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_project_route_filter_with_http_info(route_filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_project_route_filter ...'
      end
      # verify the required parameter 'route_filter_id' is set
      if @api_client.config.client_side_validation && route_filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_filter_id' when calling RoutingApi.delete_project_route_filter"
      end
      # resource path
      local_var_path = '/infra/routing-config/project-route-filters/{route-filter-id}'.sub('{' + 'route-filter-id' + '}', route_filter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_project_route_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete this StaticRouteBfdPeer and all the entities contained by it.
    # Delete this StaticRouteBfdPeer and all the entities contained by it.
    # @param tier_0_id Tier-0 ID
    # @param bfd_peer_id BFD peer ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_static_route_bfd_peer(tier_0_id, bfd_peer_id, opts = {})
      delete_static_route_bfd_peer_with_http_info(tier_0_id, bfd_peer_id, opts)
      nil
    end

    # Delete this StaticRouteBfdPeer and all the entities contained by it.
    # Delete this StaticRouteBfdPeer and all the entities contained by it.
    # @param tier_0_id Tier-0 ID
    # @param bfd_peer_id BFD peer ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_static_route_bfd_peer_with_http_info(tier_0_id, bfd_peer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_static_route_bfd_peer ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_static_route_bfd_peer"
      end
      # verify the required parameter 'bfd_peer_id' is set
      if @api_client.config.client_side_validation && bfd_peer_id.nil?
        fail ArgumentError, "Missing the required parameter 'bfd_peer_id' when calling RoutingApi.delete_static_route_bfd_peer"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/static-routes/bfd-peers/{bfd-peer-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'bfd-peer-id' + '}', bfd_peer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_static_route_bfd_peer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Tier-0 static routes
    # Delete Tier-0 static routes
    # @param tier_0_id 
    # @param route_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_static_routes(tier_0_id, route_id, opts = {})
      delete_tier0_static_routes_with_http_info(tier_0_id, route_id, opts)
      nil
    end

    # Delete Tier-0 static routes
    # Delete Tier-0 static routes
    # @param tier_0_id 
    # @param route_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_static_routes_with_http_info(tier_0_id, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_tier0_static_routes ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.delete_tier0_static_routes"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RoutingApi.delete_tier0_static_routes"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/static-routes/{route-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'route-id' + '}', route_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_tier0_static_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Tier-1 static routes
    # Delete Tier-1 static routes
    # @param tier_1_id 
    # @param route_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier1_static_routes(tier_1_id, route_id, opts = {})
      delete_tier1_static_routes_with_http_info(tier_1_id, route_id, opts)
      nil
    end

    # Delete Tier-1 static routes
    # Delete Tier-1 static routes
    # @param tier_1_id 
    # @param route_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier1_static_routes_with_http_info(tier_1_id, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.delete_tier1_static_routes ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling RoutingApi.delete_tier1_static_routes"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RoutingApi.delete_tier1_static_routes"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/static-routes/{route-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'route-id' + '}', route_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#delete_tier1_static_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Recover of Tier0 and linked tier1 gateway(s).
    # API to recover specified Tier0 gateway and linked tier1 gateway from primary site path to new primary site path. This will update intent of affected Tier-0 and Tier-1 gateway. 
    # @param gateway_site_failover_action_config 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def gateway_site_failover_action(gateway_site_failover_action_config, opts = {})
      gateway_site_failover_action_with_http_info(gateway_site_failover_action_config, opts)
      nil
    end

    # Recover of Tier0 and linked tier1 gateway(s).
    # API to recover specified Tier0 gateway and linked tier1 gateway from primary site path to new primary site path. This will update intent of affected Tier-0 and Tier-1 gateway. 
    # @param gateway_site_failover_action_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def gateway_site_failover_action_with_http_info(gateway_site_failover_action_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.gateway_site_failover_action ...'
      end
      # verify the required parameter 'gateway_site_failover_action_config' is set
      if @api_client.config.client_side_validation && gateway_site_failover_action_config.nil?
        fail ArgumentError, "Missing the required parameter 'gateway_site_failover_action_config' when calling RoutingApi.gateway_site_failover_action"
      end
      # resource path
      local_var_path = '/infra/tier-0s?action=site_failover'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(gateway_site_failover_action_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#gateway_site_failover_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List advertised networks
    # Returns information about all networks which advertised to TIER0 LR. 
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyAdvertisedNetworksListResult]
    def get_advertised_networks(tier_0_id, inter_vrf_routing_id, opts = {})
      data, _status_code, _headers = get_advertised_networks_with_http_info(tier_0_id, inter_vrf_routing_id, opts)
      data
    end

    # List advertised networks
    # Returns information about all networks which advertised to TIER0 LR. 
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyAdvertisedNetworksListResult, Fixnum, Hash)>] PolicyAdvertisedNetworksListResult data, response status code and response headers
    def get_advertised_networks_with_http_info(tier_0_id, inter_vrf_routing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.get_advertised_networks ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.get_advertised_networks"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling RoutingApi.get_advertised_networks"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_advertised_networks, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_advertised_networks, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}/advertised-networks'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyAdvertisedNetworksListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#get_advertised_networks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List advertised networks in CSV format
    # List advertised networks in CSV format. 
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyAdvertisedNetworkInCsvFormat]
    def get_advertised_networks_in_csv_format(tier_0_id, inter_vrf_routing_id, opts = {})
      data, _status_code, _headers = get_advertised_networks_in_csv_format_with_http_info(tier_0_id, inter_vrf_routing_id, opts)
      data
    end

    # List advertised networks in CSV format
    # List advertised networks in CSV format. 
    # @param tier_0_id 
    # @param inter_vrf_routing_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyAdvertisedNetworkInCsvFormat, Fixnum, Hash)>] PolicyAdvertisedNetworkInCsvFormat data, response status code and response headers
    def get_advertised_networks_in_csv_format_with_http_info(tier_0_id, inter_vrf_routing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.get_advertised_networks_in_csv_format ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.get_advertised_networks_in_csv_format"
      end
      # verify the required parameter 'inter_vrf_routing_id' is set
      if @api_client.config.client_side_validation && inter_vrf_routing_id.nil?
        fail ArgumentError, "Missing the required parameter 'inter_vrf_routing_id' when calling RoutingApi.get_advertised_networks_in_csv_format"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_advertised_networks_in_csv_format, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_advertised_networks_in_csv_format, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/inter-vrf-routing/{inter-vrf-routing-id}/advertised-networks?format=csv'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'inter-vrf-routing-id' + '}', inter_vrf_routing_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyAdvertisedNetworkInCsvFormat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#get_advertised_networks_in_csv_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get OSPF database information
    # Get OSPF database information. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :area_id OSPF area identifier
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :edge_path Policy path of edge
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyOspfDatabaseListResult]
    def get_ospf_database(tier_0_id, locale_service_id, opts = {})
      data, _status_code, _headers = get_ospf_database_with_http_info(tier_0_id, locale_service_id, opts)
      data
    end

    # Get OSPF database information
    # Get OSPF database information. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :area_id OSPF area identifier
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :edge_path Policy path of edge
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyOspfDatabaseListResult, Fixnum, Hash)>] PolicyOspfDatabaseListResult data, response status code and response headers
    def get_ospf_database_with_http_info(tier_0_id, locale_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.get_ospf_database ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.get_ospf_database"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.get_ospf_database"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_ospf_database, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_ospf_database, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf/database'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'area_id'] = opts[:'area_id'] if !opts[:'area_id'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'edge_path'] = opts[:'edge_path'] if !opts[:'edge_path'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyOspfDatabaseListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#get_ospf_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get OSPF Database information in CSV format
    # Get OSPF Database information in CSV format. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :area_id OSPF area identifier
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :edge_path Policy path of edge
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [OspfDatabaseListResultInCsvFormat]
    def get_ospf_database_in_csv_format(tier_0_id, locale_service_id, opts = {})
      data, _status_code, _headers = get_ospf_database_in_csv_format_with_http_info(tier_0_id, locale_service_id, opts)
      data
    end

    # Get OSPF Database information in CSV format
    # Get OSPF Database information in CSV format. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :area_id OSPF area identifier
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :edge_path Policy path of edge
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(OspfDatabaseListResultInCsvFormat, Fixnum, Hash)>] OspfDatabaseListResultInCsvFormat data, response status code and response headers
    def get_ospf_database_in_csv_format_with_http_info(tier_0_id, locale_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.get_ospf_database_in_csv_format ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling RoutingApi.get_ospf_database_in_csv_format"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling RoutingApi.get_ospf_database_in_csv_format"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_ospf_database_in_csv_format, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling RoutingApi.get_ospf_database_in_csv_format, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf/database?format=csv'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'area_id'] = opts[:'area_id'] if !opts[:'area_id'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'edge_path'] = opts[:'edge_path'] if !opts[:'edge_path'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OspfDatabaseListResultInCsvFormat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#get_ospf_database_in_csv_format\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get OSPF neighbor information
    # Get OSPF neighbor information. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :edge_path Policy path of edge
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [String] :neighbor_address IPv4 or IPv6 address
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [OspfNeighborsStatusListResult]
    def get_ospf_neighbors(tier_0_id, locale_service_id, opts = {})
      data, _status_code, _headers = get_ospf_neighbors_with_http_info(tier_0_id, locale_service_id, opts)
      data
    end

[...]
