=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class SecurityProfileApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get VpcSecurityProfile
    # Get security profile with the specified ID. Currently only the default security profile at the project level can be queried using this API. 
    # @param org_id 
    # @param project_id 
    # @param vpc_security_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [VpcSecurityProfile]
    def get_vpc_security_profile(org_id, project_id, vpc_security_profile_id, opts = {})
      data, _status_code, _headers = get_vpc_security_profile_with_http_info(org_id, project_id, vpc_security_profile_id, opts)
      data
    end

    # Get VpcSecurityProfile
    # Get security profile with the specified ID. Currently only the default security profile at the project level can be queried using this API. 
    # @param org_id 
    # @param project_id 
    # @param vpc_security_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VpcSecurityProfile, Fixnum, Hash)>] VpcSecurityProfile data, response status code and response headers
    def get_vpc_security_profile_with_http_info(org_id, project_id, vpc_security_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfileApi.get_vpc_security_profile ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SecurityProfileApi.get_vpc_security_profile"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SecurityProfileApi.get_vpc_security_profile"
      end
      # verify the required parameter 'vpc_security_profile_id' is set
      if @api_client.config.client_side_validation && vpc_security_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'vpc_security_profile_id' when calling SecurityProfileApi.get_vpc_security_profile"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/vpc-security-profiles/{vpc-security-profile-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'vpc-security-profile-id' + '}', vpc_security_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VpcSecurityProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfileApi#get_vpc_security_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List of VpcSecurityProfiles
    # Paginated list of VpcSecurityProfiles. Note: Currently this API will return only a single default security profile at the project level. 
    # @param org_id 
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [VpcSecurityProfileListResult]
    def list_vpc_security_profiles(org_id, project_id, opts = {})
      data, _status_code, _headers = list_vpc_security_profiles_with_http_info(org_id, project_id, opts)
      data
    end

    # List of VpcSecurityProfiles
    # Paginated list of VpcSecurityProfiles. Note: Currently this API will return only a single default security profile at the project level. 
    # @param org_id 
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(VpcSecurityProfileListResult, Fixnum, Hash)>] VpcSecurityProfileListResult data, response status code and response headers
    def list_vpc_security_profiles_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfileApi.list_vpc_security_profiles ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SecurityProfileApi.list_vpc_security_profiles"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SecurityProfileApi.list_vpc_security_profiles"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SecurityProfileApi.list_vpc_security_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SecurityProfileApi.list_vpc_security_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/vpc-security-profiles'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VpcSecurityProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfileApi#list_vpc_security_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Security Profile
    # Update existing default security profile. Note: Currently, user will not be able to create new security profiles. 
    # @param org_id 
    # @param project_id 
    # @param vpc_security_profile_id 
    # @param vpc_security_profile 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_vpc_security_profile(org_id, project_id, vpc_security_profile_id, vpc_security_profile, opts = {})
      patch_vpc_security_profile_with_http_info(org_id, project_id, vpc_security_profile_id, vpc_security_profile, opts)
      nil
    end

    # Update Security Profile
    # Update existing default security profile. Note: Currently, user will not be able to create new security profiles. 
    # @param org_id 
    # @param project_id 
    # @param vpc_security_profile_id 
    # @param vpc_security_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_vpc_security_profile_with_http_info(org_id, project_id, vpc_security_profile_id, vpc_security_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfileApi.patch_vpc_security_profile ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SecurityProfileApi.patch_vpc_security_profile"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SecurityProfileApi.patch_vpc_security_profile"
      end
      # verify the required parameter 'vpc_security_profile_id' is set
      if @api_client.config.client_side_validation && vpc_security_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'vpc_security_profile_id' when calling SecurityProfileApi.patch_vpc_security_profile"
      end
      # verify the required parameter 'vpc_security_profile' is set
      if @api_client.config.client_side_validation && vpc_security_profile.nil?
        fail ArgumentError, "Missing the required parameter 'vpc_security_profile' when calling SecurityProfileApi.patch_vpc_security_profile"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/vpc-security-profiles/{vpc-security-profile-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'vpc-security-profile-id' + '}', vpc_security_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vpc_security_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfileApi#patch_vpc_security_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Security Profile
    # Update existing security profile. Note: Currently, user will not be able to create new security profiles. 
    # @param org_id 
    # @param project_id 
    # @param vpc_security_profile_id 
    # @param vpc_security_profile 
    # @param [Hash] opts the optional parameters
    # @return [VpcSecurityProfile]
    def update_vpc_security_profile(org_id, project_id, vpc_security_profile_id, vpc_security_profile, opts = {})
      data, _status_code, _headers = update_vpc_security_profile_with_http_info(org_id, project_id, vpc_security_profile_id, vpc_security_profile, opts)
      data
    end

    # Update Security Profile
    # Update existing security profile. Note: Currently, user will not be able to create new security profiles. 
    # @param org_id 
    # @param project_id 
    # @param vpc_security_profile_id 
    # @param vpc_security_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VpcSecurityProfile, Fixnum, Hash)>] VpcSecurityProfile data, response status code and response headers
    def update_vpc_security_profile_with_http_info(org_id, project_id, vpc_security_profile_id, vpc_security_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfileApi.update_vpc_security_profile ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SecurityProfileApi.update_vpc_security_profile"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SecurityProfileApi.update_vpc_security_profile"
      end
      # verify the required parameter 'vpc_security_profile_id' is set
      if @api_client.config.client_side_validation && vpc_security_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'vpc_security_profile_id' when calling SecurityProfileApi.update_vpc_security_profile"
      end
      # verify the required parameter 'vpc_security_profile' is set
      if @api_client.config.client_side_validation && vpc_security_profile.nil?
        fail ArgumentError, "Missing the required parameter 'vpc_security_profile' when calling SecurityProfileApi.update_vpc_security_profile"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/vpc-security-profiles/{vpc-security-profile-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'vpc-security-profile-id' + '}', vpc_security_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vpc_security_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VpcSecurityProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfileApi#update_vpc_security_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
