=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class SecurityProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete CPU and memory thresholds profile
    # Delete CPU and memory thresholds profile.
    # @param profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_cpu_mem_thresholds_profile(profile_id, opts = {})
      delete_cpu_mem_thresholds_profile_with_http_info(profile_id, opts)
      nil
    end

    # Delete CPU and memory thresholds profile
    # Delete CPU and memory thresholds profile.
    # @param profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_cpu_mem_thresholds_profile_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_cpu_mem_thresholds_profile ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling SecurityProfilesApi.delete_cpu_mem_thresholds_profile"
      end
      # resource path
      local_var_path = '/infra/settings/firewall/cpu-mem-thresholds-profiles/{profile-id}'.sub('{' + 'profile-id' + '}', profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_cpu_mem_thresholds_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete DNS security profile
    # Delete DNS security profile
    # @param profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_dns_security_profile(profile_id, opts = {})
      delete_dns_security_profile_with_http_info(profile_id, opts)
      nil
    end

    # Delete DNS security profile
    # Delete DNS security profile
    # @param profile_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dns_security_profile_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_dns_security_profile ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling SecurityProfilesApi.delete_dns_security_profile"
      end
      # resource path
      local_var_path = '/infra/dns-security-profiles/{profile-id}'.sub('{' + 'profile-id' + '}', profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_dns_security_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete DNS security profile binding map
    # API will delete DNS security profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param dns_security_profile_binding_map_id DNS security profile binding map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dns_security_profile_binding(domain_id, group_id, dns_security_profile_binding_map_id, opts = {})
      delete_dns_security_profile_binding_with_http_info(domain_id, group_id, dns_security_profile_binding_map_id, opts)
      nil
    end

    # Delete DNS security profile binding map
    # API will delete DNS security profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param dns_security_profile_binding_map_id DNS security profile binding map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dns_security_profile_binding_with_http_info(domain_id, group_id, dns_security_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_dns_security_profile_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.delete_dns_security_profile_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.delete_dns_security_profile_binding"
      end
      # verify the required parameter 'dns_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && dns_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'dns_security_profile_binding_map_id' when calling SecurityProfilesApi.delete_dns_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/dns-security-profile-binding-maps/{dns-security-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'dns-security-profile-binding-map-id' + '}', dns_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_dns_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Flood Protection Profile
    # API will delete Flood Protection Profile
    # @param flood_protection_profile_id Flood Protection Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_flood_protection_profile(flood_protection_profile_id, opts = {})
      delete_flood_protection_profile_with_http_info(flood_protection_profile_id, opts)
      nil
    end

    # Delete Flood Protection Profile
    # API will delete Flood Protection Profile
    # @param flood_protection_profile_id Flood Protection Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_flood_protection_profile_with_http_info(flood_protection_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_flood_protection_profile ...'
      end
      # verify the required parameter 'flood_protection_profile_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_id' when calling SecurityProfilesApi.delete_flood_protection_profile"
      end
      # resource path
      local_var_path = '/infra/flood-protection-profiles/{flood-protection-profile-id}'.sub('{' + 'flood-protection-profile-id' + '}', flood_protection_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_flood_protection_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group Monitoring Profile Binding
    # API will delete Group Monitoring Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param group_monitoring_profile_binding_map_id Group Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_monitoring_binding(domain_id, group_id, group_monitoring_profile_binding_map_id, opts = {})
      delete_group_monitoring_binding_with_http_info(domain_id, group_id, group_monitoring_profile_binding_map_id, opts)
      nil
    end

    # Delete Group Monitoring Profile Binding
    # API will delete Group Monitoring Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param group_monitoring_profile_binding_map_id Group Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_monitoring_binding_with_http_info(domain_id, group_id, group_monitoring_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_group_monitoring_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.delete_group_monitoring_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.delete_group_monitoring_binding"
      end
      # verify the required parameter 'group_monitoring_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && group_monitoring_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_monitoring_profile_binding_map_id' when calling SecurityProfilesApi.delete_group_monitoring_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/group-monitoring-profile-binding-maps/{group-monitoring-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'group-monitoring-profile-binding-map-id' + '}', group_monitoring_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_group_monitoring_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Firewall CPU Memory Thresholds Profile Binding
    # API will delete Firewall CPU Memory Thresholds Profile Binding.
    # @param cpu_mem_thresholds_profile_binding_map_id Firewall CPU Memory Thresholds Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_firewall_cpu_mem_thresholds_profile_binding_map(cpu_mem_thresholds_profile_binding_map_id, opts = {})
      delete_policy_firewall_cpu_mem_thresholds_profile_binding_map_with_http_info(cpu_mem_thresholds_profile_binding_map_id, opts)
      nil
    end

    # Delete Firewall CPU Memory Thresholds Profile Binding
    # API will delete Firewall CPU Memory Thresholds Profile Binding.
    # @param cpu_mem_thresholds_profile_binding_map_id Firewall CPU Memory Thresholds Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_firewall_cpu_mem_thresholds_profile_binding_map_with_http_info(cpu_mem_thresholds_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_policy_firewall_cpu_mem_thresholds_profile_binding_map ...'
      end
      # verify the required parameter 'cpu_mem_thresholds_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && cpu_mem_thresholds_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'cpu_mem_thresholds_profile_binding_map_id' when calling SecurityProfilesApi.delete_policy_firewall_cpu_mem_thresholds_profile_binding_map"
      end
      # resource path
      local_var_path = '/infra/settings/firewall/cpu-mem-thresholds-profile-binding-maps/{cpu-mem-thresholds-profile-binding-map-id}'.sub('{' + 'cpu-mem-thresholds-profile-binding-map-id' + '}', cpu_mem_thresholds_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_policy_firewall_cpu_mem_thresholds_profile_binding_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Firewall Flood Protection Profile Binding
    # API will delete Firewall Flood Protection Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_flood_protection_profile_binding_map_id Firewall Flood Protection Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_firewall_flood_protection_binding(domain_id, group_id, firewall_flood_protection_profile_binding_map_id, opts = {})
      delete_policy_firewall_flood_protection_binding_with_http_info(domain_id, group_id, firewall_flood_protection_profile_binding_map_id, opts)
      nil
    end

    # Delete Firewall Flood Protection Profile Binding
    # API will delete Firewall Flood Protection Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_flood_protection_profile_binding_map_id Firewall Flood Protection Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_firewall_flood_protection_binding_with_http_info(domain_id, group_id, firewall_flood_protection_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_policy_firewall_flood_protection_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.delete_policy_firewall_flood_protection_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.delete_policy_firewall_flood_protection_binding"
      end
      # verify the required parameter 'firewall_flood_protection_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_flood_protection_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_flood_protection_profile_binding_map_id' when calling SecurityProfilesApi.delete_policy_firewall_flood_protection_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-flood-protection-profile-binding-maps/{firewall-flood-protection-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-flood-protection-profile-binding-map-id' + '}', firewall_flood_protection_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_policy_firewall_flood_protection_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Firewall Session Timer Profile Binding
    # API will delete Firewall Session Timer Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_firewall_session_timer_binding(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      delete_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      nil
    end

    # Delete Firewall Session Timer Profile Binding
    # API will delete Firewall Session Timer Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SecurityProfilesApi.delete_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Firewall Session Timer Profile
    # API will delete Firewall Session Timer Profile
    # @param firewall_session_timer_profile_id Firewall Session Timer Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_policy_firewall_session_timer_profile(firewall_session_timer_profile_id, opts = {})
      delete_policy_firewall_session_timer_profile_with_http_info(firewall_session_timer_profile_id, opts)
      nil
    end

    # Delete Firewall Session Timer Profile
    # API will delete Firewall Session Timer Profile
    # @param firewall_session_timer_profile_id Firewall Session Timer Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_firewall_session_timer_profile_with_http_info(firewall_session_timer_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_policy_firewall_session_timer_profile ...'
      end
      # verify the required parameter 'firewall_session_timer_profile_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_id' when calling SecurityProfilesApi.delete_policy_firewall_session_timer_profile"
      end
      # resource path
      local_var_path = '/infra/firewall-session-timer-profiles/{firewall-session-timer-profile-id}'.sub('{' + 'firewall-session-timer-profile-id' + '}', firewall_session_timer_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_policy_firewall_session_timer_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Flood Protection Profile Binding for Tier-0 Logical Router
    # API will delete Flood Protection Profile Binding for Tier-0 Logical Router.
    # @param tier0_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_flood_protection_profile_binding(tier0_id, flood_protection_profile_binding_id, opts = {})
      delete_tier0_flood_protection_profile_binding_with_http_info(tier0_id, flood_protection_profile_binding_id, opts)
      nil
    end

    # Delete Flood Protection Profile Binding for Tier-0 Logical Router
    # API will delete Flood Protection Profile Binding for Tier-0 Logical Router.
    # @param tier0_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_flood_protection_profile_binding_with_http_info(tier0_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier0_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.delete_tier0_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.delete_tier0_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier0_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Flood Protection Profile Binding for Tier-0 Logical Router LocaleServices
    # API will delete Flood Protection Profile Binding for Tier-0 Logical Router LocaleServices.
    # @param tier0_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_locale_services_flood_protection_profile_binding(tier0_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      delete_tier0_locale_services_flood_protection_profile_binding_with_http_info(tier0_id, locale_services_id, flood_protection_profile_binding_id, opts)
      nil
    end

    # Delete Flood Protection Profile Binding for Tier-0 Logical Router LocaleServices
    # API will delete Flood Protection Profile Binding for Tier-0 Logical Router LocaleServices.
    # @param tier0_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_locale_services_flood_protection_profile_binding_with_http_info(tier0_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier0_locale_services_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.delete_tier0_locale_services_flood_protection_profile_binding"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling SecurityProfilesApi.delete_tier0_locale_services_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.delete_tier0_locale_services_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/locale-services/{locale-services-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier0_locale_services_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Session Timer Profile Binding for Tier-0 Logical Router LocaleServices
    # API will delete Session Timer Profile Binding for Tier-0 Logical Router LocaleServices.
    # @param tier0_id 
    # @param locale_services_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_locale_services_session_timer_profile_binding(tier0_id, locale_services_id, session_timer_profile_binding_id, opts = {})
      delete_tier0_locale_services_session_timer_profile_binding_with_http_info(tier0_id, locale_services_id, session_timer_profile_binding_id, opts)
      nil
    end

    # Delete Session Timer Profile Binding for Tier-0 Logical Router LocaleServices
    # API will delete Session Timer Profile Binding for Tier-0 Logical Router LocaleServices.
    # @param tier0_id 
    # @param locale_services_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_locale_services_session_timer_profile_binding_with_http_info(tier0_id, locale_services_id, session_timer_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier0_locale_services_session_timer_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.delete_tier0_locale_services_session_timer_profile_binding"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling SecurityProfilesApi.delete_tier0_locale_services_session_timer_profile_binding"
      end
      # verify the required parameter 'session_timer_profile_binding_id' is set
      if @api_client.config.client_side_validation && session_timer_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_timer_profile_binding_id' when calling SecurityProfilesApi.delete_tier0_locale_services_session_timer_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/locale-services/{locale-services-id}/session-timer-profile-bindings/{session-timer-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'session-timer-profile-binding-id' + '}', session_timer_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier0_locale_services_session_timer_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Session Timer Profile Binding for Tier-0 Logical Router
    # API will delete Session Timer Profile Binding for Tier-0 Logical Router.
    # @param tier0_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier0_session_timer_profile_binding(tier0_id, session_timer_profile_binding_id, opts = {})
      delete_tier0_session_timer_profile_binding_with_http_info(tier0_id, session_timer_profile_binding_id, opts)
      nil
    end

    # Delete Session Timer Profile Binding for Tier-0 Logical Router
    # API will delete Session Timer Profile Binding for Tier-0 Logical Router.
    # @param tier0_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier0_session_timer_profile_binding_with_http_info(tier0_id, session_timer_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier0_session_timer_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.delete_tier0_session_timer_profile_binding"
      end
      # verify the required parameter 'session_timer_profile_binding_id' is set
      if @api_client.config.client_side_validation && session_timer_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_timer_profile_binding_id' when calling SecurityProfilesApi.delete_tier0_session_timer_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/session-timer-profile-bindings/{session-timer-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'session-timer-profile-binding-id' + '}', session_timer_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier0_session_timer_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Flood Protection Profile Binding for Tier-1 Logical Router
    # API will delete Flood Protection Profile Binding for Tier-1 Logical Router.
    # @param tier1_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier1_flood_protection_profile_binding(tier1_id, flood_protection_profile_binding_id, opts = {})
      delete_tier1_flood_protection_profile_binding_with_http_info(tier1_id, flood_protection_profile_binding_id, opts)
      nil
    end

    # Delete Flood Protection Profile Binding for Tier-1 Logical Router
    # API will delete Flood Protection Profile Binding for Tier-1 Logical Router.
    # @param tier1_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier1_flood_protection_profile_binding_with_http_info(tier1_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier1_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier1_id' is set
      if @api_client.config.client_side_validation && tier1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_id' when calling SecurityProfilesApi.delete_tier1_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.delete_tier1_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier1-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier1-id' + '}', tier1_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier1_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Flood Protection Profile Binding for Tier-1 Logical Router LocaleServices
    # API will delete Flood Protection Profile Binding for Tier-1 Logical Router LocaleServices.
    # @param tier1_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier1_locale_services_flood_protection_profile_binding(tier1_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      delete_tier1_locale_services_flood_protection_profile_binding_with_http_info(tier1_id, locale_services_id, flood_protection_profile_binding_id, opts)
      nil
    end

    # Delete Flood Protection Profile Binding for Tier-1 Logical Router LocaleServices
    # API will delete Flood Protection Profile Binding for Tier-1 Logical Router LocaleServices.
    # @param tier1_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier1_locale_services_flood_protection_profile_binding_with_http_info(tier1_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier1_locale_services_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier1_id' is set
      if @api_client.config.client_side_validation && tier1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_id' when calling SecurityProfilesApi.delete_tier1_locale_services_flood_protection_profile_binding"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling SecurityProfilesApi.delete_tier1_locale_services_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.delete_tier1_locale_services_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier1-id}/locale-services/{locale-services-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier1-id' + '}', tier1_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier1_locale_services_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Session Timer Profile Binding for Tier-1 Logical Router LocaleServices
    # API will delete Session Timer Profile Binding for Tier-1 Logical Router LocaleServices.
    # @param tier1_id 
    # @param locale_services_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier1_locale_services_session_timer_profile_binding(tier1_id, locale_services_id, session_timer_profile_binding_id, opts = {})
      delete_tier1_locale_services_session_timer_profile_binding_with_http_info(tier1_id, locale_services_id, session_timer_profile_binding_id, opts)
      nil
    end

    # Delete Session Timer Profile Binding for Tier-1 Logical Router LocaleServices
    # API will delete Session Timer Profile Binding for Tier-1 Logical Router LocaleServices.
    # @param tier1_id 
    # @param locale_services_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier1_locale_services_session_timer_profile_binding_with_http_info(tier1_id, locale_services_id, session_timer_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier1_locale_services_session_timer_profile_binding ...'
      end
      # verify the required parameter 'tier1_id' is set
      if @api_client.config.client_side_validation && tier1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_id' when calling SecurityProfilesApi.delete_tier1_locale_services_session_timer_profile_binding"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling SecurityProfilesApi.delete_tier1_locale_services_session_timer_profile_binding"
      end
      # verify the required parameter 'session_timer_profile_binding_id' is set
      if @api_client.config.client_side_validation && session_timer_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_timer_profile_binding_id' when calling SecurityProfilesApi.delete_tier1_locale_services_session_timer_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier1-id}/locale-services/{locale-services-id}/session-timer-profile-bindings/{session-timer-profile-binding-id}'.sub('{' + 'tier1-id' + '}', tier1_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'session-timer-profile-binding-id' + '}', session_timer_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier1_locale_services_session_timer_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Session Timer Profile Binding for Tier-1 Logical Router
    # API will delete Session Timer Profile Binding for Tier-1 Logical Router.
    # @param tier1_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tier1_session_timer_profile_binding(tier1_id, session_timer_profile_binding_id, opts = {})
      delete_tier1_session_timer_profile_binding_with_http_info(tier1_id, session_timer_profile_binding_id, opts)
      nil
    end

    # Delete Session Timer Profile Binding for Tier-1 Logical Router
    # API will delete Session Timer Profile Binding for Tier-1 Logical Router.
    # @param tier1_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_tier1_session_timer_profile_binding_with_http_info(tier1_id, session_timer_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.delete_tier1_session_timer_profile_binding ...'
      end
      # verify the required parameter 'tier1_id' is set
      if @api_client.config.client_side_validation && tier1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_id' when calling SecurityProfilesApi.delete_tier1_session_timer_profile_binding"
      end
      # verify the required parameter 'session_timer_profile_binding_id' is set
      if @api_client.config.client_side_validation && session_timer_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_timer_profile_binding_id' when calling SecurityProfilesApi.delete_tier1_session_timer_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier1-id}/session-timer-profile-bindings/{session-timer-profile-binding-id}'.sub('{' + 'tier1-id' + '}', tier1_id.to_s).sub('{' + 'session-timer-profile-binding-id' + '}', session_timer_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#delete_tier1_session_timer_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get DNS security profile binding map
    # API will get DNS security profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param dns_security_profile_binding_map_id DNS security profile binding map ID
    # @param [Hash] opts the optional parameters
    # @return [DnsSecurityProfileBindingMap]
    def get_dns_security_profile_binding(domain_id, group_id, dns_security_profile_binding_map_id, opts = {})
      data, _status_code, _headers = get_dns_security_profile_binding_with_http_info(domain_id, group_id, dns_security_profile_binding_map_id, opts)
      data
    end

    # Get DNS security profile binding map
    # API will get DNS security profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param dns_security_profile_binding_map_id DNS security profile binding map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DnsSecurityProfileBindingMap, Fixnum, Hash)>] DnsSecurityProfileBindingMap data, response status code and response headers
    def get_dns_security_profile_binding_with_http_info(domain_id, group_id, dns_security_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_dns_security_profile_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.get_dns_security_profile_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.get_dns_security_profile_binding"
      end
      # verify the required parameter 'dns_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && dns_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'dns_security_profile_binding_map_id' when calling SecurityProfilesApi.get_dns_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/dns-security-profile-binding-maps/{dns-security-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'dns-security-profile-binding-map-id' + '}', dns_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DnsSecurityProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_dns_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Flood Protection Profile
    # API will get Flood Protection Profile
    # @param flood_protection_profile_id Flood Protection Profile ID
    # @param [Hash] opts the optional parameters
    # @return [FloodProtectionProfile]
    def get_flood_protection_profile(flood_protection_profile_id, opts = {})
      data, _status_code, _headers = get_flood_protection_profile_with_http_info(flood_protection_profile_id, opts)
      data
    end

    # Get Flood Protection Profile
    # API will get Flood Protection Profile
    # @param flood_protection_profile_id Flood Protection Profile ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FloodProtectionProfile, Fixnum, Hash)>] FloodProtectionProfile data, response status code and response headers
    def get_flood_protection_profile_with_http_info(flood_protection_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_flood_protection_profile ...'
      end
      # verify the required parameter 'flood_protection_profile_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_id' when calling SecurityProfilesApi.get_flood_protection_profile"
      end
      # resource path
      local_var_path = '/infra/flood-protection-profiles/{flood-protection-profile-id}'.sub('{' + 'flood-protection-profile-id' + '}', flood_protection_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FloodProtectionProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_flood_protection_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Group Monitoring Profile Binding Map
    # API will get Group Monitoring Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param group_monitoring_profile_binding_map_id Group Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [GroupMonitoringProfileBindingMap]
    def get_group_monitoring_binding(domain_id, group_id, group_monitoring_profile_binding_map_id, opts = {})
      data, _status_code, _headers = get_group_monitoring_binding_with_http_info(domain_id, group_id, group_monitoring_profile_binding_map_id, opts)
      data
    end

    # Get Group Monitoring Profile Binding Map
    # API will get Group Monitoring Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param group_monitoring_profile_binding_map_id Group Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupMonitoringProfileBindingMap, Fixnum, Hash)>] GroupMonitoringProfileBindingMap data, response status code and response headers
    def get_group_monitoring_binding_with_http_info(domain_id, group_id, group_monitoring_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_group_monitoring_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.get_group_monitoring_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.get_group_monitoring_binding"
      end
      # verify the required parameter 'group_monitoring_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && group_monitoring_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_monitoring_profile_binding_map_id' when calling SecurityProfilesApi.get_group_monitoring_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/group-monitoring-profile-binding-maps/{group-monitoring-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'group-monitoring-profile-binding-map-id' + '}', group_monitoring_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GroupMonitoringProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_group_monitoring_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall CPU Memory Thresholds Profile Binding Map
    # API will get Firewall CPU Memory Thresholds Profile Binding Map. 
    # @param cpu_mem_thresholds_profile_binding_map_id Firewall CPU Memory Thresholds Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallCPUMemThresholdsProfileBindingMap]
    def get_policy_firewall_cpu_mem_thresholds_profile_binding_map(cpu_mem_thresholds_profile_binding_map_id, opts = {})
      data, _status_code, _headers = get_policy_firewall_cpu_mem_thresholds_profile_binding_map_with_http_info(cpu_mem_thresholds_profile_binding_map_id, opts)
      data
    end

    # Get Firewall CPU Memory Thresholds Profile Binding Map
    # API will get Firewall CPU Memory Thresholds Profile Binding Map. 
    # @param cpu_mem_thresholds_profile_binding_map_id Firewall CPU Memory Thresholds Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallCPUMemThresholdsProfileBindingMap, Fixnum, Hash)>] PolicyFirewallCPUMemThresholdsProfileBindingMap data, response status code and response headers
    def get_policy_firewall_cpu_mem_thresholds_profile_binding_map_with_http_info(cpu_mem_thresholds_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_policy_firewall_cpu_mem_thresholds_profile_binding_map ...'
      end
      # verify the required parameter 'cpu_mem_thresholds_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && cpu_mem_thresholds_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'cpu_mem_thresholds_profile_binding_map_id' when calling SecurityProfilesApi.get_policy_firewall_cpu_mem_thresholds_profile_binding_map"
      end
      # resource path
      local_var_path = '/infra/settings/firewall/cpu-mem-thresholds-profile-binding-maps/{cpu-mem-thresholds-profile-binding-map-id}'.sub('{' + 'cpu-mem-thresholds-profile-binding-map-id' + '}', cpu_mem_thresholds_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallCPUMemThresholdsProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_policy_firewall_cpu_mem_thresholds_profile_binding_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall Flood Protection Profile Binding Map
    # API will get Firewall Flood Protection Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_flood_protection_profile_binding_map_id Firewall Flood Protection Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallFloodProtectionProfileBindingMap]
    def get_policy_firewall_flood_protection_binding(domain_id, group_id, firewall_flood_protection_profile_binding_map_id, opts = {})
      data, _status_code, _headers = get_policy_firewall_flood_protection_binding_with_http_info(domain_id, group_id, firewall_flood_protection_profile_binding_map_id, opts)
      data
    end

    # Get Firewall Flood Protection Profile Binding Map
    # API will get Firewall Flood Protection Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_flood_protection_profile_binding_map_id Firewall Flood Protection Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallFloodProtectionProfileBindingMap, Fixnum, Hash)>] PolicyFirewallFloodProtectionProfileBindingMap data, response status code and response headers
    def get_policy_firewall_flood_protection_binding_with_http_info(domain_id, group_id, firewall_flood_protection_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_policy_firewall_flood_protection_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.get_policy_firewall_flood_protection_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.get_policy_firewall_flood_protection_binding"
      end
      # verify the required parameter 'firewall_flood_protection_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_flood_protection_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_flood_protection_profile_binding_map_id' when calling SecurityProfilesApi.get_policy_firewall_flood_protection_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-flood-protection-profile-binding-maps/{firewall-flood-protection-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-flood-protection-profile-binding-map-id' + '}', firewall_flood_protection_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallFloodProtectionProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_policy_firewall_flood_protection_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfileBindingMap]
    def get_policy_firewall_session_timer_binding(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      data, _status_code, _headers = get_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      data
    end

    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMap, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMap data, response status code and response headers
    def get_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SecurityProfilesApi.get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SecurityProfilesApi.get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SecurityProfilesApi.get_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall Session Timer Profile
    # API will get Firewall Session Timer Profile
    # @param firewall_session_timer_profile_id Firewall Session Timer Profile ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfile]
    def get_policy_firewall_session_timer_profile(firewall_session_timer_profile_id, opts = {})
      data, _status_code, _headers = get_policy_firewall_session_timer_profile_with_http_info(firewall_session_timer_profile_id, opts)
      data
    end

    # Get Firewall Session Timer Profile
    # API will get Firewall Session Timer Profile
    # @param firewall_session_timer_profile_id Firewall Session Timer Profile ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfile, Fixnum, Hash)>] PolicyFirewallSessionTimerProfile data, response status code and response headers
    def get_policy_firewall_session_timer_profile_with_http_info(firewall_session_timer_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_policy_firewall_session_timer_profile ...'
      end
      # verify the required parameter 'firewall_session_timer_profile_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_id' when calling SecurityProfilesApi.get_policy_firewall_session_timer_profile"
      end
      # resource path
      local_var_path = '/infra/firewall-session-timer-profiles/{firewall-session-timer-profile-id}'.sub('{' + 'firewall-session-timer-profile-id' + '}', firewall_session_timer_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_policy_firewall_session_timer_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Flood Protection Profile Binding Map for Tier-0 Logical Router
    # API will get Flood Protection Profile Binding Map for Tier-0 Logical Router. 
    # @param tier0_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [FloodProtectionProfileBindingMap]
    def get_tier0_flood_protection_profile_binding(tier0_id, flood_protection_profile_binding_id, opts = {})
      data, _status_code, _headers = get_tier0_flood_protection_profile_binding_with_http_info(tier0_id, flood_protection_profile_binding_id, opts)
      data
    end

    # Get Flood Protection Profile Binding Map for Tier-0 Logical Router
    # API will get Flood Protection Profile Binding Map for Tier-0 Logical Router. 
    # @param tier0_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FloodProtectionProfileBindingMap, Fixnum, Hash)>] FloodProtectionProfileBindingMap data, response status code and response headers
    def get_tier0_flood_protection_profile_binding_with_http_info(tier0_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_tier0_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.get_tier0_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.get_tier0_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FloodProtectionProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_tier0_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Flood Protection Profile Binding Map for Tier-0 Logical Router LocaleServices
    # API will get Flood Protection Profile Binding Map for Tier-0 Logical Router LocaleServices. 
    # @param tier0_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [FloodProtectionProfileBindingMap]
    def get_tier0_locale_services_flood_protection_profile_binding(tier0_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      data, _status_code, _headers = get_tier0_locale_services_flood_protection_profile_binding_with_http_info(tier0_id, locale_services_id, flood_protection_profile_binding_id, opts)
      data
    end

    # Get Flood Protection Profile Binding Map for Tier-0 Logical Router LocaleServices
    # API will get Flood Protection Profile Binding Map for Tier-0 Logical Router LocaleServices. 
    # @param tier0_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FloodProtectionProfileBindingMap, Fixnum, Hash)>] FloodProtectionProfileBindingMap data, response status code and response headers
    def get_tier0_locale_services_flood_protection_profile_binding_with_http_info(tier0_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_tier0_locale_services_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.get_tier0_locale_services_flood_protection_profile_binding"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling SecurityProfilesApi.get_tier0_locale_services_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.get_tier0_locale_services_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/locale-services/{locale-services-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FloodProtectionProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_tier0_locale_services_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Session Timer Profile Binding Map for Tier-0 Logical Router LocaleServices
    # API will get Session Timer Profile Binding Map for Tier-0 Logical Router LocaleServices. 
    # @param tier0_id 
    # @param locale_services_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [SessionTimerProfileBindingMap]
    def get_tier0_locale_services_session_timer_profile_binding(tier0_id, locale_services_id, session_timer_profile_binding_id, opts = {})
      data, _status_code, _headers = get_tier0_locale_services_session_timer_profile_binding_with_http_info(tier0_id, locale_services_id, session_timer_profile_binding_id, opts)
      data
    end

    # Get Session Timer Profile Binding Map for Tier-0 Logical Router LocaleServices
    # API will get Session Timer Profile Binding Map for Tier-0 Logical Router LocaleServices. 
    # @param tier0_id 
    # @param locale_services_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SessionTimerProfileBindingMap, Fixnum, Hash)>] SessionTimerProfileBindingMap data, response status code and response headers
    def get_tier0_locale_services_session_timer_profile_binding_with_http_info(tier0_id, locale_services_id, session_timer_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_tier0_locale_services_session_timer_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.get_tier0_locale_services_session_timer_profile_binding"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling SecurityProfilesApi.get_tier0_locale_services_session_timer_profile_binding"
      end
      # verify the required parameter 'session_timer_profile_binding_id' is set
      if @api_client.config.client_side_validation && session_timer_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_timer_profile_binding_id' when calling SecurityProfilesApi.get_tier0_locale_services_session_timer_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/locale-services/{locale-services-id}/session-timer-profile-bindings/{session-timer-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'session-timer-profile-binding-id' + '}', session_timer_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_tier0_locale_services_session_timer_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Session Timer Profile Binding Map for Tier-0 Logical Router
    # API will get Session Timer Profile Binding Map for Tier-0 Logical Router. 
    # @param tier0_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [SessionTimerProfileBindingMap]
    def get_tier0_session_timer_profile_binding(tier0_id, session_timer_profile_binding_id, opts = {})
      data, _status_code, _headers = get_tier0_session_timer_profile_binding_with_http_info(tier0_id, session_timer_profile_binding_id, opts)
      data
    end

    # Get Session Timer Profile Binding Map for Tier-0 Logical Router
    # API will get Session Timer Profile Binding Map for Tier-0 Logical Router. 
    # @param tier0_id 
    # @param session_timer_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SessionTimerProfileBindingMap, Fixnum, Hash)>] SessionTimerProfileBindingMap data, response status code and response headers
    def get_tier0_session_timer_profile_binding_with_http_info(tier0_id, session_timer_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_tier0_session_timer_profile_binding ...'
      end
      # verify the required parameter 'tier0_id' is set
      if @api_client.config.client_side_validation && tier0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_id' when calling SecurityProfilesApi.get_tier0_session_timer_profile_binding"
      end
      # verify the required parameter 'session_timer_profile_binding_id' is set
      if @api_client.config.client_side_validation && session_timer_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_timer_profile_binding_id' when calling SecurityProfilesApi.get_tier0_session_timer_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier0-id}/session-timer-profile-bindings/{session-timer-profile-binding-id}'.sub('{' + 'tier0-id' + '}', tier0_id.to_s).sub('{' + 'session-timer-profile-binding-id' + '}', session_timer_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_tier0_session_timer_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Flood Protection Profile Binding Map for Tier-1 Logical Router
    # API will get Flood Protection Profile Binding Map for Tier-1 Logical Router. 
    # @param tier1_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [FloodProtectionProfileBindingMap]
    def get_tier1_flood_protection_profile_binding(tier1_id, flood_protection_profile_binding_id, opts = {})
      data, _status_code, _headers = get_tier1_flood_protection_profile_binding_with_http_info(tier1_id, flood_protection_profile_binding_id, opts)
      data
    end

    # Get Flood Protection Profile Binding Map for Tier-1 Logical Router
    # API will get Flood Protection Profile Binding Map for Tier-1 Logical Router. 
    # @param tier1_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FloodProtectionProfileBindingMap, Fixnum, Hash)>] FloodProtectionProfileBindingMap data, response status code and response headers
    def get_tier1_flood_protection_profile_binding_with_http_info(tier1_id, flood_protection_profile_binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityProfilesApi.get_tier1_flood_protection_profile_binding ...'
      end
      # verify the required parameter 'tier1_id' is set
      if @api_client.config.client_side_validation && tier1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier1_id' when calling SecurityProfilesApi.get_tier1_flood_protection_profile_binding"
      end
      # verify the required parameter 'flood_protection_profile_binding_id' is set
      if @api_client.config.client_side_validation && flood_protection_profile_binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'flood_protection_profile_binding_id' when calling SecurityProfilesApi.get_tier1_flood_protection_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier1-id}/flood-protection-profile-bindings/{flood-protection-profile-binding-id}'.sub('{' + 'tier1-id' + '}', tier1_id.to_s).sub('{' + 'flood-protection-profile-binding-id' + '}', flood_protection_profile_binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FloodProtectionProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityProfilesApi#get_tier1_flood_protection_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Flood Protection Profile Binding Map for Tier-1 Logical Router LocaleServices
    # API will get Flood Protection Profile Binding Map for Tier-1 Logical Router LocaleServices. 
    # @param tier1_id 
    # @param locale_services_id 
    # @param flood_protection_profile_binding_id 
    # @param [Hash] opts the optional parameters
    # @return [FloodProtectionProfileBindingMap]
    def get_tier1_locale_services_flood_protection_profile_binding(tier1_id, locale_services_id, flood_protection_profile_binding_id, opts = {})
      data, _status_code, _headers = get_tier1_locale_services_flood_protection_profile_binding_with_http_info(tier1_id, locale_services_id, flood_protection_profile_binding_id, opts)
[...]
