=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class SegmentProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create IP Discovery Profile
    # API will create IP Discovery profile. 
    # @param ip_discovery_profile_id IP Discovery Profile ID
    # @param ip_discovery_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def create_ip_discovery_profile(ip_discovery_profile_id, ip_discovery_profile, opts = {})
      create_ip_discovery_profile_with_http_info(ip_discovery_profile_id, ip_discovery_profile, opts)
      nil
    end

    # Create IP Discovery Profile
    # API will create IP Discovery profile. 
    # @param ip_discovery_profile_id IP Discovery Profile ID
    # @param ip_discovery_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_ip_discovery_profile_with_http_info(ip_discovery_profile_id, ip_discovery_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_ip_discovery_profile ...'
      end
      # verify the required parameter 'ip_discovery_profile_id' is set
      if @api_client.config.client_side_validation && ip_discovery_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ip_discovery_profile_id' when calling SegmentProfilesApi.create_ip_discovery_profile"
      end
      # verify the required parameter 'ip_discovery_profile' is set
      if @api_client.config.client_side_validation && ip_discovery_profile.nil?
        fail ArgumentError, "Missing the required parameter 'ip_discovery_profile' when calling SegmentProfilesApi.create_ip_discovery_profile"
      end
      # resource path
      local_var_path = '/infra/ip-discovery-profiles/{ip-discovery-profile-id}'.sub('{' + 'ip-discovery-profile-id' + '}', ip_discovery_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ip_discovery_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_ip_discovery_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Mac Discovery Profile
    # API will create Mac Discovery profile. 
    # @param mac_discovery_profile_id Mac Discovery Profile ID
    # @param mac_discovery_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def create_mac_discovery_profile(mac_discovery_profile_id, mac_discovery_profile, opts = {})
      create_mac_discovery_profile_with_http_info(mac_discovery_profile_id, mac_discovery_profile, opts)
      nil
    end

    # Create Mac Discovery Profile
    # API will create Mac Discovery profile. 
    # @param mac_discovery_profile_id Mac Discovery Profile ID
    # @param mac_discovery_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_mac_discovery_profile_with_http_info(mac_discovery_profile_id, mac_discovery_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_mac_discovery_profile ...'
      end
      # verify the required parameter 'mac_discovery_profile_id' is set
      if @api_client.config.client_side_validation && mac_discovery_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'mac_discovery_profile_id' when calling SegmentProfilesApi.create_mac_discovery_profile"
      end
      # verify the required parameter 'mac_discovery_profile' is set
      if @api_client.config.client_side_validation && mac_discovery_profile.nil?
        fail ArgumentError, "Missing the required parameter 'mac_discovery_profile' when calling SegmentProfilesApi.create_mac_discovery_profile"
      end
      # resource path
      local_var_path = '/infra/mac-discovery-profiles/{mac-discovery-profile-id}'.sub('{' + 'mac-discovery-profile-id' + '}', mac_discovery_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(mac_discovery_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_mac_discovery_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace QoS profile.
    # Create or Replace QoS profile. 
    # @param qos_profile_id QoS profile Id
    # @param qo_s_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [QoSProfile]
    def create_or_replace_qo_s_profile(qos_profile_id, qo_s_profile, opts = {})
      data, _status_code, _headers = create_or_replace_qo_s_profile_with_http_info(qos_profile_id, qo_s_profile, opts)
      data
    end

    # Create or Replace QoS profile.
    # Create or Replace QoS profile. 
    # @param qos_profile_id QoS profile Id
    # @param qo_s_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(QoSProfile, Fixnum, Hash)>] QoSProfile data, response status code and response headers
    def create_or_replace_qo_s_profile_with_http_info(qos_profile_id, qo_s_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_replace_qo_s_profile ...'
      end
      # verify the required parameter 'qos_profile_id' is set
      if @api_client.config.client_side_validation && qos_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'qos_profile_id' when calling SegmentProfilesApi.create_or_replace_qo_s_profile"
      end
      # verify the required parameter 'qo_s_profile' is set
      if @api_client.config.client_side_validation && qo_s_profile.nil?
        fail ArgumentError, "Missing the required parameter 'qo_s_profile' when calling SegmentProfilesApi.create_or_replace_qo_s_profile"
      end
      # resource path
      local_var_path = '/infra/qos-profiles/{qos-profile-id}'.sub('{' + 'qos-profile-id' + '}', qos_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(qo_s_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'QoSProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_replace_qo_s_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Replace Real Time Eth profile.
    # Create or Replace Real Time Eth profile. 
    # @param real_time_eth_profile_id Real Time Eth profile Id
    # @param real_time_eth_profile 
    # @param [Hash] opts the optional parameters
    # @return [RealTimeEthProfile]
    def create_or_replace_real_time_eth_profile(real_time_eth_profile_id, real_time_eth_profile, opts = {})
      data, _status_code, _headers = create_or_replace_real_time_eth_profile_with_http_info(real_time_eth_profile_id, real_time_eth_profile, opts)
      data
    end

    # Create or Replace Real Time Eth profile.
    # Create or Replace Real Time Eth profile. 
    # @param real_time_eth_profile_id Real Time Eth profile Id
    # @param real_time_eth_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RealTimeEthProfile, Fixnum, Hash)>] RealTimeEthProfile data, response status code and response headers
    def create_or_replace_real_time_eth_profile_with_http_info(real_time_eth_profile_id, real_time_eth_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_replace_real_time_eth_profile ...'
      end
      # verify the required parameter 'real_time_eth_profile_id' is set
      if @api_client.config.client_side_validation && real_time_eth_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'real_time_eth_profile_id' when calling SegmentProfilesApi.create_or_replace_real_time_eth_profile"
      end
      # verify the required parameter 'real_time_eth_profile' is set
      if @api_client.config.client_side_validation && real_time_eth_profile.nil?
        fail ArgumentError, "Missing the required parameter 'real_time_eth_profile' when calling SegmentProfilesApi.create_or_replace_real_time_eth_profile"
      end
      # resource path
      local_var_path = '/infra/real-time-eth-profiles/{real-time-eth-profile-id}'.sub('{' + 'real-time-eth-profile-id' + '}', real_time_eth_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(real_time_eth_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RealTimeEthProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_replace_real_time_eth_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace the infra segment port security profile binding map
    # API will create or replace the port security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param port_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [PortSecurityProfileBindingMap]
    def create_or_update_infra_segment_port_security_profile_binding(segment_id, port_id, port_security_profile_binding_map_id, port_security_profile_binding_map, opts = {})
      data, _status_code, _headers = create_or_update_infra_segment_port_security_profile_binding_with_http_info(segment_id, port_id, port_security_profile_binding_map_id, port_security_profile_binding_map, opts)
      data
    end

    # Create or replace the infra segment port security profile binding map
    # API will create or replace the port security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param port_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortSecurityProfileBindingMap, Fixnum, Hash)>] PortSecurityProfileBindingMap data, response status code and response headers
    def create_or_update_infra_segment_port_security_profile_binding_with_http_info(segment_id, port_id, port_security_profile_binding_map_id, port_security_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_update_infra_segment_port_security_profile_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.create_or_update_infra_segment_port_security_profile_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.create_or_update_infra_segment_port_security_profile_binding"
      end
      # verify the required parameter 'port_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_security_profile_binding_map_id' when calling SegmentProfilesApi.create_or_update_infra_segment_port_security_profile_binding"
      end
      # verify the required parameter 'port_security_profile_binding_map' is set
      if @api_client.config.client_side_validation && port_security_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'port_security_profile_binding_map' when calling SegmentProfilesApi.create_or_update_infra_segment_port_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/ports/{port-id}/port-security-profile-binding-maps/{port-security-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-security-profile-binding-map-id' + '}', port_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(port_security_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortSecurityProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_update_infra_segment_port_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace infra segment security profile binding map
    # API will create or replace segment security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param segment_id segment id
    # @param segment_security_profile_binding_map_id segment security profile binding map id
    # @param segment_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [SegmentSecurityProfileBindingMap]
    def create_or_update_infra_segment_security_profile_binding(segment_id, segment_security_profile_binding_map_id, segment_security_profile_binding_map, opts = {})
      data, _status_code, _headers = create_or_update_infra_segment_security_profile_binding_with_http_info(segment_id, segment_security_profile_binding_map_id, segment_security_profile_binding_map, opts)
      data
    end

    # Create or replace infra segment security profile binding map
    # API will create or replace segment security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param segment_id segment id
    # @param segment_security_profile_binding_map_id segment security profile binding map id
    # @param segment_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SegmentSecurityProfileBindingMap, Fixnum, Hash)>] SegmentSecurityProfileBindingMap data, response status code and response headers
    def create_or_update_infra_segment_security_profile_binding_with_http_info(segment_id, segment_security_profile_binding_map_id, segment_security_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_update_infra_segment_security_profile_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.create_or_update_infra_segment_security_profile_binding"
      end
      # verify the required parameter 'segment_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile_binding_map_id' when calling SegmentProfilesApi.create_or_update_infra_segment_security_profile_binding"
      end
      # verify the required parameter 'segment_security_profile_binding_map' is set
      if @api_client.config.client_side_validation && segment_security_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile_binding_map' when calling SegmentProfilesApi.create_or_update_infra_segment_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/segment-security-profile-binding-maps/{segment-security-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'segment-security-profile-binding-map-id' + '}', segment_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(segment_security_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SegmentSecurityProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_update_infra_segment_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace the port security profile binding map
    # API will create or replace the port security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param tier_1_id tier-1 gateway id
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param port_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [PortSecurityProfileBindingMap]
    def create_or_update_port_security_profile_binding(tier_1_id, segment_id, port_id, port_security_profile_binding_map_id, port_security_profile_binding_map, opts = {})
      data, _status_code, _headers = create_or_update_port_security_profile_binding_with_http_info(tier_1_id, segment_id, port_id, port_security_profile_binding_map_id, port_security_profile_binding_map, opts)
      data
    end

    # Create or replace the port security profile binding map
    # API will create or replace the port security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param tier_1_id tier-1 gateway id
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param port_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortSecurityProfileBindingMap, Fixnum, Hash)>] PortSecurityProfileBindingMap data, response status code and response headers
    def create_or_update_port_security_profile_binding_with_http_info(tier_1_id, segment_id, port_id, port_security_profile_binding_map_id, port_security_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_update_port_security_profile_binding ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling SegmentProfilesApi.create_or_update_port_security_profile_binding"
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.create_or_update_port_security_profile_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.create_or_update_port_security_profile_binding"
      end
      # verify the required parameter 'port_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_security_profile_binding_map_id' when calling SegmentProfilesApi.create_or_update_port_security_profile_binding"
      end
      # verify the required parameter 'port_security_profile_binding_map' is set
      if @api_client.config.client_side_validation && port_security_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'port_security_profile_binding_map' when calling SegmentProfilesApi.create_or_update_port_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/segments/{segment-id}/ports/{port-id}/port-security-profile-binding-maps/{port-security-profile-binding-map-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-security-profile-binding-map-id' + '}', port_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(port_security_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortSecurityProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_update_port_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # PUT segment security profile id
    # Create or replace a segment security profile 
    # @param segment_security_profile_id Segment security profile id
    # @param segment_security_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [SegmentSecurityProfile]
    def create_or_update_segment_security_profile(segment_security_profile_id, segment_security_profile, opts = {})
      data, _status_code, _headers = create_or_update_segment_security_profile_with_http_info(segment_security_profile_id, segment_security_profile, opts)
      data
    end

    # PUT segment security profile id
    # Create or replace a segment security profile 
    # @param segment_security_profile_id Segment security profile id
    # @param segment_security_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(SegmentSecurityProfile, Fixnum, Hash)>] SegmentSecurityProfile data, response status code and response headers
    def create_or_update_segment_security_profile_with_http_info(segment_security_profile_id, segment_security_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_update_segment_security_profile ...'
      end
      # verify the required parameter 'segment_security_profile_id' is set
      if @api_client.config.client_side_validation && segment_security_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile_id' when calling SegmentProfilesApi.create_or_update_segment_security_profile"
      end
      # verify the required parameter 'segment_security_profile' is set
      if @api_client.config.client_side_validation && segment_security_profile.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile' when calling SegmentProfilesApi.create_or_update_segment_security_profile"
      end
      # resource path
      local_var_path = '/infra/segment-security-profiles/{segment-security-profile-id}'.sub('{' + 'segment-security-profile-id' + '}', segment_security_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(segment_security_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SegmentSecurityProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_update_segment_security_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace segment security profile binding map
    # API will create or replace segment security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param tier_1_id tier-1 gateway id
    # @param segment_id segment id
    # @param segment_security_profile_binding_map_id segment security profile binding map id
    # @param segment_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [SegmentSecurityProfileBindingMap]
    def create_or_update_segment_security_profile_binding(tier_1_id, segment_id, segment_security_profile_binding_map_id, segment_security_profile_binding_map, opts = {})
      data, _status_code, _headers = create_or_update_segment_security_profile_binding_with_http_info(tier_1_id, segment_id, segment_security_profile_binding_map_id, segment_security_profile_binding_map, opts)
      data
    end

    # Create or replace segment security profile binding map
    # API will create or replace segment security profile binding map. For objects with no binding maps, default profile is applied. 
    # @param tier_1_id tier-1 gateway id
    # @param segment_id segment id
    # @param segment_security_profile_binding_map_id segment security profile binding map id
    # @param segment_security_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SegmentSecurityProfileBindingMap, Fixnum, Hash)>] SegmentSecurityProfileBindingMap data, response status code and response headers
    def create_or_update_segment_security_profile_binding_with_http_info(tier_1_id, segment_id, segment_security_profile_binding_map_id, segment_security_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_update_segment_security_profile_binding ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling SegmentProfilesApi.create_or_update_segment_security_profile_binding"
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.create_or_update_segment_security_profile_binding"
      end
      # verify the required parameter 'segment_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile_binding_map_id' when calling SegmentProfilesApi.create_or_update_segment_security_profile_binding"
      end
      # verify the required parameter 'segment_security_profile_binding_map' is set
      if @api_client.config.client_side_validation && segment_security_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile_binding_map' when calling SegmentProfilesApi.create_or_update_segment_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/segments/{segment-id}/segment-security-profile-binding-maps/{segment-security-profile-binding-map-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'segment-security-profile-binding-map-id' + '}', segment_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(segment_security_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SegmentSecurityProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_update_segment_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace SpoofGuard profile
    # API will create or replace SpoofGuard profile. 
    # @param spoofguard_profile_id SpoofGuard profile id
    # @param spoof_guard_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [SpoofGuardProfile]
    def create_or_update_spoof_guard_profile(spoofguard_profile_id, spoof_guard_profile, opts = {})
      data, _status_code, _headers = create_or_update_spoof_guard_profile_with_http_info(spoofguard_profile_id, spoof_guard_profile, opts)
      data
    end

    # Create or replace SpoofGuard profile
    # API will create or replace SpoofGuard profile. 
    # @param spoofguard_profile_id SpoofGuard profile id
    # @param spoof_guard_profile 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(SpoofGuardProfile, Fixnum, Hash)>] SpoofGuardProfile data, response status code and response headers
    def create_or_update_spoof_guard_profile_with_http_info(spoofguard_profile_id, spoof_guard_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.create_or_update_spoof_guard_profile ...'
      end
      # verify the required parameter 'spoofguard_profile_id' is set
      if @api_client.config.client_side_validation && spoofguard_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'spoofguard_profile_id' when calling SegmentProfilesApi.create_or_update_spoof_guard_profile"
      end
      # verify the required parameter 'spoof_guard_profile' is set
      if @api_client.config.client_side_validation && spoof_guard_profile.nil?
        fail ArgumentError, "Missing the required parameter 'spoof_guard_profile' when calling SegmentProfilesApi.create_or_update_spoof_guard_profile"
      end
      # resource path
      local_var_path = '/infra/spoofguard-profiles/{spoofguard-profile-id}'.sub('{' + 'spoofguard-profile-id' + '}', spoofguard_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(spoof_guard_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SpoofGuardProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#create_or_update_spoof_guard_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Group discovery profile binding map
    # API will delete Group discovery profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param discovery_profile_binding_map_id Group discovery profile binding map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_discovery_profile_binding(domain_id, group_id, discovery_profile_binding_map_id, opts = {})
      delete_group_discovery_profile_binding_with_http_info(domain_id, group_id, discovery_profile_binding_map_id, opts)
      nil
    end

    # Delete Group discovery profile binding map
    # API will delete Group discovery profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param discovery_profile_binding_map_id Group discovery profile binding map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_discovery_profile_binding_with_http_info(domain_id, group_id, discovery_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_group_discovery_profile_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SegmentProfilesApi.delete_group_discovery_profile_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SegmentProfilesApi.delete_group_discovery_profile_binding"
      end
      # verify the required parameter 'discovery_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && discovery_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'discovery_profile_binding_map_id' when calling SegmentProfilesApi.delete_group_discovery_profile_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/discovery-profile-binding-maps/{discovery-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'discovery-profile-binding-map-id' + '}', discovery_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_group_discovery_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Infra Port Discovery Profile Binding Profile
    # API will delete Infra Port Discovery Profile Binding Profile
    # @param infra_segment_id Infra Segment ID
    # @param infra_port_id Infra Port ID
    # @param port_discovery_profile_binding_map_id Port Discovery Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_port_discovery_binding(infra_segment_id, infra_port_id, port_discovery_profile_binding_map_id, opts = {})
      delete_infra_port_discovery_binding_with_http_info(infra_segment_id, infra_port_id, port_discovery_profile_binding_map_id, opts)
      nil
    end

    # Delete Infra Port Discovery Profile Binding Profile
    # API will delete Infra Port Discovery Profile Binding Profile
    # @param infra_segment_id Infra Segment ID
    # @param infra_port_id Infra Port ID
    # @param port_discovery_profile_binding_map_id Port Discovery Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_port_discovery_binding_with_http_info(infra_segment_id, infra_port_id, port_discovery_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_port_discovery_binding ...'
      end
      # verify the required parameter 'infra_segment_id' is set
      if @api_client.config.client_side_validation && infra_segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'infra_segment_id' when calling SegmentProfilesApi.delete_infra_port_discovery_binding"
      end
      # verify the required parameter 'infra_port_id' is set
      if @api_client.config.client_side_validation && infra_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'infra_port_id' when calling SegmentProfilesApi.delete_infra_port_discovery_binding"
      end
      # verify the required parameter 'port_discovery_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_discovery_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_discovery_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_port_discovery_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{infra-segment-id}/ports/{infra-port-id}/port-discovery-profile-binding-maps/{port-discovery-profile-binding-map-id}'.sub('{' + 'infra-segment-id' + '}', infra_segment_id.to_s).sub('{' + 'infra-port-id' + '}', infra_port_id.to_s).sub('{' + 'port-discovery-profile-binding-map-id' + '}', port_discovery_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_port_discovery_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Infra Port Monitoring Profile Binding Profile
    # API will delete Infra Port Monitoring Profile Binding Profile.
    # @param infra_segment_id Infra Segment ID
    # @param infra_port_id Infra Port ID
    # @param port_monitoring_profile_binding_map_id Port Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_port_monitoring_binding(infra_segment_id, infra_port_id, port_monitoring_profile_binding_map_id, opts = {})
      delete_infra_port_monitoring_binding_with_http_info(infra_segment_id, infra_port_id, port_monitoring_profile_binding_map_id, opts)
      nil
    end

    # Delete Infra Port Monitoring Profile Binding Profile
    # API will delete Infra Port Monitoring Profile Binding Profile.
    # @param infra_segment_id Infra Segment ID
    # @param infra_port_id Infra Port ID
    # @param port_monitoring_profile_binding_map_id Port Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_port_monitoring_binding_with_http_info(infra_segment_id, infra_port_id, port_monitoring_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_port_monitoring_binding ...'
      end
      # verify the required parameter 'infra_segment_id' is set
      if @api_client.config.client_side_validation && infra_segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'infra_segment_id' when calling SegmentProfilesApi.delete_infra_port_monitoring_binding"
      end
      # verify the required parameter 'infra_port_id' is set
      if @api_client.config.client_side_validation && infra_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'infra_port_id' when calling SegmentProfilesApi.delete_infra_port_monitoring_binding"
      end
      # verify the required parameter 'port_monitoring_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_monitoring_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_monitoring_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_port_monitoring_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{infra-segment-id}/ports/{infra-port-id}/port-monitoring-profile-binding-maps/{port-monitoring-profile-binding-map-id}'.sub('{' + 'infra-segment-id' + '}', infra_segment_id.to_s).sub('{' + 'infra-port-id' + '}', infra_port_id.to_s).sub('{' + 'port-monitoring-profile-binding-map-id' + '}', port_monitoring_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_port_monitoring_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port QoS Profile Binding Profile
    # API will delete Port QoS Profile Binding Profile.
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_qos_profile_binding_map_id Port QoS Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_port_qo_s_binding(segment_id, port_id, port_qos_profile_binding_map_id, opts = {})
      delete_infra_port_qo_s_binding_with_http_info(segment_id, port_id, port_qos_profile_binding_map_id, opts)
      nil
    end

    # Delete Port QoS Profile Binding Profile
    # API will delete Port QoS Profile Binding Profile.
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_qos_profile_binding_map_id Port QoS Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_port_qo_s_binding_with_http_info(segment_id, port_id, port_qos_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_port_qo_s_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_infra_port_qo_s_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_infra_port_qo_s_binding"
      end
      # verify the required parameter 'port_qos_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_qos_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_qos_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_port_qo_s_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/ports/{port-id}/port-qos-profile-binding-maps/{port-qos-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-qos-profile-binding-map-id' + '}', port_qos_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_port_qo_s_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port Real Time Eth Profile Binding Profile
    # API will delete Port Real Time Eth Profile Binding Profile.
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_real_time_eth_profile_binding_map_id Port Real Time Eth Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_port_real_time_eth_binding(segment_id, port_id, port_real_time_eth_profile_binding_map_id, opts = {})
      delete_infra_port_real_time_eth_binding_with_http_info(segment_id, port_id, port_real_time_eth_profile_binding_map_id, opts)
      nil
    end

    # Delete Port Real Time Eth Profile Binding Profile
    # API will delete Port Real Time Eth Profile Binding Profile.
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_real_time_eth_profile_binding_map_id Port Real Time Eth Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_port_real_time_eth_binding_with_http_info(segment_id, port_id, port_real_time_eth_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_port_real_time_eth_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_infra_port_real_time_eth_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_infra_port_real_time_eth_binding"
      end
      # verify the required parameter 'port_real_time_eth_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_real_time_eth_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_real_time_eth_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_port_real_time_eth_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/ports/{port-id}/port-real-time-eth-profile-binding-maps/{port-real-time-eth-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-real-time-eth-profile-binding-map-id' + '}', port_real_time_eth_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_port_real_time_eth_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Segment Discovery Profile Binding Profile
    # API will delete Segment Discovery Profile Binding Profile
    # @param infra_segment_id Infra Segment ID
    # @param segment_discovery_profile_binding_map_id Segment Discovery Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_segment_discovery_binding(infra_segment_id, segment_discovery_profile_binding_map_id, opts = {})
      delete_infra_segment_discovery_binding_with_http_info(infra_segment_id, segment_discovery_profile_binding_map_id, opts)
      nil
    end

    # Delete Segment Discovery Profile Binding Profile
    # API will delete Segment Discovery Profile Binding Profile
    # @param infra_segment_id Infra Segment ID
    # @param segment_discovery_profile_binding_map_id Segment Discovery Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_segment_discovery_binding_with_http_info(infra_segment_id, segment_discovery_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_segment_discovery_binding ...'
      end
      # verify the required parameter 'infra_segment_id' is set
      if @api_client.config.client_side_validation && infra_segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'infra_segment_id' when calling SegmentProfilesApi.delete_infra_segment_discovery_binding"
      end
      # verify the required parameter 'segment_discovery_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_discovery_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_discovery_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_segment_discovery_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{infra-segment-id}/segment-discovery-profile-binding-maps/{segment-discovery-profile-binding-map-id}'.sub('{' + 'infra-segment-id' + '}', infra_segment_id.to_s).sub('{' + 'segment-discovery-profile-binding-map-id' + '}', segment_discovery_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_segment_discovery_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Infra Segment Monitoring Profile Binding Profile
    # API will delete Infra Segment Monitoring Profile Binding Profile.
    # @param infra_segment_id Infra Segment ID
    # @param segment_monitoring_profile_binding_map_id Segment Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_segment_monitoring_binding(infra_segment_id, segment_monitoring_profile_binding_map_id, opts = {})
      delete_infra_segment_monitoring_binding_with_http_info(infra_segment_id, segment_monitoring_profile_binding_map_id, opts)
      nil
    end

    # Delete Infra Segment Monitoring Profile Binding Profile
    # API will delete Infra Segment Monitoring Profile Binding Profile.
    # @param infra_segment_id Infra Segment ID
    # @param segment_monitoring_profile_binding_map_id Segment Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_segment_monitoring_binding_with_http_info(infra_segment_id, segment_monitoring_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_segment_monitoring_binding ...'
      end
      # verify the required parameter 'infra_segment_id' is set
      if @api_client.config.client_side_validation && infra_segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'infra_segment_id' when calling SegmentProfilesApi.delete_infra_segment_monitoring_binding"
      end
      # verify the required parameter 'segment_monitoring_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_monitoring_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_monitoring_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_segment_monitoring_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{infra-segment-id}/segment-monitoring-profile-binding-maps/{segment-monitoring-profile-binding-map-id}'.sub('{' + 'infra-segment-id' + '}', infra_segment_id.to_s).sub('{' + 'segment-monitoring-profile-binding-map-id' + '}', segment_monitoring_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_segment_monitoring_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the infra segment port security profile binding map
    # API will delete the port security profile binding map. 
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_segment_port_security_profile_binding(segment_id, port_id, port_security_profile_binding_map_id, opts = {})
      delete_infra_segment_port_security_profile_binding_with_http_info(segment_id, port_id, port_security_profile_binding_map_id, opts)
      nil
    end

    # Delete the infra segment port security profile binding map
    # API will delete the port security profile binding map. 
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_segment_port_security_profile_binding_with_http_info(segment_id, port_id, port_security_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_segment_port_security_profile_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_infra_segment_port_security_profile_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_infra_segment_port_security_profile_binding"
      end
      # verify the required parameter 'port_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_security_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_segment_port_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/ports/{port-id}/port-security-profile-binding-maps/{port-security-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-security-profile-binding-map-id' + '}', port_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_segment_port_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Segment QoS Profile Binding Profile
    # API will delete Segment QoS Profile Binding Profile.
    # @param segment_id Segment ID
    # @param segment_qos_profile_binding_map_id Segment QoS Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_segment_qo_s_binding(segment_id, segment_qos_profile_binding_map_id, opts = {})
      delete_infra_segment_qo_s_binding_with_http_info(segment_id, segment_qos_profile_binding_map_id, opts)
      nil
    end

    # Delete Segment QoS Profile Binding Profile
    # API will delete Segment QoS Profile Binding Profile.
    # @param segment_id Segment ID
    # @param segment_qos_profile_binding_map_id Segment QoS Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_segment_qo_s_binding_with_http_info(segment_id, segment_qos_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_segment_qo_s_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_infra_segment_qo_s_binding"
      end
      # verify the required parameter 'segment_qos_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_qos_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_qos_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_segment_qo_s_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/segment-qos-profile-binding-maps/{segment-qos-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'segment-qos-profile-binding-map-id' + '}', segment_qos_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_segment_qo_s_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Segment Real Time Eth Profile Binding Profile
    # API will delete Segment Real Time Eth Profile Binding Profile.
    # @param segment_id Segment ID
    # @param segment_real_time_eth_profile_binding_map_id Segment Real Time Eth Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_segment_real_time_eth_binding(segment_id, segment_real_time_eth_profile_binding_map_id, opts = {})
      delete_infra_segment_real_time_eth_binding_with_http_info(segment_id, segment_real_time_eth_profile_binding_map_id, opts)
      nil
    end

    # Delete Segment Real Time Eth Profile Binding Profile
    # API will delete Segment Real Time Eth Profile Binding Profile.
    # @param segment_id Segment ID
    # @param segment_real_time_eth_profile_binding_map_id Segment Real Time Eth Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_segment_real_time_eth_binding_with_http_info(segment_id, segment_real_time_eth_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_segment_real_time_eth_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_infra_segment_real_time_eth_binding"
      end
      # verify the required parameter 'segment_real_time_eth_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_real_time_eth_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_real_time_eth_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_segment_real_time_eth_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/segment-real-time-eth-profile-binding-maps/{segment-real-time-eth-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'segment-real-time-eth-profile-binding-map-id' + '}', segment_real_time_eth_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_segment_real_time_eth_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete infra segment security profile binding map
    # API will delete segment security profile binding map. 
    # @param segment_id segment id
    # @param segment_security_profile_binding_map_id segment security profile binding map id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_segment_security_profile_binding(segment_id, segment_security_profile_binding_map_id, opts = {})
      delete_infra_segment_security_profile_binding_with_http_info(segment_id, segment_security_profile_binding_map_id, opts)
      nil
    end

    # Delete infra segment security profile binding map
    # API will delete segment security profile binding map. 
    # @param segment_id segment id
    # @param segment_security_profile_binding_map_id segment security profile binding map id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_segment_security_profile_binding_with_http_info(segment_id, segment_security_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_infra_segment_security_profile_binding ...'
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_infra_segment_security_profile_binding"
      end
      # verify the required parameter 'segment_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && segment_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_security_profile_binding_map_id' when calling SegmentProfilesApi.delete_infra_segment_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/segments/{segment-id}/segment-security-profile-binding-maps/{segment-security-profile-binding-map-id}'.sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'segment-security-profile-binding-map-id' + '}', segment_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_infra_segment_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IP Discovery Profile
    # API will delete IP Discovery profile. 
    # @param ip_discovery_profile_id IP Discovery Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_ip_discovery_profile(ip_discovery_profile_id, opts = {})
      delete_ip_discovery_profile_with_http_info(ip_discovery_profile_id, opts)
      nil
    end

    # Delete IP Discovery Profile
    # API will delete IP Discovery profile. 
    # @param ip_discovery_profile_id IP Discovery Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ip_discovery_profile_with_http_info(ip_discovery_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_ip_discovery_profile ...'
      end
      # verify the required parameter 'ip_discovery_profile_id' is set
      if @api_client.config.client_side_validation && ip_discovery_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'ip_discovery_profile_id' when calling SegmentProfilesApi.delete_ip_discovery_profile"
      end
      # resource path
      local_var_path = '/infra/ip-discovery-profiles/{ip-discovery-profile-id}'.sub('{' + 'ip-discovery-profile-id' + '}', ip_discovery_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_ip_discovery_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Mac Discovery Profile
    # API will delete Mac Discovery profile. 
    # @param mac_discovery_profile_id Mac Discovery Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_mac_discovery_profile(mac_discovery_profile_id, opts = {})
      delete_mac_discovery_profile_with_http_info(mac_discovery_profile_id, opts)
      nil
    end

    # Delete Mac Discovery Profile
    # API will delete Mac Discovery profile. 
    # @param mac_discovery_profile_id Mac Discovery Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_mac_discovery_profile_with_http_info(mac_discovery_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_mac_discovery_profile ...'
      end
      # verify the required parameter 'mac_discovery_profile_id' is set
      if @api_client.config.client_side_validation && mac_discovery_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'mac_discovery_profile_id' when calling SegmentProfilesApi.delete_mac_discovery_profile"
      end
      # resource path
      local_var_path = '/infra/mac-discovery-profiles/{mac-discovery-profile-id}'.sub('{' + 'mac-discovery-profile-id' + '}', mac_discovery_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_mac_discovery_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port Discovery Profile Binding Profile
    # API will delete Port Discovery Profile Binding Profile
    # @param tier_1_id Tier-1 ID
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_discovery_profile_binding_map_id Port Discovery Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_port_discovery_binding(tier_1_id, segment_id, port_id, port_discovery_profile_binding_map_id, opts = {})
      delete_port_discovery_binding_with_http_info(tier_1_id, segment_id, port_id, port_discovery_profile_binding_map_id, opts)
      nil
    end

    # Delete Port Discovery Profile Binding Profile
    # API will delete Port Discovery Profile Binding Profile
    # @param tier_1_id Tier-1 ID
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_discovery_profile_binding_map_id Port Discovery Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_port_discovery_binding_with_http_info(tier_1_id, segment_id, port_id, port_discovery_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_port_discovery_binding ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling SegmentProfilesApi.delete_port_discovery_binding"
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_port_discovery_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_port_discovery_binding"
      end
      # verify the required parameter 'port_discovery_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_discovery_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_discovery_profile_binding_map_id' when calling SegmentProfilesApi.delete_port_discovery_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/segments/{segment-id}/ports/{port-id}/port-discovery-profile-binding-maps/{port-discovery-profile-binding-map-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-discovery-profile-binding-map-id' + '}', port_discovery_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_port_discovery_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port Monitoring Profile Binding Profile
    # API will delete Port Monitoring Profile Binding Profile.
    # @param tier_1_id Tier-1 ID
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_monitoring_profile_binding_map_id Port Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_port_monitoring_binding(tier_1_id, segment_id, port_id, port_monitoring_profile_binding_map_id, opts = {})
      delete_port_monitoring_binding_with_http_info(tier_1_id, segment_id, port_id, port_monitoring_profile_binding_map_id, opts)
      nil
    end

    # Delete Port Monitoring Profile Binding Profile
    # API will delete Port Monitoring Profile Binding Profile.
    # @param tier_1_id Tier-1 ID
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_monitoring_profile_binding_map_id Port Monitoring Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_port_monitoring_binding_with_http_info(tier_1_id, segment_id, port_id, port_monitoring_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_port_monitoring_binding ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling SegmentProfilesApi.delete_port_monitoring_binding"
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_port_monitoring_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_port_monitoring_binding"
      end
      # verify the required parameter 'port_monitoring_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_monitoring_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_monitoring_profile_binding_map_id' when calling SegmentProfilesApi.delete_port_monitoring_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/segments/{segment-id}/ports/{port-id}/port-monitoring-profile-binding-maps/{port-monitoring-profile-binding-map-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-monitoring-profile-binding-map-id' + '}', port_monitoring_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_port_monitoring_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Port QoS Profile Binding Profile
    # API will delete Port QoS Profile Binding Profile.
    # @param tier_1_id Tier-1 ID
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_qos_profile_binding_map_id Port QoS Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_port_qo_s_binding(tier_1_id, segment_id, port_id, port_qos_profile_binding_map_id, opts = {})
      delete_port_qo_s_binding_with_http_info(tier_1_id, segment_id, port_id, port_qos_profile_binding_map_id, opts)
      nil
    end

    # Delete Port QoS Profile Binding Profile
    # API will delete Port QoS Profile Binding Profile.
    # @param tier_1_id Tier-1 ID
    # @param segment_id Segment ID
    # @param port_id Port ID
    # @param port_qos_profile_binding_map_id Port QoS Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_port_qo_s_binding_with_http_info(tier_1_id, segment_id, port_id, port_qos_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_port_qo_s_binding ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling SegmentProfilesApi.delete_port_qo_s_binding"
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_port_qo_s_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_port_qo_s_binding"
      end
      # verify the required parameter 'port_qos_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_qos_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_qos_profile_binding_map_id' when calling SegmentProfilesApi.delete_port_qo_s_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/segments/{segment-id}/ports/{port-id}/port-qos-profile-binding-maps/{port-qos-profile-binding-map-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-qos-profile-binding-map-id' + '}', port_qos_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_port_qo_s_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the port security profile binding map
    # API will delete the port security profile binding map. 
    # @param tier_1_id tier-1 gateway id
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_port_security_profile_binding(tier_1_id, segment_id, port_id, port_security_profile_binding_map_id, opts = {})
      delete_port_security_profile_binding_with_http_info(tier_1_id, segment_id, port_id, port_security_profile_binding_map_id, opts)
      nil
    end

    # Delete the port security profile binding map
    # API will delete the port security profile binding map. 
    # @param tier_1_id tier-1 gateway id
    # @param segment_id segment id
    # @param port_id port id
    # @param port_security_profile_binding_map_id port security profile binding map id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_port_security_profile_binding_with_http_info(tier_1_id, segment_id, port_id, port_security_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_port_security_profile_binding ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling SegmentProfilesApi.delete_port_security_profile_binding"
      end
      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling SegmentProfilesApi.delete_port_security_profile_binding"
      end
      # verify the required parameter 'port_id' is set
      if @api_client.config.client_side_validation && port_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_id' when calling SegmentProfilesApi.delete_port_security_profile_binding"
      end
      # verify the required parameter 'port_security_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && port_security_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_security_profile_binding_map_id' when calling SegmentProfilesApi.delete_port_security_profile_binding"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/segments/{segment-id}/ports/{port-id}/port-security-profile-binding-maps/{port-security-profile-binding-map-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'segment-id' + '}', segment_id.to_s).sub('{' + 'port-id' + '}', port_id.to_s).sub('{' + 'port-security-profile-binding-map-id' + '}', port_security_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SegmentProfilesApi#delete_port_security_profile_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete QoS profile
    # API will delete QoS profile. 
    # @param qos_profile_id QoS profile Id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [nil]
    def delete_qo_s_profile(qos_profile_id, opts = {})
      delete_qo_s_profile_with_http_info(qos_profile_id, opts)
      nil
    end

    # Delete QoS profile
    # API will delete QoS profile. 
    # @param qos_profile_id QoS profile Id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_qo_s_profile_with_http_info(qos_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SegmentProfilesApi.delete_qo_s_profile ...'
      end
      # verify the required parameter 'qos_profile_id' is set
      if @api_client.config.client_side_validation && qos_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'qos_profile_id' when calling SegmentProfilesApi.delete_qo_s_profile"
      end
      # resource path
      local_var_path = '/infra/qos-profiles/{qos-profile-id}'.sub('{' + 'qos-profile-id' + '}', qos_profile_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
[...]
