=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class SessionTimerProfileBindingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Firewall Session Timer Profile Binding
    # API will delete Firewall Session Timer Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_firewall_session_timer_binding(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      delete_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      nil
    end

    # Delete Firewall Session Timer Profile Binding
    # API will delete Firewall Session Timer Profile Binding
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.delete_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.delete_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#delete_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfileBindingMap]
    def get_policy_firewall_session_timer_binding(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      data, _status_code, _headers = get_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      data
    end

    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMap, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMap data, response status code and response headers
    def get_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.get_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.get_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#get_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfileBindingMap]
    def global_infra_get_policy_firewall_session_timer_binding(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      data, _status_code, _headers = global_infra_get_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      data
    end

    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMap, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMap data, response status code and response headers
    def global_infra_get_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.global_infra_get_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.global_infra_get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.global_infra_get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.global_infra_get_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/global-infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#global_infra_get_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Firewall Session Timer Profile Binding Maps for all domains
    # API will list all Firewall Session Timer Profile Binding Maps across all domains. This API returns the binding maps order by the sequence number. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFirewallSessionTimerProfileBindingMapListResult]
    def global_infra_list_firewall_session_timer_bindings_across_domains(opts = {})
      data, _status_code, _headers = global_infra_list_firewall_session_timer_bindings_across_domains_with_http_info(opts)
      data
    end

    # List Firewall Session Timer Profile Binding Maps for all domains
    # API will list all Firewall Session Timer Profile Binding Maps across all domains. This API returns the binding maps order by the sequence number. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMapListResult, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMapListResult data, response status code and response headers
    def global_infra_list_firewall_session_timer_bindings_across_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.global_infra_list_firewall_session_timer_bindings_across_domains ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.global_infra_list_firewall_session_timer_bindings_across_domains, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.global_infra_list_firewall_session_timer_bindings_across_domains, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/domains/firewall-session-timer-profile-binding-maps'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMapListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#global_infra_list_firewall_session_timer_bindings_across_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Firewall Session Timer Profile Binding Maps
    # API will list all Firewall Session Timer Profile Binding Maps in current group id. 
    # @param domain_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFirewallSessionTimerProfileBindingMapListResult]
    def global_infra_list_policy_firewall_session_timer_bindings(domain_id, group_id, opts = {})
      data, _status_code, _headers = global_infra_list_policy_firewall_session_timer_bindings_with_http_info(domain_id, group_id, opts)
      data
    end

    # List Firewall Session Timer Profile Binding Maps
    # API will list all Firewall Session Timer Profile Binding Maps in current group id. 
    # @param domain_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMapListResult, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMapListResult data, response status code and response headers
    def global_infra_list_policy_firewall_session_timer_bindings_with_http_info(domain_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.global_infra_list_policy_firewall_session_timer_bindings ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.global_infra_list_policy_firewall_session_timer_bindings"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.global_infra_list_policy_firewall_session_timer_bindings"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.global_infra_list_policy_firewall_session_timer_bindings, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.global_infra_list_policy_firewall_session_timer_bindings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMapListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#global_infra_list_policy_firewall_session_timer_bindings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Firewall Session Timer Profile Binding Maps for all domains
    # API will list all Firewall Session Timer Profile Binding Maps across all domains. This API returns the binding maps order by the sequence number. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFirewallSessionTimerProfileBindingMapListResult]
    def list_firewall_session_timer_bindings_across_domains(opts = {})
      data, _status_code, _headers = list_firewall_session_timer_bindings_across_domains_with_http_info(opts)
      data
    end

    # List Firewall Session Timer Profile Binding Maps for all domains
    # API will list all Firewall Session Timer Profile Binding Maps across all domains. This API returns the binding maps order by the sequence number. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMapListResult, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMapListResult data, response status code and response headers
    def list_firewall_session_timer_bindings_across_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.list_firewall_session_timer_bindings_across_domains ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.list_firewall_session_timer_bindings_across_domains, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.list_firewall_session_timer_bindings_across_domains, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/domains/firewall-session-timer-profile-binding-maps'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMapListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#list_firewall_session_timer_bindings_across_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Firewall Session Timer Profile Binding Maps
    # API will list all Firewall Session Timer Profile Binding Maps in current group id. 
    # @param domain_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFirewallSessionTimerProfileBindingMapListResult]
    def list_policy_firewall_session_timer_bindings(domain_id, group_id, opts = {})
      data, _status_code, _headers = list_policy_firewall_session_timer_bindings_with_http_info(domain_id, group_id, opts)
      data
    end

    # List Firewall Session Timer Profile Binding Maps
    # API will list all Firewall Session Timer Profile Binding Maps in current group id. 
    # @param domain_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMapListResult, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMapListResult data, response status code and response headers
    def list_policy_firewall_session_timer_bindings_with_http_info(domain_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.list_policy_firewall_session_timer_bindings ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.list_policy_firewall_session_timer_bindings"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.list_policy_firewall_session_timer_bindings"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.list_policy_firewall_session_timer_bindings, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.list_policy_firewall_session_timer_bindings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMapListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#list_policy_firewall_session_timer_bindings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Firewall Session Timer Profile Binding
    # API will delete Firewall Session Timer Profile Binding
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      nil
    end

    # Delete Firewall Session Timer Profile Binding
    # API will delete Firewall Session Timer Profile Binding
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#orgs_org_id_projects_project_id_infra_delete_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfileBindingMap]
    def orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts)
      data
    end

    # Get Firewall Session Timer Profile Binding Map
    # API will get Firewall Session Timer Profile Binding Map 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id Domain-ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMap, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMap data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#orgs_org_id_projects_project_id_infra_get_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Firewall Session Timer Profile Binding Maps for all domains
    # API will list all Firewall Session Timer Profile Binding Maps across all domains. This API returns the binding maps order by the sequence number. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFirewallSessionTimerProfileBindingMapListResult]
    def orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains(org_id, project_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains_with_http_info(org_id, project_id, opts)
      data
    end

    # List Firewall Session Timer Profile Binding Maps for all domains
    # API will list all Firewall Session Timer Profile Binding Maps across all domains. This API returns the binding maps order by the sequence number. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMapListResult, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMapListResult data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/domains/firewall-session-timer-profile-binding-maps'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMapListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#orgs_org_id_projects_project_id_infra_list_firewall_session_timer_bindings_across_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Firewall Session Timer Profile Binding Maps
    # API will list all Firewall Session Timer Profile Binding Maps in current group id. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyFirewallSessionTimerProfileBindingMapListResult]
    def orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings(org_id, project_id, domain_id, group_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings_with_http_info(org_id, project_id, domain_id, group_id, opts)
      data
    end

    # List Firewall Session Timer Profile Binding Maps
    # API will list all Firewall Session Timer Profile Binding Maps in current group id. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id 
    # @param group_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMapListResult, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMapListResult data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings_with_http_info(org_id, project_id, domain_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings"
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMapListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#orgs_org_id_projects_project_id_infra_list_policy_firewall_session_timer_bindings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update Firewall Session Timer Profile Binding Map
    # API will create or update Firewall Session Timer profile binding map
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts)
      nil
    end

    # Create or update Firewall Session Timer Profile Binding Map
    # API will create or update Firewall Session Timer profile binding map
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'policy_firewall_session_timer_profile_binding_map' is set
      if @api_client.config.client_side_validation && policy_firewall_session_timer_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'policy_firewall_session_timer_profile_binding_map' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_firewall_session_timer_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#orgs_org_id_projects_project_id_infra_patch_policy_firewall_session_timer_profile_binding_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Firewall Session Timer Profile Binding Map
    # API will update Firewall Session Timer Profile Binding Map
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id DomainID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfileBindingMap]
    def orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts)
      data
    end

    # Update Firewall Session Timer Profile Binding Map
    # API will update Firewall Session Timer Profile Binding Map
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param domain_id DomainID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMap, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMap data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding_with_http_info(org_id, project_id, domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'policy_firewall_session_timer_profile_binding_map' is set
      if @api_client.config.client_side_validation && policy_firewall_session_timer_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'policy_firewall_session_timer_profile_binding_map' when calling SessionTimerProfileBindingsApi.orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_firewall_session_timer_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#orgs_org_id_projects_project_id_infra_update_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update Firewall Session Timer Profile Binding Map
    # API will create or update Firewall Session Timer profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_policy_firewall_session_timer_profile_binding_map(domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      patch_policy_firewall_session_timer_profile_binding_map_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts)
      nil
    end

    # Create or update Firewall Session Timer Profile Binding Map
    # API will create or update Firewall Session Timer profile binding map
    # @param domain_id Domain ID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_policy_firewall_session_timer_profile_binding_map_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.patch_policy_firewall_session_timer_profile_binding_map ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.patch_policy_firewall_session_timer_profile_binding_map"
      end
      # verify the required parameter 'policy_firewall_session_timer_profile_binding_map' is set
      if @api_client.config.client_side_validation && policy_firewall_session_timer_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'policy_firewall_session_timer_profile_binding_map' when calling SessionTimerProfileBindingsApi.patch_policy_firewall_session_timer_profile_binding_map"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_firewall_session_timer_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#patch_policy_firewall_session_timer_profile_binding_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Firewall Session Timer Profile Binding Map
    # API will update Firewall Session Timer Profile Binding Map
    # @param domain_id DomainID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [PolicyFirewallSessionTimerProfileBindingMap]
    def update_policy_firewall_session_timer_binding(domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      data, _status_code, _headers = update_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts)
      data
    end

    # Update Firewall Session Timer Profile Binding Map
    # API will update Firewall Session Timer Profile Binding Map
    # @param domain_id DomainID
    # @param group_id Group ID
    # @param firewall_session_timer_profile_binding_map_id Firewall Session Timer Profile Binding Map ID
    # @param policy_firewall_session_timer_profile_binding_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFirewallSessionTimerProfileBindingMap, Fixnum, Hash)>] PolicyFirewallSessionTimerProfileBindingMap data, response status code and response headers
    def update_policy_firewall_session_timer_binding_with_http_info(domain_id, group_id, firewall_session_timer_profile_binding_map_id, policy_firewall_session_timer_profile_binding_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionTimerProfileBindingsApi.update_policy_firewall_session_timer_binding ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SessionTimerProfileBindingsApi.update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling SessionTimerProfileBindingsApi.update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'firewall_session_timer_profile_binding_map_id' is set
      if @api_client.config.client_side_validation && firewall_session_timer_profile_binding_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_session_timer_profile_binding_map_id' when calling SessionTimerProfileBindingsApi.update_policy_firewall_session_timer_binding"
      end
      # verify the required parameter 'policy_firewall_session_timer_profile_binding_map' is set
      if @api_client.config.client_side_validation && policy_firewall_session_timer_profile_binding_map.nil?
        fail ArgumentError, "Missing the required parameter 'policy_firewall_session_timer_profile_binding_map' when calling SessionTimerProfileBindingsApi.update_policy_firewall_session_timer_binding"
      end
      # resource path
      local_var_path = '/infra/domains/{domain-id}/groups/{group-id}/firewall-session-timer-profile-binding-maps/{firewall-session-timer-profile-binding-map-id}'.sub('{' + 'domain-id' + '}', domain_id.to_s).sub('{' + 'group-id' + '}', group_id.to_s).sub('{' + 'firewall-session-timer-profile-binding-map-id' + '}', firewall_session_timer_profile_binding_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_firewall_session_timer_profile_binding_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyFirewallSessionTimerProfileBindingMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionTimerProfileBindingsApi#update_policy_firewall_session_timer_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
