=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class SettingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This routine will get site security setting
    # This routine will get site security setting 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [SiteSecuritySetting]
    def global_infra_get_site_security_setting(site_id, opts = {})
      data, _status_code, _headers = global_infra_get_site_security_setting_with_http_info(site_id, opts)
      data
    end

    # This routine will get site security setting
    # This routine will get site security setting 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SiteSecuritySetting, Fixnum, Hash)>] SiteSecuritySetting data, response status code and response headers
    def global_infra_get_site_security_setting_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SettingApi.global_infra_get_site_security_setting ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SettingApi.global_infra_get_site_security_setting"
      end
      # resource path
      local_var_path = '/global-infra/sites/{site-id}/security-setting'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteSecuritySetting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SettingApi#global_infra_get_site_security_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
