=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class SitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or fully replace a Site under infra
    # Create or fully replace a Site under Infra. Revision is optional for creation and required for update. 
    # @param site_id 
    # @param site 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def create_or_update_infra_site(site_id, site, opts = {})
      data, _status_code, _headers = create_or_update_infra_site_with_http_info(site_id, site, opts)
      data
    end

    # Create or fully replace a Site under infra
    # Create or fully replace a Site under Infra. Revision is optional for creation and required for update. 
    # @param site_id 
    # @param site 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Fixnum, Hash)>] Site data, response status code and response headers
    def create_or_update_infra_site_with_http_info(site_id, site, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.create_or_update_infra_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SitesApi.create_or_update_infra_site"
      end
      # verify the required parameter 'site' is set
      if @api_client.config.client_side_validation && site.nil?
        fail ArgumentError, "Missing the required parameter 'site' when calling SitesApi.create_or_update_infra_site"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(site)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Site')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#create_or_update_infra_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a site
    # Delete a site under Infra. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force 
    # @return [nil]
    def delete_infra_site(site_id, opts = {})
      delete_infra_site_with_http_info(site_id, opts)
      nil
    end

    # Delete a site
    # Delete a site under Infra. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_site_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.delete_infra_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SitesApi.delete_infra_site"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#delete_infra_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Returns the certificate of the listener
    # Connects to the given IP and port, and, if an SSL listener is present, returns the certificate of the listener. Intent of this API is \"Do you trust this certificate?\". 
    # @param address Host name or IP address of TLS listener
    # @param port TCP port number of the TLS listener
    # @param [Hash] opts the optional parameters
    # @return [TlsListenerCertificate]
    def get_infra_site_listener_certificate(address, port, opts = {})
      data, _status_code, _headers = get_infra_site_listener_certificate_with_http_info(address, port, opts)
      data
    end

    # Returns the certificate of the listener
    # Connects to the given IP and port, and, if an SSL listener is present, returns the certificate of the listener. Intent of this API is \&quot;Do you trust this certificate?\&quot;. 
    # @param address Host name or IP address of TLS listener
    # @param port TCP port number of the TLS listener
    # @param [Hash] opts the optional parameters
    # @return [Array<(TlsListenerCertificate, Fixnum, Hash)>] TlsListenerCertificate data, response status code and response headers
    def get_infra_site_listener_certificate_with_http_info(address, port, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.get_infra_site_listener_certificate ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling SitesApi.get_infra_site_listener_certificate"
      end
      # verify the required parameter 'port' is set
      if @api_client.config.client_side_validation && port.nil?
        fail ArgumentError, "Missing the required parameter 'port' when calling SitesApi.get_infra_site_listener_certificate"
      end
      if @api_client.config.client_side_validation && port > 65535
        fail ArgumentError, 'invalid value for "port" when calling SitesApi.get_infra_site_listener_certificate, must be smaller than or equal to 65535.'
      end

      if @api_client.config.client_side_validation && port < 0
        fail ArgumentError, 'invalid value for "port" when calling SitesApi.get_infra_site_listener_certificate, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/sites/listener_certificate'

      # query parameters
      query_params = {}
      query_params[:'address'] = address
      query_params[:'port'] = port

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsListenerCertificate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#get_infra_site_listener_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get site offboarding status.
    # Get site offboarding status.
    # @param [Hash] opts the optional parameters
    # @return [SiteOffBoardingState]
    def get_site_offboarding_status(opts = {})
      data, _status_code, _headers = get_site_offboarding_status_with_http_info(opts)
      data
    end

    # Get site offboarding status.
    # Get site offboarding status.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SiteOffBoardingState, Fixnum, Hash)>] SiteOffBoardingState data, response status code and response headers
    def get_site_offboarding_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.get_site_offboarding_status ...'
      end
      # resource path
      local_var_path = '/infra/site/offboarding-status'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteOffBoardingState')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#get_site_offboarding_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get span for an entity with specified path
    # Get span for an entity with specified path.
    # @param intent_path String Path of the intent object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy Path of the site
    # @return [Span]
    def get_span(intent_path, opts = {})
      data, _status_code, _headers = get_span_with_http_info(intent_path, opts)
      data
    end

    # Get span for an entity with specified path
    # Get span for an entity with specified path.
    # @param intent_path String Path of the intent object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy Path of the site
    # @return [Array<(Span, Fixnum, Hash)>] Span data, response status code and response headers
    def get_span_with_http_info(intent_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.get_span ...'
      end
      # verify the required parameter 'intent_path' is set
      if @api_client.config.client_side_validation && intent_path.nil?
        fail ArgumentError, "Missing the required parameter 'intent_path' when calling SitesApi.get_span"
      end
      # resource path
      local_var_path = '/infra/span'

      # query parameters
      query_params = {}
      query_params[:'intent_path'] = intent_path
      query_params[:'site_path'] = opts[:'site_path'] if !opts[:'site_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Span')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#get_span\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Returns the certificate of the listener
    # Connects to the given IP and port, and, if an SSL listener is present, returns the certificate of the listener. Intent of this API is \"Do you trust this certificate?\". 
    # @param address Host name or IP address of TLS listener
    # @param port TCP port number of the TLS listener
    # @param [Hash] opts the optional parameters
    # @return [TlsListenerCertificate]
    def global_infra_get_infra_site_listener_certificate(address, port, opts = {})
      data, _status_code, _headers = global_infra_get_infra_site_listener_certificate_with_http_info(address, port, opts)
      data
    end

    # Returns the certificate of the listener
    # Connects to the given IP and port, and, if an SSL listener is present, returns the certificate of the listener. Intent of this API is \&quot;Do you trust this certificate?\&quot;. 
    # @param address Host name or IP address of TLS listener
    # @param port TCP port number of the TLS listener
    # @param [Hash] opts the optional parameters
    # @return [Array<(TlsListenerCertificate, Fixnum, Hash)>] TlsListenerCertificate data, response status code and response headers
    def global_infra_get_infra_site_listener_certificate_with_http_info(address, port, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.global_infra_get_infra_site_listener_certificate ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling SitesApi.global_infra_get_infra_site_listener_certificate"
      end
      # verify the required parameter 'port' is set
      if @api_client.config.client_side_validation && port.nil?
        fail ArgumentError, "Missing the required parameter 'port' when calling SitesApi.global_infra_get_infra_site_listener_certificate"
      end
      if @api_client.config.client_side_validation && port > 65535
        fail ArgumentError, 'invalid value for "port" when calling SitesApi.global_infra_get_infra_site_listener_certificate, must be smaller than or equal to 65535.'
      end

      if @api_client.config.client_side_validation && port < 0
        fail ArgumentError, 'invalid value for "port" when calling SitesApi.global_infra_get_infra_site_listener_certificate, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/sites/listener_certificate'

      # query parameters
      query_params = {}
      query_params[:'address'] = address
      query_params[:'port'] = port

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsListenerCertificate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#global_infra_get_infra_site_listener_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This routine will get site security setting
    # This routine will get site security setting 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [SiteSecuritySetting]
    def global_infra_get_site_security_setting(site_id, opts = {})
      data, _status_code, _headers = global_infra_get_site_security_setting_with_http_info(site_id, opts)
      data
    end

    # This routine will get site security setting
    # This routine will get site security setting 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SiteSecuritySetting, Fixnum, Hash)>] SiteSecuritySetting data, response status code and response headers
    def global_infra_get_site_security_setting_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.global_infra_get_site_security_setting ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SitesApi.global_infra_get_site_security_setting"
      end
      # resource path
      local_var_path = '/global-infra/sites/{site-id}/security-setting'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteSecuritySetting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#global_infra_get_site_security_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get span for an entity with specified path
    # Get span for an entity with specified path.
    # @param intent_path String Path of the intent object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy Path of the site
    # @return [Span]
    def global_infra_get_span(intent_path, opts = {})
      data, _status_code, _headers = global_infra_get_span_with_http_info(intent_path, opts)
      data
    end

    # Get span for an entity with specified path
    # Get span for an entity with specified path.
    # @param intent_path String Path of the intent object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy Path of the site
    # @return [Array<(Span, Fixnum, Hash)>] Span data, response status code and response headers
    def global_infra_get_span_with_http_info(intent_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.global_infra_get_span ...'
      end
      # verify the required parameter 'intent_path' is set
      if @api_client.config.client_side_validation && intent_path.nil?
        fail ArgumentError, "Missing the required parameter 'intent_path' when calling SitesApi.global_infra_get_span"
      end
      # resource path
      local_var_path = '/global-infra/span'

      # query parameters
      query_params = {}
      query_params[:'intent_path'] = intent_path
      query_params[:'site_path'] = opts[:'site_path'] if !opts[:'site_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Span')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#global_infra_get_span\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Sites
    # List Sites under Infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [SiteListResult]
    def global_infra_list_sites(opts = {})
      data, _status_code, _headers = global_infra_list_sites_with_http_info(opts)
      data
    end

    # List Sites
    # List Sites under Infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(SiteListResult, Fixnum, Hash)>] SiteListResult data, response status code and response headers
    def global_infra_list_sites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.global_infra_list_sites ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SitesApi.global_infra_list_sites, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SitesApi.global_infra_list_sites, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/sites'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#global_infra_list_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read a site
    # Read a site under Infra. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def global_infra_read_site(site_id, opts = {})
      data, _status_code, _headers = global_infra_read_site_with_http_info(site_id, opts)
      data
    end

    # Read a site
    # Read a site under Infra. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Fixnum, Hash)>] Site data, response status code and response headers
    def global_infra_read_site_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.global_infra_read_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SitesApi.global_infra_read_site"
      end
      # resource path
      local_var_path = '/global-infra/sites/{site-id}'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Site')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#global_infra_read_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Sites
    # List Sites under Infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [SiteListResult]
    def list_sites(opts = {})
      data, _status_code, _headers = list_sites_with_http_info(opts)
      data
    end

    # List Sites
    # List Sites under Infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(SiteListResult, Fixnum, Hash)>] SiteListResult data, response status code and response headers
    def list_sites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.list_sites ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SitesApi.list_sites, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SitesApi.list_sites, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/sites'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SiteListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#list_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get span for an entity with specified path
    # Get span for an entity with specified path.
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param intent_path String Path of the intent object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy Path of the site
    # @return [Span]
    def orgs_org_id_projects_project_id_infra_get_span(org_id, project_id, intent_path, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_get_span_with_http_info(org_id, project_id, intent_path, opts)
      data
    end

    # Get span for an entity with specified path
    # Get span for an entity with specified path.
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param intent_path String Path of the intent object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_path Policy Path of the site
    # @return [Array<(Span, Fixnum, Hash)>] Span data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_get_span_with_http_info(org_id, project_id, intent_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.orgs_org_id_projects_project_id_infra_get_span ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SitesApi.orgs_org_id_projects_project_id_infra_get_span"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SitesApi.orgs_org_id_projects_project_id_infra_get_span"
      end
      # verify the required parameter 'intent_path' is set
      if @api_client.config.client_side_validation && intent_path.nil?
        fail ArgumentError, "Missing the required parameter 'intent_path' when calling SitesApi.orgs_org_id_projects_project_id_infra_get_span"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/span'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'intent_path'] = intent_path
      query_params[:'site_path'] = opts[:'site_path'] if !opts[:'site_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Span')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#orgs_org_id_projects_project_id_infra_get_span\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or patch Site
    # Create or patch Site under Infra. 
    # @param site_id 
    # @param site 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_infra_site(site_id, site, opts = {})
      patch_infra_site_with_http_info(site_id, site, opts)
      nil
    end

    # Create or patch Site
    # Create or patch Site under Infra. 
    # @param site_id 
    # @param site 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_infra_site_with_http_info(site_id, site, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.patch_infra_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SitesApi.patch_infra_site"
      end
      # verify the required parameter 'site' is set
      if @api_client.config.client_side_validation && site.nil?
        fail ArgumentError, "Missing the required parameter 'site' when calling SitesApi.patch_infra_site"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(site)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#patch_infra_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read a site
    # Read a site under Infra. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Site]
    def read_site(site_id, opts = {})
      data, _status_code, _headers = read_site_with_http_info(site_id, opts)
      data
    end

    # Read a site
    # Read a site under Infra. 
    # @param site_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Site, Fixnum, Hash)>] Site data, response status code and response headers
    def read_site_with_http_info(site_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SitesApi.read_site ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling SitesApi.read_site"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}'.sub('{' + 'site-id' + '}', site_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Site')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SitesApi#read_site\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
