=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class Tier0GatewaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BYOD service instance
    # Create BYOD Service Instance which represent instance of service definition created on manager. 
    # @param tier_0_id Tier-0 id
    # @param locale_service_id Locale service id
    # @param service_instance_id BYOD service instance id
    # @param byod_policy_service_instance 
    # @param [Hash] opts the optional parameters
    # @return [ByodPolicyServiceInstance]
    def create_byod_policy_service_instance(tier_0_id, locale_service_id, service_instance_id, byod_policy_service_instance, opts = {})
      data, _status_code, _headers = create_byod_policy_service_instance_with_http_info(tier_0_id, locale_service_id, service_instance_id, byod_policy_service_instance, opts)
      data
    end

    # Create BYOD service instance
    # Create BYOD Service Instance which represent instance of service definition created on manager. 
    # @param tier_0_id Tier-0 id
    # @param locale_service_id Locale service id
    # @param service_instance_id BYOD service instance id
    # @param byod_policy_service_instance 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ByodPolicyServiceInstance, Fixnum, Hash)>] ByodPolicyServiceInstance data, response status code and response headers
    def create_byod_policy_service_instance_with_http_info(tier_0_id, locale_service_id, service_instance_id, byod_policy_service_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_byod_policy_service_instance ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_byod_policy_service_instance"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_byod_policy_service_instance"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling Tier0GatewaysApi.create_byod_policy_service_instance"
      end
      # verify the required parameter 'byod_policy_service_instance' is set
      if @api_client.config.client_side_validation && byod_policy_service_instance.nil?
        fail ArgumentError, "Missing the required parameter 'byod_policy_service_instance' when calling Tier0GatewaysApi.create_byod_policy_service_instance"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/byod-service-instances/{service-instance-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(byod_policy_service_instance)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ByodPolicyServiceInstance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_byod_policy_service_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or patch an L3Vpn
    # Create the new L3Vpn if it does not exist. If the L3Vpn already exists, merge with the the existing one. This is a patch. - If the passed L3Vpn is a policy-based one and has new L3VpnRules, add them to the existing L3VpnRules. - If the passed L3Vpn is a policy-based one and also has existing L3VpnRules, update the existing L3VpnRules. This API is deprecated. Please use the following APIs instead: - PATCH /infra/ipsec-vpn-tunnel-profiles/&lt;tunnel-profile-id&gt; to patch the IPSecVpnTunnelProfile. - PATCH /infra/ipsec-vpn-ike-profiles/&lt;ike-profile-id&gt; to patch the IPSecVpnIkeProfile. - PATCH /infra/ipsec-vpn-dpd-profiles/&lt;dpd-profile-id&gt; to patch the IPSecVpnDpdProfile. - PATCH /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/ipsec-vpn-services/   default/local-endpoints/&lt;local-endpoint-id&gt; to patch the IPSecVpnLocalEndpoint. - PATCH /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/ipsec-vpn-services/   default/sessions/&lt;l3vpn-id&gt; to patch the IPSecVpnSession. If used, this deprecated API will result in the following objects being internally created/patched: - IPSecVpnTunnelProfile: /infra/ipsec-vpn-tunnel-profiles/L3VPN_&lt;l3vpn-id&gt;. - IPSecVpnIkeProfile: /infra/ipsec-vpn-ike-profiles/L3VPN_&lt;l3vpn-id&gt;. - IPSecVpnDpdProfile: /infra/ipsec-vpn-dpd-profiles/L3VPN_&lt;l3vpn-id&gt;. - IPSecVpnLocalEndpoint: /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/   ipsec-vpn-services/default/local-endpoints/&lt;local-endpoint-id&gt;. If an object with the same   \"local_address\" already exists, then it will be re-used. - IPSecVpnSession: /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/   ipsec-vpn-services/default/sessions/L3VPN_&lt;l3vpn-id&gt;. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param l3vpn_id 
    # @param l3_vpn 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_or_patch_l3_vpn(tier_0_id, locale_service_id, l3vpn_id, l3_vpn, opts = {})
      create_or_patch_l3_vpn_with_http_info(tier_0_id, locale_service_id, l3vpn_id, l3_vpn, opts)
      nil
    end

    # Create or patch an L3Vpn
    # Create the new L3Vpn if it does not exist. If the L3Vpn already exists, merge with the the existing one. This is a patch. - If the passed L3Vpn is a policy-based one and has new L3VpnRules, add them to the existing L3VpnRules. - If the passed L3Vpn is a policy-based one and also has existing L3VpnRules, update the existing L3VpnRules. This API is deprecated. Please use the following APIs instead: - PATCH /infra/ipsec-vpn-tunnel-profiles/&amp;lt;tunnel-profile-id&amp;gt; to patch the IPSecVpnTunnelProfile. - PATCH /infra/ipsec-vpn-ike-profiles/&amp;lt;ike-profile-id&amp;gt; to patch the IPSecVpnIkeProfile. - PATCH /infra/ipsec-vpn-dpd-profiles/&amp;lt;dpd-profile-id&amp;gt; to patch the IPSecVpnDpdProfile. - PATCH /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/ipsec-vpn-services/   default/local-endpoints/&amp;lt;local-endpoint-id&amp;gt; to patch the IPSecVpnLocalEndpoint. - PATCH /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/ipsec-vpn-services/   default/sessions/&amp;lt;l3vpn-id&amp;gt; to patch the IPSecVpnSession. If used, this deprecated API will result in the following objects being internally created/patched: - IPSecVpnTunnelProfile: /infra/ipsec-vpn-tunnel-profiles/L3VPN_&amp;lt;l3vpn-id&amp;gt;. - IPSecVpnIkeProfile: /infra/ipsec-vpn-ike-profiles/L3VPN_&amp;lt;l3vpn-id&amp;gt;. - IPSecVpnDpdProfile: /infra/ipsec-vpn-dpd-profiles/L3VPN_&amp;lt;l3vpn-id&amp;gt;. - IPSecVpnLocalEndpoint: /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/   ipsec-vpn-services/default/local-endpoints/&amp;lt;local-endpoint-id&amp;gt;. If an object with the same   \&quot;local_address\&quot; already exists, then it will be re-used. - IPSecVpnSession: /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/   ipsec-vpn-services/default/sessions/L3VPN_&amp;lt;l3vpn-id&amp;gt;. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param l3vpn_id 
    # @param l3_vpn 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_or_patch_l3_vpn_with_http_info(tier_0_id, locale_service_id, l3vpn_id, l3_vpn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_patch_l3_vpn ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_patch_l3_vpn"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_patch_l3_vpn"
      end
      # verify the required parameter 'l3vpn_id' is set
      if @api_client.config.client_side_validation && l3vpn_id.nil?
        fail ArgumentError, "Missing the required parameter 'l3vpn_id' when calling Tier0GatewaysApi.create_or_patch_l3_vpn"
      end
      # verify the required parameter 'l3_vpn' is set
      if @api_client.config.client_side_validation && l3_vpn.nil?
        fail ArgumentError, "Missing the required parameter 'l3_vpn' when calling Tier0GatewaysApi.create_or_patch_l3_vpn"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/l3vpns/{l3vpn-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'l3vpn-id' + '}', l3vpn_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(l3_vpn)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_patch_l3_vpn\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP neighbor config
    # If BGP neighbor config with the neighbor-id is not already present, create a new neighbor config. If it already exists, replace the BGP neighbor config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param neighbor_id 
    # @param bgp_neighbor_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [BgpNeighborConfig]
    def create_or_replace_bgp_neighbor_config(tier_0_id, locale_service_id, neighbor_id, bgp_neighbor_config, opts = {})
      data, _status_code, _headers = create_or_replace_bgp_neighbor_config_with_http_info(tier_0_id, locale_service_id, neighbor_id, bgp_neighbor_config, opts)
      data
    end

    # Create or update a BGP neighbor config
    # If BGP neighbor config with the neighbor-id is not already present, create a new neighbor config. If it already exists, replace the BGP neighbor config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param neighbor_id 
    # @param bgp_neighbor_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(BgpNeighborConfig, Fixnum, Hash)>] BgpNeighborConfig data, response status code and response headers
    def create_or_replace_bgp_neighbor_config_with_http_info(tier_0_id, locale_service_id, neighbor_id, bgp_neighbor_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_bgp_neighbor_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_bgp_neighbor_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_bgp_neighbor_config"
      end
      # verify the required parameter 'neighbor_id' is set
      if @api_client.config.client_side_validation && neighbor_id.nil?
        fail ArgumentError, "Missing the required parameter 'neighbor_id' when calling Tier0GatewaysApi.create_or_replace_bgp_neighbor_config"
      end
      # verify the required parameter 'bgp_neighbor_config' is set
      if @api_client.config.client_side_validation && bgp_neighbor_config.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_neighbor_config' when calling Tier0GatewaysApi.create_or_replace_bgp_neighbor_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp/neighbors/{neighbor-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'neighbor-id' + '}', neighbor_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_neighbor_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpNeighborConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_bgp_neighbor_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP routing config
    # If BGP routing config is not already present, create BGP routing config. If it already exists, replace the BGP routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_routing_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [BgpRoutingConfig]
    def create_or_replace_bgp_routing_config(tier_0_id, locale_service_id, bgp_routing_config, opts = {})
      data, _status_code, _headers = create_or_replace_bgp_routing_config_with_http_info(tier_0_id, locale_service_id, bgp_routing_config, opts)
      data
    end

    # Create or update a BGP routing config
    # If BGP routing config is not already present, create BGP routing config. If it already exists, replace the BGP routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_routing_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(BgpRoutingConfig, Fixnum, Hash)>] BgpRoutingConfig data, response status code and response headers
    def create_or_replace_bgp_routing_config_with_http_info(tier_0_id, locale_service_id, bgp_routing_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_bgp_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_bgp_routing_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_bgp_routing_config"
      end
      # verify the required parameter 'bgp_routing_config' is set
      if @api_client.config.client_side_validation && bgp_routing_config.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_routing_config' when calling Tier0GatewaysApi.create_or_replace_bgp_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_routing_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpRoutingConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_bgp_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP troubleshoot config
    # If BGP troubleshoot config is not present in BGP configuration, create a new BGP troubleshoot config with default value. If it already exists, update the BGP troubleshoot config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [BgpTroubleshootConfig]
    def create_or_replace_bgp_troubleshoot_config(tier_0_id, locale_service_id, bgp_troubleshoot_config, opts = {})
      data, _status_code, _headers = create_or_replace_bgp_troubleshoot_config_with_http_info(tier_0_id, locale_service_id, bgp_troubleshoot_config, opts)
      data
    end

    # Create or update a BGP troubleshoot config
    # If BGP troubleshoot config is not present in BGP configuration, create a new BGP troubleshoot config with default value. If it already exists, update the BGP troubleshoot config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param bgp_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(BgpTroubleshootConfig, Fixnum, Hash)>] BgpTroubleshootConfig data, response status code and response headers
    def create_or_replace_bgp_troubleshoot_config_with_http_info(tier_0_id, locale_service_id, bgp_troubleshoot_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_bgp_troubleshoot_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_bgp_troubleshoot_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_bgp_troubleshoot_config"
      end
      # verify the required parameter 'bgp_troubleshoot_config' is set
      if @api_client.config.client_side_validation && bgp_troubleshoot_config.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_troubleshoot_config' when calling Tier0GatewaysApi.create_or_replace_bgp_troubleshoot_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/bgp/troubleshoot'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_troubleshoot_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpTroubleshootConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_bgp_troubleshoot_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a BGP community list
    # If a community list with the community-list-id is not already present, create a new community list. If it already exists, replace the community list instance with the new object. 
    # @param tier_0_id 
    # @param community_list_id 
    # @param community_list 
    # @param [Hash] opts the optional parameters
    # @return [CommunityList]
    def create_or_replace_community_list(tier_0_id, community_list_id, community_list, opts = {})
      data, _status_code, _headers = create_or_replace_community_list_with_http_info(tier_0_id, community_list_id, community_list, opts)
      data
    end

    # Create or update a BGP community list
    # If a community list with the community-list-id is not already present, create a new community list. If it already exists, replace the community list instance with the new object. 
    # @param tier_0_id 
    # @param community_list_id 
    # @param community_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommunityList, Fixnum, Hash)>] CommunityList data, response status code and response headers
    def create_or_replace_community_list_with_http_info(tier_0_id, community_list_id, community_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_community_list ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_community_list"
      end
      # verify the required parameter 'community_list_id' is set
      if @api_client.config.client_side_validation && community_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'community_list_id' when calling Tier0GatewaysApi.create_or_replace_community_list"
      end
      # verify the required parameter 'community_list' is set
      if @api_client.config.client_side_validation && community_list.nil?
        fail ArgumentError, "Missing the required parameter 'community_list' when calling Tier0GatewaysApi.create_or_replace_community_list"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/community-lists/{community-list-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'community-list-id' + '}', community_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(community_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CommunityList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_community_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or replace an L3Vpn
    # Create a new L3Vpn if the L3Vpn with given id does not already exist. If the L3Vpn with the given id already exists, replace the existing L3Vpn. This a full replace. This API is deprecated. Please use the following APIs instead: - PUT /infra/ipsec-vpn-tunnel-profiles/&lt;tunnel-profile-id&gt; to update the IPSecVpnTunnelProfile. - PUT /infra/ipsec-vpn-ike-profiles/&lt;ike-profile-id&gt; to update the IPSecVpnIkeProfile. - PUT /infra/ipsec-vpn-dpd-profiles/&lt;dpd-profile-id&gt; to update the IPSecVpnDpdProfile. - PUT /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/ipsec-vpn-services/   default/local-endpoints/&lt;local-endpoint-id&gt; to update the IPSecVpnLocalEndpoint. - PUT /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/ipsec-vpn-services/   default/sessions/&lt;l3vpn-id&gt; to update the IPSecVpnSession. If used, this deprecated API will result in the following objects being internally created/updated: - IPSecVpnTunnelProfile: /infra/ipsec-vpn-tunnel-profiles/L3VPN_&lt;l3vpn-id&gt;. - IPSecVpnIkeProfile: /infra/ipsec-vpn-ike-profiles/L3VPN_&lt;l3vpn-id&gt;. - IPSecVpnDpdProfile: /infra/ipsec-vpn-dpd-profiles/L3VPN_&lt;l3vpn-id&gt;. - IPSecVpnLocalEndpoint: /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/   ipsec-vpn-services/default/local-endpoints/&lt;local-endpoint-id&gt;. If an object with the same   \"local_address\" already exists, then it will be re-used. - IPSecVpnSession: /infra/tier-0s/&lt;tier-0-id&gt;/locale-services/&lt;locale-service-id&gt;/   ipsec-vpn-services/default/sessions/L3VPN_&lt;l3vpn-id&gt;. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param l3vpn_id 
    # @param l3_vpn 
    # @param [Hash] opts the optional parameters
    # @return [L3Vpn]
    def create_or_replace_l3_vpn(tier_0_id, locale_service_id, l3vpn_id, l3_vpn, opts = {})
      data, _status_code, _headers = create_or_replace_l3_vpn_with_http_info(tier_0_id, locale_service_id, l3vpn_id, l3_vpn, opts)
      data
    end

    # Create or replace an L3Vpn
    # Create a new L3Vpn if the L3Vpn with given id does not already exist. If the L3Vpn with the given id already exists, replace the existing L3Vpn. This a full replace. This API is deprecated. Please use the following APIs instead: - PUT /infra/ipsec-vpn-tunnel-profiles/&amp;lt;tunnel-profile-id&amp;gt; to update the IPSecVpnTunnelProfile. - PUT /infra/ipsec-vpn-ike-profiles/&amp;lt;ike-profile-id&amp;gt; to update the IPSecVpnIkeProfile. - PUT /infra/ipsec-vpn-dpd-profiles/&amp;lt;dpd-profile-id&amp;gt; to update the IPSecVpnDpdProfile. - PUT /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/ipsec-vpn-services/   default/local-endpoints/&amp;lt;local-endpoint-id&amp;gt; to update the IPSecVpnLocalEndpoint. - PUT /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/ipsec-vpn-services/   default/sessions/&amp;lt;l3vpn-id&amp;gt; to update the IPSecVpnSession. If used, this deprecated API will result in the following objects being internally created/updated: - IPSecVpnTunnelProfile: /infra/ipsec-vpn-tunnel-profiles/L3VPN_&amp;lt;l3vpn-id&amp;gt;. - IPSecVpnIkeProfile: /infra/ipsec-vpn-ike-profiles/L3VPN_&amp;lt;l3vpn-id&amp;gt;. - IPSecVpnDpdProfile: /infra/ipsec-vpn-dpd-profiles/L3VPN_&amp;lt;l3vpn-id&amp;gt;. - IPSecVpnLocalEndpoint: /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/   ipsec-vpn-services/default/local-endpoints/&amp;lt;local-endpoint-id&amp;gt;. If an object with the same   \&quot;local_address\&quot; already exists, then it will be re-used. - IPSecVpnSession: /infra/tier-0s/&amp;lt;tier-0-id&amp;gt;/locale-services/&amp;lt;locale-service-id&amp;gt;/   ipsec-vpn-services/default/sessions/L3VPN_&amp;lt;l3vpn-id&amp;gt;. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param l3vpn_id 
    # @param l3_vpn 
    # @param [Hash] opts the optional parameters
    # @return [Array<(L3Vpn, Fixnum, Hash)>] L3Vpn data, response status code and response headers
    def create_or_replace_l3_vpn_with_http_info(tier_0_id, locale_service_id, l3vpn_id, l3_vpn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_l3_vpn ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_l3_vpn"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_l3_vpn"
      end
      # verify the required parameter 'l3vpn_id' is set
      if @api_client.config.client_side_validation && l3vpn_id.nil?
        fail ArgumentError, "Missing the required parameter 'l3vpn_id' when calling Tier0GatewaysApi.create_or_replace_l3_vpn"
      end
      # verify the required parameter 'l3_vpn' is set
      if @api_client.config.client_side_validation && l3_vpn.nil?
        fail ArgumentError, "Missing the required parameter 'l3_vpn' when calling Tier0GatewaysApi.create_or_replace_l3_vpn"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/l3vpns/{l3vpn-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'l3vpn-id' + '}', l3vpn_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(l3_vpn)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'L3Vpn')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_l3_vpn\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a OSPF Area config
    # If OSPF Area config is not already present, create OSPF Area config. If it already exists, replace the OSPF Area config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param area_id 
    # @param ospf_area_config 
    # @param [Hash] opts the optional parameters
    # @return [OspfAreaConfig]
    def create_or_replace_ospf_area_config(tier_0_id, locale_service_id, area_id, ospf_area_config, opts = {})
      data, _status_code, _headers = create_or_replace_ospf_area_config_with_http_info(tier_0_id, locale_service_id, area_id, ospf_area_config, opts)
      data
    end

    # Create or update a OSPF Area config
    # If OSPF Area config is not already present, create OSPF Area config. If it already exists, replace the OSPF Area config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param area_id 
    # @param ospf_area_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OspfAreaConfig, Fixnum, Hash)>] OspfAreaConfig data, response status code and response headers
    def create_or_replace_ospf_area_config_with_http_info(tier_0_id, locale_service_id, area_id, ospf_area_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_ospf_area_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_ospf_area_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_ospf_area_config"
      end
      # verify the required parameter 'area_id' is set
      if @api_client.config.client_side_validation && area_id.nil?
        fail ArgumentError, "Missing the required parameter 'area_id' when calling Tier0GatewaysApi.create_or_replace_ospf_area_config"
      end
      # verify the required parameter 'ospf_area_config' is set
      if @api_client.config.client_side_validation && ospf_area_config.nil?
        fail ArgumentError, "Missing the required parameter 'ospf_area_config' when calling Tier0GatewaysApi.create_or_replace_ospf_area_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf/areas/{area-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'area-id' + '}', area_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ospf_area_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OspfAreaConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_ospf_area_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a OSPF routing config
    # If OSPF routing config is not already present, create OSPF routing config. If it already exists, replace the OSPF routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param ospf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [OspfRoutingConfig]
    def create_or_replace_ospf_routing_config(tier_0_id, locale_service_id, ospf_routing_config, opts = {})
      data, _status_code, _headers = create_or_replace_ospf_routing_config_with_http_info(tier_0_id, locale_service_id, ospf_routing_config, opts)
      data
    end

    # Create or update a OSPF routing config
    # If OSPF routing config is not already present, create OSPF routing config. If it already exists, replace the OSPF routing config with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param ospf_routing_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OspfRoutingConfig, Fixnum, Hash)>] OspfRoutingConfig data, response status code and response headers
    def create_or_replace_ospf_routing_config_with_http_info(tier_0_id, locale_service_id, ospf_routing_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_ospf_routing_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_ospf_routing_config"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_ospf_routing_config"
      end
      # verify the required parameter 'ospf_routing_config' is set
      if @api_client.config.client_side_validation && ospf_routing_config.nil?
        fail ArgumentError, "Missing the required parameter 'ospf_routing_config' when calling Tier0GatewaysApi.create_or_replace_ospf_routing_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/ospf'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ospf_routing_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OspfRoutingConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_ospf_routing_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update NAT Rule
    # Create or update NAT Rule on Tier-0 denoted by Tier-0 ID, under NAT section denoted by &lt;nat-id&gt;. Under tier-0 there will be 3 different NATs(sections). (INTERNAL, USER and DEFAULT) NAT rule cannot be applied to a loopback interface or a label referencing loopback interfaces. For more details related to NAT section please refer to PolicyNAT schema. Note:   IPSecVpnSession as Scope: Please note that old IPSecVpnSession policy path deprecated. If user specifiy old IPSecVpnSession path in the   scope property in the PUT API, the path returned in the PUT/GET response payload will be a new path instead of the deprecated IPSecVpnSession path   Both old and new IPSecVpnSession path refer to same resource. there is no functional impact. 
    # @param tier_0_id Tier-0 ID
    # @param nat_id NAT id
    # @param nat_rule_id Rule ID
    # @param policy_nat_rule 
    # @param [Hash] opts the optional parameters
    # @return [PolicyNatRule]
    def create_or_replace_policy_nat_rule_on_tier0(tier_0_id, nat_id, nat_rule_id, policy_nat_rule, opts = {})
      data, _status_code, _headers = create_or_replace_policy_nat_rule_on_tier0_with_http_info(tier_0_id, nat_id, nat_rule_id, policy_nat_rule, opts)
      data
    end

    # Create or update NAT Rule
    # Create or update NAT Rule on Tier-0 denoted by Tier-0 ID, under NAT section denoted by &amp;lt;nat-id&amp;gt;. Under tier-0 there will be 3 different NATs(sections). (INTERNAL, USER and DEFAULT) NAT rule cannot be applied to a loopback interface or a label referencing loopback interfaces. For more details related to NAT section please refer to PolicyNAT schema. Note:   IPSecVpnSession as Scope: Please note that old IPSecVpnSession policy path deprecated. If user specifiy old IPSecVpnSession path in the   scope property in the PUT API, the path returned in the PUT/GET response payload will be a new path instead of the deprecated IPSecVpnSession path   Both old and new IPSecVpnSession path refer to same resource. there is no functional impact. 
    # @param tier_0_id Tier-0 ID
    # @param nat_id NAT id
    # @param nat_rule_id Rule ID
    # @param policy_nat_rule 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyNatRule, Fixnum, Hash)>] PolicyNatRule data, response status code and response headers
    def create_or_replace_policy_nat_rule_on_tier0_with_http_info(tier_0_id, nat_id, nat_rule_id, policy_nat_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_policy_nat_rule_on_tier0 ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_policy_nat_rule_on_tier0"
      end
      # verify the required parameter 'nat_id' is set
      if @api_client.config.client_side_validation && nat_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_id' when calling Tier0GatewaysApi.create_or_replace_policy_nat_rule_on_tier0"
      end
      # verify the required parameter 'nat_rule_id' is set
      if @api_client.config.client_side_validation && nat_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'nat_rule_id' when calling Tier0GatewaysApi.create_or_replace_policy_nat_rule_on_tier0"
      end
      # verify the required parameter 'policy_nat_rule' is set
      if @api_client.config.client_side_validation && policy_nat_rule.nil?
        fail ArgumentError, "Missing the required parameter 'policy_nat_rule' when calling Tier0GatewaysApi.create_or_replace_policy_nat_rule_on_tier0"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/nat/{nat-id}/nat-rules/{nat-rule-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'nat-id' + '}', nat_id.to_s).sub('{' + 'nat-rule-id' + '}', nat_rule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_nat_rule)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyNatRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_policy_nat_rule_on_tier0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a prefix list
    # If prefix list for prefix-list-id is not already present, create a prefix list. If it already exists, replace the prefix list for prefix-list-id. Note:    Updating existing prefixes require order to be  preserved to avoid traffic impact. During PATCH operation,    reordering of existing prefixes may impact routes and eventually datapath.    Order here is crucial and it all depends upon action. If action for every prefix is PERMIT then order may    not impact but if there is DENY prefix then change in ordering could lead to traffic impact. 
    # @param tier_0_id Tier-0 ID
    # @param prefix_list_id Prefix List ID
    # @param prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [PrefixList]
    def create_or_replace_prefix_list(tier_0_id, prefix_list_id, prefix_list, opts = {})
      data, _status_code, _headers = create_or_replace_prefix_list_with_http_info(tier_0_id, prefix_list_id, prefix_list, opts)
      data
    end

    # Create or update a prefix list
    # If prefix list for prefix-list-id is not already present, create a prefix list. If it already exists, replace the prefix list for prefix-list-id. Note:    Updating existing prefixes require order to be  preserved to avoid traffic impact. During PATCH operation,    reordering of existing prefixes may impact routes and eventually datapath.    Order here is crucial and it all depends upon action. If action for every prefix is PERMIT then order may    not impact but if there is DENY prefix then change in ordering could lead to traffic impact. 
    # @param tier_0_id Tier-0 ID
    # @param prefix_list_id Prefix List ID
    # @param prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrefixList, Fixnum, Hash)>] PrefixList data, response status code and response headers
    def create_or_replace_prefix_list_with_http_info(tier_0_id, prefix_list_id, prefix_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_prefix_list ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_prefix_list"
      end
      # verify the required parameter 'prefix_list_id' is set
      if @api_client.config.client_side_validation && prefix_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list_id' when calling Tier0GatewaysApi.create_or_replace_prefix_list"
      end
      # verify the required parameter 'prefix_list' is set
      if @api_client.config.client_side_validation && prefix_list.nil?
        fail ArgumentError, "Missing the required parameter 'prefix_list' when calling Tier0GatewaysApi.create_or_replace_prefix_list"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/prefix-lists/{prefix-list-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'prefix-list-id' + '}', prefix_list_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(prefix_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PrefixList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a route map
    # If a route map with the route-map-id is not already present, create a new route map. If it already exists, replace the route map instance with the new object. 
    # @param tier_0_id 
    # @param route_map_id 
    # @param tier0_route_map 
    # @param [Hash] opts the optional parameters
    # @return [Tier0RouteMap]
    def create_or_replace_route_map(tier_0_id, route_map_id, tier0_route_map, opts = {})
      data, _status_code, _headers = create_or_replace_route_map_with_http_info(tier_0_id, route_map_id, tier0_route_map, opts)
      data
    end

    # Create or update a route map
    # If a route map with the route-map-id is not already present, create a new route map. If it already exists, replace the route map instance with the new object. 
    # @param tier_0_id 
    # @param route_map_id 
    # @param tier0_route_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0RouteMap, Fixnum, Hash)>] Tier0RouteMap data, response status code and response headers
    def create_or_replace_route_map_with_http_info(tier_0_id, route_map_id, tier0_route_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_route_map ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_route_map"
      end
      # verify the required parameter 'route_map_id' is set
      if @api_client.config.client_side_validation && route_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_map_id' when calling Tier0GatewaysApi.create_or_replace_route_map"
      end
      # verify the required parameter 'tier0_route_map' is set
      if @api_client.config.client_side_validation && tier0_route_map.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_route_map' when calling Tier0GatewaysApi.create_or_replace_route_map"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/route-maps/{route-map-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'route-map-id' + '}', route_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0_route_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0RouteMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_route_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a StaticRouteBfdTroubleshootConfig
    # If a StaticRouteBfdTroubleshootConfig is not already present, create a new StaticRouteBfdTroubleshootConfig. If it already exists, update the StaticRouteBfdTroubleshootConfig. This operation will fully replace the object. 
    # @param tier_0_id Tier-0 ID
    # @param static_route_bfd_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [StaticRouteBfdTroubleshootConfig]
    def create_or_replace_static_route_bfd_troubleshoot_config(tier_0_id, static_route_bfd_troubleshoot_config, opts = {})
      data, _status_code, _headers = create_or_replace_static_route_bfd_troubleshoot_config_with_http_info(tier_0_id, static_route_bfd_troubleshoot_config, opts)
      data
    end

    # Create or update a StaticRouteBfdTroubleshootConfig
    # If a StaticRouteBfdTroubleshootConfig is not already present, create a new StaticRouteBfdTroubleshootConfig. If it already exists, update the StaticRouteBfdTroubleshootConfig. This operation will fully replace the object. 
    # @param tier_0_id Tier-0 ID
    # @param static_route_bfd_troubleshoot_config 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(StaticRouteBfdTroubleshootConfig, Fixnum, Hash)>] StaticRouteBfdTroubleshootConfig data, response status code and response headers
    def create_or_replace_static_route_bfd_troubleshoot_config_with_http_info(tier_0_id, static_route_bfd_troubleshoot_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_static_route_bfd_troubleshoot_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_static_route_bfd_troubleshoot_config"
      end
      # verify the required parameter 'static_route_bfd_troubleshoot_config' is set
      if @api_client.config.client_side_validation && static_route_bfd_troubleshoot_config.nil?
        fail ArgumentError, "Missing the required parameter 'static_route_bfd_troubleshoot_config' when calling Tier0GatewaysApi.create_or_replace_static_route_bfd_troubleshoot_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/static-routes/bfd-peers/troubleshoot'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_route_bfd_troubleshoot_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticRouteBfdTroubleshootConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_static_route_bfd_troubleshoot_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0
    # If a Tier-0 with the tier-0-id is not already present, create a new Tier-0. If it already exists, replace the Tier-0 instance with the new object. 
    # @param tier_0_id 
    # @param tier0 
    # @param [Hash] opts the optional parameters
    # @return [Tier0]
    def create_or_replace_tier0(tier_0_id, tier0, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_with_http_info(tier_0_id, tier0, opts)
      data
    end

    # Create or update a Tier-0
    # If a Tier-0 with the tier-0-id is not already present, create a new Tier-0. If it already exists, replace the Tier-0 instance with the new object. 
    # @param tier_0_id 
    # @param tier0 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0, Fixnum, Hash)>] Tier0 data, response status code and response headers
    def create_or_replace_tier0_with_http_info(tier_0_id, tier0, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_tier0 ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_tier0"
      end
      # verify the required parameter 'tier0' is set
      if @api_client.config.client_side_validation && tier0.nil?
        fail ArgumentError, "Missing the required parameter 'tier0' when calling Tier0GatewaysApi.create_or_replace_tier0"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_tier0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0
    # If a Tier-0 with the tier-0-id is not already present, create a new Tier-0. If it already exists, replace the Tier-0 instance with the new object. 
    # @param tier_0_id 
    # @param tier0 
    # @param [Hash] opts the optional parameters
    # @return [Tier0]
    def create_or_replace_tier0_0(tier_0_id, tier0, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_0_with_http_info(tier_0_id, tier0, opts)
      data
    end

    # Create or update a Tier-0
    # If a Tier-0 with the tier-0-id is not already present, create a new Tier-0. If it already exists, replace the Tier-0 instance with the new object. 
    # @param tier_0_id 
    # @param tier0 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0, Fixnum, Hash)>] Tier0 data, response status code and response headers
    def create_or_replace_tier0_0_with_http_info(tier_0_id, tier0, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_tier0_0 ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_tier0_0"
      end
      # verify the required parameter 'tier0' is set
      if @api_client.config.client_side_validation && tier0.nil?
        fail ArgumentError, "Missing the required parameter 'tier0' when calling Tier0GatewaysApi.create_or_replace_tier0_0"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_tier0_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0 interface
    # If an interface with the interface-id is not already present, create a new interface. If it already exists, replace the interface with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param interface_id 
    # @param tier0_interface 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object (default to false)
    # @return [Tier0Interface]
    def create_or_replace_tier0_interface(tier_0_id, locale_service_id, interface_id, tier0_interface, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_interface_with_http_info(tier_0_id, locale_service_id, interface_id, tier0_interface, opts)
      data
    end

    # Create or update a Tier-0 interface
    # If an interface with the interface-id is not already present, create a new interface. If it already exists, replace the interface with this object. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param interface_id 
    # @param tier0_interface 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override Locally override the global object
    # @return [Array<(Tier0Interface, Fixnum, Hash)>] Tier0Interface data, response status code and response headers
    def create_or_replace_tier0_interface_with_http_info(tier_0_id, locale_service_id, interface_id, tier0_interface, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_tier0_interface ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_tier0_interface"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_replace_tier0_interface"
      end
      # verify the required parameter 'interface_id' is set
      if @api_client.config.client_side_validation && interface_id.nil?
        fail ArgumentError, "Missing the required parameter 'interface_id' when calling Tier0GatewaysApi.create_or_replace_tier0_interface"
      end
      # verify the required parameter 'tier0_interface' is set
      if @api_client.config.client_side_validation && tier0_interface.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_interface' when calling Tier0GatewaysApi.create_or_replace_tier0_interface"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/interfaces/{interface-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'interface-id' + '}', interface_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'override'] = opts[:'override'] if !opts[:'override'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0_interface)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0Interface')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_tier0_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0 locale-services
    # If a Tier-0 locale-services with the locale-services-id is not already present, create a new locale-services. If it already exists, replace the Tier-0 locale-services instance with the new object. 
    # @param tier_0_id 
    # @param locale_services_id 
    # @param locale_services 
    # @param [Hash] opts the optional parameters
    # @return [LocaleServices]
    def create_or_replace_tier0_locale_services(tier_0_id, locale_services_id, locale_services, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_locale_services_with_http_info(tier_0_id, locale_services_id, locale_services, opts)
      data
    end

    # Create or update a Tier-0 locale-services
    # If a Tier-0 locale-services with the locale-services-id is not already present, create a new locale-services. If it already exists, replace the Tier-0 locale-services instance with the new object. 
    # @param tier_0_id 
    # @param locale_services_id 
    # @param locale_services 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocaleServices, Fixnum, Hash)>] LocaleServices data, response status code and response headers
    def create_or_replace_tier0_locale_services_with_http_info(tier_0_id, locale_services_id, locale_services, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_tier0_locale_services ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_tier0_locale_services"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling Tier0GatewaysApi.create_or_replace_tier0_locale_services"
      end
      # verify the required parameter 'locale_services' is set
      if @api_client.config.client_side_validation && locale_services.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services' when calling Tier0GatewaysApi.create_or_replace_tier0_locale_services"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-services-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(locale_services)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LocaleServices')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_tier0_locale_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a Tier-0 static routes
    # If static routes for route-id are not already present, create static routes. If it already exists, replace the static routes for route-id. 
    # @param tier_0_id 
    # @param route_id 
    # @param static_routes 
    # @param [Hash] opts the optional parameters
    # @return [StaticRoutes]
    def create_or_replace_tier0_static_routes(tier_0_id, route_id, static_routes, opts = {})
      data, _status_code, _headers = create_or_replace_tier0_static_routes_with_http_info(tier_0_id, route_id, static_routes, opts)
      data
    end

    # Create or update a Tier-0 static routes
    # If static routes for route-id are not already present, create static routes. If it already exists, replace the static routes for route-id. 
    # @param tier_0_id 
    # @param route_id 
    # @param static_routes 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticRoutes, Fixnum, Hash)>] StaticRoutes data, response status code and response headers
    def create_or_replace_tier0_static_routes_with_http_info(tier_0_id, route_id, static_routes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_replace_tier0_static_routes ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_replace_tier0_static_routes"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling Tier0GatewaysApi.create_or_replace_tier0_static_routes"
      end
      # verify the required parameter 'static_routes' is set
      if @api_client.config.client_side_validation && static_routes.nil?
        fail ArgumentError, "Missing the required parameter 'static_routes' when calling Tier0GatewaysApi.create_or_replace_tier0_static_routes"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/static-routes/{route-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'route-id' + '}', route_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_routes)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticRoutes')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_replace_tier0_static_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update evpn configuration
    # Create or update evpn configuration. 
    # @param tier_0_id tier0 id
    # @param evpn_config 
    # @param [Hash] opts the optional parameters
    # @return [EvpnConfig]
    def create_or_update_evpn_config(tier_0_id, evpn_config, opts = {})
      data, _status_code, _headers = create_or_update_evpn_config_with_http_info(tier_0_id, evpn_config, opts)
      data
    end

    # Create or Update evpn configuration
    # Create or update evpn configuration. 
    # @param tier_0_id tier0 id
    # @param evpn_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvpnConfig, Fixnum, Hash)>] EvpnConfig data, response status code and response headers
    def create_or_update_evpn_config_with_http_info(tier_0_id, evpn_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_update_evpn_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_update_evpn_config"
      end
      # verify the required parameter 'evpn_config' is set
      if @api_client.config.client_side_validation && evpn_config.nil?
        fail ArgumentError, "Missing the required parameter 'evpn_config' when calling Tier0GatewaysApi.create_or_update_evpn_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/evpn'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(evpn_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvpnConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_update_evpn_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update evpn tunnel endpoint configuration
    # Create or update evpn tunnel endpoint configuration. 
    # @param tier_0_id tier0 id
    # @param locale_services_id locale services id
    # @param tunnel_endpoint_id tunnel endpoint id
    # @param evpn_tunnel_endpoint_config 
    # @param [Hash] opts the optional parameters
    # @return [EvpnTunnelEndpointConfig]
    def create_or_update_evpn_tunnel_endpoint_config(tier_0_id, locale_services_id, tunnel_endpoint_id, evpn_tunnel_endpoint_config, opts = {})
      data, _status_code, _headers = create_or_update_evpn_tunnel_endpoint_config_with_http_info(tier_0_id, locale_services_id, tunnel_endpoint_id, evpn_tunnel_endpoint_config, opts)
      data
    end

    # Create or Update evpn tunnel endpoint configuration
    # Create or update evpn tunnel endpoint configuration. 
    # @param tier_0_id tier0 id
    # @param locale_services_id locale services id
    # @param tunnel_endpoint_id tunnel endpoint id
    # @param evpn_tunnel_endpoint_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvpnTunnelEndpointConfig, Fixnum, Hash)>] EvpnTunnelEndpointConfig data, response status code and response headers
    def create_or_update_evpn_tunnel_endpoint_config_with_http_info(tier_0_id, locale_services_id, tunnel_endpoint_id, evpn_tunnel_endpoint_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_update_evpn_tunnel_endpoint_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_update_evpn_tunnel_endpoint_config"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling Tier0GatewaysApi.create_or_update_evpn_tunnel_endpoint_config"
      end
      # verify the required parameter 'tunnel_endpoint_id' is set
      if @api_client.config.client_side_validation && tunnel_endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'tunnel_endpoint_id' when calling Tier0GatewaysApi.create_or_update_evpn_tunnel_endpoint_config"
      end
      # verify the required parameter 'evpn_tunnel_endpoint_config' is set
      if @api_client.config.client_side_validation && evpn_tunnel_endpoint_config.nil?
        fail ArgumentError, "Missing the required parameter 'evpn_tunnel_endpoint_config' when calling Tier0GatewaysApi.create_or_update_evpn_tunnel_endpoint_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-services-id}/evpn-tunnel-endpoints/{tunnel-endpoint-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s).sub('{' + 'tunnel-endpoint-id' + '}', tunnel_endpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(evpn_tunnel_endpoint_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvpnTunnelEndpointConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_update_evpn_tunnel_endpoint_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update multicast configuration
    # Create or update a Tier-0 multicast configuration defining the multicast replication range, the IGMP or a PIM profile. It will update the configuration if there is already one in place. 
    # @param tier_0_id tier0 id
    # @param locale_services_id locale services id
    # @param policy_multicast_config 
    # @param [Hash] opts the optional parameters
    # @return [PolicyMulticastConfig]
    def create_or_update_policy_multicast_config(tier_0_id, locale_services_id, policy_multicast_config, opts = {})
      data, _status_code, _headers = create_or_update_policy_multicast_config_with_http_info(tier_0_id, locale_services_id, policy_multicast_config, opts)
      data
    end

    # Create or update multicast configuration
    # Create or update a Tier-0 multicast configuration defining the multicast replication range, the IGMP or a PIM profile. It will update the configuration if there is already one in place. 
    # @param tier_0_id tier0 id
    # @param locale_services_id locale services id
    # @param policy_multicast_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyMulticastConfig, Fixnum, Hash)>] PolicyMulticastConfig data, response status code and response headers
    def create_or_update_policy_multicast_config_with_http_info(tier_0_id, locale_services_id, policy_multicast_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_update_policy_multicast_config ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_update_policy_multicast_config"
      end
      # verify the required parameter 'locale_services_id' is set
      if @api_client.config.client_side_validation && locale_services_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_services_id' when calling Tier0GatewaysApi.create_or_update_policy_multicast_config"
      end
      # verify the required parameter 'policy_multicast_config' is set
      if @api_client.config.client_side_validation && policy_multicast_config.nil?
        fail ArgumentError, "Missing the required parameter 'policy_multicast_config' when calling Tier0GatewaysApi.create_or_update_policy_multicast_config"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-services-id}/multicast'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-services-id' + '}', locale_services_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_multicast_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyMulticastConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_update_policy_multicast_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Tier-0 Deployment Map under Tier-0
    # If the passed Tier-0 Deployment Map does not already exist, create a new Tier-0 Deployment Map. If it already exists, replace it. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param tier_0_deployment_map_id 
    # @param tier0_deployment_map 
    # @param [Hash] opts the optional parameters
    # @return [Tier0DeploymentMap]
    def create_or_update_tier0_deployment_map(tier_0_id, locale_service_id, tier_0_deployment_map_id, tier0_deployment_map, opts = {})
      data, _status_code, _headers = create_or_update_tier0_deployment_map_with_http_info(tier_0_id, locale_service_id, tier_0_deployment_map_id, tier0_deployment_map, opts)
      data
    end

    # Create a new Tier-0 Deployment Map under Tier-0
    # If the passed Tier-0 Deployment Map does not already exist, create a new Tier-0 Deployment Map. If it already exists, replace it. 
    # @param tier_0_id 
    # @param locale_service_id 
    # @param tier_0_deployment_map_id 
    # @param tier0_deployment_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tier0DeploymentMap, Fixnum, Hash)>] Tier0DeploymentMap data, response status code and response headers
    def create_or_update_tier0_deployment_map_with_http_info(tier_0_id, locale_service_id, tier_0_deployment_map_id, tier0_deployment_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_update_tier0_deployment_map ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_update_tier0_deployment_map"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_update_tier0_deployment_map"
      end
      # verify the required parameter 'tier_0_deployment_map_id' is set
      if @api_client.config.client_side_validation && tier_0_deployment_map_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_deployment_map_id' when calling Tier0GatewaysApi.create_or_update_tier0_deployment_map"
      end
      # verify the required parameter 'tier0_deployment_map' is set
      if @api_client.config.client_side_validation && tier0_deployment_map.nil?
        fail ArgumentError, "Missing the required parameter 'tier0_deployment_map' when calling Tier0GatewaysApi.create_or_update_tier0_deployment_map"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/tier-0-deployment-maps/{tier-0-deployment-map-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'tier-0-deployment-map-id' + '}', tier_0_deployment_map_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tier0_deployment_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tier0DeploymentMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_update_tier0_deployment_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update Tunnel(GRE as of now)
    # Create or Update Tunnel(GRE as of now)
    # @param tier_0_id tier0 id
    # @param locale_svc_id locale service id
    # @param tunnel_id tunnel id
    # @param tunnel 
    # @param [Hash] opts the optional parameters
    # @return [Tunnel]
    def create_or_update_tunnel(tier_0_id, locale_svc_id, tunnel_id, tunnel, opts = {})
      data, _status_code, _headers = create_or_update_tunnel_with_http_info(tier_0_id, locale_svc_id, tunnel_id, tunnel, opts)
      data
    end

    # Create or Update Tunnel(GRE as of now)
    # Create or Update Tunnel(GRE as of now)
    # @param tier_0_id tier0 id
    # @param locale_svc_id locale service id
    # @param tunnel_id tunnel id
    # @param tunnel 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tunnel, Fixnum, Hash)>] Tunnel data, response status code and response headers
    def create_or_update_tunnel_with_http_info(tier_0_id, locale_svc_id, tunnel_id, tunnel, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_update_tunnel ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_update_tunnel"
      end
      # verify the required parameter 'locale_svc_id' is set
      if @api_client.config.client_side_validation && locale_svc_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_svc_id' when calling Tier0GatewaysApi.create_or_update_tunnel"
      end
      # verify the required parameter 'tunnel_id' is set
      if @api_client.config.client_side_validation && tunnel_id.nil?
        fail ArgumentError, "Missing the required parameter 'tunnel_id' when calling Tier0GatewaysApi.create_or_update_tunnel"
      end
      # verify the required parameter 'tunnel' is set
      if @api_client.config.client_side_validation && tunnel.nil?
        fail ArgumentError, "Missing the required parameter 'tunnel' when calling Tier0GatewaysApi.create_or_update_tunnel"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-svc-id}/tunnels/{tunnel-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-svc-id' + '}', locale_svc_id.to_s).sub('{' + 'tunnel-id' + '}', tunnel_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(tunnel)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Tunnel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_update_tunnel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update virtual endpoint
    # Create or update virtual endpoint. 
    # @param tier_0_id Tier-0 id
    # @param locale_service_id Locale service id
    # @param virtual_endpoint_id Virtual endpoint id
    # @param virtual_endpoint 
    # @param [Hash] opts the optional parameters
    # @return [VirtualEndpoint]
    def create_or_update_virtual_endpoint(tier_0_id, locale_service_id, virtual_endpoint_id, virtual_endpoint, opts = {})
      data, _status_code, _headers = create_or_update_virtual_endpoint_with_http_info(tier_0_id, locale_service_id, virtual_endpoint_id, virtual_endpoint, opts)
      data
    end

    # Create or update virtual endpoint
    # Create or update virtual endpoint. 
    # @param tier_0_id Tier-0 id
    # @param locale_service_id Locale service id
    # @param virtual_endpoint_id Virtual endpoint id
    # @param virtual_endpoint 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualEndpoint, Fixnum, Hash)>] VirtualEndpoint data, response status code and response headers
    def create_or_update_virtual_endpoint_with_http_info(tier_0_id, locale_service_id, virtual_endpoint_id, virtual_endpoint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_or_update_virtual_endpoint ...'
      end
      # verify the required parameter 'tier_0_id' is set
      if @api_client.config.client_side_validation && tier_0_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_0_id' when calling Tier0GatewaysApi.create_or_update_virtual_endpoint"
      end
      # verify the required parameter 'locale_service_id' is set
      if @api_client.config.client_side_validation && locale_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'locale_service_id' when calling Tier0GatewaysApi.create_or_update_virtual_endpoint"
      end
      # verify the required parameter 'virtual_endpoint_id' is set
      if @api_client.config.client_side_validation && virtual_endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_endpoint_id' when calling Tier0GatewaysApi.create_or_update_virtual_endpoint"
      end
      # verify the required parameter 'virtual_endpoint' is set
      if @api_client.config.client_side_validation && virtual_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_endpoint' when calling Tier0GatewaysApi.create_or_update_virtual_endpoint"
      end
      # resource path
      local_var_path = '/infra/tier-0s/{tier-0-id}/locale-services/{locale-service-id}/endpoints/virtual-endpoints/{virtual-endpoint-id}'.sub('{' + 'tier-0-id' + '}', tier_0_id.to_s).sub('{' + 'locale-service-id' + '}', locale_service_id.to_s).sub('{' + 'virtual-endpoint-id' + '}', virtual_endpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(virtual_endpoint)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VirtualEndpoint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Tier0GatewaysApi#create_or_update_virtual_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create service instance
    # Create service instance. Please note that, only display_name, description and deployment_spec_name are allowed to be modified in an exisiting entity. If the deployment spec name is changed, it will trigger the upgrade operation for the SVMs. 
    # @param tier_0_id Tier-0 id
    # @param locale_service_id Locale service id
    # @param service_instance_id Service instance id
    # @param policy_service_instance 
    # @param [Hash] opts the optional parameters
    # @return [PolicyServiceInstance]
    def create_policy_service_instance(tier_0_id, locale_service_id, service_instance_id, policy_service_instance, opts = {})
      data, _status_code, _headers = create_policy_service_instance_with_http_info(tier_0_id, locale_service_id, service_instance_id, policy_service_instance, opts)
      data
    end

    # Create service instance
    # Create service instance. Please note that, only display_name, description and deployment_spec_name are allowed to be modified in an exisiting entity. If the deployment spec name is changed, it will trigger the upgrade operation for the SVMs. 
    # @param tier_0_id Tier-0 id
    # @param locale_service_id Locale service id
    # @param service_instance_id Service instance id
    # @param policy_service_instance 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyServiceInstance, Fixnum, Hash)>] PolicyServiceInstance data, response status code and response headers
    def create_policy_service_instance_with_http_info(tier_0_id, locale_service_id, service_instance_id, policy_service_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Tier0GatewaysApi.create_policy_service_instance ...'
[...]
