=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class TlsStateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get TLS inspection FQDN state
    # Get TLS inspection FQDN state
    # @param tier_1_id 
    # @param fqdn_id 
    # @param [Hash] opts the optional parameters
    # @return [TlsStateObject]
    def get_tls_state_fqdn(tier_1_id, fqdn_id, opts = {})
      data, _status_code, _headers = get_tls_state_fqdn_with_http_info(tier_1_id, fqdn_id, opts)
      data
    end

    # Get TLS inspection FQDN state
    # Get TLS inspection FQDN state
    # @param tier_1_id 
    # @param fqdn_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TlsStateObject, Fixnum, Hash)>] TlsStateObject data, response status code and response headers
    def get_tls_state_fqdn_with_http_info(tier_1_id, fqdn_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TlsStateApi.get_tls_state_fqdn ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling TlsStateApi.get_tls_state_fqdn"
      end
      # verify the required parameter 'fqdn_id' is set
      if @api_client.config.client_side_validation && fqdn_id.nil?
        fail ArgumentError, "Missing the required parameter 'fqdn_id' when calling TlsStateApi.get_tls_state_fqdn"
      end
      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/tls-inspection-state/fqdns/{fqdn-id}'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s).sub('{' + 'fqdn-id' + '}', fqdn_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsStateObject')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TlsStateApi#get_tls_state_fqdn\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # TLS inspection execution state details for the tier1
    # TLS inspection execution state details for the tier1 
    # @param tier_1_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :failed_domains TLS inspection failed domain filter (default to true)
    # @option opts [String] :fqdn Fully Qualified Domain Name
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [TlsStateObjectListResult]
    def list_tls_state(tier_1_id, opts = {})
      data, _status_code, _headers = list_tls_state_with_http_info(tier_1_id, opts)
      data
    end

    # TLS inspection execution state details for the tier1
    # TLS inspection execution state details for the tier1 
    # @param tier_1_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :failed_domains TLS inspection failed domain filter
    # @option opts [String] :fqdn Fully Qualified Domain Name
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(TlsStateObjectListResult, Fixnum, Hash)>] TlsStateObjectListResult data, response status code and response headers
    def list_tls_state_with_http_info(tier_1_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TlsStateApi.list_tls_state ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling TlsStateApi.list_tls_state"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TlsStateApi.list_tls_state, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TlsStateApi.list_tls_state, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/tls-inspection-state'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'failed_domains'] = opts[:'failed_domains'] if !opts[:'failed_domains'].nil?
      query_params[:'fqdn'] = opts[:'fqdn'] if !opts[:'fqdn'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsStateObjectListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TlsStateApi#list_tls_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # TLS inspection execution state fqdn details for the tier1
    # TLS inspection execution state fqdn details for the tier1 
    # @param tier_1_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :failed_domains TLS inspection failed domain filter (default to true)
    # @option opts [String] :fqdn Fully Qualified Domain Name
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [TlsStateObjectListResult]
    def list_tls_state_fqdns(tier_1_id, opts = {})
      data, _status_code, _headers = list_tls_state_fqdns_with_http_info(tier_1_id, opts)
      data
    end

    # TLS inspection execution state fqdn details for the tier1
    # TLS inspection execution state fqdn details for the tier1 
    # @param tier_1_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :failed_domains TLS inspection failed domain filter
    # @option opts [String] :fqdn Fully Qualified Domain Name
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(TlsStateObjectListResult, Fixnum, Hash)>] TlsStateObjectListResult data, response status code and response headers
    def list_tls_state_fqdns_with_http_info(tier_1_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TlsStateApi.list_tls_state_fqdns ...'
      end
      # verify the required parameter 'tier_1_id' is set
      if @api_client.config.client_side_validation && tier_1_id.nil?
        fail ArgumentError, "Missing the required parameter 'tier_1_id' when calling TlsStateApi.list_tls_state_fqdns"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TlsStateApi.list_tls_state_fqdns, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TlsStateApi.list_tls_state_fqdns, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/tier-1s/{tier-1-id}/tls-inspection-state/fqdns'.sub('{' + 'tier-1-id' + '}', tier_1_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'failed_domains'] = opts[:'failed_domains'] if !opts[:'failed_domains'].nil?
      query_params[:'fqdn'] = opts[:'fqdn'] if !opts[:'fqdn'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TlsStateObjectListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TlsStateApi#list_tls_state_fqdns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
