=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class TraceflowApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Antrea traceflow config
    # Delete Antrea traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_antrea_traceflow_config(traceflow_id, opts = {})
      delete_antrea_traceflow_config_with_http_info(traceflow_id, opts)
      nil
    end

    # Delete Antrea traceflow config
    # Delete Antrea traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_antrea_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.delete_antrea_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.delete_antrea_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#delete_antrea_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete traceflow config
    # Delete traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_traceflow_config(traceflow_id, opts = {})
      delete_traceflow_config_with_http_info(traceflow_id, opts)
      nil
    end

    # Delete traceflow config
    # Delete traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.delete_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.delete_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#delete_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete traceflow config
    # Delete traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def global_infra_delete_traceflow_config(traceflow_id, opts = {})
      global_infra_delete_traceflow_config_with_http_info(traceflow_id, opts)
      nil
    end

    # Delete traceflow config
    # Delete traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def global_infra_delete_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.global_infra_delete_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.global_infra_delete_traceflow_config"
      end
      # resource path
      local_var_path = '/global-infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#global_infra_delete_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List TraceflowConfig for infra
    # Paginated list of all TraceflowConfig for infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [TraceflowConfigListResult]
    def global_infra_list_traceflow_config(opts = {})
      data, _status_code, _headers = global_infra_list_traceflow_config_with_http_info(opts)
      data
    end

    # List TraceflowConfig for infra
    # Paginated list of all TraceflowConfig for infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(TraceflowConfigListResult, Fixnum, Hash)>] TraceflowConfigListResult data, response status code and response headers
    def global_infra_list_traceflow_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.global_infra_list_traceflow_config ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.global_infra_list_traceflow_config, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.global_infra_list_traceflow_config, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/traceflows'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfigListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#global_infra_list_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow config
    # Read traceflow config with id traceflow-id. This configuration will be cleaned up by the system after two hours of inactivity. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [TraceflowConfig]
    def global_infra_read_traceflow_config(traceflow_id, opts = {})
      data, _status_code, _headers = global_infra_read_traceflow_config_with_http_info(traceflow_id, opts)
      data
    end

    # Read traceflow config
    # Read traceflow config with id traceflow-id. This configuration will be cleaned up by the system after two hours of inactivity. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def global_infra_read_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.global_infra_read_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.global_infra_read_traceflow_config"
      end
      # resource path
      local_var_path = '/global-infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#global_infra_read_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List AntreaTraceflowConfig for infra
    # Paginated list of all AntreaTraceflowConfig for infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [AntreaTraceflowConfigListResult]
    def list_antrea_traceflow_config(opts = {})
      data, _status_code, _headers = list_antrea_traceflow_config_with_http_info(opts)
      data
    end

    # List AntreaTraceflowConfig for infra
    # Paginated list of all AntreaTraceflowConfig for infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(AntreaTraceflowConfigListResult, Fixnum, Hash)>] AntreaTraceflowConfigListResult data, response status code and response headers
    def list_antrea_traceflow_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.list_antrea_traceflow_config ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.list_antrea_traceflow_config, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.list_antrea_traceflow_config, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/antrea/traceflows'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntreaTraceflowConfigListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#list_antrea_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Antrea traceflow observations
    # Read Antrea traceflow observations for id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [AntreaTraceflowObservationListResult]
    def list_antrea_traceflow_observations(traceflow_id, opts = {})
      data, _status_code, _headers = list_antrea_traceflow_observations_with_http_info(traceflow_id, opts)
      data
    end

    # Read Antrea traceflow observations
    # Read Antrea traceflow observations for id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(AntreaTraceflowObservationListResult, Fixnum, Hash)>] AntreaTraceflowObservationListResult data, response status code and response headers
    def list_antrea_traceflow_observations_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.list_antrea_traceflow_observations ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.list_antrea_traceflow_observations"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}/observations'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntreaTraceflowObservationListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#list_antrea_traceflow_observations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List TraceflowConfig for infra
    # Paginated list of all TraceflowConfig for infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [TraceflowConfigListResult]
    def list_traceflow_config(opts = {})
      data, _status_code, _headers = list_traceflow_config_with_http_info(opts)
      data
    end

    # List TraceflowConfig for infra
    # Paginated list of all TraceflowConfig for infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(TraceflowConfigListResult, Fixnum, Hash)>] TraceflowConfigListResult data, response status code and response headers
    def list_traceflow_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.list_traceflow_config ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.list_traceflow_config, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.list_traceflow_config, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/traceflows'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfigListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#list_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow observations
    # Read traceflow observations for id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter.
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [TraceflowObservationListResult]
    def list_traceflow_observations(traceflow_id, opts = {})
      data, _status_code, _headers = list_traceflow_observations_with_http_info(traceflow_id, opts)
      data
    end

    # Read traceflow observations
    # Read traceflow observations for id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter.
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(TraceflowObservationListResult, Fixnum, Hash)>] TraceflowObservationListResult data, response status code and response headers
    def list_traceflow_observations_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.list_traceflow_observations ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.list_traceflow_observations"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}/observations'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowObservationListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#list_traceflow_observations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete traceflow config
    # Delete traceflow config with id traceflow-id
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def orgs_org_id_projects_project_id_infra_delete_traceflow_config(org_id, project_id, traceflow_id, opts = {})
      orgs_org_id_projects_project_id_infra_delete_traceflow_config_with_http_info(org_id, project_id, traceflow_id, opts)
      nil
    end

    # Delete traceflow config
    # Delete traceflow config with id traceflow-id
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def orgs_org_id_projects_project_id_infra_delete_traceflow_config_with_http_info(org_id, project_id, traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_delete_traceflow_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_delete_traceflow_config"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_delete_traceflow_config"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_delete_traceflow_config"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_delete_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List TraceflowConfig for infra
    # Paginated list of all TraceflowConfig for infra. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [TraceflowConfigListResult]
    def orgs_org_id_projects_project_id_infra_list_traceflow_config(org_id, project_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_list_traceflow_config_with_http_info(org_id, project_id, opts)
      data
    end

    # List TraceflowConfig for infra
    # Paginated list of all TraceflowConfig for infra. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(TraceflowConfigListResult, Fixnum, Hash)>] TraceflowConfigListResult data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_list_traceflow_config_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_config"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_config"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_config, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_config, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfigListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_list_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow observations
    # Read traceflow observations for id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter.
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [TraceflowObservationListResult]
    def orgs_org_id_projects_project_id_infra_list_traceflow_observations(org_id, project_id, traceflow_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_list_traceflow_observations_with_http_info(org_id, project_id, traceflow_id, opts)
      data
    end

    # Read traceflow observations
    # Read traceflow observations for id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter.
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(TraceflowObservationListResult, Fixnum, Hash)>] TraceflowObservationListResult data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_list_traceflow_observations_with_http_info(org_id, project_id, traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_observations ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_observations"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_observations"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_list_traceflow_observations"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}/observations'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowObservationListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_list_traceflow_observations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required.  <br> Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [nil]
    def orgs_org_id_projects_project_id_infra_patch_traceflow_config(org_id, project_id, traceflow_id, traceflow_config, opts = {})
      orgs_org_id_projects_project_id_infra_patch_traceflow_config_with_http_info(org_id, project_id, traceflow_id, traceflow_config, opts)
      nil
    end

    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required.  &lt;br&gt; Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def orgs_org_id_projects_project_id_infra_patch_traceflow_config_with_http_info(org_id, project_id, traceflow_id, traceflow_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_patch_traceflow_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_patch_traceflow_config"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_patch_traceflow_config"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_patch_traceflow_config"
      end
      # verify the required parameter 'traceflow_config' is set
      if @api_client.config.client_side_validation && traceflow_config.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_config' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_patch_traceflow_config"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(traceflow_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_patch_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow config
    # Read traceflow config with id traceflow-id. This configuration will be cleaned up by the system after two hours of inactivity. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [TraceflowConfig]
    def orgs_org_id_projects_project_id_infra_read_traceflow_config(org_id, project_id, traceflow_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_read_traceflow_config_with_http_info(org_id, project_id, traceflow_id, opts)
      data
    end

    # Read traceflow config
    # Read traceflow config with id traceflow-id. This configuration will be cleaned up by the system after two hours of inactivity. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_read_traceflow_config_with_http_info(org_id, project_id, traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_config"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_config"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_config"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_read_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow status
    # Read traceflow status with id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Traceflow]
    def orgs_org_id_projects_project_id_infra_read_traceflow_status(org_id, project_id, traceflow_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_read_traceflow_status_with_http_info(org_id, project_id, traceflow_id, opts)
      data
    end

    # Read traceflow status
    # Read traceflow status with id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(Traceflow, Fixnum, Hash)>] Traceflow data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_read_traceflow_status_with_http_info(org_id, project_id, traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_status ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_status"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_status"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_read_traceflow_status"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}/status'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Traceflow')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_read_traceflow_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart traceflow with same set of parameters used during create/update traceflow
    # This will retrace even if current traceflow has observations. Current observations will be lost. Traceflow configuration will be cleaned up by the system after two hours of inactivity.  <br> Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to be performed
    # @return [TraceflowConfig]
    def orgs_org_id_projects_project_id_infra_restart_traceflow(org_id, project_id, traceflow_id, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_restart_traceflow_with_http_info(org_id, project_id, traceflow_id, opts)
      data
    end

    # Restart traceflow with same set of parameters used during create/update traceflow
    # This will retrace even if current traceflow has observations. Current observations will be lost. Traceflow configuration will be cleaned up by the system after two hours of inactivity.  &lt;br&gt; Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to be performed
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_restart_traceflow_with_http_info(org_id, project_id, traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_restart_traceflow ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_restart_traceflow"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_restart_traceflow"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_restart_traceflow"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_restart_traceflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required. User needs to update the in-band network telemetry (INT) configuration to specify the DSCP bit/value for traceflow crafted packet, if the source port of traceflow is on VLAN logical network. The INT configuration is under global operations configuration so please refer NSX-T API document Policy > Networking > Networking Profiles > Global Gateway Configuration to check how to set the DSCP bit/value via global operations configuration related API. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [TraceflowConfig]
    def orgs_org_id_projects_project_id_infra_update_traceflow_config(org_id, project_id, traceflow_id, traceflow_config, opts = {})
      data, _status_code, _headers = orgs_org_id_projects_project_id_infra_update_traceflow_config_with_http_info(org_id, project_id, traceflow_id, traceflow_config, opts)
      data
    end

    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required. User needs to update the in-band network telemetry (INT) configuration to specify the DSCP bit/value for traceflow crafted packet, if the source port of traceflow is on VLAN logical network. The INT configuration is under global operations configuration so please refer NSX-T API document Policy &gt; Networking &gt; Networking Profiles &gt; Global Gateway Configuration to check how to set the DSCP bit/value via global operations configuration related API. 
    # @param org_id The organization ID
    # @param project_id The project ID
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def orgs_org_id_projects_project_id_infra_update_traceflow_config_with_http_info(org_id, project_id, traceflow_id, traceflow_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.orgs_org_id_projects_project_id_infra_update_traceflow_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_update_traceflow_config"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_update_traceflow_config"
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_update_traceflow_config"
      end
      # verify the required parameter 'traceflow_config' is set
      if @api_client.config.client_side_validation && traceflow_config.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_config' when calling TraceflowApi.orgs_org_id_projects_project_id_infra_update_traceflow_config"
      end
      # resource path
      local_var_path = '/orgs/{org-id}/projects/{project-id}/infra/traceflows/{traceflow-id}'.sub('{' + 'org-id' + '}', org_id.to_s).sub('{' + 'project-id' + '}', project_id.to_s).sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(traceflow_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#orgs_org_id_projects_project_id_infra_update_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Antrea traceflow config
    # If an Antrea traceflow config with the traceflow-id is not already present, create a new traceflow config. 
    # @param traceflow_id 
    # @param antrea_traceflow_config 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_antrea_traceflow_config(traceflow_id, antrea_traceflow_config, opts = {})
      patch_antrea_traceflow_config_with_http_info(traceflow_id, antrea_traceflow_config, opts)
      nil
    end

    # Create an Antrea traceflow config
    # If an Antrea traceflow config with the traceflow-id is not already present, create a new traceflow config. 
    # @param traceflow_id 
    # @param antrea_traceflow_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_antrea_traceflow_config_with_http_info(traceflow_id, antrea_traceflow_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.patch_antrea_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.patch_antrea_traceflow_config"
      end
      # verify the required parameter 'antrea_traceflow_config' is set
      if @api_client.config.client_side_validation && antrea_traceflow_config.nil?
        fail ArgumentError, "Missing the required parameter 'antrea_traceflow_config' when calling TraceflowApi.patch_antrea_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(antrea_traceflow_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#patch_antrea_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required.  <br> Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [nil]
    def patch_traceflow_config(traceflow_id, traceflow_config, opts = {})
      patch_traceflow_config_with_http_info(traceflow_id, traceflow_config, opts)
      nil
    end

    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required.  &lt;br&gt; Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_traceflow_config_with_http_info(traceflow_id, traceflow_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.patch_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.patch_traceflow_config"
      end
      # verify the required parameter 'traceflow_config' is set
      if @api_client.config.client_side_validation && traceflow_config.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_config' when calling TraceflowApi.patch_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(traceflow_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#patch_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Antrea traceflow config
    # Read Antrea traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [AntreaTraceflowConfig]
    def read_antrea_traceflow_config(traceflow_id, opts = {})
      data, _status_code, _headers = read_antrea_traceflow_config_with_http_info(traceflow_id, opts)
      data
    end

    # Read Antrea traceflow config
    # Read Antrea traceflow config with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AntreaTraceflowConfig, Fixnum, Hash)>] AntreaTraceflowConfig data, response status code and response headers
    def read_antrea_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.read_antrea_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.read_antrea_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntreaTraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#read_antrea_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read Antrea traceflow status
    # Read Antrea traceflow status with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [AntreaTraceflowStatus]
    def read_antrea_traceflow_status(traceflow_id, opts = {})
      data, _status_code, _headers = read_antrea_traceflow_status_with_http_info(traceflow_id, opts)
      data
    end

    # Read Antrea traceflow status
    # Read Antrea traceflow status with id traceflow-id
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(AntreaTraceflowStatus, Fixnum, Hash)>] AntreaTraceflowStatus data, response status code and response headers
    def read_antrea_traceflow_status_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.read_antrea_traceflow_status ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.read_antrea_traceflow_status"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}/status'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntreaTraceflowStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#read_antrea_traceflow_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow config
    # Read traceflow config with id traceflow-id. This configuration will be cleaned up by the system after two hours of inactivity. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [TraceflowConfig]
    def read_traceflow_config(traceflow_id, opts = {})
      data, _status_code, _headers = read_traceflow_config_with_http_info(traceflow_id, opts)
      data
    end

    # Read traceflow config
    # Read traceflow config with id traceflow-id. This configuration will be cleaned up by the system after two hours of inactivity. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def read_traceflow_config_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.read_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.read_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#read_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read traceflow status
    # Read traceflow status with id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Traceflow]
    def read_traceflow_status(traceflow_id, opts = {})
      data, _status_code, _headers = read_traceflow_status_with_http_info(traceflow_id, opts)
      data
    end

    # Read traceflow status
    # Read traceflow status with id traceflow-id. Traceflow configuration will be cleaned up by the system after two hours of inactivity. Enforcement Path is optional parameter. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(Traceflow, Fixnum, Hash)>] Traceflow data, response status code and response headers
    def read_traceflow_status_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.read_traceflow_status ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.read_traceflow_status"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}/status'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Traceflow')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#read_traceflow_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart Antrea traceflow with same set of parameters used during create traceflow
    # This will retrace even if current traceflow has observations. Current observations will be lost. Traceflow configuration will be cleaned up by the system after two hours of inactivity. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to be performed
    # @return [AntreaTraceflowConfig]
    def restart_antrea_traceflow(traceflow_id, opts = {})
      data, _status_code, _headers = restart_antrea_traceflow_with_http_info(traceflow_id, opts)
      data
    end

    # Restart Antrea traceflow with same set of parameters used during create traceflow
    # This will retrace even if current traceflow has observations. Current observations will be lost. Traceflow configuration will be cleaned up by the system after two hours of inactivity. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to be performed
    # @return [Array<(AntreaTraceflowConfig, Fixnum, Hash)>] AntreaTraceflowConfig data, response status code and response headers
    def restart_antrea_traceflow_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.restart_antrea_traceflow ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.restart_antrea_traceflow"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntreaTraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#restart_antrea_traceflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart traceflow with same set of parameters used during create/update traceflow
    # This will retrace even if current traceflow has observations. Current observations will be lost. Traceflow configuration will be cleaned up by the system after two hours of inactivity.  <br> Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to be performed
    # @return [TraceflowConfig]
    def restart_traceflow(traceflow_id, opts = {})
      data, _status_code, _headers = restart_traceflow_with_http_info(traceflow_id, opts)
      data
    end

    # Restart traceflow with same set of parameters used during create/update traceflow
    # This will retrace even if current traceflow has observations. Current observations will be lost. Traceflow configuration will be cleaned up by the system after two hours of inactivity.  &lt;br&gt; Please use PUT API to start new Traceflow sessions. By default, traceflow observations will be cleanup every two hours,  please use is_transient flag to avoid the cleanup. 
    # @param traceflow_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to be performed
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def restart_traceflow_with_http_info(traceflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.restart_traceflow ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.restart_traceflow"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#restart_traceflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Antrea traceflow config
    # If an Antrea traceflow config with the traceflow-id is not already present, create a new traceflow config. 
    # @param traceflow_id 
    # @param antrea_traceflow_config 
    # @param [Hash] opts the optional parameters
    # @return [AntreaTraceflowConfig]
    def update_antrea_traceflow_config(traceflow_id, antrea_traceflow_config, opts = {})
      data, _status_code, _headers = update_antrea_traceflow_config_with_http_info(traceflow_id, antrea_traceflow_config, opts)
      data
    end

    # Create an Antrea traceflow config
    # If an Antrea traceflow config with the traceflow-id is not already present, create a new traceflow config. 
    # @param traceflow_id 
    # @param antrea_traceflow_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AntreaTraceflowConfig, Fixnum, Hash)>] AntreaTraceflowConfig data, response status code and response headers
    def update_antrea_traceflow_config_with_http_info(traceflow_id, antrea_traceflow_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.update_antrea_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.update_antrea_traceflow_config"
      end
      # verify the required parameter 'antrea_traceflow_config' is set
      if @api_client.config.client_side_validation && antrea_traceflow_config.nil?
        fail ArgumentError, "Missing the required parameter 'antrea_traceflow_config' when calling TraceflowApi.update_antrea_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/antrea/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(antrea_traceflow_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AntreaTraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#update_antrea_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required. User needs to update the in-band network telemetry (INT) configuration to specify the DSCP bit/value for traceflow crafted packet, if the source port of traceflow is on VLAN logical network. The INT configuration is under global operations configuration so please refer NSX-T API document Policy > Networking > Networking Profiles > Global Gateway Configuration to check how to set the DSCP bit/value via global operations configuration related API. 
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [TraceflowConfig]
    def update_traceflow_config(traceflow_id, traceflow_config, opts = {})
      data, _status_code, _headers = update_traceflow_config_with_http_info(traceflow_id, traceflow_config, opts)
      data
    end

    # Create or update a traceflow config
    # If a traceflow config with the traceflow-id is not already present, create a new traceflow config. If it already exists, update the traceflow config. This is a full replace. This configuration will be cleaned up by the system after two hours of inactivity. To start traceflow on a DHCP port in a custom project, enforcement point path is required. User needs to update the in-band network telemetry (INT) configuration to specify the DSCP bit/value for traceflow crafted packet, if the source port of traceflow is on VLAN logical network. The INT configuration is under global operations configuration so please refer NSX-T API document Policy &gt; Networking &gt; Networking Profiles &gt; Global Gateway Configuration to check how to set the DSCP bit/value via global operations configuration related API. 
    # @param traceflow_id 
    # @param traceflow_config 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :enforcement_point_path Enforcement point path
    # @return [Array<(TraceflowConfig, Fixnum, Hash)>] TraceflowConfig data, response status code and response headers
    def update_traceflow_config_with_http_info(traceflow_id, traceflow_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TraceflowApi.update_traceflow_config ...'
      end
      # verify the required parameter 'traceflow_id' is set
      if @api_client.config.client_side_validation && traceflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_id' when calling TraceflowApi.update_traceflow_config"
      end
      # verify the required parameter 'traceflow_config' is set
      if @api_client.config.client_side_validation && traceflow_config.nil?
        fail ArgumentError, "Missing the required parameter 'traceflow_config' when calling TraceflowApi.update_traceflow_config"
      end
      # resource path
      local_var_path = '/infra/traceflows/{traceflow-id}'.sub('{' + 'traceflow-id' + '}', traceflow_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'enforcement_point_path'] = opts[:'enforcement_point_path'] if !opts[:'enforcement_point_path'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(traceflow_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TraceflowConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TraceflowApi#update_traceflow_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
