=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class TransportZoneProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update Policy Transport Zone Profile
    # API will update Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param policy_transport_zone_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def create_or_update_policy_transport_zone_profile(tz_profile_id, policy_transport_zone_profile, opts = {})
      data, _status_code, _headers = create_or_update_policy_transport_zone_profile_with_http_info(tz_profile_id, policy_transport_zone_profile, opts)
      data
    end

    # Update Policy Transport Zone Profile
    # API will update Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param policy_transport_zone_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def create_or_update_policy_transport_zone_profile_with_http_info(tz_profile_id, policy_transport_zone_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.create_or_update_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling TransportZoneProfilesApi.create_or_update_policy_transport_zone_profile"
      end
      # verify the required parameter 'policy_transport_zone_profile' is set
      if @api_client.config.client_side_validation && policy_transport_zone_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_transport_zone_profile' when calling TransportZoneProfilesApi.create_or_update_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_transport_zone_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#create_or_update_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Policy Transport Zone Profile
    # API will delete Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_policy_transport_zone_profile(tz_profile_id, opts = {})
      delete_policy_transport_zone_profile_with_http_info(tz_profile_id, opts)
      nil
    end

    # Delete Policy Transport Zone Profile
    # API will delete Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_policy_transport_zone_profile_with_http_info(tz_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.delete_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling TransportZoneProfilesApi.delete_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#delete_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def get_policy_transport_zone_profile(tz_profile_id, opts = {})
      data, _status_code, _headers = get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts)
      data
    end

    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.get_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling TransportZoneProfilesApi.get_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#get_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyTransportZoneProfileListResult]
    def get_policy_transport_zone_profiles(opts = {})
      data, _status_code, _headers = get_policy_transport_zone_profiles_with_http_info(opts)
      data
    end

    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyTransportZoneProfileListResult, Fixnum, Hash)>] PolicyTransportZoneProfileListResult data, response status code and response headers
    def get_policy_transport_zone_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.get_policy_transport_zone_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TransportZoneProfilesApi.get_policy_transport_zone_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TransportZoneProfilesApi.get_policy_transport_zone_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/transport-zone-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#get_policy_transport_zone_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def global_infra_get_policy_transport_zone_profile(tz_profile_id, opts = {})
      data, _status_code, _headers = global_infra_get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts)
      data
    end

    # Get Policy Transport Zone Profile
    # API will fetch Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def global_infra_get_policy_transport_zone_profile_with_http_info(tz_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.global_infra_get_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling TransportZoneProfilesApi.global_infra_get_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/global-infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#global_infra_get_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [PolicyTransportZoneProfileListResult]
    def global_infra_get_policy_transport_zone_profiles(opts = {})
      data, _status_code, _headers = global_infra_get_policy_transport_zone_profiles_with_http_info(opts)
      data
    end

    # List Policy Transport Zone Profiles
    # API will list all Policy Transport Zone Profiles. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(PolicyTransportZoneProfileListResult, Fixnum, Hash)>] PolicyTransportZoneProfileListResult data, response status code and response headers
    def global_infra_get_policy_transport_zone_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.global_infra_get_policy_transport_zone_profiles ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TransportZoneProfilesApi.global_infra_get_policy_transport_zone_profiles, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling TransportZoneProfilesApi.global_infra_get_policy_transport_zone_profiles, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/global-infra/transport-zone-profiles'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfileListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#global_infra_get_policy_transport_zone_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Policy Transport Zone Profile
    # API will create Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param policy_transport_zone_profile 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTransportZoneProfile]
    def patch_policy_transport_zone_profile(tz_profile_id, policy_transport_zone_profile, opts = {})
      data, _status_code, _headers = patch_policy_transport_zone_profile_with_http_info(tz_profile_id, policy_transport_zone_profile, opts)
      data
    end

    # Create Policy Transport Zone Profile
    # API will create Policy Transport Zone Profile. 
    # @param tz_profile_id 
    # @param policy_transport_zone_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTransportZoneProfile, Fixnum, Hash)>] PolicyTransportZoneProfile data, response status code and response headers
    def patch_policy_transport_zone_profile_with_http_info(tz_profile_id, policy_transport_zone_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransportZoneProfilesApi.patch_policy_transport_zone_profile ...'
      end
      # verify the required parameter 'tz_profile_id' is set
      if @api_client.config.client_side_validation && tz_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'tz_profile_id' when calling TransportZoneProfilesApi.patch_policy_transport_zone_profile"
      end
      # verify the required parameter 'policy_transport_zone_profile' is set
      if @api_client.config.client_side_validation && policy_transport_zone_profile.nil?
        fail ArgumentError, "Missing the required parameter 'policy_transport_zone_profile' when calling TransportZoneProfilesApi.patch_policy_transport_zone_profile"
      end
      # resource path
      local_var_path = '/infra/transport-zone-profiles/{tz-profile-id}'.sub('{' + 'tz-profile-id' + '}', tz_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_transport_zone_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyTransportZoneProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransportZoneProfilesApi#patch_policy_transport_zone_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
