=begin
#NSX Policy API

#VMware NSX Policy REST API

OpenAPI spec version: 9.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.46

=end

require 'uri'

module Nsxt9PolicyClient
  class TroubleshootsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get datapath troubleshoot config of edge transport nodes
    # This API is used to fetch the control packet drop log config at enforcement Point level. 
    # @param site_id 
    # @param enforcement_point_id 
    # @param [Hash] opts the optional parameters
    # @return [PolicyEdgeTransportNodeDatapathTroubleshooting]
    def get_policy_edge_transport_nodes_troubleshoot_config(site_id, enforcement_point_id, opts = {})
      data, _status_code, _headers = get_policy_edge_transport_nodes_troubleshoot_config_with_http_info(site_id, enforcement_point_id, opts)
      data
    end

    # Get datapath troubleshoot config of edge transport nodes
    # This API is used to fetch the control packet drop log config at enforcement Point level. 
    # @param site_id 
    # @param enforcement_point_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyEdgeTransportNodeDatapathTroubleshooting, Fixnum, Hash)>] PolicyEdgeTransportNodeDatapathTroubleshooting data, response status code and response headers
    def get_policy_edge_transport_nodes_troubleshoot_config_with_http_info(site_id, enforcement_point_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TroubleshootsApi.get_policy_edge_transport_nodes_troubleshoot_config ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling TroubleshootsApi.get_policy_edge_transport_nodes_troubleshoot_config"
      end
      # verify the required parameter 'enforcement_point_id' is set
      if @api_client.config.client_side_validation && enforcement_point_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcement_point_id' when calling TroubleshootsApi.get_policy_edge_transport_nodes_troubleshoot_config"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcement-point-id}/edge-transport-nodes/troubleshoot/datapath'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcement-point-id' + '}', enforcement_point_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PolicyEdgeTransportNodeDatapathTroubleshooting')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TroubleshootsApi#get_policy_edge_transport_nodes_troubleshoot_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable or Disable the datapath troubleshoot config on edge transport nodes
    # This API is used to enable/disable the control packet drop log config in all edge transport nodes at the enforcement Point level. 
    # @param site_id 
    # @param enforcement_point_id 
    # @param policy_edge_transport_node_datapath_troubleshooting 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_policy_edge_transport_nodes_troubleshoot_config(site_id, enforcement_point_id, policy_edge_transport_node_datapath_troubleshooting, opts = {})
      patch_policy_edge_transport_nodes_troubleshoot_config_with_http_info(site_id, enforcement_point_id, policy_edge_transport_node_datapath_troubleshooting, opts)
      nil
    end

    # Enable or Disable the datapath troubleshoot config on edge transport nodes
    # This API is used to enable/disable the control packet drop log config in all edge transport nodes at the enforcement Point level. 
    # @param site_id 
    # @param enforcement_point_id 
    # @param policy_edge_transport_node_datapath_troubleshooting 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def patch_policy_edge_transport_nodes_troubleshoot_config_with_http_info(site_id, enforcement_point_id, policy_edge_transport_node_datapath_troubleshooting, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TroubleshootsApi.patch_policy_edge_transport_nodes_troubleshoot_config ...'
      end
      # verify the required parameter 'site_id' is set
      if @api_client.config.client_side_validation && site_id.nil?
        fail ArgumentError, "Missing the required parameter 'site_id' when calling TroubleshootsApi.patch_policy_edge_transport_nodes_troubleshoot_config"
      end
      # verify the required parameter 'enforcement_point_id' is set
      if @api_client.config.client_side_validation && enforcement_point_id.nil?
        fail ArgumentError, "Missing the required parameter 'enforcement_point_id' when calling TroubleshootsApi.patch_policy_edge_transport_nodes_troubleshoot_config"
      end
      # verify the required parameter 'policy_edge_transport_node_datapath_troubleshooting' is set
      if @api_client.config.client_side_validation && policy_edge_transport_node_datapath_troubleshooting.nil?
        fail ArgumentError, "Missing the required parameter 'policy_edge_transport_node_datapath_troubleshooting' when calling TroubleshootsApi.patch_policy_edge_transport_nodes_troubleshoot_config"
      end
      # resource path
      local_var_path = '/infra/sites/{site-id}/enforcement-points/{enforcement-point-id}/edge-transport-nodes/troubleshoot/datapath'.sub('{' + 'site-id' + '}', site_id.to_s).sub('{' + 'enforcement-point-id' + '}', enforcement_point_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(policy_edge_transport_node_datapath_troubleshooting)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TroubleshootsApi#patch_policy_edge_transport_nodes_troubleshoot_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
