=begin
#NSX-T Data Center Policy API

#VMware NSX-T Data Center Policy REST API

OpenAPI spec version: 2.5.0.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.4

=end

require 'uri'

module NSXTPolicyClient
  class PolicyReactionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or patch a Reaction
    # Create or patch a Reaction under Infra. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_or_patch_infra_reaction(reaction_id, reaction, opts = {})
      create_or_patch_infra_reaction_with_http_info(reaction_id, reaction, opts)
      nil
    end

    # Create or patch a Reaction
    # Create or patch a Reaction under Infra. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_or_patch_infra_reaction_with_http_info(reaction_id, reaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyReactionApi.create_or_patch_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling PolicyReactionApi.create_or_patch_infra_reaction"
      end
      # verify the required parameter 'reaction' is set
      if @api_client.config.client_side_validation && reaction.nil?
        fail ArgumentError, "Missing the required parameter 'reaction' when calling PolicyReactionApi.create_or_patch_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(reaction)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyReactionApi#create_or_patch_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or fully replace a Reaction
    # Create or fully replace a Reaction under Infra. Revision is optional for creation and required for update. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [Reaction]
    def create_or_update_infra_reaction(reaction_id, reaction, opts = {})
      data, _status_code, _headers = create_or_update_infra_reaction_with_http_info(reaction_id, reaction, opts)
      data
    end

    # Create or fully replace a Reaction
    # Create or fully replace a Reaction under Infra. Revision is optional for creation and required for update. 
    # @param reaction_id 
    # @param reaction 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reaction, Fixnum, Hash)>] Reaction data, response status code and response headers
    def create_or_update_infra_reaction_with_http_info(reaction_id, reaction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyReactionApi.create_or_update_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling PolicyReactionApi.create_or_update_infra_reaction"
      end
      # verify the required parameter 'reaction' is set
      if @api_client.config.client_side_validation && reaction.nil?
        fail ArgumentError, "Missing the required parameter 'reaction' when calling PolicyReactionApi.create_or_update_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(reaction)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Reaction')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyReactionApi#create_or_update_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Reaction
    # Delete a Reaction under Infra. 
    # @param reaction_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_infra_reaction(reaction_id, opts = {})
      delete_infra_reaction_with_http_info(reaction_id, opts)
      nil
    end

    # Delete Reaction
    # Delete a Reaction under Infra. 
    # @param reaction_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_infra_reaction_with_http_info(reaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyReactionApi.delete_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling PolicyReactionApi.delete_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyReactionApi#delete_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Reaction
    # Get Reaction under Infra. 
    # @param reaction_id 
    # @param [Hash] opts the optional parameters
    # @return [Reaction]
    def get_infra_reaction(reaction_id, opts = {})
      data, _status_code, _headers = get_infra_reaction_with_http_info(reaction_id, opts)
      data
    end

    # Get Reaction
    # Get Reaction under Infra. 
    # @param reaction_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reaction, Fixnum, Hash)>] Reaction data, response status code and response headers
    def get_infra_reaction_with_http_info(reaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyReactionApi.get_infra_reaction ...'
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling PolicyReactionApi.get_infra_reaction"
      end
      # resource path
      local_var_path = '/infra/reactions/{reaction-id}'.sub('{' + 'reaction-id' + '}', reaction_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Reaction')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyReactionApi#get_infra_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Reaction list result
    # Get paginated list of all Reactions under Infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results (default to false)
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [ReactionListResult]
    def list_infra_reactions(opts = {})
      data, _status_code, _headers = list_infra_reactions_with_http_info(opts)
      data
    end

    # Get Reaction list result
    # Get paginated list of all Reactions under Infra. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [BOOLEAN] :include_mark_for_delete_objects Include objects that are marked for deletion in results
    # @option opts [String] :included_fields Comma separated list of fields that should be included in query result
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @return [Array<(ReactionListResult, Fixnum, Hash)>] ReactionListResult data, response status code and response headers
    def list_infra_reactions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyReactionApi.list_infra_reactions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PolicyReactionApi.list_infra_reactions, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PolicyReactionApi.list_infra_reactions, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/infra/reactions'

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_mark_for_delete_objects'] = opts[:'include_mark_for_delete_objects'] if !opts[:'include_mark_for_delete_objects'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReactionListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyReactionApi#list_infra_reactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
