platform: linux
inputs:
  - name: source-ci
  - name: bosh-cpi-src-nsxt9
  - name: stemcell
  - name: environment

outputs:
  - name: dummy # dummy output to avoid sending the entire task over the network
run:
  path: source-ci/ci/tasks/run-lifecycle.sh
params:
  RSPEC_FLAGS:                             ""
  BOSH_VSPHERE_VERIFY_LIMITED_PERMISSIONS: true
