platform: linux
image_resource:
  { type: docker-image, source: { repository: vcpici/vcpi-main } }
inputs:
  - name: source-ci
  - name: bosh-cpi-src
  - name: stemcell
  - name: environment

outputs:
  - name: dummy # dummy output to avoid sending the entire task over the network
run:
  path: source-ci/ci/tasks/run-lifecycle.sh
params:
  RSPEC_FLAGS:                             ""
  BOSH_VSPHERE_VERIFY_LIMITED_PERMISSIONS: true
