=begin
#NSX API

#VMware NSX REST API

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module NSXT
  class LogicalRoutingAndServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a new BGP Neighbor on a Logical Router
    # Add a new BGP Neighbor on a Logical Router 
    # @param logical_router_id 
    # @param bgp_neighbor 
    # @param [Hash] opts the optional parameters
    # @return [BgpNeighbor]
    def add_bgp_neighbor(logical_router_id, bgp_neighbor, opts = {})
      data, _status_code, _headers = add_bgp_neighbor_with_http_info(logical_router_id, bgp_neighbor, opts)
      return data
    end

    # Add a new BGP Neighbor on a Logical Router
    # Add a new BGP Neighbor on a Logical Router 
    # @param logical_router_id 
    # @param bgp_neighbor 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BgpNeighbor, Fixnum, Hash)>] BgpNeighbor data, response status code and response headers
    def add_bgp_neighbor_with_http_info(logical_router_id, bgp_neighbor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.add_bgp_neighbor ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.add_bgp_neighbor"
      end
      # verify the required parameter 'bgp_neighbor' is set
      if @api_client.config.client_side_validation && bgp_neighbor.nil?
        fail ArgumentError, "Missing the required parameter 'bgp_neighbor' when calling LogicalRoutingAndServicesApi.add_bgp_neighbor"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/bgp/neighbors".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(bgp_neighbor)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpNeighbor')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#add_bgp_neighbor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add IPPrefixList on a Logical Router
    # Adds a new IPPrefixList on a Logical Router 
    # @param logical_router_id 
    # @param ip_prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [IPPrefixList]
    def add_ip_prefix_list(logical_router_id, ip_prefix_list, opts = {})
      data, _status_code, _headers = add_ip_prefix_list_with_http_info(logical_router_id, ip_prefix_list, opts)
      return data
    end

    # Add IPPrefixList on a Logical Router
    # Adds a new IPPrefixList on a Logical Router 
    # @param logical_router_id 
    # @param ip_prefix_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IPPrefixList, Fixnum, Hash)>] IPPrefixList data, response status code and response headers
    def add_ip_prefix_list_with_http_info(logical_router_id, ip_prefix_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.add_ip_prefix_list ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.add_ip_prefix_list"
      end
      # verify the required parameter 'ip_prefix_list' is set
      if @api_client.config.client_side_validation && ip_prefix_list.nil?
        fail ArgumentError, "Missing the required parameter 'ip_prefix_list' when calling LogicalRoutingAndServicesApi.add_ip_prefix_list"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/ip-prefix-lists".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ip_prefix_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IPPrefixList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#add_ip_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a NAT rule in a specific logical router
    # Add a NAT rule in a specific logical router. 
    # @param logical_router_id 
    # @param nat_rule 
    # @param [Hash] opts the optional parameters
    # @return [NatRule]
    def add_nat_rule(logical_router_id, nat_rule, opts = {})
      data, _status_code, _headers = add_nat_rule_with_http_info(logical_router_id, nat_rule, opts)
      return data
    end

    # Add a NAT rule in a specific logical router
    # Add a NAT rule in a specific logical router. 
    # @param logical_router_id 
    # @param nat_rule 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NatRule, Fixnum, Hash)>] NatRule data, response status code and response headers
    def add_nat_rule_with_http_info(logical_router_id, nat_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.add_nat_rule ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.add_nat_rule"
      end
      # verify the required parameter 'nat_rule' is set
      if @api_client.config.client_side_validation && nat_rule.nil?
        fail ArgumentError, "Missing the required parameter 'nat_rule' when calling LogicalRoutingAndServicesApi.add_nat_rule"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/nat/rules".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(nat_rule)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NatRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#add_nat_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add RouteMap on a Logical Router
    # Adds a new RouteMap on a Logical Router 
    # @param logical_router_id 
    # @param route_map 
    # @param [Hash] opts the optional parameters
    # @return [RouteMap]
    def add_route_map(logical_router_id, route_map, opts = {})
      data, _status_code, _headers = add_route_map_with_http_info(logical_router_id, route_map, opts)
      return data
    end

    # Add RouteMap on a Logical Router
    # Adds a new RouteMap on a Logical Router 
    # @param logical_router_id 
    # @param route_map 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RouteMap, Fixnum, Hash)>] RouteMap data, response status code and response headers
    def add_route_map_with_http_info(logical_router_id, route_map, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.add_route_map ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.add_route_map"
      end
      # verify the required parameter 'route_map' is set
      if @api_client.config.client_side_validation && route_map.nil?
        fail ArgumentError, "Missing the required parameter 'route_map' when calling LogicalRoutingAndServicesApi.add_route_map"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/route-maps".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(route_map)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RouteMap')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#add_route_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Static Routes on a Logical Router
    # Adds a new static route on a Logical Router 
    # @param logical_router_id 
    # @param static_route 
    # @param [Hash] opts the optional parameters
    # @return [StaticRoute]
    def add_static_route(logical_router_id, static_route, opts = {})
      data, _status_code, _headers = add_static_route_with_http_info(logical_router_id, static_route, opts)
      return data
    end

    # Add Static Routes on a Logical Router
    # Adds a new static route on a Logical Router 
    # @param logical_router_id 
    # @param static_route 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticRoute, Fixnum, Hash)>] StaticRoute data, response status code and response headers
    def add_static_route_with_http_info(logical_router_id, static_route, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.add_static_route ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.add_static_route"
      end
      # verify the required parameter 'static_route' is set
      if @api_client.config.client_side_validation && static_route.nil?
        fail ArgumentError, "Missing the required parameter 'static_route' when calling LogicalRoutingAndServicesApi.add_static_route"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/static-routes".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_route)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticRoute')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#add_static_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a DHCP Relay Service
    # Creates a dhcp relay service. 
    # @param dhcp_relay_service 
    # @param [Hash] opts the optional parameters
    # @return [DhcpRelayService]
    def create_dhcp_relay(dhcp_relay_service, opts = {})
      data, _status_code, _headers = create_dhcp_relay_with_http_info(dhcp_relay_service, opts)
      return data
    end

    # Create a DHCP Relay Service
    # Creates a dhcp relay service. 
    # @param dhcp_relay_service 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DhcpRelayService, Fixnum, Hash)>] DhcpRelayService data, response status code and response headers
    def create_dhcp_relay_with_http_info(dhcp_relay_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_dhcp_relay ..."
      end
      # verify the required parameter 'dhcp_relay_service' is set
      if @api_client.config.client_side_validation && dhcp_relay_service.nil?
        fail ArgumentError, "Missing the required parameter 'dhcp_relay_service' when calling LogicalRoutingAndServicesApi.create_dhcp_relay"
      end
      # resource path
      local_var_path = "/dhcp/relays"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dhcp_relay_service)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DhcpRelayService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_dhcp_relay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a DHCP Relay Profile
    # Creates a dhcp relay profile. 
    # @param dhcp_relay_profile 
    # @param [Hash] opts the optional parameters
    # @return [DhcpRelayProfile]
    def create_dhcp_relay_profile(dhcp_relay_profile, opts = {})
      data, _status_code, _headers = create_dhcp_relay_profile_with_http_info(dhcp_relay_profile, opts)
      return data
    end

    # Create a DHCP Relay Profile
    # Creates a dhcp relay profile. 
    # @param dhcp_relay_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DhcpRelayProfile, Fixnum, Hash)>] DhcpRelayProfile data, response status code and response headers
    def create_dhcp_relay_profile_with_http_info(dhcp_relay_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_dhcp_relay_profile ..."
      end
      # verify the required parameter 'dhcp_relay_profile' is set
      if @api_client.config.client_side_validation && dhcp_relay_profile.nil?
        fail ArgumentError, "Missing the required parameter 'dhcp_relay_profile' when calling LogicalRoutingAndServicesApi.create_dhcp_relay_profile"
      end
      # resource path
      local_var_path = "/dhcp/relay-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dhcp_relay_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DhcpRelayProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_dhcp_relay_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Logical Router
    # Creates a logical router. The required parameters are router_type (TIER0 or TIER1) and edge_cluster_id (TIER0 only). Optional parameters include internal and external transit network addresses. 
    # @param logical_router 
    # @param [Hash] opts the optional parameters
    # @return [LogicalRouter]
    def create_logical_router(logical_router, opts = {})
      data, _status_code, _headers = create_logical_router_with_http_info(logical_router, opts)
      return data
    end

    # Create a Logical Router
    # Creates a logical router. The required parameters are router_type (TIER0 or TIER1) and edge_cluster_id (TIER0 only). Optional parameters include internal and external transit network addresses. 
    # @param logical_router 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogicalRouter, Fixnum, Hash)>] LogicalRouter data, response status code and response headers
    def create_logical_router_with_http_info(logical_router, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_logical_router ..."
      end
      # verify the required parameter 'logical_router' is set
      if @api_client.config.client_side_validation && logical_router.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router' when calling LogicalRoutingAndServicesApi.create_logical_router"
      end
      # resource path
      local_var_path = "/logical-routers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(logical_router)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_logical_router\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Logical Router Port
    # Creates a logical router port. The required parameters include resource_type (LogicalRouterUpLinkPort, LogicalRouterDownLinkPort, LogicalRouterLinkPort, LogicalRouterLoopbackPort); and logical_router_id (the router to which each logical router port is assigned). The service_bindings parameter is optional. 
    # @param logical_router_port 
    # @param [Hash] opts the optional parameters
    # @return [LogicalRouterPort]
    def create_logical_router_port(logical_router_port, opts = {})
      data, _status_code, _headers = create_logical_router_port_with_http_info(logical_router_port, opts)
      return data
    end

    # Create a Logical Router Port
    # Creates a logical router port. The required parameters include resource_type (LogicalRouterUpLinkPort, LogicalRouterDownLinkPort, LogicalRouterLinkPort, LogicalRouterLoopbackPort); and logical_router_id (the router to which each logical router port is assigned). The service_bindings parameter is optional. 
    # @param logical_router_port 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogicalRouterPort, Fixnum, Hash)>] LogicalRouterPort data, response status code and response headers
    def create_logical_router_port_with_http_info(logical_router_port, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_logical_router_port ..."
      end
      # verify the required parameter 'logical_router_port' is set
      if @api_client.config.client_side_validation && logical_router_port.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_port' when calling LogicalRoutingAndServicesApi.create_logical_router_port"
      end
      # resource path
      local_var_path = "/logical-router-ports"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(logical_router_port)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterPort')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_logical_router_port\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Logical Router Service
    # Creates a service that can be applied to one or more logical router ports. For some service types, you must create a service-profile before you can create a service. 
    # @param logical_service 
    # @param [Hash] opts the optional parameters
    # @return [LogicalService]
    def create_service(logical_service, opts = {})
      data, _status_code, _headers = create_service_with_http_info(logical_service, opts)
      return data
    end

    # Create a Logical Router Service
    # Creates a service that can be applied to one or more logical router ports. For some service types, you must create a service-profile before you can create a service. 
    # @param logical_service 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogicalService, Fixnum, Hash)>] LogicalService data, response status code and response headers
    def create_service_with_http_info(logical_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_service ..."
      end
      # verify the required parameter 'logical_service' is set
      if @api_client.config.client_side_validation && logical_service.nil?
        fail ArgumentError, "Missing the required parameter 'logical_service' when calling LogicalRoutingAndServicesApi.create_service"
      end
      # resource path
      local_var_path = "/services"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(logical_service)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Service Profile
    # Creates a service profile, which can then be used to create a service. Services are then applied to one or more logical router ports. 
    # @param service_profile 
    # @param [Hash] opts the optional parameters
    # @return [ServiceProfile]
    def create_service_profile(service_profile, opts = {})
      data, _status_code, _headers = create_service_profile_with_http_info(service_profile, opts)
      return data
    end

    # Create a Service Profile
    # Creates a service profile, which can then be used to create a service. Services are then applied to one or more logical router ports. 
    # @param service_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceProfile, Fixnum, Hash)>] ServiceProfile data, response status code and response headers
    def create_service_profile_with_http_info(service_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_service_profile ..."
      end
      # verify the required parameter 'service_profile' is set
      if @api_client.config.client_side_validation && service_profile.nil?
        fail ArgumentError, "Missing the required parameter 'service_profile' when calling LogicalRoutingAndServicesApi.create_service_profile"
      end
      # resource path
      local_var_path = "/service-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_service_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a static hop BFD peer
    # Creates a BFD peer for static route. The required parameters includes peer IP address. 
    # @param logical_router_id 
    # @param static_hop_bfd_peer 
    # @param [Hash] opts the optional parameters
    # @return [StaticHopBfdPeer]
    def create_static_hop_bfd_peer(logical_router_id, static_hop_bfd_peer, opts = {})
      data, _status_code, _headers = create_static_hop_bfd_peer_with_http_info(logical_router_id, static_hop_bfd_peer, opts)
      return data
    end

    # Create a static hop BFD peer
    # Creates a BFD peer for static route. The required parameters includes peer IP address. 
    # @param logical_router_id 
    # @param static_hop_bfd_peer 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticHopBfdPeer, Fixnum, Hash)>] StaticHopBfdPeer data, response status code and response headers
    def create_static_hop_bfd_peer_with_http_info(logical_router_id, static_hop_bfd_peer, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.create_static_hop_bfd_peer ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.create_static_hop_bfd_peer"
      end
      # verify the required parameter 'static_hop_bfd_peer' is set
      if @api_client.config.client_side_validation && static_hop_bfd_peer.nil?
        fail ArgumentError, "Missing the required parameter 'static_hop_bfd_peer' when calling LogicalRoutingAndServicesApi.create_static_hop_bfd_peer"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(static_hop_bfd_peer)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'StaticHopBfdPeer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#create_static_hop_bfd_peer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific BGP Neighbor on a Logical Router
    # Delete a specific BGP Neighbor on a Logical Router 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bgp_neighbor(logical_router_id, id, opts = {})
      delete_bgp_neighbor_with_http_info(logical_router_id, id, opts)
      return nil
    end

    # Delete a specific BGP Neighbor on a Logical Router
    # Delete a specific BGP Neighbor on a Logical Router 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_bgp_neighbor_with_http_info(logical_router_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_bgp_neighbor ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_bgp_neighbor"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogicalRoutingAndServicesApi.delete_bgp_neighbor"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/bgp/neighbors/{id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_bgp_neighbor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a DHCP Relay Service
    # Deletes the specified dhcp relay service.
    # @param relay_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dhcp_relay(relay_id, opts = {})
      delete_dhcp_relay_with_http_info(relay_id, opts)
      return nil
    end

    # Delete a DHCP Relay Service
    # Deletes the specified dhcp relay service.
    # @param relay_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dhcp_relay_with_http_info(relay_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_dhcp_relay ..."
      end
      # verify the required parameter 'relay_id' is set
      if @api_client.config.client_side_validation && relay_id.nil?
        fail ArgumentError, "Missing the required parameter 'relay_id' when calling LogicalRoutingAndServicesApi.delete_dhcp_relay"
      end
      # resource path
      local_var_path = "/dhcp/relays/{relay-id}".sub('{' + 'relay-id' + '}', relay_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_dhcp_relay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a DHCP Relay Profile
    # Deletes the specified dhcp relay profile.
    # @param relay_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dhcp_relay_profile(relay_profile_id, opts = {})
      delete_dhcp_relay_profile_with_http_info(relay_profile_id, opts)
      return nil
    end

    # Delete a DHCP Relay Profile
    # Deletes the specified dhcp relay profile.
    # @param relay_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dhcp_relay_profile_with_http_info(relay_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_dhcp_relay_profile ..."
      end
      # verify the required parameter 'relay_profile_id' is set
      if @api_client.config.client_side_validation && relay_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'relay_profile_id' when calling LogicalRoutingAndServicesApi.delete_dhcp_relay_profile"
      end
      # resource path
      local_var_path = "/dhcp/relay-profiles/{relay-profile-id}".sub('{' + 'relay-profile-id' + '}', relay_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_dhcp_relay_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific IPPrefixList on a Logical Router
    # Deletes a specific IPPrefixList on the specified logical router. 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ip_prefix_list(logical_router_id, id, opts = {})
      delete_ip_prefix_list_with_http_info(logical_router_id, id, opts)
      return nil
    end

    # Delete a specific IPPrefixList on a Logical Router
    # Deletes a specific IPPrefixList on the specified logical router. 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ip_prefix_list_with_http_info(logical_router_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_ip_prefix_list ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_ip_prefix_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogicalRoutingAndServicesApi.delete_ip_prefix_list"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/ip-prefix-lists/{id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_ip_prefix_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Logical Router
    # Deletes the specified logical router. You must delete associated logical router ports before you can delete a logical router. Otherwise use force delete which will delete all related ports and other entities associated with that LR. To force delete logical router pass force=true in query param. 
    # @param logical_router_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @return [nil]
    def delete_logical_router(logical_router_id, opts = {})
      delete_logical_router_with_http_info(logical_router_id, opts)
      return nil
    end

    # Delete a Logical Router
    # Deletes the specified logical router. You must delete associated logical router ports before you can delete a logical router. Otherwise use force delete which will delete all related ports and other entities associated with that LR. To force delete logical router pass force&#x3D;true in query param. 
    # @param logical_router_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_logical_router_with_http_info(logical_router_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_logical_router ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_logical_router"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_logical_router\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Logical Router Port
    # Deletes the specified logical router port. You must delete logical router ports before you can delete the associated logical router. To Delete Tier0 router link port you must have to delete attached tier1 router link port, otherwise pass \"force=true\" as query param to force delete the Tier0 router link port. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @return [nil]
    def delete_logical_router_port(logical_router_port_id, opts = {})
      delete_logical_router_port_with_http_info(logical_router_port_id, opts)
      return nil
    end

    # Delete a Logical Router Port
    # Deletes the specified logical router port. You must delete logical router ports before you can delete the associated logical router. To Delete Tier0 router link port you must have to delete attached tier1 router link port, otherwise pass \&quot;force&#x3D;true\&quot; as query param to force delete the Tier0 router link port. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_logical_router_port_with_http_info(logical_router_port_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_logical_router_port ..."
      end
      # verify the required parameter 'logical_router_port_id' is set
      if @api_client.config.client_side_validation && logical_router_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_port_id' when calling LogicalRoutingAndServicesApi.delete_logical_router_port"
      end
      # resource path
      local_var_path = "/logical-router-ports/{logical-router-port-id}".sub('{' + 'logical-router-port-id' + '}', logical_router_port_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_logical_router_port\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific NAT rule from a logical router
    # Delete a specific NAT rule from a logical router 
    # @param logical_router_id 
    # @param rule_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_nat_rule(logical_router_id, rule_id, opts = {})
      delete_nat_rule_with_http_info(logical_router_id, rule_id, opts)
      return nil
    end

    # Delete a specific NAT rule from a logical router
    # Delete a specific NAT rule from a logical router 
    # @param logical_router_id 
    # @param rule_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_nat_rule_with_http_info(logical_router_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_nat_rule ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_nat_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling LogicalRoutingAndServicesApi.delete_nat_rule"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/nat/rules/{rule-id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s).sub('{' + 'rule-id' + '}', rule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_nat_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific RouteMap on a Logical Router
    # Deletes a specific RouteMap on the specified logical router. 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_route_map(logical_router_id, id, opts = {})
      delete_route_map_with_http_info(logical_router_id, id, opts)
      return nil
    end

    # Delete a specific RouteMap on a Logical Router
    # Deletes a specific RouteMap on the specified logical router. 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_route_map_with_http_info(logical_router_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_route_map ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_route_map"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogicalRoutingAndServicesApi.delete_route_map"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/route-maps/{id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_route_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Logical Router Service
    # Deletes the specified logical router service.
    # @param service_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service(service_id, opts = {})
      delete_service_with_http_info(service_id, opts)
      return nil
    end

    # Delete a Logical Router Service
    # Deletes the specified logical router service.
    # @param service_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_service ..."
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling LogicalRoutingAndServicesApi.delete_service"
      end
      # resource path
      local_var_path = "/services/{service-id}".sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Service Profile
    # Deletes the specified service profile.
    # @param service_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_profile(service_profile_id, opts = {})
      delete_service_profile_with_http_info(service_profile_id, opts)
      return nil
    end

    # Delete a Service Profile
    # Deletes the specified service profile.
    # @param service_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_profile_with_http_info(service_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_service_profile ..."
      end
      # verify the required parameter 'service_profile_id' is set
      if @api_client.config.client_side_validation && service_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_profile_id' when calling LogicalRoutingAndServicesApi.delete_service_profile"
      end
      # resource path
      local_var_path = "/service-profiles/{service-profile-id}".sub('{' + 'service-profile-id' + '}', service_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_service_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specified static route BFD peer cofigured on a specified logical router
    # Deletes the specified BFD peer present on specified logical router. 
    # @param logical_router_id 
    # @param bfd_peer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @return [nil]
    def delete_static_hop_bfd_peer(logical_router_id, bfd_peer_id, opts = {})
      delete_static_hop_bfd_peer_with_http_info(logical_router_id, bfd_peer_id, opts)
      return nil
    end

    # Delete a specified static route BFD peer cofigured on a specified logical router
    # Deletes the specified BFD peer present on specified logical router. 
    # @param logical_router_id 
    # @param bfd_peer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_static_hop_bfd_peer_with_http_info(logical_router_id, bfd_peer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_static_hop_bfd_peer ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_static_hop_bfd_peer"
      end
      # verify the required parameter 'bfd_peer_id' is set
      if @api_client.config.client_side_validation && bfd_peer_id.nil?
        fail ArgumentError, "Missing the required parameter 'bfd_peer_id' when calling LogicalRoutingAndServicesApi.delete_static_hop_bfd_peer"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/static-routes/bfd-peers/{bfd-peer-id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s).sub('{' + 'bfd-peer-id' + '}', bfd_peer_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_static_hop_bfd_peer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific Static Route on a Logical Router
    # Deletes a specific static route on the specified logical router. 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_static_route(logical_router_id, id, opts = {})
      delete_static_route_with_http_info(logical_router_id, id, opts)
      return nil
    end

    # Delete a specific Static Route on a Logical Router
    # Deletes a specific static route on the specified logical router. 
    # @param logical_router_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_static_route_with_http_info(logical_router_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.delete_static_route ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.delete_static_route"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogicalRoutingAndServicesApi.delete_static_route"
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/static-routes/{id}".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#delete_static_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the status of all the BGP neighbors for the Logical Router of the given id
    # Returns the status of all the BGP neighbors for the Logical Router of the given id. To get BGP neighbors status for the logical router from particular node, parameter \"transport_node_id=<transportnode_id>\" needs to be specified. The query parameter \"source=cached\" is not supported.
    # @param logical_router_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id Transport node id
    # @return [BgpNeighborsStatusListResult]
    def get_bgp_neighbors_status(logical_router_id, opts = {})
      data, _status_code, _headers = get_bgp_neighbors_status_with_http_info(logical_router_id, opts)
      return data
    end

    # Get the status of all the BGP neighbors for the Logical Router of the given id
    # Returns the status of all the BGP neighbors for the Logical Router of the given id. To get BGP neighbors status for the logical router from particular node, parameter \&quot;transport_node_id&#x3D;&lt;transportnode_id&gt;\&quot; needs to be specified. The query parameter \&quot;source&#x3D;cached\&quot; is not supported.
    # @param logical_router_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id Transport node id
    # @return [Array<(BgpNeighborsStatusListResult, Fixnum, Hash)>] BgpNeighborsStatusListResult data, response status code and response headers
    def get_bgp_neighbors_status_with_http_info(logical_router_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_bgp_neighbors_status ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.get_bgp_neighbors_status"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LogicalRoutingAndServicesApi.get_bgp_neighbors_status, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LogicalRoutingAndServicesApi.get_bgp_neighbors_status, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/bgp/neighbors/status".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'transport_node_id'] = opts[:'transport_node_id'] if !opts[:'transport_node_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BgpNeighborsStatusListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_bgp_neighbors_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FIB table on a specified node for a logical router
    # Returns the FIB for the logical router on a node of the given transport-node-id. Query parameter \"transport_node_id=<transport-node-id>\" is required. To filter the result by network address, paramter \"network_prefix=<a.b.c.d/mask>\" needs to be specified. The query parameter \"source=cached\" is not supported. 
    # @param logical_router_id 
    # @param transport_node_id TransportNode Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
    # @option opts [String] :network_prefix IPv4 CIDR Block
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @option opts [String] :source Data source type.
    # @return [LogicalRouterRouteTable]
    def get_logical_router_forwarding_table(logical_router_id, transport_node_id, opts = {})
      data, _status_code, _headers = get_logical_router_forwarding_table_with_http_info(logical_router_id, transport_node_id, opts)
      return data
    end

    # Get FIB table on a specified node for a logical router
    # Returns the FIB for the logical router on a node of the given transport-node-id. Query parameter \&quot;transport_node_id&#x3D;&lt;transport-node-id&gt;\&quot; is required. To filter the result by network address, paramter \&quot;network_prefix&#x3D;&lt;a.b.c.d/mask&gt;\&quot; needs to be specified. The query parameter \&quot;source&#x3D;cached\&quot; is not supported. 
    # @param logical_router_id 
    # @param transport_node_id TransportNode Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
    # @option opts [String] :network_prefix IPv4 CIDR Block
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @option opts [String] :source Data source type.
    # @return [Array<(LogicalRouterRouteTable, Fixnum, Hash)>] LogicalRouterRouteTable data, response status code and response headers
    def get_logical_router_forwarding_table_with_http_info(logical_router_id, transport_node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_logical_router_forwarding_table ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.get_logical_router_forwarding_table"
      end
      # verify the required parameter 'transport_node_id' is set
      if @api_client.config.client_side_validation && transport_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_id' when calling LogicalRoutingAndServicesApi.get_logical_router_forwarding_table"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LogicalRoutingAndServicesApi.get_logical_router_forwarding_table, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LogicalRoutingAndServicesApi.get_logical_router_forwarding_table, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/forwarding-table".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'transport_node_id'] = transport_node_id
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'network_prefix'] = opts[:'network_prefix'] if !opts[:'network_prefix'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterRouteTable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_logical_router_forwarding_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FIB table on a specified node for a logical router
    # Returns the FIB table in CSV format for the logical router on a node of the given transport-node-id. Query parameter \"transport_node_id=<transport-node-id>\" is required. To filter the result by network address, paramter \"network_prefix=<a.b.c.d/mask>\" needs to be specified. The query parameter \"source=cached\" is not supported. 
    # @param logical_router_id 
    # @param transport_node_id TransportNode Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :network_prefix IPv4 CIDR Block
    # @option opts [String] :source Data source type.
    # @return [LogicalRouterRouteTableInCsvFormat]
    def get_logical_router_forwarding_table_in_csv_format_csv(logical_router_id, transport_node_id, opts = {})
      data, _status_code, _headers = get_logical_router_forwarding_table_in_csv_format_csv_with_http_info(logical_router_id, transport_node_id, opts)
      return data
    end

    # Get FIB table on a specified node for a logical router
    # Returns the FIB table in CSV format for the logical router on a node of the given transport-node-id. Query parameter \&quot;transport_node_id&#x3D;&lt;transport-node-id&gt;\&quot; is required. To filter the result by network address, paramter \&quot;network_prefix&#x3D;&lt;a.b.c.d/mask&gt;\&quot; needs to be specified. The query parameter \&quot;source&#x3D;cached\&quot; is not supported. 
    # @param logical_router_id 
    # @param transport_node_id TransportNode Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :network_prefix IPv4 CIDR Block
    # @option opts [String] :source Data source type.
    # @return [Array<(LogicalRouterRouteTableInCsvFormat, Fixnum, Hash)>] LogicalRouterRouteTableInCsvFormat data, response status code and response headers
    def get_logical_router_forwarding_table_in_csv_format_csv_with_http_info(logical_router_id, transport_node_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_logical_router_forwarding_table_in_csv_format_csv ..."
      end
      # verify the required parameter 'logical_router_id' is set
      if @api_client.config.client_side_validation && logical_router_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_id' when calling LogicalRoutingAndServicesApi.get_logical_router_forwarding_table_in_csv_format_csv"
      end
      # verify the required parameter 'transport_node_id' is set
      if @api_client.config.client_side_validation && transport_node_id.nil?
        fail ArgumentError, "Missing the required parameter 'transport_node_id' when calling LogicalRoutingAndServicesApi.get_logical_router_forwarding_table_in_csv_format_csv"
      end
      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-routers/{logical-router-id}/routing/forwarding-table?format=csv".sub('{' + 'logical-router-id' + '}', logical_router_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'transport_node_id'] = transport_node_id
      query_params[:'network_prefix'] = opts[:'network_prefix'] if !opts[:'network_prefix'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterRouteTableInCsvFormat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_logical_router_forwarding_table_in_csv_format_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the ARP table for the Logical Router Port of the given id
    # Returns ARP table for the Logical Router Port of the given id, on a node if a query parameter \"transport_node_id=<transport-node-id>\" is given. The transport_node_id parameter is mandatory if the router port is not uplink type. The query parameter \"source=cached\" is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 1000)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id TransportNode Id
    # @return [LogicalRouterPortArpTable]
    def get_logical_router_port_arp_table(logical_router_port_id, opts = {})
      data, _status_code, _headers = get_logical_router_port_arp_table_with_http_info(logical_router_port_id, opts)
      return data
    end

    # Get the ARP table for the Logical Router Port of the given id
    # Returns ARP table for the Logical Router Port of the given id, on a node if a query parameter \&quot;transport_node_id&#x3D;&lt;transport-node-id&gt;\&quot; is given. The transport_node_id parameter is mandatory if the router port is not uplink type. The query parameter \&quot;source&#x3D;cached\&quot; is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @option opts [BOOLEAN] :sort_ascending 
    # @option opts [String] :sort_by Field by which records are sorted
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id TransportNode Id
    # @return [Array<(LogicalRouterPortArpTable, Fixnum, Hash)>] LogicalRouterPortArpTable data, response status code and response headers
    def get_logical_router_port_arp_table_with_http_info(logical_router_port_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_logical_router_port_arp_table ..."
      end
      # verify the required parameter 'logical_router_port_id' is set
      if @api_client.config.client_side_validation && logical_router_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_port_id' when calling LogicalRoutingAndServicesApi.get_logical_router_port_arp_table"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LogicalRoutingAndServicesApi.get_logical_router_port_arp_table, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 0
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LogicalRoutingAndServicesApi.get_logical_router_port_arp_table, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-router-ports/{logical-router-port-id}/arp-table".sub('{' + 'logical-router-port-id' + '}', logical_router_port_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'included_fields'] = opts[:'included_fields'] if !opts[:'included_fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_ascending'] = opts[:'sort_ascending'] if !opts[:'sort_ascending'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'transport_node_id'] = opts[:'transport_node_id'] if !opts[:'transport_node_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterPortArpTable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_logical_router_port_arp_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the ARP table for the Logical Router Port of the given id
    # Returns ARP table in CSV format for the Logical Router Port of the given id, on a node if a query parameter \"transport_node_id=<transport-node-id>\" is given. The transport_node_id parameter is mandatory if the router port is not uplink type. The query parameter \"source=cached\" is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id TransportNode Id
    # @return [LogicalRouterPortArpTableInCsvFormat]
    def get_logical_router_port_arp_table_in_csv_format_csv(logical_router_port_id, opts = {})
      data, _status_code, _headers = get_logical_router_port_arp_table_in_csv_format_csv_with_http_info(logical_router_port_id, opts)
      return data
    end

    # Get the ARP table for the Logical Router Port of the given id
    # Returns ARP table in CSV format for the Logical Router Port of the given id, on a node if a query parameter \&quot;transport_node_id&#x3D;&lt;transport-node-id&gt;\&quot; is given. The transport_node_id parameter is mandatory if the router port is not uplink type. The query parameter \&quot;source&#x3D;cached\&quot; is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id TransportNode Id
    # @return [Array<(LogicalRouterPortArpTableInCsvFormat, Fixnum, Hash)>] LogicalRouterPortArpTableInCsvFormat data, response status code and response headers
    def get_logical_router_port_arp_table_in_csv_format_csv_with_http_info(logical_router_port_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_logical_router_port_arp_table_in_csv_format_csv ..."
      end
      # verify the required parameter 'logical_router_port_id' is set
      if @api_client.config.client_side_validation && logical_router_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_port_id' when calling LogicalRoutingAndServicesApi.get_logical_router_port_arp_table_in_csv_format_csv"
      end
      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-router-ports/{logical-router-port-id}/arp-table?format=csv".sub('{' + 'logical-router-port-id' + '}', logical_router_port_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'transport_node_id'] = opts[:'transport_node_id'] if !opts[:'transport_node_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterPortArpTableInCsvFormat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_logical_router_port_arp_table_in_csv_format_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the statistics of a specified logical router port on all or a specified node
    # Returns the statistics for the Logical Router Port. If query parameter \"transport_node_id=<transport-node-id>\" is given,  only the statistics from the given node for the logical router port will be returned. Otherwise the statistics from each node for the same logical router port will be returned. The transport_node_id is mandatory if the router port is not uplink type. The query parameter \"source=realtime\" is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id TransportNode Id
    # @return [LogicalRouterPortStatistics]
    def get_logical_router_port_statistics(logical_router_port_id, opts = {})
      data, _status_code, _headers = get_logical_router_port_statistics_with_http_info(logical_router_port_id, opts)
      return data
    end

    # Get the statistics of a specified logical router port on all or a specified node
    # Returns the statistics for the Logical Router Port. If query parameter \&quot;transport_node_id&#x3D;&lt;transport-node-id&gt;\&quot; is given,  only the statistics from the given node for the logical router port will be returned. Otherwise the statistics from each node for the same logical router port will be returned. The transport_node_id is mandatory if the router port is not uplink type. The query parameter \&quot;source&#x3D;realtime\&quot; is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @option opts [String] :transport_node_id TransportNode Id
    # @return [Array<(LogicalRouterPortStatistics, Fixnum, Hash)>] LogicalRouterPortStatistics data, response status code and response headers
    def get_logical_router_port_statistics_with_http_info(logical_router_port_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_logical_router_port_statistics ..."
      end
      # verify the required parameter 'logical_router_port_id' is set
      if @api_client.config.client_side_validation && logical_router_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_port_id' when calling LogicalRoutingAndServicesApi.get_logical_router_port_statistics"
      end
      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-router-ports/{logical-router-port-id}/statistics".sub('{' + 'logical-router-port-id' + '}', logical_router_port_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'transport_node_id'] = opts[:'transport_node_id'] if !opts[:'transport_node_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterPortStatistics')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_logical_router_port_statistics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the statistics summary of a specified logical router port
    # Returns the summation of statistics from all nodes for the Specified Logical Router Port. The query parameter \"source=realtime\" is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @return [LogicalRouterPortStatisticsSummary]
    def get_logical_router_port_statistics_summary(logical_router_port_id, opts = {})
      data, _status_code, _headers = get_logical_router_port_statistics_summary_with_http_info(logical_router_port_id, opts)
      return data
    end

    # Get the statistics summary of a specified logical router port
    # Returns the summation of statistics from all nodes for the Specified Logical Router Port. The query parameter \&quot;source&#x3D;realtime\&quot; is not supported. 
    # @param logical_router_port_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @return [Array<(LogicalRouterPortStatisticsSummary, Fixnum, Hash)>] LogicalRouterPortStatisticsSummary data, response status code and response headers
    def get_logical_router_port_statistics_summary_with_http_info(logical_router_port_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LogicalRoutingAndServicesApi.get_logical_router_port_statistics_summary ..."
      end
      # verify the required parameter 'logical_router_port_id' is set
      if @api_client.config.client_side_validation && logical_router_port_id.nil?
        fail ArgumentError, "Missing the required parameter 'logical_router_port_id' when calling LogicalRoutingAndServicesApi.get_logical_router_port_statistics_summary"
      end
      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = "/logical-router-ports/{logical-router-port-id}/statistics/summary".sub('{' + 'logical-router-port-id' + '}', logical_router_port_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalRouterPortStatisticsSummary')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogicalRoutingAndServicesApi#get_logical_router_port_statistics_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get route table on a given node for a logical router
    # Deprecated - Please use /logical-routers/<logical-router-id>/routing/routing-table for RIB and /logical-routers/<logical-router-id>/routing/forwarding-table for FIB. Returns the route table for the logical router on a node of the given transport-node-id. Query parameter \"transport_node_id=<transport-node-id>\" is required. The query parameter \"source=cached\" is not supported. 
    # @param logical_router_id 
    # @param transport_node_id TransportNode Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :included_fields Comma separated list of fields that should be included to result of query
[...]
