=begin
#NSX-T Manager API

#VMware NSX-T Manager REST API

OpenAPI spec version: 2.5.1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.7

=end

require 'uri'

module NSXT
  class ManagementPlaneApiServicesServiceInsertionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an InstanceEndpoint for a Service Instance
    # Adds a new instance endpoint. It belongs to one service instance and is attached to one service attachment. It represents a redirection target for a Rule. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_endpoint 
    # @param [Hash] opts the optional parameters
    # @return [InstanceEndpoint]
    def add_instance_endpoint(service_id, service_instance_id, instance_endpoint, opts = {})
      data, _status_code, _headers = add_instance_endpoint_with_http_info(service_id, service_instance_id, instance_endpoint, opts)
      data
    end

    # Add an InstanceEndpoint for a Service Instance
    # Adds a new instance endpoint. It belongs to one service instance and is attached to one service attachment. It represents a redirection target for a Rule. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_endpoint 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstanceEndpoint, Fixnum, Hash)>] InstanceEndpoint data, response status code and response headers
    def add_instance_endpoint_with_http_info(service_id, service_instance_id, instance_endpoint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_instance_endpoint ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_instance_endpoint"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_instance_endpoint"
      end
      # verify the required parameter 'instance_endpoint' is set
      if @api_client.config.client_side_validation && instance_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'instance_endpoint' when calling ManagementPlaneApiServicesServiceInsertionApi.add_instance_endpoint"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}/instance-endpoints'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(instance_endpoint)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InstanceEndpoint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_instance_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a Service Attachment.
    # Adds a new Service attachment. A service attachment represents a point on NSX entity (Example: Logical Router) to which service instance can be connected through an InstanceEndpoint. 
    # @param service_attachment 
    # @param [Hash] opts the optional parameters
    # @return [ServiceAttachment]
    def add_service_attachment(service_attachment, opts = {})
      data, _status_code, _headers = add_service_attachment_with_http_info(service_attachment, opts)
      data
    end

    # Add a Service Attachment.
    # Adds a new Service attachment. A service attachment represents a point on NSX entity (Example: Logical Router) to which service instance can be connected through an InstanceEndpoint. 
    # @param service_attachment 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceAttachment, Fixnum, Hash)>] ServiceAttachment data, response status code and response headers
    def add_service_attachment_with_http_info(service_attachment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_attachment ...'
      end
      # verify the required parameter 'service_attachment' is set
      if @api_client.config.client_side_validation && service_attachment.nil?
        fail ArgumentError, "Missing the required parameter 'service_attachment' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_attachment"
      end
      # resource path
      local_var_path = '/serviceinsertion/service-attachments'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_attachment)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceAttachment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Service Chain
    # Adds a new service chain. Service Chains is can contain profile belonging to same or different Service(s). It represents a redirection target for a Rule. 
    # @param service_chain 
    # @param [Hash] opts the optional parameters
    # @return [ServiceChain]
    def add_service_chain(service_chain, opts = {})
      data, _status_code, _headers = add_service_chain_with_http_info(service_chain, opts)
      data
    end

    # Add Service Chain
    # Adds a new service chain. Service Chains is can contain profile belonging to same or different Service(s). It represents a redirection target for a Rule. 
    # @param service_chain 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceChain, Fixnum, Hash)>] ServiceChain data, response status code and response headers
    def add_service_chain_with_http_info(service_chain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_chain ...'
      end
      # verify the required parameter 'service_chain' is set
      if @api_client.config.client_side_validation && service_chain.nil?
        fail ArgumentError, "Missing the required parameter 'service_chain' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_chain"
      end
      # resource path
      local_var_path = '/serviceinsertion/service-chains'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_chain)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceChain')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_chain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a new member in the exclude list
    # Add a new member in the exclude list
    # @param resource_reference 
    # @param [Hash] opts the optional parameters
    # @return [ResourceReference]
    def add_service_insertion_exclude_list_member_add_member(resource_reference, opts = {})
      data, _status_code, _headers = add_service_insertion_exclude_list_member_add_member_with_http_info(resource_reference, opts)
      data
    end

    # Add a new member in the exclude list
    # Add a new member in the exclude list
    # @param resource_reference 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceReference, Fixnum, Hash)>] ResourceReference data, response status code and response headers
    def add_service_insertion_exclude_list_member_add_member_with_http_info(resource_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_exclude_list_member_add_member ...'
      end
      # verify the required parameter 'resource_reference' is set
      if @api_client.config.client_side_validation && resource_reference.nil?
        fail ArgumentError, "Missing the required parameter 'resource_reference' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_exclude_list_member_add_member"
      end
      # resource path
      local_var_path = '/serviceinsertion/excludelist?action=add_member'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(resource_reference)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceReference')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_insertion_exclude_list_member_add_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a Single Rule in a Section
    # Adds a new serviceinsertion rule in existing serviceinsertion section. 
    # @param section_id 
    # @param service_insertion_rule 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [ServiceInsertionRule]
    def add_service_insertion_rule_in_section(section_id, service_insertion_rule, opts = {})
      data, _status_code, _headers = add_service_insertion_rule_in_section_with_http_info(section_id, service_insertion_rule, opts)
      data
    end

    # Add a Single Rule in a Section
    # Adds a new serviceinsertion rule in existing serviceinsertion section. 
    # @param section_id 
    # @param service_insertion_rule 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(ServiceInsertionRule, Fixnum, Hash)>] ServiceInsertionRule data, response status code and response headers
    def add_service_insertion_rule_in_section_with_http_info(section_id, service_insertion_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rule_in_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rule_in_section"
      end
      # verify the required parameter 'service_insertion_rule' is set
      if @api_client.config.client_side_validation && service_insertion_rule.nil?
        fail ArgumentError, "Missing the required parameter 'service_insertion_rule' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rule_in_section"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rule_in_section, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = '/serviceinsertion/sections/{section-id}/rules'.sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_insertion_rule)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceInsertionRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_insertion_rule_in_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Multiple Rules in a Section
    # Create multiple serviceinsertion rules in existing serviceinsertion section bounded by limit of 1000 serviceinsertion rules per section. 
    # @param section_id 
    # @param service_insertion_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [ServiceInsertionRuleList]
    def add_service_insertion_rules_in_section_create_multiple(section_id, service_insertion_rule_list, opts = {})
      data, _status_code, _headers = add_service_insertion_rules_in_section_create_multiple_with_http_info(section_id, service_insertion_rule_list, opts)
      data
    end

    # Add Multiple Rules in a Section
    # Create multiple serviceinsertion rules in existing serviceinsertion section bounded by limit of 1000 serviceinsertion rules per section. 
    # @param section_id 
    # @param service_insertion_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(ServiceInsertionRuleList, Fixnum, Hash)>] ServiceInsertionRuleList data, response status code and response headers
    def add_service_insertion_rules_in_section_create_multiple_with_http_info(section_id, service_insertion_rule_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rules_in_section_create_multiple ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rules_in_section_create_multiple"
      end
      # verify the required parameter 'service_insertion_rule_list' is set
      if @api_client.config.client_side_validation && service_insertion_rule_list.nil?
        fail ArgumentError, "Missing the required parameter 'service_insertion_rule_list' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rules_in_section_create_multiple"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_rules_in_section_create_multiple, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = '/serviceinsertion/sections/{section-id}/rules?action=create_multiple'.sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_insertion_rule_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceInsertionRuleList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_insertion_rules_in_section_create_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a New Empty Section
    # Creates new empty Service Insertion section in the system. 
    # @param service_insertion_section 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [ServiceInsertionSection]
    def add_service_insertion_section(service_insertion_section, opts = {})
      data, _status_code, _headers = add_service_insertion_section_with_http_info(service_insertion_section, opts)
      data
    end

    # Create a New Empty Section
    # Creates new empty Service Insertion section in the system. 
    # @param service_insertion_section 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(ServiceInsertionSection, Fixnum, Hash)>] ServiceInsertionSection data, response status code and response headers
    def add_service_insertion_section_with_http_info(service_insertion_section, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_section ...'
      end
      # verify the required parameter 'service_insertion_section' is set
      if @api_client.config.client_side_validation && service_insertion_section.nil?
        fail ArgumentError, "Missing the required parameter 'service_insertion_section' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_section"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_section, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = '/serviceinsertion/sections'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_insertion_section)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceInsertionSection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_insertion_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Section with Rules
    # Creates a new serviceinsertion section with rules. The limit on the number of rules is defined by maxItems in collection types for ServiceInsertionRule (ServiceInsertionRuleXXXList types). When invoked on a section with a large number of rules, this API is supported only at low rates of invocation (not more than 4-5 times per minute). The typical latency of this API with about 1024 rules is about 4-5 seconds. This API should not be invoked with large payloads at automation speeds. More than 50 rules are not supported.  Instead, to create sections, use: POST /api/v1/serviceinsertion/sections  To create rules, use: POST /api/v1/serviceinsertion/sections/&lt;section-id&gt;/rules 
    # @param service_insertion_section_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [ServiceInsertionSectionRuleList]
    def add_service_insertion_section_with_rules_create_with_rules(service_insertion_section_rule_list, opts = {})
      data, _status_code, _headers = add_service_insertion_section_with_rules_create_with_rules_with_http_info(service_insertion_section_rule_list, opts)
      data
    end

    # Create a Section with Rules
    # Creates a new serviceinsertion section with rules. The limit on the number of rules is defined by maxItems in collection types for ServiceInsertionRule (ServiceInsertionRuleXXXList types). When invoked on a section with a large number of rules, this API is supported only at low rates of invocation (not more than 4-5 times per minute). The typical latency of this API with about 1024 rules is about 4-5 seconds. This API should not be invoked with large payloads at automation speeds. More than 50 rules are not supported.  Instead, to create sections, use: POST /api/v1/serviceinsertion/sections  To create rules, use: POST /api/v1/serviceinsertion/sections/&amp;lt;section-id&amp;gt;/rules 
    # @param service_insertion_section_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(ServiceInsertionSectionRuleList, Fixnum, Hash)>] ServiceInsertionSectionRuleList data, response status code and response headers
    def add_service_insertion_section_with_rules_create_with_rules_with_http_info(service_insertion_section_rule_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_section_with_rules_create_with_rules ...'
      end
      # verify the required parameter 'service_insertion_section_rule_list' is set
      if @api_client.config.client_side_validation && service_insertion_section_rule_list.nil?
        fail ArgumentError, "Missing the required parameter 'service_insertion_section_rule_list' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_section_with_rules_create_with_rules"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_section_with_rules_create_with_rules, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = '/serviceinsertion/sections?action=create_with_rules'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_insertion_section_rule_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceInsertionSectionRuleList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_insertion_section_with_rules_create_with_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Service-Insertion Service
    # Creates new Service-Insertion Service in the system. 
    # @param service_definition 
    # @param [Hash] opts the optional parameters
    # @return [ServiceDefinition]
    def add_service_insertion_service(service_definition, opts = {})
      data, _status_code, _headers = add_service_insertion_service_with_http_info(service_definition, opts)
      data
    end

    # Create a Service-Insertion Service
    # Creates new Service-Insertion Service in the system. 
    # @param service_definition 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDefinition, Fixnum, Hash)>] ServiceDefinition data, response status code and response headers
    def add_service_insertion_service_with_http_info(service_definition, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_service ...'
      end
      # verify the required parameter 'service_definition' is set
      if @api_client.config.client_side_validation && service_definition.nil?
        fail ArgumentError, "Missing the required parameter 'service_definition' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_insertion_service"
      end
      # resource path
      local_var_path = '/serviceinsertion/services'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_definition)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceDefinition')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_insertion_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a Service Instance for a specified Service.
    # Adds a new Service-Instance under the specified Service. 
    # @param service_id 
    # @param base_service_instance 
    # @param [Hash] opts the optional parameters
    # @return [BaseServiceInstance]
    def add_service_instance(service_id, base_service_instance, opts = {})
      data, _status_code, _headers = add_service_instance_with_http_info(service_id, base_service_instance, opts)
      data
    end

    # Add a Service Instance for a specified Service.
    # Adds a new Service-Instance under the specified Service. 
    # @param service_id 
    # @param base_service_instance 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseServiceInstance, Fixnum, Hash)>] BaseServiceInstance data, response status code and response headers
    def add_service_instance_with_http_info(service_id, base_service_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_service_instance ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_instance"
      end
      # verify the required parameter 'base_service_instance' is set
      if @api_client.config.client_side_validation && base_service_instance.nil?
        fail ArgumentError, "Missing the required parameter 'base_service_instance' when calling ManagementPlaneApiServicesServiceInsertionApi.add_service_instance"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(base_service_instance)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseServiceInstance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_service_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add ServiceProfile for a given Service.
    # Adds a new service profile. 
    # @param service_id 
    # @param base_service_profile 
    # @param [Hash] opts the optional parameters
    # @return [BaseServiceProfile]
    def add_si_service_profile(service_id, base_service_profile, opts = {})
      data, _status_code, _headers = add_si_service_profile_with_http_info(service_id, base_service_profile, opts)
      data
    end

    # Add ServiceProfile for a given Service.
    # Adds a new service profile. 
    # @param service_id 
    # @param base_service_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseServiceProfile, Fixnum, Hash)>] BaseServiceProfile data, response status code and response headers
    def add_si_service_profile_with_http_info(service_id, base_service_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_si_service_profile ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_si_service_profile"
      end
      # verify the required parameter 'base_service_profile' is set
      if @api_client.config.client_side_validation && base_service_profile.nil?
        fail ArgumentError, "Missing the required parameter 'base_service_profile' when calling ManagementPlaneApiServicesServiceInsertionApi.add_si_service_profile"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-profiles'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(base_service_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseServiceProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_si_service_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Vendor Template for a given Service
    # Adds a new vendor template. Vendor templates are service level objects, registered to be used in Service Profiles. 
    # @param service_id 
    # @param vendor_template 
    # @param [Hash] opts the optional parameters
    # @return [VendorTemplate]
    def add_vendor_template(service_id, vendor_template, opts = {})
      data, _status_code, _headers = add_vendor_template_with_http_info(service_id, vendor_template, opts)
      data
    end

    # Add Vendor Template for a given Service
    # Adds a new vendor template. Vendor templates are service level objects, registered to be used in Service Profiles. 
    # @param service_id 
    # @param vendor_template 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VendorTemplate, Fixnum, Hash)>] VendorTemplate data, response status code and response headers
    def add_vendor_template_with_http_info(service_id, vendor_template, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.add_vendor_template ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.add_vendor_template"
      end
      # verify the required parameter 'vendor_template' is set
      if @api_client.config.client_side_validation && vendor_template.nil?
        fail ArgumentError, "Missing the required parameter 'vendor_template' when calling ManagementPlaneApiServicesServiceInsertionApi.add_vendor_template"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/vendor-templates'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(vendor_template)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'VendorTemplate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#add_vendor_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Solution Config for a given Service
    # Adds a solution config. Solution Config are service level objects, required for configuring the NXGI partner Service after deployment. 
    # @param service_id 
    # @param solution_config 
    # @param [Hash] opts the optional parameters
    # @return [SolutionConfig]
    def create_solution_config(service_id, solution_config, opts = {})
      data, _status_code, _headers = create_solution_config_with_http_info(service_id, solution_config, opts)
      data
    end

    # Add Solution Config for a given Service
    # Adds a solution config. Solution Config are service level objects, required for configuring the NXGI partner Service after deployment. 
    # @param service_id 
    # @param solution_config 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SolutionConfig, Fixnum, Hash)>] SolutionConfig data, response status code and response headers
    def create_solution_config_with_http_info(service_id, solution_config, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.create_solution_config ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.create_solution_config"
      end
      # verify the required parameter 'solution_config' is set
      if @api_client.config.client_side_validation && solution_config.nil?
        fail ArgumentError, "Missing the required parameter 'solution_config' when calling ManagementPlaneApiServicesServiceInsertionApi.create_solution_config"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/solution-configs'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(solution_config)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SolutionConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#create_solution_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a particular InstanceEndpoint.
    # Delete instance endpoint information for a given instace endpoint. Please make sure to delete all the Service Insertion Rules, which refer to this Endpoint as 'redirect_tos' target. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_endpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_instance_endpoint(service_id, service_instance_id, instance_endpoint_id, opts = {})
      delete_instance_endpoint_with_http_info(service_id, service_instance_id, instance_endpoint_id, opts)
      nil
    end

    # Delete a particular InstanceEndpoint.
    # Delete instance endpoint information for a given instace endpoint. Please make sure to delete all the Service Insertion Rules, which refer to this Endpoint as &#39;redirect_tos&#39; target. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_endpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_instance_endpoint_with_http_info(service_id, service_instance_id, instance_endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_instance_endpoint ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_instance_endpoint"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_instance_endpoint"
      end
      # verify the required parameter 'instance_endpoint_id' is set
      if @api_client.config.client_side_validation && instance_endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_endpoint_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_instance_endpoint"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}/instance-endpoints/{instance-endpoint-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s).sub('{' + 'instance-endpoint-id' + '}', instance_endpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_instance_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an existing service attachment
    # Delete existing service attachment from system. Before deletion, please make sure that, no instance endpoints are connected to this attachment. In turn no appliance should be connected to this attachment. 
    # @param service_attachment_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_attachment(service_attachment_id, opts = {})
      delete_service_attachment_with_http_info(service_attachment_id, opts)
      nil
    end

    # Delete an existing service attachment
    # Delete existing service attachment from system. Before deletion, please make sure that, no instance endpoints are connected to this attachment. In turn no appliance should be connected to this attachment. 
    # @param service_attachment_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_attachment_with_http_info(service_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_attachment ...'
      end
      # verify the required parameter 'service_attachment_id' is set
      if @api_client.config.client_side_validation && service_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_attachment_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_attachment"
      end
      # resource path
      local_var_path = '/serviceinsertion/service-attachments/{service-attachment-id}'.sub('{' + 'service-attachment-id' + '}', service_attachment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Service Chain.
    # Delete a particular service chain. 
    # @param service_chain_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_chain(service_chain_id, opts = {})
      delete_service_chain_with_http_info(service_chain_id, opts)
      nil
    end

    # Delete a Service Chain.
    # Delete a particular service chain. 
    # @param service_chain_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_chain_with_http_info(service_chain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_chain ...'
      end
      # verify the required parameter 'service_chain_id' is set
      if @api_client.config.client_side_validation && service_chain_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_chain_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_chain"
      end
      # resource path
      local_var_path = '/serviceinsertion/service-chains/{service-chain-id}'.sub('{' + 'service-chain-id' + '}', service_chain_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_chain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Remove service deployment
    # Remove the service deployment. Will remove all the Service VMs that were created as part of this deployment. User can send optional force delete option which will force remove the deployment, but should be used only when the regular delete is not working. Regular delete will ensure proper cleanup of Service VMs and related objects. Directly calling this API without trying regular undeploy will result in unexpected results, and orphan objects. 
    # @param service_id 
    # @param service_deployment_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere  (default to false)
    # @return [nil]
    def delete_service_deployment(service_id, service_deployment_id, opts = {})
      delete_service_deployment_with_http_info(service_id, service_deployment_id, opts)
      nil
    end

    # Remove service deployment
    # Remove the service deployment. Will remove all the Service VMs that were created as part of this deployment. User can send optional force delete option which will force remove the deployment, but should be used only when the regular delete is not working. Regular delete will ensure proper cleanup of Service VMs and related objects. Directly calling this API without trying regular undeploy will result in unexpected results, and orphan objects. 
    # @param service_id 
    # @param service_deployment_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :force Force delete the resource even if it is being used somewhere 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_deployment_with_http_info(service_id, service_deployment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_deployment ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_deployment"
      end
      # verify the required parameter 'service_deployment_id' is set
      if @api_client.config.client_side_validation && service_deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_deployment_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_deployment"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-deployments/{service-deployment-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-deployment-id' + '}', service_deployment_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Existing Rule
    # Delete existing serviceinsertion rule in a serviceinsertion section. 
    # @param section_id 
    # @param rule_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_insertion_rule(section_id, rule_id, opts = {})
      delete_service_insertion_rule_with_http_info(section_id, rule_id, opts)
      nil
    end

    # Delete an Existing Rule
    # Delete existing serviceinsertion rule in a serviceinsertion section. 
    # @param section_id 
    # @param rule_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_insertion_rule_with_http_info(section_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_rule ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_rule"
      end
      # resource path
      local_var_path = '/serviceinsertion/sections/{section-id}/rules/{rule-id}'.sub('{' + 'section-id' + '}', section_id.to_s).sub('{' + 'rule-id' + '}', rule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_insertion_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Existing Section and Its Associated Rules
    # Removes serviceinsertion section from the system. ServiceInsertion section with rules can only be deleted by passing \"cascade=true\" parameter. 
    # @param section_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to cascade delete of this object to all it&#39;s child objects. (default to false)
    # @return [nil]
    def delete_service_insertion_section(section_id, opts = {})
      delete_service_insertion_section_with_http_info(section_id, opts)
      nil
    end

    # Delete an Existing Section and Its Associated Rules
    # Removes serviceinsertion section from the system. ServiceInsertion section with rules can only be deleted by passing \&quot;cascade&#x3D;true\&quot; parameter. 
    # @param section_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to cascade delete of this object to all it&#39;s child objects.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_insertion_section_with_http_info(section_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_section"
      end
      # resource path
      local_var_path = '/serviceinsertion/sections/{section-id}'.sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_insertion_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an existing Service and the Service-Instance associated with it.
    # Removes Service-Insertion Service from the system. A Service with Service-Instances can only be deleted by passing \"cascade=true\" parameter. 
    # @param service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to cascade delete all the child objects, associated with it. (default to false)
    # @return [nil]
    def delete_service_insertion_service(service_id, opts = {})
      delete_service_insertion_service_with_http_info(service_id, opts)
      nil
    end

    # Delete an existing Service and the Service-Instance associated with it.
    # Removes Service-Insertion Service from the system. A Service with Service-Instances can only be deleted by passing \&quot;cascade&#x3D;true\&quot; parameter. 
    # @param service_id 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to cascade delete all the child objects, associated with it.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_insertion_service_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_service ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_insertion_service"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_insertion_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an existing Service-Instance
    # Delete existing Service-Instance for a given Service-Insertion Service. 
    # @param service_id 
    # @param service_instance_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_instance(service_id, service_instance_id, opts = {})
      delete_service_instance_with_http_info(service_id, service_instance_id, opts)
      nil
    end

    # Delete an existing Service-Instance
    # Delete existing Service-Instance for a given Service-Insertion Service. 
    # @param service_id 
    # @param service_instance_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_instance_with_http_info(service_id, service_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_instance ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_instance"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_instance"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete service manager
    # Delete service-manager which is registered with NSX with basic details like name, username, password.
    # @param service_manager_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_manager(service_manager_id, opts = {})
      delete_service_manager_with_http_info(service_manager_id, opts)
      nil
    end

    # Delete service manager
    # Delete service-manager which is registered with NSX with basic details like name, username, password.
    # @param service_manager_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_manager_with_http_info(service_manager_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_manager ...'
      end
      # verify the required parameter 'service_manager_id' is set
      if @api_client.config.client_side_validation && service_manager_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_manager_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_manager"
      end
      # resource path
      local_var_path = '/serviceinsertion/service-managers/{service-manager-id}'.sub('{' + 'service-manager-id' + '}', service_manager_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Remove service VMs either as standalone or HA
    # Undeploy one service VM as standalone or two service VMs as HA. Associated deployment information and instance runtime will also be deleted once service VMs have been un-deployed successfully. 
    # @param service_id 
    # @param service_instance_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_v_ms_delete(service_id, service_instance_id, opts = {})
      delete_service_v_ms_delete_with_http_info(service_id, service_instance_id, opts)
      nil
    end

    # Remove service VMs either as standalone or HA
    # Undeploy one service VM as standalone or two service VMs as HA. Associated deployment information and instance runtime will also be deleted once service VMs have been un-deployed successfully. 
    # @param service_id 
    # @param service_instance_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_service_v_ms_delete_with_http_info(service_id, service_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_service_v_ms_delete ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_v_ms_delete"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_service_v_ms_delete"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}/instance-runtimes?action=delete'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_service_v_ms_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a particular ServiceProfile.
    # Delete service profile for a given service. 
    # @param service_id 
    # @param service_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_si_service_profile(service_id, service_profile_id, opts = {})
      delete_si_service_profile_with_http_info(service_id, service_profile_id, opts)
      nil
    end

    # Delete a particular ServiceProfile.
    # Delete service profile for a given service. 
    # @param service_id 
    # @param service_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_si_service_profile_with_http_info(service_id, service_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_si_service_profile ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_si_service_profile"
      end
      # verify the required parameter 'service_profile_id' is set
      if @api_client.config.client_side_validation && service_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_profile_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_si_service_profile"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-profiles/{service-profile-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-profile-id' + '}', service_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_si_service_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes solution config information.
    # Deletes solution config information for a given service. 
    # @param service_id 
    # @param solution_config_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_solution_config(service_id, solution_config_id, opts = {})
      delete_solution_config_with_http_info(service_id, solution_config_id, opts)
      nil
    end

    # Deletes solution config information.
    # Deletes solution config information for a given service. 
    # @param service_id 
    # @param solution_config_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_solution_config_with_http_info(service_id, solution_config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_solution_config ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_solution_config"
      end
      # verify the required parameter 'solution_config_id' is set
      if @api_client.config.client_side_validation && solution_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'solution_config_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_solution_config"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/solution-configs/{solution-config-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'solution-config-id' + '}', solution_config_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_solution_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a particular vendor tempalte.
    # Delete vendor template information for a given service. Please make sure to delete all the Service Profile(s), which refer to this vendor tempalte before deleting the template itself. 
    # @param service_id 
    # @param vendor_template_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vendor_template(service_id, vendor_template_id, opts = {})
      delete_vendor_template_with_http_info(service_id, vendor_template_id, opts)
      nil
    end

    # Delete a particular vendor tempalte.
    # Delete vendor template information for a given service. Please make sure to delete all the Service Profile(s), which refer to this vendor tempalte before deleting the template itself. 
    # @param service_id 
    # @param vendor_template_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_vendor_template_with_http_info(service_id, vendor_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.delete_vendor_template ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_vendor_template"
      end
      # verify the required parameter 'vendor_template_id' is set
      if @api_client.config.client_side_validation && vendor_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'vendor_template_id' when calling ManagementPlaneApiServicesServiceInsertionApi.delete_vendor_template"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/vendor-templates/{vendor-template-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'vendor-template-id' + '}', vendor_template_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#delete_vendor_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deploys a particular service
    # This will deploy a particular service on a given cluster / host. Internally multiple service instance can be created during the deployment. If there are no issues in the parameters, the call returns immediately, and the service VMs will be deployed asynchronously. To get the overall status of the deployment or to get the status of individual service vm, please use the deployment status APIs. 
    # @param service_id 
    # @param service_deployment 
    # @param [Hash] opts the optional parameters
    # @return [ServiceDeployment]
    def deploy_service(service_id, service_deployment, opts = {})
      data, _status_code, _headers = deploy_service_with_http_info(service_id, service_deployment, opts)
      data
    end

    # Deploys a particular service
    # This will deploy a particular service on a given cluster / host. Internally multiple service instance can be created during the deployment. If there are no issues in the parameters, the call returns immediately, and the service VMs will be deployed asynchronously. To get the overall status of the deployment or to get the status of individual service vm, please use the deployment status APIs. 
    # @param service_id 
    # @param service_deployment 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceDeployment, Fixnum, Hash)>] ServiceDeployment data, response status code and response headers
    def deploy_service_with_http_info(service_id, service_deployment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.deploy_service ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.deploy_service"
      end
      # verify the required parameter 'service_deployment' is set
      if @api_client.config.client_side_validation && service_deployment.nil?
        fail ArgumentError, "Missing the required parameter 'service_deployment' when calling ManagementPlaneApiServicesServiceInsertionApi.deploy_service"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-deployments'.sub('{' + 'service-id' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(service_deployment)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ServiceDeployment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#deploy_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deploy and set up service VMs either as standalone or HA
    # Deploys one service VM as standalone, or two service VMs as HA where one VM is active and another one is standby.  During the deployment of service VMs, service will be set up based on deployment events using callbacks. 
    # @param service_id 
    # @param service_instance_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def deploy_service_v_ms_deploy(service_id, service_instance_id, opts = {})
      deploy_service_v_ms_deploy_with_http_info(service_id, service_instance_id, opts)
      nil
    end

    # Deploy and set up service VMs either as standalone or HA
    # Deploys one service VM as standalone, or two service VMs as HA where one VM is active and another one is standby.  During the deployment of service VMs, service will be set up based on deployment events using callbacks. 
    # @param service_id 
    # @param service_instance_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def deploy_service_v_ms_deploy_with_http_info(service_id, service_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.deploy_service_v_ms_deploy ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.deploy_service_v_ms_deploy"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.deploy_service_v_ms_deploy"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}/instance-runtimes?action=deploy'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#deploy_service_v_ms_deploy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a particular instance endpoint for a service instance.
    # Returns detailed Endpoint information for a given InstanceEndpoint. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_endpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [InstanceEndpoint]
    def get_instance_endpoint(service_id, service_instance_id, instance_endpoint_id, opts = {})
      data, _status_code, _headers = get_instance_endpoint_with_http_info(service_id, service_instance_id, instance_endpoint_id, opts)
      data
    end

    # Get a particular instance endpoint for a service instance.
    # Returns detailed Endpoint information for a given InstanceEndpoint. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_endpoint_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstanceEndpoint, Fixnum, Hash)>] InstanceEndpoint data, response status code and response headers
    def get_instance_endpoint_with_http_info(service_id, service_instance_id, instance_endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.get_instance_endpoint ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.get_instance_endpoint"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.get_instance_endpoint"
      end
      # verify the required parameter 'instance_endpoint_id' is set
      if @api_client.config.client_side_validation && instance_endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_endpoint_id' when calling ManagementPlaneApiServicesServiceInsertionApi.get_instance_endpoint"
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}/instance-endpoints/{instance-endpoint-id}'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s).sub('{' + 'instance-endpoint-id' + '}', instance_endpoint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InstanceEndpoint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#get_instance_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get operational status for an interface
    # Returns operational status of a specified interface
    # @param service_id 
    # @param service_instance_id 
    # @param instance_runtime_id 
    # @param interface_index 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @return [RuntimeInterfaceOperationalStatus]
    def get_runtime_interface_operational_status(service_id, service_instance_id, instance_runtime_id, interface_index, opts = {})
      data, _status_code, _headers = get_runtime_interface_operational_status_with_http_info(service_id, service_instance_id, instance_runtime_id, interface_index, opts)
      data
    end

    # Get operational status for an interface
    # Returns operational status of a specified interface
    # @param service_id 
    # @param service_instance_id 
    # @param instance_runtime_id 
    # @param interface_index 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @return [Array<(RuntimeInterfaceOperationalStatus, Fixnum, Hash)>] RuntimeInterfaceOperationalStatus data, response status code and response headers
    def get_runtime_interface_operational_status_with_http_info(service_id, service_instance_id, instance_runtime_id, interface_index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiServicesServiceInsertionApi.get_runtime_interface_operational_status ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling ManagementPlaneApiServicesServiceInsertionApi.get_runtime_interface_operational_status"
      end
      # verify the required parameter 'service_instance_id' is set
      if @api_client.config.client_side_validation && service_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_instance_id' when calling ManagementPlaneApiServicesServiceInsertionApi.get_runtime_interface_operational_status"
      end
      # verify the required parameter 'instance_runtime_id' is set
      if @api_client.config.client_side_validation && instance_runtime_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_runtime_id' when calling ManagementPlaneApiServicesServiceInsertionApi.get_runtime_interface_operational_status"
      end
      # verify the required parameter 'interface_index' is set
      if @api_client.config.client_side_validation && interface_index.nil?
        fail ArgumentError, "Missing the required parameter 'interface_index' when calling ManagementPlaneApiServicesServiceInsertionApi.get_runtime_interface_operational_status"
      end
      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = '/serviceinsertion/services/{service-id}/service-instances/{service-instance-id}/instance-runtimes/{instance-runtime-id}/interfaces/{interface_index}/status'.sub('{' + 'service-id' + '}', service_id.to_s).sub('{' + 'service-instance-id' + '}', service_instance_id.to_s).sub('{' + 'instance-runtime-id' + '}', instance_runtime_id.to_s).sub('{' + 'interface_index' + '}', interface_index.to_s)

      # query parameters
      query_params = {}
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RuntimeInterfaceOperationalStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiServicesServiceInsertionApi#get_runtime_interface_operational_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get statistics for a given interface identified by the interface index
    # Returns statistics of a specified interface via associated logical port. If the logical port is attached to a logical router port, query parameter \"source=realtime\" is not supported. 
    # @param service_id 
    # @param service_instance_id 
    # @param instance_runtime_id 
    # @param interface_index 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Data source type.
    # @return [RuntimeInterfaceStatistics]
    def get_runtime_interface_statistics(service_id, service_instance_id, instance_runtime_id, interface_index, opts = {})
[...]
