=begin
#NSX API

#VMware NSX REST API

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module NSXT
  class NsxComponentAdministrationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a New Certificate
    # Adds a new private-public certificate or a chain of certificates (CAs) and, optionally, a private key that can be applied to one of the user-facing components (appliance management or edge). The certificate and the key should be stored in PEM format. If no private key is provided, the certificate is used as a client certificate in the trust store. 
    # @param trust_object_data 
    # @param [Hash] opts the optional parameters
    # @return [CertificateList]
    def add_certificate_import(trust_object_data, opts = {})
      data, _status_code, _headers = add_certificate_import_with_http_info(trust_object_data, opts)
      return data
    end

    # Add a New Certificate
    # Adds a new private-public certificate or a chain of certificates (CAs) and, optionally, a private key that can be applied to one of the user-facing components (appliance management or edge). The certificate and the key should be stored in PEM format. If no private key is provided, the certificate is used as a client certificate in the trust store. 
    # @param trust_object_data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateList, Fixnum, Hash)>] CertificateList data, response status code and response headers
    def add_certificate_import_with_http_info(trust_object_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.add_certificate_import ..."
      end
      # verify the required parameter 'trust_object_data' is set
      if @api_client.config.client_side_validation && trust_object_data.nil?
        fail ArgumentError, "Missing the required parameter 'trust_object_data' when calling NsxComponentAdministrationApi.add_certificate_import"
      end
      # resource path
      local_var_path = "/trust-management/certificates?action=import"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(trust_object_data)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CertificateList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#add_certificate_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a Node to the Cluster
    # Adds a new management node or controller node to the NSX cluster. A single node can perform one role, either management or control, not both. 
    # @param add_cluster_node_spec 
    # @param action 
    # @param [Hash] opts the optional parameters
    # @return [ClusterNodeConfig]
    def add_cluster_node(add_cluster_node_spec, action, opts = {})
      data, _status_code, _headers = add_cluster_node_with_http_info(add_cluster_node_spec, action, opts)
      return data
    end

    # Add a Node to the Cluster
    # Adds a new management node or controller node to the NSX cluster. A single node can perform one role, either management or control, not both. 
    # @param add_cluster_node_spec 
    # @param action 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClusterNodeConfig, Fixnum, Hash)>] ClusterNodeConfig data, response status code and response headers
    def add_cluster_node_with_http_info(add_cluster_node_spec, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.add_cluster_node ..."
      end
      # verify the required parameter 'add_cluster_node_spec' is set
      if @api_client.config.client_side_validation && add_cluster_node_spec.nil?
        fail ArgumentError, "Missing the required parameter 'add_cluster_node_spec' when calling NsxComponentAdministrationApi.add_cluster_node"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling NsxComponentAdministrationApi.add_cluster_node"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['add_cluster_node'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of add_cluster_node"
      end
      # resource path
      local_var_path = "/cluster/nodes"

      # query parameters
      query_params = {}
      query_params[:'action'] = action

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(add_cluster_node_spec)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterNodeConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#add_cluster_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a New Certificate Revocation List
    # Adds a new certificate revocation list (CRL). The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. 
    # @param crl_object_data 
    # @param [Hash] opts the optional parameters
    # @return [CrlList]
    def add_crl_import(crl_object_data, opts = {})
      data, _status_code, _headers = add_crl_import_with_http_info(crl_object_data, opts)
      return data
    end

    # Add a New Certificate Revocation List
    # Adds a new certificate revocation list (CRL). The CRL is used to verify the client certificate status against the revocation lists published by the CA. For this reason, the administrator needs to add the CRL in certificate repository as well. 
    # @param crl_object_data 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CrlList, Fixnum, Hash)>] CrlList data, response status code and response headers
    def add_crl_import_with_http_info(crl_object_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.add_crl_import ..."
      end
      # verify the required parameter 'crl_object_data' is set
      if @api_client.config.client_side_validation && crl_object_data.nil?
        fail ArgumentError, "Missing the required parameter 'crl_object_data' when calling NsxComponentAdministrationApi.add_crl_import"
      end
      # resource path
      local_var_path = "/trust-management/crls?action=import"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(crl_object_data)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CrlList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#add_crl_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add SSH public key to authorized_keys file for node user
    # Add SSH public key to authorized_keys file for node user
    # @param userid User id of the user
    # @param ssh_key_properties 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_node_user_ssh_key_add_ssh_key(userid, ssh_key_properties, opts = {})
      add_node_user_ssh_key_add_ssh_key_with_http_info(userid, ssh_key_properties, opts)
      return nil
    end

    # Add SSH public key to authorized_keys file for node user
    # Add SSH public key to authorized_keys file for node user
    # @param userid User id of the user
    # @param ssh_key_properties 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_node_user_ssh_key_add_ssh_key_with_http_info(userid, ssh_key_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.add_node_user_ssh_key_add_ssh_key ..."
      end
      # verify the required parameter 'userid' is set
      if @api_client.config.client_side_validation && userid.nil?
        fail ArgumentError, "Missing the required parameter 'userid' when calling NsxComponentAdministrationApi.add_node_user_ssh_key_add_ssh_key"
      end
      # verify the required parameter 'ssh_key_properties' is set
      if @api_client.config.client_side_validation && ssh_key_properties.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_key_properties' when calling NsxComponentAdministrationApi.add_node_user_ssh_key_add_ssh_key"
      end
      # resource path
      local_var_path = "/node/users/{userid}/ssh-keys?action=add_ssh_key".sub('{' + 'userid' + '}', userid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(ssh_key_properties)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#add_node_user_ssh_key_add_ssh_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Advance any suspended restore operation
    # Advance any currently suspended restore operation. The operation might have been suspended because (1) the user had suspended it previously, or (2) the operation is waiting for user input, to be provided as a part of the POST request body. This operation is only valid when a GET cluster/restore/status returns a status with value SUSPENDED. Otherwise, a 409 response is returned. 
    # @param advance_cluster_restore_request 
    # @param [Hash] opts the optional parameters
    # @return [ClusterRestoreStatus]
    def advance_cluster_restore_advance(advance_cluster_restore_request, opts = {})
      data, _status_code, _headers = advance_cluster_restore_advance_with_http_info(advance_cluster_restore_request, opts)
      return data
    end

    # Advance any suspended restore operation
    # Advance any currently suspended restore operation. The operation might have been suspended because (1) the user had suspended it previously, or (2) the operation is waiting for user input, to be provided as a part of the POST request body. This operation is only valid when a GET cluster/restore/status returns a status with value SUSPENDED. Otherwise, a 409 response is returned. 
    # @param advance_cluster_restore_request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClusterRestoreStatus, Fixnum, Hash)>] ClusterRestoreStatus data, response status code and response headers
    def advance_cluster_restore_advance_with_http_info(advance_cluster_restore_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.advance_cluster_restore_advance ..."
      end
      # verify the required parameter 'advance_cluster_restore_request' is set
      if @api_client.config.client_side_validation && advance_cluster_restore_request.nil?
        fail ArgumentError, "Missing the required parameter 'advance_cluster_restore_request' when calling NsxComponentAdministrationApi.advance_cluster_restore_advance"
      end
      # resource path
      local_var_path = "/cluster/restore?action=advance"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(advance_cluster_restore_request)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterRestoreStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#advance_cluster_restore_advance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel specified task
    # Cancel specified task
    # @param task_id ID of task to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_appliance_management_task_cancel(task_id, opts = {})
      cancel_appliance_management_task_cancel_with_http_info(task_id, opts)
      return nil
    end

    # Cancel specified task
    # Cancel specified task
    # @param task_id ID of task to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def cancel_appliance_management_task_cancel_with_http_info(task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.cancel_appliance_management_task_cancel ..."
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling NsxComponentAdministrationApi.cancel_appliance_management_task_cancel"
      end
      # resource path
      local_var_path = "/node/tasks/{task-id}?action=cancel".sub('{' + 'task-id' + '}', task_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#cancel_appliance_management_task_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel any running restore operation
    # Cancel any currently running restore operation. If there exists a currently running step, it is allowed to finish. The system is not rolled back to the pre-restore state. This operation is only valid when a GET cluster/restore/status returns a status with value RUNNING or SUSPENDED. Otherwise, a 409 response is returned. 
    # @param [Hash] opts the optional parameters
    # @return [ClusterRestoreStatus]
    def cancel_cluster_restore_cancel(opts = {})
      data, _status_code, _headers = cancel_cluster_restore_cancel_with_http_info(opts)
      return data
    end

    # Cancel any running restore operation
    # Cancel any currently running restore operation. If there exists a currently running step, it is allowed to finish. The system is not rolled back to the pre-restore state. This operation is only valid when a GET cluster/restore/status returns a status with value RUNNING or SUSPENDED. Otherwise, a 409 response is returned. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClusterRestoreStatus, Fixnum, Hash)>] ClusterRestoreStatus data, response status code and response headers
    def cancel_cluster_restore_cancel_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.cancel_cluster_restore_cancel ..."
      end
      # resource path
      local_var_path = "/cluster/restore?action=cancel"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClusterRestoreStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#cancel_cluster_restore_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if RabbitMQ management port is enabled or not
    # Returns status as true if RabbitMQ management port is enabled else false
    # @param [Hash] opts the optional parameters
    # @return [PortStatus]
    def check_rabbit_mq_management_port(opts = {})
      data, _status_code, _headers = check_rabbit_mq_management_port_with_http_info(opts)
      return data
    end

    # Check if RabbitMQ management port is enabled or not
    # Returns status as true if RabbitMQ management port is enabled else false
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortStatus, Fixnum, Hash)>] PortStatus data, response status code and response headers
    def check_rabbit_mq_management_port_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.check_rabbit_mq_management_port ..."
      end
      # resource path
      local_var_path = "/node/rabbitmq-management-port"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#check_rabbit_mq_management_port\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Collect support bundles from registered cluster and fabric nodes
    # Collect support bundles from registered cluster and fabric nodes.
    # @param support_bundle_request 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override_async_response Override any existing support bundle async response (default to false)
    # @return [SupportBundleResult]
    def collect_support_bundles_collect(support_bundle_request, opts = {})
      data, _status_code, _headers = collect_support_bundles_collect_with_http_info(support_bundle_request, opts)
      return data
    end

    # Collect support bundles from registered cluster and fabric nodes
    # Collect support bundles from registered cluster and fabric nodes.
    # @param support_bundle_request 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override_async_response Override any existing support bundle async response
    # @return [Array<(SupportBundleResult, Fixnum, Hash)>] SupportBundleResult data, response status code and response headers
    def collect_support_bundles_collect_with_http_info(support_bundle_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.collect_support_bundles_collect ..."
      end
      # verify the required parameter 'support_bundle_request' is set
      if @api_client.config.client_side_validation && support_bundle_request.nil?
        fail ArgumentError, "Missing the required parameter 'support_bundle_request' when calling NsxComponentAdministrationApi.collect_support_bundles_collect"
      end
      # resource path
      local_var_path = "/administration/support-bundles?action=collect"

      # query parameters
      query_params = {}
      query_params[:'override_async_response'] = opts[:'override_async_response'] if !opts[:'override_async_response'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(support_bundle_request)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SupportBundleResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#collect_support_bundles_collect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure backup
    # Configure file server and timers for automated backup. If secret fields are omitted (password, passphrase) then use the previously set value. 
    # @param backup_configuration 
    # @param [Hash] opts the optional parameters
    # @return [BackupConfiguration]
    def configure_backup_config(backup_configuration, opts = {})
      data, _status_code, _headers = configure_backup_config_with_http_info(backup_configuration, opts)
      return data
    end

    # Configure backup
    # Configure file server and timers for automated backup. If secret fields are omitted (password, passphrase) then use the previously set value. 
    # @param backup_configuration 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BackupConfiguration, Fixnum, Hash)>] BackupConfiguration data, response status code and response headers
    def configure_backup_config_with_http_info(backup_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.configure_backup_config ..."
      end
      # verify the required parameter 'backup_configuration' is set
      if @api_client.config.client_side_validation && backup_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'backup_configuration' when calling NsxComponentAdministrationApi.configure_backup_config"
      end
      # resource path
      local_var_path = "/cluster/backups/config"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(backup_configuration)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BackupConfiguration')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#configure_backup_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure Restore SFTP server credentials
    # Configure file server where the backed-up files used for the Restore operation are available. 
    # @param restore_configuration 
    # @param [Hash] opts the optional parameters
    # @return [RestoreConfiguration]
    def configure_restore_config(restore_configuration, opts = {})
      data, _status_code, _headers = configure_restore_config_with_http_info(restore_configuration, opts)
      return data
    end

    # Configure Restore SFTP server credentials
    # Configure file server where the backed-up files used for the Restore operation are available. 
    # @param restore_configuration 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RestoreConfiguration, Fixnum, Hash)>] RestoreConfiguration data, response status code and response headers
    def configure_restore_config_with_http_info(restore_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.configure_restore_config ..."
      end
      # verify the required parameter 'restore_configuration' is set
      if @api_client.config.client_side_validation && restore_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'restore_configuration' when calling NsxComponentAdministrationApi.configure_restore_config"
      end
      # resource path
      local_var_path = "/cluster/restore/config"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(restore_configuration)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'RestoreConfiguration')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#configure_restore_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy a remote file to the file store
    # Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server's SSH fingerprint. See the <i>NSX-T Administration Guide</i> for information and instructions about finding the SSH fingerprint. 
    # @param file_name Destination filename
    # @param copy_from_remote_file_properties 
    # @param [Hash] opts the optional parameters
    # @return [FileProperties]
    def copy_from_remote_file_copy_from_remote_file(file_name, copy_from_remote_file_properties, opts = {})
      data, _status_code, _headers = copy_from_remote_file_copy_from_remote_file_with_http_info(file_name, copy_from_remote_file_properties, opts)
      return data
    end

    # Copy a remote file to the file store
    # Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server&#39;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
    # @param file_name Destination filename
    # @param copy_from_remote_file_properties 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileProperties, Fixnum, Hash)>] FileProperties data, response status code and response headers
    def copy_from_remote_file_copy_from_remote_file_with_http_info(file_name, copy_from_remote_file_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.copy_from_remote_file_copy_from_remote_file ..."
      end
      # verify the required parameter 'file_name' is set
      if @api_client.config.client_side_validation && file_name.nil?
        fail ArgumentError, "Missing the required parameter 'file_name' when calling NsxComponentAdministrationApi.copy_from_remote_file_copy_from_remote_file"
      end
      # verify the required parameter 'copy_from_remote_file_properties' is set
      if @api_client.config.client_side_validation && copy_from_remote_file_properties.nil?
        fail ArgumentError, "Missing the required parameter 'copy_from_remote_file_properties' when calling NsxComponentAdministrationApi.copy_from_remote_file_copy_from_remote_file"
      end
      # resource path
      local_var_path = "/node/file-store/{file-name}?action=copy_from_remote_file".sub('{' + 'file-name' + '}', file_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(copy_from_remote_file_properties)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FileProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#copy_from_remote_file_copy_from_remote_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy file in the file store to a remote file store
    # Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server's SSH fingerprint. See the <i>NSX-T Administration Guide</i> for information and instructions about finding the SSH fingerprint. 
    # @param file_name Destination filename
    # @param copy_to_remote_file_properties 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def copy_to_remote_file_copy_to_remote_file(file_name, copy_to_remote_file_properties, opts = {})
      copy_to_remote_file_copy_to_remote_file_with_http_info(file_name, copy_to_remote_file_properties, opts)
      return nil
    end

    # Copy file in the file store to a remote file store
    # Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server&#39;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
    # @param file_name Destination filename
    # @param copy_to_remote_file_properties 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def copy_to_remote_file_copy_to_remote_file_with_http_info(file_name, copy_to_remote_file_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.copy_to_remote_file_copy_to_remote_file ..."
      end
      # verify the required parameter 'file_name' is set
      if @api_client.config.client_side_validation && file_name.nil?
        fail ArgumentError, "Missing the required parameter 'file_name' when calling NsxComponentAdministrationApi.copy_to_remote_file_copy_to_remote_file"
      end
      # verify the required parameter 'copy_to_remote_file_properties' is set
      if @api_client.config.client_side_validation && copy_to_remote_file_properties.nil?
        fail ArgumentError, "Missing the required parameter 'copy_to_remote_file_properties' when calling NsxComponentAdministrationApi.copy_to_remote_file_copy_to_remote_file"
      end
      # resource path
      local_var_path = "/node/file-store/{file-name}?action=copy_to_remote_file".sub('{' + 'file-name' + '}', file_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(copy_to_remote_file_properties)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#copy_to_remote_file_copy_to_remote_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart the node management service
    # Restart the node management service
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_appliance_management_service_action_restart(opts = {})
      create_appliance_management_service_action_restart_with_http_info(opts)
      return nil
    end

    # Restart the node management service
    # Restart the node management service
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_appliance_management_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_appliance_management_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/node-mgmt?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_appliance_management_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cminventory_service_action_restart(opts = {})
      data, _status_code, _headers = create_cminventory_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cminventory_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_cminventory_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/cm-inventory?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_cminventory_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cminventory_service_action_start(opts = {})
      data, _status_code, _headers = create_cminventory_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cminventory_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_cminventory_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/cm-inventory?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_cminventory_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cminventory_service_action_stop(opts = {})
      data, _status_code, _headers = create_cminventory_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cminventory_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_cminventory_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/cm-inventory?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_cminventory_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a file to the file store
    # When you issue this API, the client must specify: - HTTP header Content-Type:application/octet-stream. - Request body with the contents of the file in the filestore. In the CLI, you can view the filestore with the <em>get files</em> command. 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [FileProperties]
    def create_file(file_name, opts = {})
      data, _status_code, _headers = create_file_with_http_info(file_name, opts)
      return data
    end

    # Upload a file to the file store
    # When you issue this API, the client must specify: - HTTP header Content-Type:application/octet-stream. - Request body with the contents of the file in the filestore. In the CLI, you can view the filestore with the &lt;em&gt;get files&lt;/em&gt; command. 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileProperties, Fixnum, Hash)>] FileProperties data, response status code and response headers
    def create_file_with_http_info(file_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_file ..."
      end
      # verify the required parameter 'file_name' is set
      if @api_client.config.client_side_validation && file_name.nil?
        fail ArgumentError, "Missing the required parameter 'file_name' when calling NsxComponentAdministrationApi.create_file"
      end
      # resource path
      local_var_path = "/node/file-store/{file-name}".sub('{' + 'file-name' + '}', file_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/octet-stream'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FileProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_liagent_service_action_restart(opts = {})
      data, _status_code, _headers = create_liagent_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_liagent_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_liagent_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/liagent?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_liagent_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_liagent_service_action_start(opts = {})
      data, _status_code, _headers = create_liagent_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_liagent_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_liagent_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/liagent?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_liagent_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_liagent_service_action_stop(opts = {})
      data, _status_code, _headers = create_liagent_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_liagent_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_liagent_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/liagent?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_liagent_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create node network route
    # Add a route to the NSX Manager routing table. For static routes, the route_type, interface_id, netmask, and destination are required parameters. For default routes, the route_type, gateway address, and interface_id are required. For blackhole routes, the route_type and destination are required. All other parameters are optional. When you add a static route, the scope and route_id are created automatically. When you add a default or blackhole route, the route_id is created automatically. The route_id is read-only, meaning that it cannot be modified. All other properties can be modified by deleting and readding the route. 
    # @param node_route_properties 
    # @param [Hash] opts the optional parameters
    # @return [NodeRouteProperties]
    def create_node_network_route(node_route_properties, opts = {})
      data, _status_code, _headers = create_node_network_route_with_http_info(node_route_properties, opts)
      return data
    end

    # Create node network route
    # Add a route to the NSX Manager routing table. For static routes, the route_type, interface_id, netmask, and destination are required parameters. For default routes, the route_type, gateway address, and interface_id are required. For blackhole routes, the route_type and destination are required. All other parameters are optional. When you add a static route, the scope and route_id are created automatically. When you add a default or blackhole route, the route_id is created automatically. The route_id is read-only, meaning that it cannot be modified. All other properties can be modified by deleting and readding the route. 
    # @param node_route_properties 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeRouteProperties, Fixnum, Hash)>] NodeRouteProperties data, response status code and response headers
    def create_node_network_route_with_http_info(node_route_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_node_network_route ..."
      end
      # verify the required parameter 'node_route_properties' is set
      if @api_client.config.client_side_validation && node_route_properties.nil?
        fail ArgumentError, "Missing the required parameter 'node_route_properties' when calling NsxComponentAdministrationApi.create_node_network_route"
      end
      # resource path
      local_var_path = "/node/network/routes"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(node_route_properties)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeRouteProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_node_network_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_message_bus_service_action_restart(opts = {})
      data, _status_code, _headers = create_nsx_message_bus_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_message_bus_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_nsx_message_bus_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/nsx-message-bus?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_nsx_message_bus_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_message_bus_service_action_start(opts = {})
      data, _status_code, _headers = create_nsx_message_bus_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_message_bus_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_nsx_message_bus_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/nsx-message-bus?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_nsx_message_bus_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_message_bus_service_action_stop(opts = {})
      data, _status_code, _headers = create_nsx_message_bus_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_message_bus_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_nsx_message_bus_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/nsx-message-bus?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_nsx_message_bus_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_upgrade_agent_service_action_restart(opts = {})
      data, _status_code, _headers = create_nsx_upgrade_agent_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_upgrade_agent_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_nsx_upgrade_agent_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/nsx-upgrade-agent?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_nsx_upgrade_agent_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_upgrade_agent_service_action_start(opts = {})
      data, _status_code, _headers = create_nsx_upgrade_agent_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_upgrade_agent_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_nsx_upgrade_agent_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/nsx-upgrade-agent?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_nsx_upgrade_agent_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_upgrade_agent_service_action_stop(opts = {})
      data, _status_code, _headers = create_nsx_upgrade_agent_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_upgrade_agent_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_nsx_upgrade_agent_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/nsx-upgrade-agent?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_nsx_upgrade_agent_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_ntp_service_action_restart(opts = {})
      data, _status_code, _headers = create_ntp_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_ntp_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_ntp_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/ntp?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_ntp_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_ntp_service_action_start(opts = {})
      data, _status_code, _headers = create_ntp_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_ntp_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_ntp_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/ntp?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_ntp_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_ntp_service_action_stop(opts = {})
      data, _status_code, _headers = create_ntp_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_ntp_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_ntp_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/ntp?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_ntp_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the service
    # Restart, start or stop the service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_proton_service_action_restart(opts = {})
      data, _status_code, _headers = create_proton_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the service
    # Restart, start or stop the service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_proton_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proton_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/manager?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proton_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the service
    # Restart, start or stop the service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_proton_service_action_start(opts = {})
      data, _status_code, _headers = create_proton_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the service
    # Restart, start or stop the service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_proton_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proton_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/manager?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proton_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the service
    # Restart, start or stop the service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_proton_service_action_stop(opts = {})
      data, _status_code, _headers = create_proton_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the service
    # Restart, start or stop the service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_proton_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proton_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/manager?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proton_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart the http service
    # Restart the http service
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_proxy_service_action_restart(opts = {})
      create_proxy_service_action_restart_with_http_info(opts)
      return nil
    end

    # Restart the http service
    # Restart the http service
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_proxy_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proxy_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/http?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proxy_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start the http service
    # Start the http service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_proxy_service_action_start(opts = {})
      data, _status_code, _headers = create_proxy_service_action_start_with_http_info(opts)
      return data
    end

    # Start the http service
    # Start the http service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_proxy_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proxy_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/http?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proxy_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop the http service
    # Stop the http service
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_proxy_service_action_stop(opts = {})
      create_proxy_service_action_stop_with_http_info(opts)
      return nil
    end

    # Stop the http service
    # Stop the http service
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_proxy_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proxy_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/http?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proxy_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update http service certificate
    # Applies a security certificate to the http service. In the POST request, the CERTIFICATE_ID references a certificate created with the /api/v1/trust-management APIs. Issuing this request causes the http service to restart so that the service can begin using the new certificate. When the POST request succeeds, it doesn't return a valid response. The request times out because of the restart. 
    # @param certificate_id Certificate ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_proxy_service_apply_certificate_action_apply_certificate(certificate_id, opts = {})
      create_proxy_service_apply_certificate_action_apply_certificate_with_http_info(certificate_id, opts)
      return nil
    end

    # Update http service certificate
    # Applies a security certificate to the http service. In the POST request, the CERTIFICATE_ID references a certificate created with the /api/v1/trust-management APIs. Issuing this request causes the http service to restart so that the service can begin using the new certificate. When the POST request succeeds, it doesn&#39;t return a valid response. The request times out because of the restart. 
    # @param certificate_id Certificate ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_proxy_service_apply_certificate_action_apply_certificate_with_http_info(certificate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_proxy_service_apply_certificate_action_apply_certificate ..."
      end
      # verify the required parameter 'certificate_id' is set
      if @api_client.config.client_side_validation && certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'certificate_id' when calling NsxComponentAdministrationApi.create_proxy_service_apply_certificate_action_apply_certificate"
      end
      # resource path
      local_var_path = "/node/services/http?action=apply_certificate"

      # query parameters
      query_params = {}
      query_params[:'certificate_id'] = certificate_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_proxy_service_apply_certificate_action_apply_certificate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the Rabbit MQ service
    # Restart, start or stop the Rabbit MQ service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_rabbit_mq_service_action_restart(opts = {})
      data, _status_code, _headers = create_rabbit_mq_service_action_restart_with_http_info(opts)
      return data
    end

    # Restart, start or stop the Rabbit MQ service
    # Restart, start or stop the Rabbit MQ service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_rabbit_mq_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_rabbit_mq_service_action_restart ..."
      end
      # resource path
      local_var_path = "/node/services/mgmt-plane-bus?action=restart"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_rabbit_mq_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the Rabbit MQ service
    # Restart, start or stop the Rabbit MQ service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_rabbit_mq_service_action_start(opts = {})
      data, _status_code, _headers = create_rabbit_mq_service_action_start_with_http_info(opts)
      return data
    end

    # Restart, start or stop the Rabbit MQ service
    # Restart, start or stop the Rabbit MQ service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_rabbit_mq_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_rabbit_mq_service_action_start ..."
      end
      # resource path
      local_var_path = "/node/services/mgmt-plane-bus?action=start"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_rabbit_mq_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart, start or stop the Rabbit MQ service
    # Restart, start or stop the Rabbit MQ service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_rabbit_mq_service_action_stop(opts = {})
      data, _status_code, _headers = create_rabbit_mq_service_action_stop_with_http_info(opts)
      return data
    end

    # Restart, start or stop the Rabbit MQ service
    # Restart, start or stop the Rabbit MQ service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Fixnum, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_rabbit_mq_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: NsxComponentAdministrationApi.create_rabbit_mq_service_action_stop ..."
      end
      # resource path
      local_var_path = "/node/services/mgmt-plane-bus?action=stop"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NodeServiceStatusProperties')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NsxComponentAdministrationApi#create_rabbit_mq_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create directory in remote file server
    # Create a directory on the remote remote server. Supports only SFTP. You must provide the remote server's SSH fingerprint. See the <i>NSX Administration Guide</i> for information and instructions about finding the SSH fingerprint. 
    # @param create_remote_directory_properties 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_remote_directory_create_remote_directory(create_remote_directory_properties, opts = {})
      create_remote_directory_create_remote_directory_with_http_info(create_remote_directory_properties, opts)
      return nil
    end

    # Create directory in remote file server
    # Create a directory on the remote remote server. Supports only SFTP. You must provide the remote server&#39;s SSH fingerprint. See the &lt;i&gt;NSX Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
[...]
