=begin
#NSX API

#VMware NSX REST API

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module NSXT
  class ServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a network encryption key manager configuration
    # Add a network encryption key manager configuration
    # @param dne_key_manager 
    # @param [Hash] opts the optional parameters
    # @return [DneKeyManager]
    def add_dne_key_manager(dne_key_manager, opts = {})
      data, _status_code, _headers = add_dne_key_manager_with_http_info(dne_key_manager, opts)
      return data
    end

    # Add a network encryption key manager configuration
    # Add a network encryption key manager configuration
    # @param dne_key_manager 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DneKeyManager, Fixnum, Hash)>] DneKeyManager data, response status code and response headers
    def add_dne_key_manager_with_http_info(dne_key_manager, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_dne_key_manager ..."
      end
      # verify the required parameter 'dne_key_manager' is set
      if @api_client.config.client_side_validation && dne_key_manager.nil?
        fail ArgumentError, "Missing the required parameter 'dne_key_manager' when calling ServicesApi.add_dne_key_manager"
      end
      # resource path
      local_var_path = "/network-encryption/key-managers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dne_key_manager)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DneKeyManager')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_dne_key_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a network encryption key policy
    # Create a network encryption key policy
    # @param dne_key_policy 
    # @param [Hash] opts the optional parameters
    # @return [DneKeyPolicy]
    def add_dne_key_policy(dne_key_policy, opts = {})
      data, _status_code, _headers = add_dne_key_policy_with_http_info(dne_key_policy, opts)
      return data
    end

    # Create a network encryption key policy
    # Create a network encryption key policy
    # @param dne_key_policy 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DneKeyPolicy, Fixnum, Hash)>] DneKeyPolicy data, response status code and response headers
    def add_dne_key_policy_with_http_info(dne_key_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_dne_key_policy ..."
      end
      # verify the required parameter 'dne_key_policy' is set
      if @api_client.config.client_side_validation && dne_key_policy.nil?
        fail ArgumentError, "Missing the required parameter 'dne_key_policy' when calling ServicesApi.add_dne_key_policy"
      end
      # resource path
      local_var_path = "/network-encryption/key-policies"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dne_key_policy)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DneKeyPolicy')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_dne_key_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a network encryption rule in a section
    # Add a network encryption rule in a section
    # @param section_id 
    # @param dne_rule 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [DneRule]
    def add_dne_rule_in_section(section_id, dne_rule, operation, opts = {})
      data, _status_code, _headers = add_dne_rule_in_section_with_http_info(section_id, dne_rule, operation, opts)
      return data
    end

    # Add a network encryption rule in a section
    # Add a network encryption rule in a section
    # @param section_id 
    # @param dne_rule 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [Array<(DneRule, Fixnum, Hash)>] DneRule data, response status code and response headers
    def add_dne_rule_in_section_with_http_info(section_id, dne_rule, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_dne_rule_in_section ..."
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ServicesApi.add_dne_rule_in_section"
      end
      # verify the required parameter 'dne_rule' is set
      if @api_client.config.client_side_validation && dne_rule.nil?
        fail ArgumentError, "Missing the required parameter 'dne_rule' when calling ServicesApi.add_dne_rule_in_section"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ServicesApi.add_dne_rule_in_section"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of insert_top, insert_bottom, insert_after, insert_before"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_dne_rule_in_section, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = "/network-encryption/sections/{section-id}/rules".sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'operation'] = operation
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dne_rule)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DneRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_dne_rule_in_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add multiple rules to a network encryption section
    # Add multiple rules to a network encryption section
    # @param section_id 
    # @param dne_rule_list 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [DneRuleList]
    def add_dne_rules_in_section_create_multiple(section_id, dne_rule_list, operation, opts = {})
      data, _status_code, _headers = add_dne_rules_in_section_create_multiple_with_http_info(section_id, dne_rule_list, operation, opts)
      return data
    end

    # Add multiple rules to a network encryption section
    # Add multiple rules to a network encryption section
    # @param section_id 
    # @param dne_rule_list 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [Array<(DneRuleList, Fixnum, Hash)>] DneRuleList data, response status code and response headers
    def add_dne_rules_in_section_create_multiple_with_http_info(section_id, dne_rule_list, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_dne_rules_in_section_create_multiple ..."
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ServicesApi.add_dne_rules_in_section_create_multiple"
      end
      # verify the required parameter 'dne_rule_list' is set
      if @api_client.config.client_side_validation && dne_rule_list.nil?
        fail ArgumentError, "Missing the required parameter 'dne_rule_list' when calling ServicesApi.add_dne_rules_in_section_create_multiple"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ServicesApi.add_dne_rules_in_section_create_multiple"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of insert_top, insert_bottom, insert_after, insert_before"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_dne_rules_in_section_create_multiple, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = "/network-encryption/sections/{section-id}/rules?action=create_multiple".sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'operation'] = operation
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dne_rule_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DneRuleList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_dne_rules_in_section_create_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a network encryption section without rules
    # Create a network encryption section without rules
    # @param dne_section 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [DneSection]
    def add_dne_section(dne_section, operation, opts = {})
      data, _status_code, _headers = add_dne_section_with_http_info(dne_section, operation, opts)
      return data
    end

    # Create a network encryption section without rules
    # Create a network encryption section without rules
    # @param dne_section 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [Array<(DneSection, Fixnum, Hash)>] DneSection data, response status code and response headers
    def add_dne_section_with_http_info(dne_section, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_dne_section ..."
      end
      # verify the required parameter 'dne_section' is set
      if @api_client.config.client_side_validation && dne_section.nil?
        fail ArgumentError, "Missing the required parameter 'dne_section' when calling ServicesApi.add_dne_section"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ServicesApi.add_dne_section"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of insert_top, insert_bottom, insert_after, insert_before"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_dne_section, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = "/network-encryption/sections"

      # query parameters
      query_params = {}
      query_params[:'operation'] = operation
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dne_section)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DneSection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_dne_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a network encryption section with rules
    # The limit on the number of rules is defined by maxItems in collection types for DneRule (DneRuleList types). When invoked on a section with a large number of rules, this API is supported only at low rates of invocation (not more than 4-5 times per minute). The typical latency of this API with about 1024 rules is about 4-5 seconds. This API should not be invoked with large payloads at automation speeds. More than 50 rules with a large number of rule references is not supported.  Instead, to create sections, use: POST /api/v1/network-encryption/sections  To create rules, use: POST /api/v1/network-encryption/sections/&lt;section-id&gt;/rules 
    # @param dne_section_rule_list 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [DneSectionRuleList]
    def add_dne_section_with_rules_create_with_rules(dne_section_rule_list, operation, opts = {})
      data, _status_code, _headers = add_dne_section_with_rules_create_with_rules_with_http_info(dne_section_rule_list, operation, opts)
      return data
    end

    # Create a network encryption section with rules
    # The limit on the number of rules is defined by maxItems in collection types for DneRule (DneRuleList types). When invoked on a section with a large number of rules, this API is supported only at low rates of invocation (not more than 4-5 times per minute). The typical latency of this API with about 1024 rules is about 4-5 seconds. This API should not be invoked with large payloads at automation speeds. More than 50 rules with a large number of rule references is not supported.  Instead, to create sections, use: POST /api/v1/network-encryption/sections  To create rules, use: POST /api/v1/network-encryption/sections/&amp;lt;section-id&amp;gt;/rules 
    # @param dne_section_rule_list 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [Array<(DneSectionRuleList, Fixnum, Hash)>] DneSectionRuleList data, response status code and response headers
    def add_dne_section_with_rules_create_with_rules_with_http_info(dne_section_rule_list, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_dne_section_with_rules_create_with_rules ..."
      end
      # verify the required parameter 'dne_section_rule_list' is set
      if @api_client.config.client_side_validation && dne_section_rule_list.nil?
        fail ArgumentError, "Missing the required parameter 'dne_section_rule_list' when calling ServicesApi.add_dne_section_with_rules_create_with_rules"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ServicesApi.add_dne_section_with_rules_create_with_rules"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of insert_top, insert_bottom, insert_after, insert_before"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_dne_section_with_rules_create_with_rules, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = "/network-encryption/sections?action=create_with_rules"

      # query parameters
      query_params = {}
      query_params[:'operation'] = operation
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dne_section_rule_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DneSectionRuleList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_dne_section_with_rules_create_with_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a new object in the exclude list
    # Add a new object in the exclude list
    # @param resource_reference 
    # @param [Hash] opts the optional parameters
    # @return [ResourceReference]
    def add_member_add_member(resource_reference, opts = {})
      data, _status_code, _headers = add_member_add_member_with_http_info(resource_reference, opts)
      return data
    end

    # Add a new object in the exclude list
    # Add a new object in the exclude list
    # @param resource_reference 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceReference, Fixnum, Hash)>] ResourceReference data, response status code and response headers
    def add_member_add_member_with_http_info(resource_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_member_add_member ..."
      end
      # verify the required parameter 'resource_reference' is set
      if @api_client.config.client_side_validation && resource_reference.nil?
        fail ArgumentError, "Missing the required parameter 'resource_reference' when calling ServicesApi.add_member_add_member"
      end
      # resource path
      local_var_path = "/firewall/excludelist?action=add_member"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(resource_reference)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceReference')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_member_add_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a Single Rule in a Section
    # Adds a new firewall rule in existing firewall section. 
    # @param section_id 
    # @param firewall_rule 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [FirewallRule]
    def add_rule_in_section(section_id, firewall_rule, opts = {})
      data, _status_code, _headers = add_rule_in_section_with_http_info(section_id, firewall_rule, opts)
      return data
    end

    # Add a Single Rule in a Section
    # Adds a new firewall rule in existing firewall section. 
    # @param section_id 
    # @param firewall_rule 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(FirewallRule, Fixnum, Hash)>] FirewallRule data, response status code and response headers
    def add_rule_in_section_with_http_info(section_id, firewall_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_rule_in_section ..."
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ServicesApi.add_rule_in_section"
      end
      # verify the required parameter 'firewall_rule' is set
      if @api_client.config.client_side_validation && firewall_rule.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule' when calling ServicesApi.add_rule_in_section"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_rule_in_section, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = "/firewall/sections/{section-id}/rules".sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(firewall_rule)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FirewallRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_rule_in_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Multiple Rules in a Section
    # Create multiple firewall rules in existing firewall section bounded by limit of 1000 firewall rules per section. 
    # @param section_id 
    # @param firewall_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [FirewallRuleList]
    def add_rules_in_section_create_multiple(section_id, firewall_rule_list, opts = {})
      data, _status_code, _headers = add_rules_in_section_create_multiple_with_http_info(section_id, firewall_rule_list, opts)
      return data
    end

    # Add Multiple Rules in a Section
    # Create multiple firewall rules in existing firewall section bounded by limit of 1000 firewall rules per section. 
    # @param section_id 
    # @param firewall_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(FirewallRuleList, Fixnum, Hash)>] FirewallRuleList data, response status code and response headers
    def add_rules_in_section_create_multiple_with_http_info(section_id, firewall_rule_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_rules_in_section_create_multiple ..."
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ServicesApi.add_rules_in_section_create_multiple"
      end
      # verify the required parameter 'firewall_rule_list' is set
      if @api_client.config.client_side_validation && firewall_rule_list.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_list' when calling ServicesApi.add_rules_in_section_create_multiple"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_rules_in_section_create_multiple, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = "/firewall/sections/{section-id}/rules?action=create_multiple".sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(firewall_rule_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FirewallRuleList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_rules_in_section_create_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a New Empty Section
    # Creates new empty firewall section in the system. 
    # @param firewall_section 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [FirewallSection]
    def add_section(firewall_section, opts = {})
      data, _status_code, _headers = add_section_with_http_info(firewall_section, opts)
      return data
    end

    # Create a New Empty Section
    # Creates new empty firewall section in the system. 
    # @param firewall_section 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(FirewallSection, Fixnum, Hash)>] FirewallSection data, response status code and response headers
    def add_section_with_http_info(firewall_section, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_section ..."
      end
      # verify the required parameter 'firewall_section' is set
      if @api_client.config.client_side_validation && firewall_section.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_section' when calling ServicesApi.add_section"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_section, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = "/firewall/sections"

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(firewall_section)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FirewallSection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Section with Rules
    # Creates a new firewall section with rules. The limit on the number of rules is defined by maxItems in collection types for FirewallRule (FirewallRuleXXXList types). When invoked on a section with a large number of rules, this API is supported only at low rates of invocation (not more than 4-5 times per minute). The typical latency of this API with about 1024 rules is about 4-5 seconds. This API should not be invoked with large payloads at automation speeds. More than 50 rules with a large number of rule references is not supported.  Instead, to create sections, use: POST /api/v1/firewall/sections  To create rules, use: POST /api/v1/firewall/sections/&lt;section-id&gt;/rules 
    # @param firewall_section_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation (default to insert_top)
    # @return [FirewallSectionRuleList]
    def add_section_with_rules_create_with_rules(firewall_section_rule_list, opts = {})
      data, _status_code, _headers = add_section_with_rules_create_with_rules_with_http_info(firewall_section_rule_list, opts)
      return data
    end

    # Create a Section with Rules
    # Creates a new firewall section with rules. The limit on the number of rules is defined by maxItems in collection types for FirewallRule (FirewallRuleXXXList types). When invoked on a section with a large number of rules, this API is supported only at low rates of invocation (not more than 4-5 times per minute). The typical latency of this API with about 1024 rules is about 4-5 seconds. This API should not be invoked with large payloads at automation speeds. More than 50 rules with a large number of rule references is not supported.  Instead, to create sections, use: POST /api/v1/firewall/sections  To create rules, use: POST /api/v1/firewall/sections/&amp;lt;section-id&amp;gt;/rules 
    # @param firewall_section_rule_list 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @option opts [String] :operation Operation
    # @return [Array<(FirewallSectionRuleList, Fixnum, Hash)>] FirewallSectionRuleList data, response status code and response headers
    def add_section_with_rules_create_with_rules_with_http_info(firewall_section_rule_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.add_section_with_rules_create_with_rules ..."
      end
      # verify the required parameter 'firewall_section_rule_list' is set
      if @api_client.config.client_side_validation && firewall_section_rule_list.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_section_rule_list' when calling ServicesApi.add_section_with_rules_create_with_rules"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.add_section_with_rules_create_with_rules, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && opts[:'operation'] && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(opts[:'operation'])
        fail ArgumentError, 'invalid value for "operation", must be one of insert_top, insert_bottom, insert_after, insert_before'
      end
      # resource path
      local_var_path = "/firewall/sections?action=create_with_rules"

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(firewall_section_rule_list)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'FirewallSectionRuleList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#add_section_with_rules_create_with_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if the object a member of the exclude list
    # Check if the object a member of the exclude list
    # @param object_id identifier of the object
    # @param [Hash] opts the optional parameters
    # @return [ResourceReference]
    def check_member_if_exists_check_if_exists(object_id, opts = {})
      data, _status_code, _headers = check_member_if_exists_check_if_exists_with_http_info(object_id, opts)
      return data
    end

    # Check if the object a member of the exclude list
    # Check if the object a member of the exclude list
    # @param object_id identifier of the object
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceReference, Fixnum, Hash)>] ResourceReference data, response status code and response headers
    def check_member_if_exists_check_if_exists_with_http_info(object_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.check_member_if_exists_check_if_exists ..."
      end
      # verify the required parameter 'object_id' is set
      if @api_client.config.client_side_validation && object_id.nil?
        fail ArgumentError, "Missing the required parameter 'object_id' when calling ServicesApi.check_member_if_exists_check_if_exists"
      end
      if @api_client.config.client_side_validation && object_id.to_s.length > 64
        fail ArgumentError, 'invalid value for "object_id" when calling ServicesApi.check_member_if_exists_check_if_exists, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = "/firewall/excludelist?action=check_if_exists"

      # query parameters
      query_params = {}
      query_params[:'object_id'] = object_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceReference')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#check_member_if_exists_check_if_exists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an IP pool for a DHCP server
    # Create an IP pool for a DHCP server
    # @param server_id 
    # @param dhcp_ip_pool 
    # @param [Hash] opts the optional parameters
    # @return [DhcpIpPool]
    def create_dhcp_ip_pool(server_id, dhcp_ip_pool, opts = {})
      data, _status_code, _headers = create_dhcp_ip_pool_with_http_info(server_id, dhcp_ip_pool, opts)
      return data
    end

    # Create an IP pool for a DHCP server
    # Create an IP pool for a DHCP server
    # @param server_id 
    # @param dhcp_ip_pool 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DhcpIpPool, Fixnum, Hash)>] DhcpIpPool data, response status code and response headers
    def create_dhcp_ip_pool_with_http_info(server_id, dhcp_ip_pool, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_dhcp_ip_pool ..."
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling ServicesApi.create_dhcp_ip_pool"
      end
      # verify the required parameter 'dhcp_ip_pool' is set
      if @api_client.config.client_side_validation && dhcp_ip_pool.nil?
        fail ArgumentError, "Missing the required parameter 'dhcp_ip_pool' when calling ServicesApi.create_dhcp_ip_pool"
      end
      # resource path
      local_var_path = "/dhcp/servers/{server-id}/ip-pools".sub('{' + 'server-id' + '}', server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dhcp_ip_pool)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DhcpIpPool')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_dhcp_ip_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a DHCP server profile
    # Create a DHCP server profile
    # @param dhcp_profile 
    # @param [Hash] opts the optional parameters
    # @return [DhcpProfile]
    def create_dhcp_profile(dhcp_profile, opts = {})
      data, _status_code, _headers = create_dhcp_profile_with_http_info(dhcp_profile, opts)
      return data
    end

    # Create a DHCP server profile
    # Create a DHCP server profile
    # @param dhcp_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DhcpProfile, Fixnum, Hash)>] DhcpProfile data, response status code and response headers
    def create_dhcp_profile_with_http_info(dhcp_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_dhcp_profile ..."
      end
      # verify the required parameter 'dhcp_profile' is set
      if @api_client.config.client_side_validation && dhcp_profile.nil?
        fail ArgumentError, "Missing the required parameter 'dhcp_profile' when calling ServicesApi.create_dhcp_profile"
      end
      # resource path
      local_var_path = "/dhcp/server-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dhcp_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DhcpProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_dhcp_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a DHCP server
    # Create a DHCP server
    # @param logical_dhcp_server 
    # @param [Hash] opts the optional parameters
    # @return [LogicalDhcpServer]
    def create_dhcp_server(logical_dhcp_server, opts = {})
      data, _status_code, _headers = create_dhcp_server_with_http_info(logical_dhcp_server, opts)
      return data
    end

    # Create a DHCP server
    # Create a DHCP server
    # @param logical_dhcp_server 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogicalDhcpServer, Fixnum, Hash)>] LogicalDhcpServer data, response status code and response headers
    def create_dhcp_server_with_http_info(logical_dhcp_server, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_dhcp_server ..."
      end
      # verify the required parameter 'logical_dhcp_server' is set
      if @api_client.config.client_side_validation && logical_dhcp_server.nil?
        fail ArgumentError, "Missing the required parameter 'logical_dhcp_server' when calling ServicesApi.create_dhcp_server"
      end
      # resource path
      local_var_path = "/dhcp/servers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(logical_dhcp_server)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LogicalDhcpServer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_dhcp_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a static binding for a DHCP server
    # Create a static binding for a DHCP server
    # @param server_id 
    # @param dhcp_static_binding 
    # @param [Hash] opts the optional parameters
    # @return [DhcpStaticBinding]
    def create_dhcp_static_binding(server_id, dhcp_static_binding, opts = {})
      data, _status_code, _headers = create_dhcp_static_binding_with_http_info(server_id, dhcp_static_binding, opts)
      return data
    end

    # Create a static binding for a DHCP server
    # Create a static binding for a DHCP server
    # @param server_id 
    # @param dhcp_static_binding 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DhcpStaticBinding, Fixnum, Hash)>] DhcpStaticBinding data, response status code and response headers
    def create_dhcp_static_binding_with_http_info(server_id, dhcp_static_binding, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_dhcp_static_binding ..."
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling ServicesApi.create_dhcp_static_binding"
      end
      # verify the required parameter 'dhcp_static_binding' is set
      if @api_client.config.client_side_validation && dhcp_static_binding.nil?
        fail ArgumentError, "Missing the required parameter 'dhcp_static_binding' when calling ServicesApi.create_dhcp_static_binding"
      end
      # resource path
      local_var_path = "/dhcp/servers/{server-id}/static-bindings".sub('{' + 'server-id' + '}', server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dhcp_static_binding)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DhcpStaticBinding')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_dhcp_static_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer application profile
    # Create a load balancer application profile. 
    # @param lb_app_profile 
    # @param [Hash] opts the optional parameters
    # @return [LbAppProfile]
    def create_load_balancer_application_profile(lb_app_profile, opts = {})
      data, _status_code, _headers = create_load_balancer_application_profile_with_http_info(lb_app_profile, opts)
      return data
    end

    # Create a load balancer application profile
    # Create a load balancer application profile. 
    # @param lb_app_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbAppProfile, Fixnum, Hash)>] LbAppProfile data, response status code and response headers
    def create_load_balancer_application_profile_with_http_info(lb_app_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_application_profile ..."
      end
      # verify the required parameter 'lb_app_profile' is set
      if @api_client.config.client_side_validation && lb_app_profile.nil?
        fail ArgumentError, "Missing the required parameter 'lb_app_profile' when calling ServicesApi.create_load_balancer_application_profile"
      end
      # resource path
      local_var_path = "/loadbalancer/application-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_app_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbAppProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_application_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer client-ssl profile
    # Create a load balancer client-ssl profile. 
    # @param lb_client_ssl_profile 
    # @param [Hash] opts the optional parameters
    # @return [LbClientSslProfile]
    def create_load_balancer_client_ssl_profile(lb_client_ssl_profile, opts = {})
      data, _status_code, _headers = create_load_balancer_client_ssl_profile_with_http_info(lb_client_ssl_profile, opts)
      return data
    end

    # Create a load balancer client-ssl profile
    # Create a load balancer client-ssl profile. 
    # @param lb_client_ssl_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbClientSslProfile, Fixnum, Hash)>] LbClientSslProfile data, response status code and response headers
    def create_load_balancer_client_ssl_profile_with_http_info(lb_client_ssl_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_client_ssl_profile ..."
      end
      # verify the required parameter 'lb_client_ssl_profile' is set
      if @api_client.config.client_side_validation && lb_client_ssl_profile.nil?
        fail ArgumentError, "Missing the required parameter 'lb_client_ssl_profile' when calling ServicesApi.create_load_balancer_client_ssl_profile"
      end
      # resource path
      local_var_path = "/loadbalancer/client-ssl-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_client_ssl_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbClientSslProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_client_ssl_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer monitor
    # Create a load balancer monitor. 
    # @param lb_monitor 
    # @param [Hash] opts the optional parameters
    # @return [LbMonitor]
    def create_load_balancer_monitor(lb_monitor, opts = {})
      data, _status_code, _headers = create_load_balancer_monitor_with_http_info(lb_monitor, opts)
      return data
    end

    # Create a load balancer monitor
    # Create a load balancer monitor. 
    # @param lb_monitor 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbMonitor, Fixnum, Hash)>] LbMonitor data, response status code and response headers
    def create_load_balancer_monitor_with_http_info(lb_monitor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_monitor ..."
      end
      # verify the required parameter 'lb_monitor' is set
      if @api_client.config.client_side_validation && lb_monitor.nil?
        fail ArgumentError, "Missing the required parameter 'lb_monitor' when calling ServicesApi.create_load_balancer_monitor"
      end
      # resource path
      local_var_path = "/loadbalancer/monitors"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_monitor)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbMonitor')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_monitor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer persistence profile
    # Create a load balancer persistence profile. 
    # @param lb_persistence_profile 
    # @param [Hash] opts the optional parameters
    # @return [LbPersistenceProfile]
    def create_load_balancer_persistence_profile(lb_persistence_profile, opts = {})
      data, _status_code, _headers = create_load_balancer_persistence_profile_with_http_info(lb_persistence_profile, opts)
      return data
    end

    # Create a load balancer persistence profile
    # Create a load balancer persistence profile. 
    # @param lb_persistence_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbPersistenceProfile, Fixnum, Hash)>] LbPersistenceProfile data, response status code and response headers
    def create_load_balancer_persistence_profile_with_http_info(lb_persistence_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_persistence_profile ..."
      end
      # verify the required parameter 'lb_persistence_profile' is set
      if @api_client.config.client_side_validation && lb_persistence_profile.nil?
        fail ArgumentError, "Missing the required parameter 'lb_persistence_profile' when calling ServicesApi.create_load_balancer_persistence_profile"
      end
      # resource path
      local_var_path = "/loadbalancer/persistence-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_persistence_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbPersistenceProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_persistence_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer pool
    # Create a load balancer pool. 
    # @param lb_pool 
    # @param [Hash] opts the optional parameters
    # @return [LbPool]
    def create_load_balancer_pool(lb_pool, opts = {})
      data, _status_code, _headers = create_load_balancer_pool_with_http_info(lb_pool, opts)
      return data
    end

    # Create a load balancer pool
    # Create a load balancer pool. 
    # @param lb_pool 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbPool, Fixnum, Hash)>] LbPool data, response status code and response headers
    def create_load_balancer_pool_with_http_info(lb_pool, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_pool ..."
      end
      # verify the required parameter 'lb_pool' is set
      if @api_client.config.client_side_validation && lb_pool.nil?
        fail ArgumentError, "Missing the required parameter 'lb_pool' when calling ServicesApi.create_load_balancer_pool"
      end
      # resource path
      local_var_path = "/loadbalancer/pools"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_pool)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbPool')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer rule
    # Create a load balancer rule. 
    # @param lb_rule 
    # @param [Hash] opts the optional parameters
    # @return [LbRule]
    def create_load_balancer_rule(lb_rule, opts = {})
      data, _status_code, _headers = create_load_balancer_rule_with_http_info(lb_rule, opts)
      return data
    end

    # Create a load balancer rule
    # Create a load balancer rule. 
    # @param lb_rule 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbRule, Fixnum, Hash)>] LbRule data, response status code and response headers
    def create_load_balancer_rule_with_http_info(lb_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_rule ..."
      end
      # verify the required parameter 'lb_rule' is set
      if @api_client.config.client_side_validation && lb_rule.nil?
        fail ArgumentError, "Missing the required parameter 'lb_rule' when calling ServicesApi.create_load_balancer_rule"
      end
      # resource path
      local_var_path = "/loadbalancer/rules"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_rule)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer server-ssl profile
    # Create a load balancer server-ssl profile. 
    # @param lb_server_ssl_profile 
    # @param [Hash] opts the optional parameters
    # @return [LbServerSslProfile]
    def create_load_balancer_server_ssl_profile(lb_server_ssl_profile, opts = {})
      data, _status_code, _headers = create_load_balancer_server_ssl_profile_with_http_info(lb_server_ssl_profile, opts)
      return data
    end

    # Create a load balancer server-ssl profile
    # Create a load balancer server-ssl profile. 
    # @param lb_server_ssl_profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbServerSslProfile, Fixnum, Hash)>] LbServerSslProfile data, response status code and response headers
    def create_load_balancer_server_ssl_profile_with_http_info(lb_server_ssl_profile, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_server_ssl_profile ..."
      end
      # verify the required parameter 'lb_server_ssl_profile' is set
      if @api_client.config.client_side_validation && lb_server_ssl_profile.nil?
        fail ArgumentError, "Missing the required parameter 'lb_server_ssl_profile' when calling ServicesApi.create_load_balancer_server_ssl_profile"
      end
      # resource path
      local_var_path = "/loadbalancer/server-ssl-profiles"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_server_ssl_profile)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbServerSslProfile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_server_ssl_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer service
    # Create a load balancer service. 
    # @param lb_service 
    # @param [Hash] opts the optional parameters
    # @return [LbService]
    def create_load_balancer_service(lb_service, opts = {})
      data, _status_code, _headers = create_load_balancer_service_with_http_info(lb_service, opts)
      return data
    end

    # Create a load balancer service
    # Create a load balancer service. 
    # @param lb_service 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbService, Fixnum, Hash)>] LbService data, response status code and response headers
    def create_load_balancer_service_with_http_info(lb_service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_service ..."
      end
      # verify the required parameter 'lb_service' is set
      if @api_client.config.client_side_validation && lb_service.nil?
        fail ArgumentError, "Missing the required parameter 'lb_service' when calling ServicesApi.create_load_balancer_service"
      end
      # resource path
      local_var_path = "/loadbalancer/services"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_service)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a load balancer virtual server
    # Create a load balancer virtual server. 
    # @param lb_virtual_server 
    # @param [Hash] opts the optional parameters
    # @return [LbVirtualServer]
    def create_load_balancer_virtual_server(lb_virtual_server, opts = {})
      data, _status_code, _headers = create_load_balancer_virtual_server_with_http_info(lb_virtual_server, opts)
      return data
    end

    # Create a load balancer virtual server
    # Create a load balancer virtual server. 
    # @param lb_virtual_server 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LbVirtualServer, Fixnum, Hash)>] LbVirtualServer data, response status code and response headers
    def create_load_balancer_virtual_server_with_http_info(lb_virtual_server, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_load_balancer_virtual_server ..."
      end
      # verify the required parameter 'lb_virtual_server' is set
      if @api_client.config.client_side_validation && lb_virtual_server.nil?
        fail ArgumentError, "Missing the required parameter 'lb_virtual_server' when calling ServicesApi.create_load_balancer_virtual_server"
      end
      # resource path
      local_var_path = "/loadbalancer/virtual-servers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(lb_virtual_server)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LbVirtualServer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_load_balancer_virtual_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a metadata proxy
    # Create a metadata proxy
    # @param metadata_proxy 
    # @param [Hash] opts the optional parameters
    # @return [MetadataProxy]
    def create_metadata_proxy(metadata_proxy, opts = {})
      data, _status_code, _headers = create_metadata_proxy_with_http_info(metadata_proxy, opts)
      return data
    end

    # Create a metadata proxy
    # Create a metadata proxy
    # @param metadata_proxy 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MetadataProxy, Fixnum, Hash)>] MetadataProxy data, response status code and response headers
    def create_metadata_proxy_with_http_info(metadata_proxy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.create_metadata_proxy ..."
      end
      # verify the required parameter 'metadata_proxy' is set
      if @api_client.config.client_side_validation && metadata_proxy.nil?
        fail ArgumentError, "Missing the required parameter 'metadata_proxy' when calling ServicesApi.create_metadata_proxy"
      end
      # resource path
      local_var_path = "/md-proxies"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(metadata_proxy)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MetadataProxy')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#create_metadata_proxy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a DHCP server's IP pool
    # Delete a DHCP server's IP pool
    # @param server_id 
    # @param pool_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dhcp_ip_pool(server_id, pool_id, opts = {})
      delete_dhcp_ip_pool_with_http_info(server_id, pool_id, opts)
      return nil
    end

    # Delete a DHCP server&#39;s IP pool
    # Delete a DHCP server&#39;s IP pool
    # @param server_id 
    # @param pool_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dhcp_ip_pool_with_http_info(server_id, pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dhcp_ip_pool ..."
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling ServicesApi.delete_dhcp_ip_pool"
      end
      # verify the required parameter 'pool_id' is set
      if @api_client.config.client_side_validation && pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'pool_id' when calling ServicesApi.delete_dhcp_ip_pool"
      end
      # resource path
      local_var_path = "/dhcp/servers/{server-id}/ip-pools/{pool-id}".sub('{' + 'server-id' + '}', server_id.to_s).sub('{' + 'pool-id' + '}', pool_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dhcp_ip_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a DHCP server profile
    # Delete a DHCP server profile
    # @param profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dhcp_profile(profile_id, opts = {})
      delete_dhcp_profile_with_http_info(profile_id, opts)
      return nil
    end

    # Delete a DHCP server profile
    # Delete a DHCP server profile
    # @param profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dhcp_profile_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dhcp_profile ..."
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling ServicesApi.delete_dhcp_profile"
      end
      # resource path
      local_var_path = "/dhcp/server-profiles/{profile-id}".sub('{' + 'profile-id' + '}', profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dhcp_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a DHCP server
    # Delete a DHCP server
    # @param server_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dhcp_server(server_id, opts = {})
      delete_dhcp_server_with_http_info(server_id, opts)
      return nil
    end

    # Delete a DHCP server
    # Delete a DHCP server
    # @param server_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dhcp_server_with_http_info(server_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dhcp_server ..."
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling ServicesApi.delete_dhcp_server"
      end
      # resource path
      local_var_path = "/dhcp/servers/{server-id}".sub('{' + 'server-id' + '}', server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dhcp_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a static binding
    # Delete a static binding
    # @param server_id 
    # @param binding_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dhcp_static_binding(server_id, binding_id, opts = {})
      delete_dhcp_static_binding_with_http_info(server_id, binding_id, opts)
      return nil
    end

    # Delete a static binding
    # Delete a static binding
    # @param server_id 
    # @param binding_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dhcp_static_binding_with_http_info(server_id, binding_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dhcp_static_binding ..."
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling ServicesApi.delete_dhcp_static_binding"
      end
      # verify the required parameter 'binding_id' is set
      if @api_client.config.client_side_validation && binding_id.nil?
        fail ArgumentError, "Missing the required parameter 'binding_id' when calling ServicesApi.delete_dhcp_static_binding"
      end
      # resource path
      local_var_path = "/dhcp/servers/{server-id}/static-bindings/{binding-id}".sub('{' + 'server-id' + '}', server_id.to_s).sub('{' + 'binding-id' + '}', binding_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dhcp_static_binding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an attached network encryption key manager
    # Delete an attached network encryption key manager
    # @param key_manager_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dne_key_manager(key_manager_id, opts = {})
      delete_dne_key_manager_with_http_info(key_manager_id, opts)
      return nil
    end

    # Delete an attached network encryption key manager
    # Delete an attached network encryption key manager
    # @param key_manager_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dne_key_manager_with_http_info(key_manager_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dne_key_manager ..."
      end
      # verify the required parameter 'key_manager_id' is set
      if @api_client.config.client_side_validation && key_manager_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_manager_id' when calling ServicesApi.delete_dne_key_manager"
      end
      # resource path
      local_var_path = "/network-encryption/key-managers/{key-manager-id}".sub('{' + 'key-manager-id' + '}', key_manager_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dne_key_manager\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific network encryption key policy
    # Delete a specific network encryption key policy
    # @param key_policy_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dne_key_policy(key_policy_id, opts = {})
      delete_dne_key_policy_with_http_info(key_policy_id, opts)
      return nil
    end

    # Delete a specific network encryption key policy
    # Delete a specific network encryption key policy
    # @param key_policy_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dne_key_policy_with_http_info(key_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dne_key_policy ..."
      end
      # verify the required parameter 'key_policy_id' is set
      if @api_client.config.client_side_validation && key_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_policy_id' when calling ServicesApi.delete_dne_key_policy"
      end
      # resource path
      local_var_path = "/network-encryption/key-policies/{key-policy-id}".sub('{' + 'key-policy-id' + '}', key_policy_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dne_key_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a specific network encryption rule
    # Delete a specific network encryption rule
    # @param section_id 
    # @param rule_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dne_rule(section_id, rule_id, opts = {})
      delete_dne_rule_with_http_info(section_id, rule_id, opts)
      return nil
    end

    # Delete a specific network encryption rule
    # Delete a specific network encryption rule
    # @param section_id 
    # @param rule_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dne_rule_with_http_info(section_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dne_rule ..."
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ServicesApi.delete_dne_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling ServicesApi.delete_dne_rule"
      end
      # resource path
      local_var_path = "/network-encryption/sections/{section-id}/rules/{rule-id}".sub('{' + 'section-id' + '}', section_id.to_s).sub('{' + 'rule-id' + '}', rule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dne_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a network encryption section and its rules
    # Delete a network encryption section and its rules
    # @param section_id 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to cascade delete of this object to all it&#39;s child objects. (default to false)
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [nil]
    def delete_dne_section(section_id, operation, opts = {})
      delete_dne_section_with_http_info(section_id, operation, opts)
      return nil
    end

    # Delete a network encryption section and its rules
    # Delete a network encryption section and its rules
    # @param section_id 
    # @param operation Operation
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :cascade Flag to cascade delete of this object to all it&#39;s child objects.
    # @option opts [String] :id Identifier of the anchor rule or section. This is a required field in case operation like &#39;insert_before&#39; and &#39;insert_after&#39;.
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dne_section_with_http_info(section_id, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_dne_section ..."
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling ServicesApi.delete_dne_section"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling ServicesApi.delete_dne_section"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['insert_top', 'insert_bottom', 'insert_after', 'insert_before'].include?(operation)
        fail ArgumentError, "invalid value for 'operation', must be one of insert_top, insert_bottom, insert_after, insert_before"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling ServicesApi.delete_dne_section, the character length must be smaller than or equal to 64.'
      end

      # resource path
      local_var_path = "/network-encryption/sections/{section-id}".sub('{' + 'section-id' + '}', section_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'operation'] = operation
      query_params[:'cascade'] = opts[:'cascade'] if !opts[:'cascade'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServicesApi#delete_dne_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a load balancer application profile
    # Delete a load balancer application profile. 
    # @param application_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_load_balancer_application_profile(application_profile_id, opts = {})
      delete_load_balancer_application_profile_with_http_info(application_profile_id, opts)
      return nil
    end

    # Delete a load balancer application profile
    # Delete a load balancer application profile. 
    # @param application_profile_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_load_balancer_application_profile_with_http_info(application_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ServicesApi.delete_load_balancer_application_profile ..."
      end
      # verify the required parameter 'application_profile_id' is set
      if @api_client.config.client_side_validation && application_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_profile_id' when calling ServicesApi.delete_load_balancer_application_profile"
      end
      # resource path
      local_var_path = "/loadbalancer/application-profiles/{application-profile-id}".sub('{' + 'application-profile-id' + '}', application_profile_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
[...]
