=begin
#NSX-T Manager API

#VMware NSX-T Manager REST API

OpenAPI spec version: 2.5.1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module NSXT
  class ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add SSH public key to authorized_keys file for node user
    # Add SSH public key to authorized_keys file for node user
    # @param body 
    # @param userid User id of the user
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_node_user_ssh_key_add_ssh_key(body, userid, opts = {})
      add_node_user_ssh_key_add_ssh_key_with_http_info(body, userid, opts)
      nil
    end

    # Add SSH public key to authorized_keys file for node user
    # Add SSH public key to authorized_keys file for node user
    # @param body 
    # @param userid User id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_node_user_ssh_key_add_ssh_key_with_http_info(body, userid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.add_node_user_ssh_key_add_ssh_key ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.add_node_user_ssh_key_add_ssh_key"
      end
      # verify the required parameter 'userid' is set
      if @api_client.config.client_side_validation && userid.nil?
        fail ArgumentError, "Missing the required parameter 'userid' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.add_node_user_ssh_key_add_ssh_key"
      end
      # resource path
      local_var_path = '/node/users/{userid}/ssh-keys?action=add_ssh_key'.sub('{' + 'userid' + '}', userid.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#add_node_user_ssh_key_add_ssh_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel specified task
    # Cancel specified task
    # @param task_id ID of task to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_appliance_management_task_cancel(task_id, opts = {})
      cancel_appliance_management_task_cancel_with_http_info(task_id, opts)
      nil
    end

    # Cancel specified task
    # Cancel specified task
    # @param task_id ID of task to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_appliance_management_task_cancel_with_http_info(task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.cancel_appliance_management_task_cancel ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.cancel_appliance_management_task_cancel"
      end
      # resource path
      local_var_path = '/node/tasks/{task-id}?action=cancel'.sub('{' + 'task-id' + '}', task_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#cancel_appliance_management_task_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Check if RabbitMQ management port is enabled or not
    # Returns status as true if RabbitMQ management port is enabled else false
    # @param [Hash] opts the optional parameters
    # @return [PortStatus]
    def check_rabbit_mq_management_port(opts = {})
      data, _status_code, _headers = check_rabbit_mq_management_port_with_http_info(opts)
      data
    end

    # Check if RabbitMQ management port is enabled or not
    # Returns status as true if RabbitMQ management port is enabled else false
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortStatus, Integer, Hash)>] PortStatus data, response status code and response headers
    def check_rabbit_mq_management_port_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.check_rabbit_mq_management_port ...'
      end
      # resource path
      local_var_path = '/node/rabbitmq-management-port'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'PortStatus' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#check_rabbit_mq_management_port\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Collect alarms from all NSX nodes
    # This API is executed on a manager node to return current alarms from all NSX nodes. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :fields Fields to include in query results
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 100)
    # @return [AlarmListResult]
    def collect_alarms(opts = {})
      data, _status_code, _headers = collect_alarms_with_http_info(opts)
      data
    end

    # Collect alarms from all NSX nodes
    # This API is executed on a manager node to return current alarms from all NSX nodes. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :fields Fields to include in query results
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @return [Array<(AlarmListResult, Integer, Hash)>] AlarmListResult data, response status code and response headers
    def collect_alarms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.collect_alarms ...'
      end
      # resource path
      local_var_path = '/hpm/alarms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'AlarmListResult' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#collect_alarms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Collect audit logs from registered manager nodes
    # This API is executed on a manager node to display audit logs from all nodes inside the management plane cluster. An audit log collection will be triggered if the local master audit log is outdated. 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :fields Fields to include in query results
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer) (default to 100)
    # @return [AuditLogListResult]
    def collect_audit_logs(body, opts = {})
      data, _status_code, _headers = collect_audit_logs_with_http_info(body, opts)
      data
    end

    # Collect audit logs from registered manager nodes
    # This API is executed on a manager node to display audit logs from all nodes inside the management plane cluster. An audit log collection will be triggered if the local master audit log is outdated. 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :cursor Opaque cursor to be used for getting next page of records (supplied by current result page)
    # @option opts [String] :fields Fields to include in query results
    # @option opts [Integer] :page_size Maximum number of results to return in this page (server may return fewer)
    # @return [Array<(AuditLogListResult, Integer, Hash)>] AuditLogListResult data, response status code and response headers
    def collect_audit_logs_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.collect_audit_logs ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.collect_audit_logs"
      end
      # resource path
      local_var_path = '/administration/audit-logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'AuditLogListResult' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#collect_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Collect support bundles from registered cluster and fabric nodes
    # Collect support bundles from registered cluster and fabric nodes.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override_async_response Override any existing support bundle async response (default to false)
    # @option opts [BOOLEAN] :require_delete_or_override_async_response Suppress auto-deletion of generated support bundle (default to false)
    # @return [SupportBundleResult]
    def collect_support_bundles_collect(body, opts = {})
      data, _status_code, _headers = collect_support_bundles_collect_with_http_info(body, opts)
      data
    end

    # Collect support bundles from registered cluster and fabric nodes
    # Collect support bundles from registered cluster and fabric nodes.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :override_async_response Override any existing support bundle async response
    # @option opts [BOOLEAN] :require_delete_or_override_async_response Suppress auto-deletion of generated support bundle
    # @return [Array<(SupportBundleResult, Integer, Hash)>] SupportBundleResult data, response status code and response headers
    def collect_support_bundles_collect_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.collect_support_bundles_collect ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.collect_support_bundles_collect"
      end
      # resource path
      local_var_path = '/administration/support-bundles?action=collect'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'override_async_response'] = opts[:'override_async_response'] if !opts[:'override_async_response'].nil?
      query_params[:'require_delete_or_override_async_response'] = opts[:'require_delete_or_override_async_response'] if !opts[:'require_delete_or_override_async_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/octet-stream'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SupportBundleResult' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#collect_support_bundles_collect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Copy a remote file to the file store
    # Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server's SSH fingerprint. See the <i>NSX-T Administration Guide</i> for information and instructions about finding the SSH fingerprint. 
    # @param body 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [FileProperties]
    def copy_from_remote_file_copy_from_remote_file(body, file_name, opts = {})
      data, _status_code, _headers = copy_from_remote_file_copy_from_remote_file_with_http_info(body, file_name, opts)
      data
    end

    # Copy a remote file to the file store
    # Copy a remote file to the file store. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
    # @param body 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileProperties, Integer, Hash)>] FileProperties data, response status code and response headers
    def copy_from_remote_file_copy_from_remote_file_with_http_info(body, file_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.copy_from_remote_file_copy_from_remote_file ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.copy_from_remote_file_copy_from_remote_file"
      end
      # verify the required parameter 'file_name' is set
      if @api_client.config.client_side_validation && file_name.nil?
        fail ArgumentError, "Missing the required parameter 'file_name' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.copy_from_remote_file_copy_from_remote_file"
      end
      # resource path
      local_var_path = '/node/file-store/{file-name}?action=copy_from_remote_file'.sub('{' + 'file-name' + '}', file_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'FileProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#copy_from_remote_file_copy_from_remote_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Copy file in the file store to a remote file store
    # Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server's SSH fingerprint. See the <i>NSX-T Administration Guide</i> for information and instructions about finding the SSH fingerprint. 
    # @param body 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def copy_to_remote_file_copy_to_remote_file(body, file_name, opts = {})
      copy_to_remote_file_copy_to_remote_file_with_http_info(body, file_name, opts)
      nil
    end

    # Copy file in the file store to a remote file store
    # Copy a file in the file store to a remote server. If you use scp or sftp, you must provide the remote server&#x27;s SSH fingerprint. See the &lt;i&gt;NSX-T Administration Guide&lt;/i&gt; for information and instructions about finding the SSH fingerprint. 
    # @param body 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def copy_to_remote_file_copy_to_remote_file_with_http_info(body, file_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.copy_to_remote_file_copy_to_remote_file ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.copy_to_remote_file_copy_to_remote_file"
      end
      # verify the required parameter 'file_name' is set
      if @api_client.config.client_side_validation && file_name.nil?
        fail ArgumentError, "Missing the required parameter 'file_name' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.copy_to_remote_file_copy_to_remote_file"
      end
      # resource path
      local_var_path = '/node/file-store/{file-name}?action=copy_to_remote_file'.sub('{' + 'file-name' + '}', file_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#copy_to_remote_file_copy_to_remote_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart the node management service
    # Restart the node management service
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_appliance_management_service_action_restart(opts = {})
      create_appliance_management_service_action_restart_with_http_info(opts)
      nil
    end

    # Restart the node management service
    # Restart the node management service
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_appliance_management_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_appliance_management_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/node-mgmt?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_appliance_management_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the cluster boot manager service
    # Restart, start or stop the cluster boot manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cluster_boot_manager_service_action_restart(opts = {})
      data, _status_code, _headers = create_cluster_boot_manager_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the cluster boot manager service
    # Restart, start or stop the cluster boot manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cluster_boot_manager_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_cluster_boot_manager_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/cluster_manager?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_cluster_boot_manager_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the cluster boot manager service
    # Restart, start or stop the cluster boot manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cluster_boot_manager_service_action_start(opts = {})
      data, _status_code, _headers = create_cluster_boot_manager_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the cluster boot manager service
    # Restart, start or stop the cluster boot manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cluster_boot_manager_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_cluster_boot_manager_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/cluster_manager?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_cluster_boot_manager_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the cluster boot manager service
    # Restart, start or stop the cluster boot manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cluster_boot_manager_service_action_stop(opts = {})
      data, _status_code, _headers = create_cluster_boot_manager_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the cluster boot manager service
    # Restart, start or stop the cluster boot manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cluster_boot_manager_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_cluster_boot_manager_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/cluster_manager?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_cluster_boot_manager_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cminventory_service_action_restart(opts = {})
      data, _status_code, _headers = create_cminventory_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cminventory_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_cminventory_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/cm-inventory?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_cminventory_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cminventory_service_action_start(opts = {})
      data, _status_code, _headers = create_cminventory_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cminventory_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_cminventory_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/cm-inventory?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_cminventory_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_cminventory_service_action_stop(opts = {})
      data, _status_code, _headers = create_cminventory_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the manager service
    # Restart, start or stop the manager service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_cminventory_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_cminventory_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/cm-inventory?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_cminventory_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the controller service
    # Restart, start or stop the controller service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_controller_server_service_action_restart(opts = {})
      data, _status_code, _headers = create_controller_server_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the controller service
    # Restart, start or stop the controller service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_controller_server_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_controller_server_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/controller?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_controller_server_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the controller service
    # Restart, start or stop the controller service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_controller_server_service_action_start(opts = {})
      data, _status_code, _headers = create_controller_server_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the controller service
    # Restart, start or stop the controller service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_controller_server_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_controller_server_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/controller?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_controller_server_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the controller service
    # Restart, start or stop the controller service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_controller_server_service_action_stop(opts = {})
      data, _status_code, _headers = create_controller_server_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the controller service
    # Restart, start or stop the controller service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_controller_server_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_controller_server_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/controller?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_controller_server_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Upload a file to the file store
    # When you issue this API, the client must specify: - HTTP header Content-Type:application/octet-stream. - Request body with the contents of the file in the filestore. In the CLI, you can view the filestore with the <em>get files</em> command. 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [FileProperties]
    def create_file(file_name, opts = {})
      data, _status_code, _headers = create_file_with_http_info(file_name, opts)
      data
    end

    # Upload a file to the file store
    # When you issue this API, the client must specify: - HTTP header Content-Type:application/octet-stream. - Request body with the contents of the file in the filestore. In the CLI, you can view the filestore with the &lt;em&gt;get files&lt;/em&gt; command. 
    # @param file_name Destination filename
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileProperties, Integer, Hash)>] FileProperties data, response status code and response headers
    def create_file_with_http_info(file_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_file ...'
      end
      # verify the required parameter 'file_name' is set
      if @api_client.config.client_side_validation && file_name.nil?
        fail ArgumentError, "Missing the required parameter 'file_name' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_file"
      end
      # resource path
      local_var_path = '/node/file-store/{file-name}'.sub('{' + 'file-name' + '}', file_name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'FileProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_liagent_service_action_restart(opts = {})
      data, _status_code, _headers = create_liagent_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_liagent_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_liagent_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/liagent?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_liagent_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_liagent_service_action_start(opts = {})
      data, _status_code, _headers = create_liagent_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_liagent_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_liagent_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/liagent?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_liagent_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_liagent_service_action_stop(opts = {})
      data, _status_code, _headers = create_liagent_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the liagent service
    # Restart, start or stop the liagent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_liagent_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_liagent_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/liagent?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_liagent_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the migration coordinator service
    # Restart, start or stop the migration coordinator service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_migration_coordinator_service_action_restart(opts = {})
      data, _status_code, _headers = create_migration_coordinator_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the migration coordinator service
    # Restart, start or stop the migration coordinator service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_migration_coordinator_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_migration_coordinator_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/migration-coordinator?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_migration_coordinator_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the migration coordinator service
    # Restart, start or stop the migration coordinator service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_migration_coordinator_service_action_start(opts = {})
      data, _status_code, _headers = create_migration_coordinator_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the migration coordinator service
    # Restart, start or stop the migration coordinator service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_migration_coordinator_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_migration_coordinator_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/migration-coordinator?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_migration_coordinator_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the migration coordinator service
    # Restart, start or stop the migration coordinator service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_migration_coordinator_service_action_stop(opts = {})
      data, _status_code, _headers = create_migration_coordinator_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the migration coordinator service
    # Restart, start or stop the migration coordinator service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_migration_coordinator_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_migration_coordinator_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/migration-coordinator?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_migration_coordinator_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create node network route
    # Add a route to the NSX Manager routing table. For static routes, the route_type, interface_id, netmask, and destination are required parameters. For default routes, the route_type, gateway address, and interface_id are required. For blackhole routes, the route_type and destination are required. All other parameters are optional. When you add a static route, the scope and route_id are created automatically. When you add a default or blackhole route, the route_id is created automatically. The route_id is read-only, meaning that it cannot be modified. All other properties can be modified by deleting and readding the route. 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [NodeRouteProperties]
    def create_node_network_route(body, opts = {})
      data, _status_code, _headers = create_node_network_route_with_http_info(body, opts)
      data
    end

    # Create node network route
    # Add a route to the NSX Manager routing table. For static routes, the route_type, interface_id, netmask, and destination are required parameters. For default routes, the route_type, gateway address, and interface_id are required. For blackhole routes, the route_type and destination are required. All other parameters are optional. When you add a static route, the scope and route_id are created automatically. When you add a default or blackhole route, the route_id is created automatically. The route_id is read-only, meaning that it cannot be modified. All other properties can be modified by deleting and readding the route. 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeRouteProperties, Integer, Hash)>] NodeRouteProperties data, response status code and response headers
    def create_node_network_route_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_node_network_route ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_node_network_route"
      end
      # resource path
      local_var_path = '/node/network/routes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'NodeRouteProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_node_network_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX node-stats service
    # Restart, start or stop the NSX node-stats service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_node_stats_service_action_restart(opts = {})
      data, _status_code, _headers = create_node_stats_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX node-stats service
    # Restart, start or stop the NSX node-stats service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_node_stats_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_node_stats_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/node-stats?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_node_stats_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX node-stats service
    # Restart, start or stop the NSX node-stats service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_node_stats_service_action_start(opts = {})
      data, _status_code, _headers = create_node_stats_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX node-stats service
    # Restart, start or stop the NSX node-stats service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_node_stats_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_node_stats_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/node-stats?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_node_stats_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX node-stats service
    # Restart, start or stop the NSX node-stats service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_node_stats_service_action_stop(opts = {})
      data, _status_code, _headers = create_node_stats_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX node-stats service
    # Restart, start or stop the NSX node-stats service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_node_stats_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_node_stats_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/node-stats?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_node_stats_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_message_bus_service_action_restart(opts = {})
      data, _status_code, _headers = create_nsx_message_bus_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_message_bus_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_message_bus_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/nsx-message-bus?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_message_bus_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_message_bus_service_action_start(opts = {})
      data, _status_code, _headers = create_nsx_message_bus_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_message_bus_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_message_bus_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/nsx-message-bus?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_message_bus_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_message_bus_service_action_stop(opts = {})
      data, _status_code, _headers = create_nsx_message_bus_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX Message Bus service
    # Restart, start or stop the NSX Message Bus service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_message_bus_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_message_bus_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/nsx-message-bus?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_message_bus_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, Start and Stop the ui service
    # Restart, Start and Stop the ui service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_ui_service_service_action_restart(opts = {})
      data, _status_code, _headers = create_nsx_ui_service_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, Start and Stop the ui service
    # Restart, Start and Stop the ui service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_ui_service_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_ui_service_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/ui-service?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_ui_service_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, Start and Stop the ui service
    # Restart, Start and Stop the ui service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_ui_service_service_action_start(opts = {})
      data, _status_code, _headers = create_nsx_ui_service_service_action_start_with_http_info(opts)
      data
    end

    # Restart, Start and Stop the ui service
    # Restart, Start and Stop the ui service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_ui_service_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_ui_service_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/ui-service?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_ui_service_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, Start and Stop the ui service
    # Restart, Start and Stop the ui service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_ui_service_service_action_stop(opts = {})
      data, _status_code, _headers = create_nsx_ui_service_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, Start and Stop the ui service
    # Restart, Start and Stop the ui service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_ui_service_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_ui_service_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/ui-service?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_ui_service_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_upgrade_agent_service_action_restart(opts = {})
      data, _status_code, _headers = create_nsx_upgrade_agent_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_upgrade_agent_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_upgrade_agent_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/nsx-upgrade-agent?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_upgrade_agent_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_upgrade_agent_service_action_start(opts = {})
      data, _status_code, _headers = create_nsx_upgrade_agent_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_upgrade_agent_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_upgrade_agent_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/nsx-upgrade-agent?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_upgrade_agent_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_nsx_upgrade_agent_service_action_stop(opts = {})
      data, _status_code, _headers = create_nsx_upgrade_agent_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the NSX upgrade agent service
    # Restart, start or stop the NSX upgrade agent service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_nsx_upgrade_agent_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_nsx_upgrade_agent_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/nsx-upgrade-agent?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_nsx_upgrade_agent_service_action_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_ntp_service_action_restart(opts = {})
      data, _status_code, _headers = create_ntp_service_action_restart_with_http_info(opts)
      data
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_ntp_service_action_restart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_ntp_service_action_restart ...'
      end
      # resource path
      local_var_path = '/node/services/ntp?action=restart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_ntp_service_action_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_ntp_service_action_start(opts = {})
      data, _status_code, _headers = create_ntp_service_action_start_with_http_info(opts)
      data
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_ntp_service_action_start_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_ntp_service_action_start ...'
      end
      # resource path
      local_var_path = '/node/services/ntp?action=start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'NodeServiceStatusProperties' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi#create_ntp_service_action_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [NodeServiceStatusProperties]
    def create_ntp_service_action_stop(opts = {})
      data, _status_code, _headers = create_ntp_service_action_stop_with_http_info(opts)
      data
    end

    # Restart, start or stop the NTP service
    # Restart, start or stop the NTP service
    # @param [Hash] opts the optional parameters
    # @return [Array<(NodeServiceStatusProperties, Integer, Hash)>] NodeServiceStatusProperties data, response status code and response headers
    def create_ntp_service_action_stop_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiNsxComponentAdministrationApplianceManagementApi.create_ntp_service_action_stop ...'
      end
      # resource path
      local_var_path = '/node/services/ntp?action=stop'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
[...]
