=begin
#NSX-T Manager API

#VMware NSX-T Manager REST API

OpenAPI spec version: 2.5.1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.19

=end

require 'uri'

module NSXT
  class ManagementPlaneApiVpnStatisticsSessionsSummaryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # VPN session summary
    # VPN session summary gets summary per vpn sessions and IKE session. Query parameter source supports only cached mode.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_id Peer site id
    # @option opts [String] :source Data source type.
    # @return [IPSecVPNSessionSummary]
    def get_ip_sec_vpn_session_summary(opts = {})
      data, _status_code, _headers = get_ip_sec_vpn_session_summary_with_http_info(opts)
      data
    end

    # VPN session summary
    # VPN session summary gets summary per vpn sessions and IKE session. Query parameter source supports only cached mode.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site_id Peer site id
    # @option opts [String] :source Data source type.
    # @return [Array<(IPSecVPNSessionSummary, Fixnum, Hash)>] IPSecVPNSessionSummary data, response status code and response headers
    def get_ip_sec_vpn_session_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiVpnStatisticsSessionsSummaryApi.get_ip_sec_vpn_session_summary ...'
      end
      if @api_client.config.client_side_validation && opts[:'source'] && !['realtime', 'cached'].include?(opts[:'source'])
        fail ArgumentError, 'invalid value for "source", must be one of realtime, cached'
      end
      # resource path
      local_var_path = '/vpn/ipsec/sessions/summary'

      # query parameters
      query_params = {}
      query_params[:'site_id'] = opts[:'site_id'] if !opts[:'site_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IPSecVPNSessionSummary')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiVpnStatisticsSessionsSummaryApi#get_ip_sec_vpn_session_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
