=begin
#NSX-T Manager API

#VMware NSX-T Manager REST API

OpenAPI spec version: 2.5.1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module NSXT
  class ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the list of IPFIX observation points
    # Deprecated - Please use /ipfix-profiles for switch IPFIX profile and /ipfix-collector-profiles for IPFIX collector profile. 
    # @param [Hash] opts the optional parameters
    # @return [IpfixObsPointsListResult]
    def get_ipfix_obs_points(opts = {})
      data, _status_code, _headers = get_ipfix_obs_points_with_http_info(opts)
      data
    end

    # Get the list of IPFIX observation points
    # Deprecated - Please use /ipfix-profiles for switch IPFIX profile and /ipfix-collector-profiles for IPFIX collector profile. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IpfixObsPointsListResult, Integer, Hash)>] IpfixObsPointsListResult data, response status code and response headers
    def get_ipfix_obs_points_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi.get_ipfix_obs_points ...'
      end
      # resource path
      local_var_path = '/ipfix-obs-points'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'IpfixObsPointsListResult' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi#get_ipfix_obs_points\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Read global switch IPFIX export configuration
    # Deprecated - Please use /ipfix-profiles/<ipfix-profile-id> for switch IPFIX profile and /ipfix-collector-profiles/<ipfix-collector-profile-id> for IPFIX collector profile. 
    # @param [Hash] opts the optional parameters
    # @return [IpfixObsPointConfig]
    def get_switch_ipfix_config(opts = {})
      data, _status_code, _headers = get_switch_ipfix_config_with_http_info(opts)
      data
    end

    # Read global switch IPFIX export configuration
    # Deprecated - Please use /ipfix-profiles/&lt;ipfix-profile-id&gt; for switch IPFIX profile and /ipfix-collector-profiles/&lt;ipfix-collector-profile-id&gt; for IPFIX collector profile. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IpfixObsPointConfig, Integer, Hash)>] IpfixObsPointConfig data, response status code and response headers
    def get_switch_ipfix_config_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi.get_switch_ipfix_config ...'
      end
      # resource path
      local_var_path = '/ipfix-obs-points/switch-global'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'IpfixObsPointConfig' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi#get_switch_ipfix_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update global switch IPFIX export configuration
    # Deprecated - Please use /ipfix-profiles/<ipfix-profile-id> for switch IPFIX profile and /ipfix-collector-profiles/<ipfix-collector-profile-id> for IPFIX collector profile. 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [IpfixObsPointConfig]
    def update_switch_ipfix_config(body, opts = {})
      data, _status_code, _headers = update_switch_ipfix_config_with_http_info(body, opts)
      data
    end

    # Update global switch IPFIX export configuration
    # Deprecated - Please use /ipfix-profiles/&lt;ipfix-profile-id&gt; for switch IPFIX profile and /ipfix-collector-profiles/&lt;ipfix-collector-profile-id&gt; for IPFIX collector profile. 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IpfixObsPointConfig, Integer, Hash)>] IpfixObsPointConfig data, response status code and response headers
    def update_switch_ipfix_config_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi.update_switch_ipfix_config ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi.update_switch_ipfix_config"
      end
      # resource path
      local_var_path = '/ipfix-obs-points/switch-global'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'IpfixObsPointConfig' 

      auth_names = opts[:auth_names] || ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementPlaneApiTroubleshootingAndMonitoringIpfixApi#update_switch_ipfix_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
